/* === header ===*/
#g-topbar{
	background:  linear-gradient(to right, #bf383a 35%,#f0f0f0 36%,#f0f0f0 100%);
}
.cls-header-triangle{
	position: relative;
}
.cls-header-triangle::before{
	content:'';
	position: absolute;
	right: -19px;
	width: 0;
	height: 0;
	border-top: 0px solid transparent;
    border-left: 20px solid #bf383a;
    border-bottom: 100px solid transparent;
}
/* === menu === */
.cls-icon{
	display: block;
    margin: auto;
}

.cls-icon{
	height: 35px;
}

.cls-icon-vent{
	background-image: url("/_test/img/icon-design.svg");
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
/* === g-menu === */
.cls-g-menu-icon{
	position: absolute;
	right: 5px;
	bottom: 2px;
	width: 60px;
	height: 60px;
}
.cls-g-menu-icon_design{
	background-image: url('./img/3_project_2.svg');
	background-repeat: no-repeat;
}

/* === angle ===*/
.cls-angle{ 
	display: inline-block;
	padding: 0 12px;
	position: relative;
}
.cls-angle::before, .cls-angle::after {
	position: absolute;
	content: '';
}
.cls-angle::before{
	top: -10%;
	left: 0;
	width: 15px;
	height: 15px;
	border-top: 2px solid #e8263a;
	border-left: 2px solid #e8263a;
}
.cls-angle::after{
	bottom: -10%;
	right: 0;
	width: 15px;
	height: 15px;
	border-bottom: 2px solid #e8263a;
	border-right: 2px solid #e8263a;
}


/* === slider  pagination ===*/
.jl-dotnav.cls2 > * > * {
	width: 45px;
	height: 1px;
	border-radius: 0;
	border: none;
	background: #fff;
}

.jl-dotnav.cls2 > .jl-active > *{
	width: 45px;
    border-top: 1px solid #bf383a;
    margin-top: -1px;
}


.jl-dotnav>*>*{
	width: 40px;
	height: 1px;
	background-color: #cccccc;
	border:none;
}

.jl-subnav-pill > .jl-active > a, .jl-dotnav > .jl-active > *{
	border: none;
	border-radius: 0;
	height: 2px;
}

/* === slider arrow === */
.jl-slider-container{
	overflow: visible;
	overflow-x: hidden;
}
.tm-slidenav{
	box-shadow: inset 0 -2px 0 #bf1b2b;
	border-radius: 5px;
	border: 1px solid #e8263a;
	border-radius: 5px;
	background-color: #e8263a;
	margin: 0 5px;
}
.tm-slidenav svg{
	fill: #fff;
	stroke:#fff;
	transform: scale(.6);
}
.jl-invisible{
	visibility: visible!important;
	background-color: #fff;
	box-shadow: none;
}
.jl-invisible svg{
	fill: #e8263a;
	stroke:#e8263a;
}
/* === counter ===*/

.cls-simplecounter-container{
	position: relative;
	z-index: 1;
	
}

.cls-jlsimplecounter-icon{
	position: absolute;
	right: -20px;
	bottom: -25px;
	z-index: -1;
}

.cls-jlsimplecounter-icon_1{
	background-image: url("./img/counter-icon_1.svg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 68px;
	height: 80px;
}
.cls-jlsimplecounter-icon_2{
	background-image: url("./img/counter-icon_2.svg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 113px;
	height: 80px;
}
.cls-jlsimplecounter-icon_3{
	background-image: url("./img/counter-icon_3.svg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 109px;
	height: 80px;
}

/* === slider background ===*/
.tm-item-inner{
	position: relative;
}
.cls-slider-background{
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	background-image: url("./img/cls-background-image.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	width:200px;
	height: 200px;
	z-index: -1;
	opacity: 1;
}

/* === background ===*/

#g-bottom-b{
	background-image: url("/_test/img/cls-background-b.jpg");
}

#g-bottom-d{
	background-image: url("/_test/img/cls-background-d.jpg");
}
#g-bottom-g{
	background-image: url("/_test/img/cls-background-c.jpg");
}
.cls-background{
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
}

.cls-question-relative{
	position: relative;
	z-index: 1;
}
.cls-question-vent-icon{
	width: 100px;
	height: 126px;
	position: absolute;
	background-image: url('./img/3_calc_2.svg');
	background-repeat: no-repeat;
	left: -40px;
	top: -30px;
	z-index: -1;
}
.cls-question-general-icon{
	width: 125px;
	height: 125px;
	position: absolute;
	background-image: url('./img/6_cta_question.svg');
	background-repeat: no-repeat;
	left: -70px;
	top: -10px;
	z-index: -1;
}

/* === media quiries ===*/
@media(max-width:768px){
	.cls-icon{
		background: none;
	}
}


/* === cls-card-item === */
.cls-card-item{
	position: relative;
}

.cls-card-item-background{
	position: absolute;
	right: 0;
	bottom:0;
	width: 101px;
	height: 84px;
}

.cls-card-item-background_1{
	background-image: url('./img/5_projects.svg');
}

.cls-card-item-background_2{
	background-image: url('./img/5_projects.svg');
}

.cls-card-item-background_3{
	background-image: url('./img/5_projects.svg');
}

.cls-card-item-background_4{
	background-image: url('./img/5_projects.svg');
}

.cls-card-default{
	position: absolute;
}
.cls-card-default-background{
	position: absolute;
	right: 0;
	bottom:0;
	width: 103px;
	height: 120px;
}
.cls-card-default-background_1{
	background-image: url('./img/cls-card-item-background.svg');
}
.cls-card-default-background_2{
	background-image: url('./img/cls-card-item-background.svg');
}

.cls-vent-background{
	position: absolute;
	right: 10px;
	bottom: 10px;
	width: 90px;
	height: 90px;
}
.cls-vent-background_1{
	background-image: url('./img/cls-vent-background.svg');
}
.cls-vent-background_2{
	background-image: url('./img/cls-vent-background.svg');
}
.cls-vent-background_3{
	background-image: url('./img/cls-vent-background.svg');
}
.cls-vent-background_4{
	background-image: url('./img/cls-vent-background.svg');
}