/* === menu === */
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.navclass{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.newclass111{
   width: 100px;
   text-align: center;
}
.newclass111-icon{
    display: block;
    margin: auto;
}
.newclass111-title{
    color: #9b9b9b;
}
.newclass111:hover .newclass111-icon{
    fill:#bf383a;
}
.newclass111:hover .newclass111-title{
    color:#666;
}
/* ===/ menu === */

/* === title === */
.title{
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    margin-top: 50px;
    margin: 3em auto;
    padding:2px;
    
}
.title span{
    padding: 0 12px;
    box-shadow:
        -20px 20px 0 7px #fff,
        20px -20px 0 7px #fff,
        0 0 0 2px #e8263a;
}
/* === /title === */

