*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1170px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card{
    max-width: 340px;
    padding: 40px 30px ;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    position: relative;
}
.card-image{
    position: absolute;
    top:-48px;
    left: -30px;

}
.card-title{
    max-width: 150px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 90px;
    margin-bottom: 30px;
    color: #282f37;
    
}
.card-subtitle{
    max-width: 270px;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 30px;
    color: #595959;
}
.card-link{
    color: #ff2339;
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    padding-right: 23px;
    padding-bottom: 1px;
    border-bottom: 1px solid #ff2339;
    position: relative;
}
.card-link::before{
    position: absolute;
    content: '';
    background-image: url("../img/link-arrow.svg");
    background-repeat: no-repeat;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 8px;
}
.card-icon{
    position: absolute;
    bottom: 0;
    right: 5px;
}