{% extends '@nucleus/partials/particle.html.twig' %}

{% block stylesheets %}
<style>
.g-articles-{{id}} {box-sizing: content-box;}
{% if particle.particle_title_color or particle.particle_title_fontsize %}
#{{ id }}.g5-particle-title { {% if particle.particle_title_color %}color: {{ particle.particle_title_color }};{% endif %}{% if particle.particle_title_fontsize %}font-size: {{particle.particle_title_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.customize_title_color or particle.customize_title_fontsize %}
#{{ id }} .tm-title { {% if particle.customize_title_color %}color: {{particle.customize_title_color}}; {% endif %}{% if particle.customize_title_fontsize %}font-size: {{particle.customize_title_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.customize_content_color or particle.customize_content_fontsize %}
#{{ id }} .tm-content { {% if particle.customize_content_color %}color: {{particle.customize_content_color}};{% endif %}{% if particle.customize_content_fontsize %} font-size: {{particle.customize_content_fontsize}}px;{% endif %} }
{% endif %}
#{{ id }} .tm-meta li span, #{{ id }} .tm-meta li a { {% if particle.meta_color %}color: {{particle.meta_color}};{% endif %}{% if particle.meta_fontsize %} font-size: {{particle.meta_fontsize}}px; {% else %} font-size: 13px;{% endif %} }
</style>
{% endblock %}

{% set attr_extra = particle.extra|attribute_array %}
{% set article_settings = particle.article %}
{% set filter = article_settings.filter %}
{% set sort = article_settings.sort %}
{% set limit = article_settings.limit %}
{% set display = article_settings.display %}

{# Category Finder #}
{% set category_options = filter.categories ? {id: [filter.categories|split(','), 0]} : {} %}
{% set categories = joomla.finder('category', category_options).published(1).language().limit(0).find() %}

{# Content Finder #}
{% if filter.articles %}
{% set article_options = filter.articles ? {id: [filter.articles|replace(' ', '')|split(',')]} : {} %}
{% set article_finder = joomla.finder('content', article_options).published(1).language() %}
{% else %}
{% set article_finder = joomla.finder('content').category(categories).published(1).language() %}
{% endif %}

{% set featured = filter.featured|default('include') %}
{% if featured == 'exclude' %}
{% do article_finder.featured(false) %}
{% elseif featured == 'only' %}
{% do article_finder.featured(true) %}
{% endif %}

{% set start = limit.start + max(0, ajax.start|int) %}
{% do article_finder.order(sort.orderby, sort.ordering).limit(limit.total).start(start) %}
{% set total = article_finder.count() %}
{% set articles = article_finder.find() %}

{# set Viewport Height #}
{% set viewport_height %}
{% if particle.viewport_height == 'none' %}
{% elseif particle.viewport_height == 'full' %}
jl-height-viewport="offset-top: true"
{% elseif particle.viewport_height == 'percent' %}
jl-height-viewport="offset-top: true;offset-bottom: 20"
{% elseif particle.viewport_height == 'section' %}
jl-height-viewport="offset-top: true;offset-bottom: 50"
{% elseif particle.viewport_height == 'expand' %}
jl-height-viewport="expand: true"
{% endif %}
{% endset %}

{# Set Title Text Transform #}
{% set title_text_transform %}
{% if particle.title_text_transform %} jl-text-{{particle.title_text_transform|e}}{% endif %}
{% endset %}

{# Set Meta Text Transform #}
{% set meta_text_transform %}
{% if particle.meta_text_transform %} jl-text-{{particle.meta_text_transform|e}}{% endif %}
{% endset %}

{# Set Content Text Transform #}
{% set content_text_transform %}
{% if particle.content_text_transform %} jl-text-{{particle.content_text_transform|e}}{% endif %}
{% endset %}

{# set Flex margin #}
{% set flex_subnav %}
{% if particle.align == 'inherit' %}{% else %} jl-flex-{{particle.align|e}}{% if particle.breakpoint == 'always' %}{% else %}@{{particle.breakpoint|e}}{% endif %}{% endif %}{% if particle.fallback == 'inherit' %}{% else %} jl-flex-{{particle.fallback|e}}{% endif %}
{% endset %}

{# set padding #}
{% set padding %}
{% if particle.viewport_height == 'full' %}
{% else %}
{% if particle.padding == 'default' %}{% else %} jl-section-{{particle.padding|e}}{% endif %}
{% endif %}
{% endset %}

{# set Container #}
{% set container %}
{% if particle.container == '1' %}
<div class="jl-container"><div class="g5-content g5-particle">{% endif %}
{% endset %}

{# set End Container #}
{% set endcontainer %}
{% if particle.container == '1' %}
</div></div>{% endif %}
{% endset %}

{# set Background color #}
{% set parallax_bg_color %}
{% if particle.parallax_bg_color %}
style="background-color: {{particle.parallax_bg_color}};"{% endif %}
{% endset %}

{# Set Max-Width Content #}
{% set content_maxwidth %}
{% if particle.g_maxwidth != 'inherit' %} jl-width-{{particle.g_maxwidth}}{% if particle.g_maxwidth_breakpoint != 'always' %}@{{particle.g_maxwidth_breakpoint}}{% endif %}{% if particle.g_maxwidth_alignment == 'left' %}{% elseif particle.g_maxwidth_alignment == 'center' %} jl-margin-auto{% else %} jl-margin-auto-left{% endif %}{% endif %}
{% endset %}

{# set Parallax Background #}
{% set parallaxbackground %}
{% if particle.parallax_image %}
<div data-src="{{ url(particle.parallax_image)|e }}" class="{{id}} jl-background-norepeat{{padding}}{{content_maxwidth}} jl-background-{{particle.background_image_position|e}}{% if particle.background_image_size != 'auto' %} jl-background-{{particle.background_image_size|e}}{% endif %}{% if particle.parallax_bg_visibility != 'always' %} jl-background-image@{{particle.parallax_bg_visibility|e}}{% endif %}{% if particle.vertical_alignment != 'none' %} jl-flex jl-flex-{{particle.vertical_alignment|e}}{% endif %}{% if particle.parallax_text_color != 'default' %} jl-{{particle.parallax_text_color|e}}{% endif %}{% if particle.blendmode != 'inherit' %} jl-background-blend-{{particle.blendmode|e}}{% endif %}" {{parallax_bg_color}}{% if particle.horizontal_start or particle.horizontal_end or particle.vertical_start or particle.vertical_end %} jl-parallax="{% if particle.horizontal_start or particle.horizontal_end %}bgx: {{particle.horizontal_start|e}},{{particle.horizontal_end|e}};{% endif %}{% if particle.vertical_start or particle.vertical_end %}bgy: {{particle.vertical_start|e}},{{particle.vertical_end|e}};{% endif %}{% if particle.parallax_bg_breakpoint != 'always' %} media: @{{particle.parallax_bg_breakpoint|e}}{% endif %}" {% endif %} jl-img {{viewport_height}}>
{{container}}
{% endif %}
{% endset %}

{# End Parallax Background #}
{% set endparallaxbackground %}
{% if particle.parallax_image %}
{{endcontainer}}
</div>
{% endif %}
{% endset %}

{# Set Horizontal #}
{% set pahorizontal %}
{% if particle.pa_horizontal_start or particle.pa_horizontal_end %}x: {% if particle.pa_horizontal_start == '' %}0{% else %}{{particle.pa_horizontal_start }}{% endif %},{% if particle.pa_horizontal_end == '' %}0{% else %}{{particle.pa_horizontal_end }}{% endif %};{% endif %}
{% endset %}

{# Set Vertical #}
{% set pavertical %}
{% if particle.pa_vertical_start or particle.pa_vertical_end %}y: {% if particle.pa_vertical_start == '' %}0{% else %}{{particle.pa_vertical_start }}{% endif %},{% if particle.pa_vertical_end == '' %}0{% else %}{{particle.pa_vertical_end }}{% endif %};{% endif %}
{% endset %}

{# Set Scale #}
{% set scale %}
{% if particle.scale_start or particle.scale_end %}scale: {% if particle.scale_start == '' %}1{% else %}{{particle.scale_start / 100 }}{% endif %},{% if particle.scale_end == '' %}1{% else %} {{particle.scale_end / 100 }}{% endif %};{% endif %}
{% endset %}

{# Set Rotate #}
{% set rotate %}{% if particle.rotate_start or particle.rotate_end %}
rotate: {% if particle.rotate_start == '' %}0{% else %}{{particle.rotate_start}}{% endif %},{% if particle.rotate_end == '' %}0{% else %}{{particle.rotate_end}}{% endif %};{% endif %}
{% endset %}

{# Set Opacity #}
{% set opacity %}
{% if particle.opacity_start or particle.opacity_end %}opacity: {% if particle.opacity_start == '' %}1{% else %}{{particle.opacity_start / 100 }}{% endif %},{% if particle.opacity_end == '' %}1{% else %}{{particle.opacity_end / 100 }}{% endif %};{% endif %}
{% endset %}

{# set Scrollspy Animation #}
{% set scrollspy_cls %}
{% if particle.delay_element_animations == '1' %} jl-scrollspy-class{% endif %}
{% endset %}

{# set Animation #}
{% set animation %}
{% if particle.animation == 'parallax' %}
{% if particle.pa_horizontal_start or particle.pa_horizontal_end or particle.pa_vertical_start or particle.pa_vertical_end or particle.scale_start or particle.scale_end or particle.rotate_start or particle.rotate_end or particle.opacity_start or particle.opacity_end or particle.easing or particle.pa_viewport or particle.pa_breakpoint %} jl-parallax="{{pahorizontal}}{{pavertical}}{{scale}}{{rotate}}{{opacity}}{% if particle.easing == '' %}{% else %}easing: {{ particle.easing / 100 }};{% endif %}{% if particle.pa_viewport != '' %}viewport:{{ particle.pa_viewport / 100 }};{% endif %}{% if particle.pa_breakpoint != 'always' %}media: @{{particle.pa_breakpoint|e}}{% endif %}"{% endif %}
{% else %}
{% if particle.animation != 'inherit' %}
{% if particle.delay_element_animations == '1' %} jl-scrollspy="target: [jl-scrollspy-class]; cls: jl-animation-{{particle.animation|e}};{% if particle.animation_repeat != 'disabled' %} repeat: true;{% endif %}{% if particle.animation_delay != '' %} delay: {{particle.animation_delay|e}};{% else %} delay: 200;{% endif %}"{% else %} jl-scrollspy="cls: jl-animation-{{particle.animation|e}};{% if particle.animation_repeat != 'disabled' %} repeat: true;{% endif %}{% if particle.animation_delay != '' %} delay: {{particle.animation_delay|e}};{% endif %}"{% endif %}
{% endif %}
{% endif %}
{% endset %}

{# Set Particle Alignment #}
{% set particle_alignment %}
{% if particle.align != 'inherit' %} jl-text-{{particle.align|e}}{% if particle.breakpoint != 'always' %}@{{particle.breakpoint|e}}{% endif %}{% endif %}{% if particle.align != 'inherit' and particle.breakpoint != 'always' %}{% if particle.fallback != 'inherit' %} jl-text-{{particle.fallback|e}}{% endif %}{% endif %}
{% endset %}

{# set Particle Title Style #}
{% set particle_title_style %}
{% if particle.particle_title %}
<{{particle.particle_title_element|e}} id="{{ id }}" class="g5-particle-title{% if particle.particle_title_align != 'inherit' %} jl-text-{{particle.particle_title_align|e}}{% endif %}{% if particle.particle_predefined_color != 'default' %} jl-text-{{particle.particle_predefined_color|e}}{% endif %}{% if particle.particle_title_style != 'default' %} jl-{{particle.particle_title_style|e}}{% endif %}{% if particle.particle_title_decoration != 'none' %} jl-heading-{{particle.particle_title_decoration|e}}{% endif %}">
{% if particle.particle_title_decoration == 'line' %} <span>{{particle.particle_title|raw}}</span>
{% else %} {{particle.particle_title|raw}}
{% endif %}
</{{particle.particle_title_element|e}}>
{% endif %}
{% endset %}

{# Set Masonry #}
{% set gallery_masonry %}
{% if particle.gallery_masonry == '1' %}
masonry: true;{% endif %}
{% endset %}

{# Set Parallax #}
{% set gallery_parallax %}
{% if particle.gallery_parallax != '' %}
parallax: {{particle.gallery_parallax}}{% endif %}
{% endset %}

{# Set Lightbox #}
{% set gallery_lightbox %}
{% if particle.gallery_lightbox %}
jl-lightbox="toggle: a[data-type]"{% endif %}
{% endset %}

{# Image Box Shadow #}
{% set image_boxshadow %}
{% if particle.box_shadow != 'none' %} jl-box-shadow-{{particle.box_shadow|e}}{% endif %}{% if particle.box_shadow_hover != 'none' %} jl-box-shadow-hover-{{particle.box_shadow_hover|e}}{% endif %}
{% endset %}

{# Title Transition #}
{% set title_transition %}
{% if particle.overlay_hover == '1' %}
{% if particle.title_transition != 'none' %} jl-transition-{{ particle.title_transition|e }}{% endif %}
{% endif %}
{% endset %}

{# Meta Transition #}
{% set meta_transition %}
{% if particle.overlay_hover == '1' %}
{% if particle.meta_transition != 'none' %} jl-transition-{{ particle.meta_transition|e }}{% endif %}
{% endif %}
{% endset %}

{# Content Transition #}
{% set content_transition %}
{% if particle.overlay_hover == '1' %}
{% if particle.content_transition != 'none' %} jl-transition-{{ particle.content_transition|e }}{% endif %}
{% endif %}
{% endset %}

{# Overlay Transition #}
{% set overlay_transition %}
{% if particle.overlay_hover == '1' %} jl-transition-{{ particle.overlay_transition|e }}{% endif %}
{% endset %}

{# Image Transition #}
{% set image_transition %}
{% if particle.image_transition %} jl-transition-{{ particle.image_transition|e }} jl-transition-opaque{% endif %}
{% endset %}

{# Image Transition #}
{% set icon_transition %}
{% if particle.overlay_hover == '1' %}
{% if particle.icons_transition != 'none' %} jl-transition-{{ particle.icons_transition|e }}{% endif %}
{% endif %}
{% endset %}

{# Set Content #}
{% set gallerycontent %}
{% for article in articles %}

{# Set Item Meta #}
{% set item_meta %}
{% if display.date.enabled or display.author.enabled or display.category.enabled or display.hits.enabled %}
<ul class="tm-meta{{meta_text_transform}}{% if particle.meta_subnav_style == 'default' %} jl-subnav{% else %} jl-subnav jl-subnav-{{particle.meta_subnav_style|e}}{% endif %}{% if particle.pre_meta_color != 'default' %} jl-text-{{particle.pre_meta_color|e}}{% endif %}{% if particle.meta_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.meta_margin_top|e }}-top{% endif %}{% if particle.meta_style != 'default' %} jl-{{ particle.meta_style|e }}{% endif %}{{flex_subnav}}">
{% if display.date.enabled %}
<li class="g-array-item-date">
  <span>
  {% if display.date.enabled == 'published' %}
  {{ article.publish_up|date(display.date.format) }}
{% elseif display.date.enabled == 'modified' %}
{{ article.modified|date(display.date.format) }}
{% else %}
  {{ article.created|date(display.date.format) }}
{% endif %}
</span>
</li>
{% endif %}

{% if display.author.enabled %}
<li class="g-array-item-author">
  <span>{{ article.author.name }}</span>
</li>
{% endif %}

{% if display.category.enabled %}
{% set category_link = display.category.enabled == 'link' %}
<li class="g-array-item-category">
{% set cat = article.categories|last %}
{% if category_link %}
<a href="{{ cat.route }}">
{{ cat.title }}
</a>
{% else %}
  {{ cat.title }}
{% endif %}
</li>
{% endif %}

{% if display.hits.enabled %}
<li class="g-array-item-hits">
  <span><i class="fa fa-eye" aria-hidden="true"></i>{{ article.hits }}</span>
</li>
{% endif %}
</ul>
{% endif %}
{% endset %}

{% set captiontitle %}
{% if particle.show_title %}<h4 class='jl-margin-remove'>{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}</h4>{% endif %}
{% endset %}

{% set captioncontent %}
{% if particle.show_content %}
{% set article_text = display.text.type == 'intro' ? article.introtext : article.text %}
{% if display.text.formatting == 'text' %}{{ article_text|truncate_text(display.text.limit)|raw }}{% else %}{{ article_text|truncate_html(display.text.limit)|raw }}
{% endif %}
{% endif %}
{% endset %}

{% set caption %}
{% if particle.show_title or particle.show_content %} data-caption="{{captiontitle}}{{captioncontent}}"{% endif %}
{% endset %}

<div>

{% if particle.extra_shadow == '1' %}
{% if particle.overlay_hover == '1' or particle.hover_image != '' or particle.image_transition != 'none' %}
<div class="tm-item jl-inline-clip jl-transition-toggle jl-box-shadow-bottom{% if particle.overlay_color != 'default' %} jl-{{ particle.overlay_color|e }}{% endif %}{{image_boxshadow}}" tabindex="0"{{scrollspy_cls}}>
{% else %}
<div class="tm-item jl-inline-clip jl-box-shadow-bottom{% if particle.overlay_color != 'default' %} jl-{{ particle.overlay_color|e }}{% endif %}{{image_boxshadow}}"{{scrollspy_cls}}>
{% endif %}
<div class="jl-inline-clip">
{% else %}

  {% if particle.overlay_hover == '1' or particle.hover_image != '' or particle.image_transition != 'none' %}
  <div class="tm-item jl-inline-clip jl-transition-toggle{% if particle.overlay_color != 'default' %} jl-{{ particle.overlay_color|e }}{% endif %}{{image_boxshadow}}" tabindex="0"{{scrollspy_cls}}>
  {% else %}
  <div class="tm-item jl-inline-clip{% if particle.overlay_color != 'default' %} jl-{{ particle.overlay_color|e }}{% endif %}{{image_boxshadow}}"{{scrollspy_cls}}>
{% endif %}

{% endif %}


{% if display.image.enabled and article.images.image_intro or article.images.image_fulltext %}
{% if article.images.image_intro and display.image.enabled == 'intro' or display.image.enabled == 'show' %}
  <img class="tm-image{{image_transition}}" src="{{ url(article.images.image_intro) }}"{% if article.images.image_intro_alt %} alt="{{article.images.image_intro_alt}}"{% else %} alt="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}"{% endif %}>
{% elseif article.images.image_fulltext and display.image.enabled == 'full' %}
  <img class="tm-image{{image_transition}}" src="{{ url(article.images.image_fulltext) }}"{% if article.images.image_fulltext_alt %} alt="{{article.images.image_fulltext_alt}}"{% else %} alt="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}"{% endif %}>
{% endif %}
{% endif %}


{# Load Overlay Style #}
{% if particle.overlay_style == 'none' %}
<div class="{% if particle.overlay_position %}jl-position-{{ particle.overlay_position|e }}{% endif %}">

  <div class="jl-panel{% if particle.overlay_padding == 'default' %} jl-padding{% else %} jl-padding-{{ particle.overlay_padding|e }}{% endif %}{% if particle.overlay_maxwidth != 'none' %} jl-width-{{ particle.overlay_maxwidth|e }}{% endif %}{{overlay_transition}}">

  {% else %}

    {% if particle.overlay_mode == 'cover' %}
    <div class="jl-position-cover{% if particle.overlay_margin != 'none' %} jl-position-{{ particle.overlay_margin|e }}{% endif %}{% if particle.overlay_style %} {{ particle.overlay_style|e }}{% endif %}{{overlay_transition}}"></div>
  {% endif %}

  <div class="{% if particle.overlay_position %}jl-position-{{ particle.overlay_position|e }}{% endif %}{% if particle.overlay_margin != 'none' %} jl-position-{{ particle.overlay_margin|e }}{% endif %}">

  {% if particle.overlay_mode == 'cover' %}
  <div class="jl-overlay{% if particle.overlay_padding != 'default' %} jl-padding-{{ particle.overlay_padding|e }}{% endif %}{% if particle.overlay_maxwidth != 'none' %} jl-width-{{ particle.overlay_maxwidth|e }}{% endif %}{{overlay_transition}} jl-margin-remove-first-child">
  {% else %}
  <div class="jl-overlay{% if particle.overlay_padding != 'default' %} jl-padding-{{ particle.overlay_padding|e }}{% endif %}{% if particle.overlay_maxwidth != 'none' %} jl-width-{{ particle.overlay_maxwidth|e }}{% endif %}{{overlay_transition}}{% if particle.overlay_style %} {{ particle.overlay_style|e }}{% endif %} jl-margin-remove-first-child">
{% endif %}

{% endif %}

{% if particle.meta_alignment == 'top' %}
{{item_meta}}
{% endif %}

{% if display.title.enabled %}
<{{particle.title_element|e}} class="tm-title jl-margin-remove-bottom{{title_text_transform}}{% if particle.title_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.title_margin_top|e }}-top{% endif %}{% if particle.title_color != 'default' %} jl-text-{{particle.title_color|e}}{% endif %}{% if particle.title_style != 'default' %} jl-{{particle.title_style|e}}{% endif %}{% if particle.title_decoration != 'none' %} jl-heading-{{particle.title_decoration|e}}{% endif %}{{title_transition}}">
{% if particle.title_decoration == 'line' %} <span><a href="{{ article.route }}">
{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}
</a></span>
{% else %}
<a href="{{ article.route }}">
{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}
</a>
{% endif %}
</{{particle.title_element|e}}>
{% endif %}


{% if particle.gallery_lightbox %}
<div class="lightbox-icons{{icon_transition}}{% if particle.icon_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.icon_margin_top|e }}-top{% endif %}">
  <a href="{{ article.route }}" class="uk-position-large uk-position-center jl-icon-button jl-margin-small-right"{{caption}} jl-icon="link"></a>
  {% if display.image.enabled and article.images.image_intro or article.images.image_fulltext %}
  {% if article.images.image_intro and display.image.enabled == 'intro' or display.image.enabled == 'show' %}
  <a data-type="image" href="{{ url(article.images.image_intro) }}" class="uk-position-large uk-position-center jl-icon-button"{{caption}} jl-icon="search"></a>
  {% elseif article.images.image_fulltext and display.image.enabled == 'full' %}
  <a data-type="image" href="{{ url(article.images.image_fulltext) }}" class="uk-position-large uk-position-center jl-icon-button"{{caption}} jl-icon="search"></a>
  {% endif %}
  {% endif %}
</div>
{% endif %}

{% if particle.meta_alignment == 'bottom' %}
{{item_meta}}
{% endif %}

{% if display.text.type %}
{% set article_text = display.text.type == 'intro' ? article.introtext : article.text %}
<div class="tm-content jl-panel{{content_text_transform}}{% if particle.content_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.content_margin_top|e }}-top{% endif %}{% if particle.content_style != 'default' %} jl-text-{{ particle.content_style|e }}{% endif %}{% if particle.content_text_color != 'default' %} jl-text-{{ particle.content_text_color|e }}{% endif %}{{content_transition}}">
{% if display.text.formatting == 'text' %}
{{ article_text|truncate_text(display.text.limit)|raw }}
{% else %}
  {{ article_text|truncate_html(display.text.limit)|raw }}
{% endif %}
</div>
{% endif %}

{% if particle.meta_alignment == 'content' %}
{{item_meta}}
{% endif %}

</div>

</div>
{# End Overlay Style #}

{% if particle.extra_shadow == '1' %}
</div>
</div>
{% else %}
</div>
{% endif %}
</div>
{% endfor %}
{% endset %}

{% block particle %}
{% if particle.enabled %}
{{parallaxbackground}}
{{particle_title_style}}
<div id="{{ id }}" class="g-articles-{{id}}{% if particle.class == '' %}{% else %} {{particle.class}}{% endif %}{% if particle.divider == '1' %} jl-grid-divider{% else %}{% endif %}{% if particle.gutter == 'default' %}{% else %} jl-grid-{{ particle.gutter|e }}{% endif %}{% if particle.phone_portrait %} jl-child-width-1-{{ particle.phone_portrait|e }}{% endif %}{% if particle.phone_landscape == 'inherit' %}{% else %} jl-child-width-1-{{ particle.phone_landscape|e }}@s{% endif %}{% if particle.tablet_landscape == 'inherit' %}{% else %} jl-child-width-1-{{ particle.tablet_landscape|e }}@m{% endif %}{% if particle.desktop == 'inherit' %}{% else %} jl-child-width-1-{{ particle.desktop|e }}@l{% endif %}{% if particle.large_desktop == 'inherit' %}{% else %} jl-child-width-1-{{ particle.large_desktop|e }}@xl{% endif %}{{particle_alignment}}{% if particle.margin == 'inherit' %}{% elseif particle.margin == 'default' %} jl-margin{% else %} jl-margin-{{particle.margin|e}}{% endif %}{% if particle.visibility == 'inherit' %}{% else %} jl-visible@{{particle.visibility|e}}{% endif %}"{{animation}} jl-grid="{{gallery_masonry}}{{gallery_parallax}}"{{gallery_lightbox}} {{- attr_extra|raw }}>
{{gallerycontent}}
</div>
{{endparallaxbackground}}
{% endif %}
{% endblock %}
