{% extends '@nucleus/partials/particle.html.twig' %}

{% block stylesheets %}
{% if particle.particle_title_color or particle.particle_title_fontsize or particle.title_color or particle.title_fontsize or particle.customize_content_color or particle.customize_content_fontsize or particle.meta_color or particle.meta_fontsize %}
<style>
{% if particle.particle_title_color or particle.particle_title_fontsize %}
#{{ id }}.g5-particle-title { {% if particle.particle_title_color %}color: {{ particle.particle_title_color }};{% endif %}{% if particle.particle_title_fontsize %}font-size: {{particle.particle_title_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.title_color or particle.title_fontsize %}
#{{ id }} .tm-title { {% if particle.title_color %}color: {{particle.title_color}} !important; {% endif %}{% if particle.title_fontsize %}font-size: {{particle.title_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.customize_content_color or particle.customize_content_fontsize %}
#{{ id }} .tm-content { {% if particle.customize_content_color %}color: {{particle.customize_content_color}} !important;{% endif %}{% if particle.customize_content_fontsize %} font-size: {{particle.customize_content_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.meta_color or particle.meta_fontsize %}
#{{ id }} .tm-meta { {% if particle.meta_color %}color: {{particle.meta_color}};{% endif %}{% if particle.meta_fontsize %} font-size: {{particle.meta_fontsize}}px;{% endif %} }
{% endif %}
</style>
{% endif %}
{% endblock %}

{% set attr_extra = particle.extra|attribute_array %}
{% set article_settings = particle.article %}
{% set filter = article_settings.filter %}
{% set sort = article_settings.sort %}
{% set limit = article_settings.limit %}
{% set display = article_settings.display %}

{# Set Title Text Transform #}
{% set title_text_transform %}
{% if particle.title_text_transform %} jl-text-{{particle.title_text_transform|e}}{% endif %}
{% endset %}

{# Set Meta Text Transform #}
{% set meta_text_transform %}
{% if particle.meta_text_transform %} jl-text-{{particle.meta_text_transform|e}}{% endif %}
{% endset %}

{# Set Content Text Transform #}
{% set content_text_transform %}
{% if particle.content_text_transform %} jl-text-{{particle.content_text_transform|e}}{% endif %}
{% endset %}

{# Category Finder #}
{% set category_options = filter.categories ? {id: [filter.categories|split(','), 0]} : {} %}
{% set categories = joomla.finder('category', category_options).published(1).language().limit(0).find() %}

{# Content Finder #}
{% if filter.articles %}
{% set article_options = filter.articles ? {id: [filter.articles|replace(' ', '')|split(',')]} : {} %}
{% set article_finder = joomla.finder('content', article_options).published(1).language() %}
{% else %}
  {% set article_finder = joomla.finder('content').category(categories).published(1).language() %}
{% endif %}

{% set featured = filter.featured|default('include') %}
{% if featured == 'exclude' %}
{% do article_finder.featured(false) %}
{% elseif featured == 'only' %}
{% do article_finder.featured(true) %}
{% endif %}

{% set start = limit.start + max(0, ajax.start|int) %}
{% do article_finder.order(sort.orderby, sort.ordering).limit(limit.total).start(start) %}
{% set total = article_finder.count() %}
{% set articles = article_finder.find() %}

{# set Viewport Height #}
{% set viewport_height %}
{% if particle.viewport_height == 'none' %}
{% elseif particle.viewport_height == 'full' %}
jl-height-viewport="offset-top: true"
{% elseif particle.viewport_height == 'percent' %}
jl-height-viewport="offset-top: true;offset-bottom: 20"
{% elseif particle.viewport_height == 'section' %}
jl-height-viewport="offset-top: true;offset-bottom: 50"
{% elseif particle.viewport_height == 'expand' %}
jl-height-viewport="expand: true"
{% endif %}
{% endset %}


{# Set Horizontal #}
{% set pahorizontal %}
{% if particle.pa_horizontal_start or particle.pa_horizontal_end %}x: {% if particle.pa_horizontal_start == '' %}0{% else %}{{particle.pa_horizontal_start }}{% endif %},{% if particle.pa_horizontal_end == '' %}0{% else %}{{particle.pa_horizontal_end }}{% endif %};{% endif %}
{% endset %}

{# Set Vertical #}
{% set pavertical %}
{% if particle.pa_vertical_start or particle.pa_vertical_end %}y: {% if particle.pa_vertical_start == '' %}0{% else %}{{particle.pa_vertical_start }}{% endif %},{% if particle.pa_vertical_end == '' %}0{% else %}{{particle.pa_vertical_end }}{% endif %};{% endif %}
{% endset %}

{# Set Scale #}
{% set scale %}
{% if particle.scale_start or particle.scale_end %}scale: {% if particle.scale_start == '' %}1{% else %}{{particle.scale_start / 100 }}{% endif %},{% if particle.scale_end == '' %}1{% else %} {{particle.scale_end / 100 }}{% endif %};{% endif %}
{% endset %}

{# Set Rotate #}
{% set rotate %}{% if particle.rotate_start or particle.rotate_end %}
rotate: {% if particle.rotate_start == '' %}0{% else %}{{particle.rotate_start}}{% endif %},{% if particle.rotate_end == '' %}0{% else %}{{particle.rotate_end}}{% endif %};{% endif %}
{% endset %}

{# Set Opacity #}
{% set opacity %}
{% if particle.opacity_start or particle.opacity_end %}opacity: {% if particle.opacity_start == '' %}1{% else %}{{particle.opacity_start / 100 }}{% endif %},{% if particle.opacity_end == '' %}1{% else %}{{particle.opacity_end / 100 }}{% endif %};{% endif %}
{% endset %}

{# set Animation #}
{% set animation %}
{% if particle.animation == 'parallax' %}
{% if particle.pa_horizontal_start or particle.pa_horizontal_end or particle.pa_vertical_start or particle.pa_vertical_end or particle.scale_start or particle.scale_end or particle.rotate_start or particle.rotate_end or particle.opacity_start or particle.opacity_end or particle.easing or particle.pa_viewport or particle.pa_breakpoint %} jl-parallax="{{pahorizontal}}{{pavertical}}{{scale}}{{rotate}}{{opacity}}{% if particle.easing == '' %}{% else %}easing: {{ particle.easing / 100 }};{% endif %}{% if particle.pa_viewport != '' %}viewport:{{ particle.pa_viewport / 100 }};{% endif %}{% if particle.pa_breakpoint != 'always' %}media: @{{particle.pa_breakpoint|e}}{% endif %}"{% endif %}
{% else %}
{% if particle.animation != 'inherit' %} jl-scrollspy="cls:jl-animation-{{particle.animation|e}}{% if particle.animation_repeat != 'disabled' %}; repeat: true{% endif %}{% if particle.animation_delay != '' %}; delay: {{particle.animation_delay|e}}{% endif %}"{% endif %}
{% endif %}
{% endset %}

{# Set Max-Width Content #}
{% set content_maxwidth %}
{% if particle.g_maxwidth != 'inherit' %} jl-width-{{particle.g_maxwidth}}{% if particle.g_maxwidth_breakpoint != 'always' %}@{{particle.g_maxwidth_breakpoint}}{% endif %}{% if particle.g_maxwidth_alignment == 'left' %}{% elseif particle.g_maxwidth_alignment == 'center' %} jl-margin-auto{% else %} jl-margin-auto-left{% endif %}{% endif %}
{% endset %}

{# Set Particle Alignment #}
{% set particle_alignment %}
{% if particle.align != 'inherit' %} jl-text-{{particle.align|e}}{% if particle.breakpoint != 'always' %}@{{particle.breakpoint|e}}{% endif %}{% endif %}{% if particle.align != 'inherit' and particle.breakpoint != 'always' %}{% if particle.fallback != 'inherit' %} jl-text-{{particle.fallback|e}}{% endif %}{% endif %}
{% endset %}

{# set Particle Title Style #}
{% set particle_title_style %}
{% if particle.particle_title %}
<{{particle.particle_title_element|e}} id="{{ id }}" class="g5-particle-title{% if particle.particle_title_align != 'inherit' %} jl-text-{{particle.particle_title_align|e}}{% endif %}{% if particle.particle_predefined_color != 'default' %} jl-text-{{particle.particle_predefined_color|e}}{% endif %}{% if particle.particle_title_style != 'default' %} jl-{{particle.particle_title_style|e}}{% endif %}{% if particle.particle_title_decoration != 'none' %} jl-heading-{{particle.particle_title_decoration|e}}{% endif %}">
{% if particle.particle_title_decoration == 'line' %} <span>{{particle.particle_title|raw}}</span>
{% else %} {{particle.particle_title|raw}}
{% endif %}
</{{particle.particle_title_element|e}}>
{% endif %}
{% endset %}


{# Set Slider Viewport Height #}
{% set slider_viewport %}
{% if particle.slider_viewport == 'auto' %}
{% elseif particle.slider_viewport == 'full' %}
jl-height-viewport="offset-top: true;{% if particle.slider_viewport != 'auto' %}{% if particle.slider_minheight %} minHeight: {{particle.slider_minheight|e}}{% else %} minHeight: 300;{% endif %}{% endif %}"
{% elseif particle.slider_viewport == 'percent' %}
jl-height-viewport="offset-top: true;offset-bottom: 20;{% if particle.slider_viewport != 'auto' %}{% if particle.slider_minheight %} minHeight: {{particle.slider_minheight|e}}{% else %} minHeight: 300;{% endif %}{% endif %}"
{% elseif particle.slider_viewport == 'section' %}
jl-height-viewport="offset-top: true;offset-bottom: 50;{% if particle.slider_viewport != 'auto' %}{% if particle.slider_minheight %} minHeight: {{particle.slider_minheight|e}}{% else %} minHeight: 300;{% endif %}{% endif %}"
{% endif %}
{% endset %}

{% set slider_animation_set %}
{% if particle.slider_animation_set == 'enabled' %}
sets: true;{% endif %}
{% endset %}

{% set slider_animation_center %}
{% if particle.slider_animation_center == 'enabled' %}
center: true;{% endif %}
{% endset %}

{% set slider_animation_finite %}
{% if particle.slider_animation_finite == 'enabled' %}
finite: true;{% endif %}
{% endset %}

{% set slider_animation_autoplay %}
{% if particle.slider_animation_autoplay == 'enabled' %}
autoplay: true;{% endif %}
{% endset %}

{% set slider_animation_interval %}
{% if particle.slider_animation_interval %}
autoplay-interval: {{ particle.slider_animation_interval * 1000 }};{% endif %}
{% endset %}

{% set slider_pause_onhover %}
{% if particle.slider_pause_onhover == 'disabled' %}
pauseOnHover: false;{% endif %}
{% endset %}

{# Title Transition #}
{% set title_transition %}
{% if particle.overlay_hover == '1' %}
{% if particle.title_transition != 'none' %} jl-transition-{{ particle.title_transition|e }}{% endif %}
{% endif %}
{% endset %}

{# Meta Transition #}
{% set meta_transition %}
{% if particle.overlay_hover == '1' %}
{% if particle.meta_transition != 'none' %} jl-transition-{{ particle.meta_transition|e }}{% endif %}
{% endif %}
{% endset %}

{# Content Transition #}
{% set content_transition %}
{% if particle.overlay_hover == '1' %}
{% if particle.content_transition != 'none' %} jl-transition-{{ particle.content_transition|e }}{% endif %}
{% endif %}
{% endset %}

{# Overlay Transition #}
{% set overlay_transition %}
{% if particle.overlay_hover == '1' %} jl-transition-{{ particle.overlay_transition|e }}{% endif %}
{% endset %}

{# Image Transition #}
{% set image_transition %}
{% if particle.image_transition %} jl-transition-{{ particle.image_transition|e }} jl-transition-opaque{% endif %}
{% endset %}

{# Set Card Max Width Class #}
{% set card_maxwidth_cls %}
{% if particle.card_maxwidth == 'none' %}{% else %} jl-margin-auto jl-width-{{ particle.card_maxwidth|e }}{% endif %}
{% endset %}

{# Set Button Class #}
{% set button_cls %}
{% if particle.buttonclass == 'link' %}jl-link{% elseif particle.buttonclass == 'link-muted' or particle.buttonclass == 'link-text' %}jl-{{particle.buttonclass|e}}{% else %}jl-button jl-button-{{particle.buttonclass|e}}{% endif %}
{% endset %}

{# Set Button Size #}
{% set button_size %}
{% if particle.buttonclass == 'link' or particle.buttonclass == 'link-muted' or particle.buttonclass == 'link-text' or particle.buttonclass == 'text' %}{% else %}{% if particle.link_button_size != 'default' %} jl-button-{{particle.link_button_size|e}}{% endif %}{% endif %}
{% endset %}

{% block particle %}
{% if particle.enabled %}

{{particle_title_style}}

<div id="{{ id }}" class="tm-slider-wrapper{{content_maxwidth}}{% if particle.class %} {{ particle.class }}{% endif %}{{particle_alignment}}{% if particle.margin == 'inherit' %}{% elseif particle.margin == 'default' %} jl-margin{% else %} jl-margin-{{particle.margin|e}}{% endif %}{% if particle.visibility %} jl-visible@{{particle.visibility|e}}{% endif %}" jl-slider="{{slider_animation_set}}{{slider_animation_center}}{{slider_animation_finite}}{{slider_animation_autoplay}}{{slider_animation_interval}}{{slider_pause_onhover}}"{{animation}} {{- attr_extra|raw }}>

  <div class="jl-position-relative{% if particle.slidenav_hover == 'enabled' %} jl-visible-toggle{% endif %}">

    {# Load Outside container #}

    {% if particle.slidenav_position == 'outside' %}
    <div class="jl-slider-container">
  {% endif %}

  {# End outside #}

  {% if particle.slider_width_mode == 'auto' %}
  <ul class="jl-slider-items jl-grid{% if particle.slider_divider == 'enabled' %} jl-grid-divider{% endif %}{% if particle.slider_gutter %} jl-grid-{{ particle.slider_gutter|e }}{% endif %}{% if particle.image_vertical_alignment %} jl-flex-middle{% endif %}">
  {% else %}
  <ul class="jl-slider-items jl-grid jl-grid-match{% if particle.slider_divider == 'enabled' %} jl-grid-divider{% endif %}{% if particle.slider_gutter %} jl-grid-{{ particle.slider_gutter|e }}{% endif %}{% if particle.image_vertical_alignment %} jl-flex-middle{% endif %}"{{slider_viewport}}>
{% endif %}

{% for article in articles %}



{# Set Item Image #}
{% set item_meta %}
{% if display.date.enabled or display.author.enabled or display.category.enabled or display.hits.enabled %}
<ul class="tm-meta{{meta_text_transform}}{% if particle.meta_subnav_style == 'default' %} jl-subnav{% else %} jl-subnav jl-subnav-{{particle.meta_subnav_style|e}}{% endif %}{% if particle.pre_meta_color != 'default' %} jl-text-{{particle.pre_meta_color|e}}{% endif %}{% if particle.meta_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.meta_margin_top|e }}-top{% endif %}{% if particle.meta_style != 'default' %} jl-{{ particle.meta_style|e }}{% endif %}{{meta_transition}}">
{% if display.date.enabled %}
<li class="g-array-item-date">
  <span>
    {% if display.date.enabled == 'published' %}
    {{ article.publish_up|date(display.date.format) }}
  {% elseif display.date.enabled == 'modified' %}
  {{ article.modified|date(display.date.format) }}
  {% else %}
  {{ article.created|date(display.date.format) }}
{% endif %}
</span>
</li>
{% endif %}

{% if display.author.enabled %}
<li class="g-array-item-author">
  <span>{{ article.author.name }}</span>
</li>
{% endif %}

{% if display.category.enabled %}
{% set category_link = display.category.enabled == 'link' %}
<li class="g-array-item-category">
{% set cat = article.categories|last %}
{% if category_link %}
<a href="{{ cat.route }}">
{{ cat.title }}
</a>
{% else %}
{{ cat.title }}
{% endif %}
</li>
{% endif %}

{% if display.hits.enabled %}
<li class="g-array-item-hits">
  <span><i class="fa fa-eye" aria-hidden="true"></i>{{ article.hits }}</span>
</li>
{% endif %}
</ul>
{% endif %}
{% endset %}

{% if particle.slider_width_mode == 'auto' %}
<li class="tm-item">
{% else %}
<li class="tm-item {% if particle.phone_portrait %} jl-width-{{ particle.phone_portrait|e }}{% endif %}{% if particle.phone_landscape != 'inherit' %} jl-width-{{ particle.phone_landscape|e }}@s{% endif %}{% if particle.tablet_landscape != 'inherit' %} jl-width-{{ particle.tablet_landscape|e }}@m{% endif %}{% if particle.desktop != 'inherit' %} jl-width-{{ particle.desktop|e }}@l{% endif %}{% if particle.large_desktop != 'inherit' %} jl-width-{{ particle.large_desktop|e }}@xl{% endif %}">
{% endif %}

{% if particle.overlay_hover == '1' or particle.image_transition %}
<div class="jl-cover-container jl-transition-toggle{% if particle.overlay_color %} jl-{{ particle.overlay_color|e }}{% endif %}" tabindex="0">
{% else %}
<div class="jl-cover-container{% if particle.overlay_color %} jl-{{ particle.overlay_color|e }}{% endif %}">
{% endif %}

{% if particle.slider_width_mode == 'auto' %}

{% if display.image.enabled and article.images.image_intro or article.images.image_fulltext %}
{% if article.images.image_intro and display.image.enabled == 'intro' or display.image.enabled == 'show' %}
<img class="tm-image{{image_transition}}" data-src="{{ url(article.images.image_intro) }}"{% if article.images.image_intro_alt %} alt="{{article.images.image_intro_alt}}"{% else %} alt="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}"{% endif %} jl-img="target: !.jl-slider-items">
{% elseif article.images.image_fulltext and display.image.enabled == 'full' %}
<img class="tm-image{{image_transition}}" data-src="{{ url(article.images.image_fulltext) }}"{% if article.images.image_fulltext_alt %} alt="{{article.images.image_fulltext_alt}}"{% else %} alt="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}"{% endif %} jl-img="target: !.jl-slider-items">
{% endif %}
{% endif %}


{% else %}

{% if particle.slider_viewport == 'auto' %}

{% if display.image.enabled and article.images.image_intro or article.images.image_fulltext %}
{% if article.images.image_intro and display.image.enabled == 'intro' or display.image.enabled == 'show' %}
<img class="tm-image{{image_transition}}" data-src="{{ url(article.images.image_intro) }}"{% if article.images.image_intro_alt %} alt="{{article.images.image_intro_alt}}"{% else %} alt="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}"{% endif %} jl-img="target: !.jl-slider-items">
{% elseif article.images.image_fulltext and display.image.enabled == 'full' %}
<img class="tm-image{{image_transition}}" data-src="{{ url(article.images.image_fulltext) }}"{% if article.images.image_fulltext_alt %} alt="{{article.images.image_fulltext_alt}}"{% else %} alt="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}"{% endif %} jl-img="target: !.jl-slider-items">
{% endif %}
{% endif %}

{% else %}

{% if particle.image_transition == 'none' %}

{% if display.image.enabled and article.images.image_intro or article.images.image_fulltext %}
{% if article.images.image_intro and display.image.enabled == 'intro' or display.image.enabled == 'show' %}
<img class="tm-image" data-src="{{ url(article.images.image_intro) }}"{% if article.images.image_intro_alt %} alt="{{article.images.image_intro_alt}}"{% else %} alt="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}"{% endif %} jl-img="target: !.jl-slider-items" jl-cover>
{% elseif article.images.image_fulltext and display.image.enabled == 'full' %}
<img class="tm-image" data-src="{{ url(article.images.image_fulltext) }}"{% if article.images.image_fulltext_alt %} alt="{{article.images.image_fulltext_alt}}"{% else %} alt="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}"{% endif %} jl-img="target: !.jl-slider-items" jl-cover>
{% endif %}
{% endif %}

{% else %}

<div class="jl-position-cover{{image_transition}}">
  {% if display.image.enabled and article.images.image_intro or article.images.image_fulltext %}
  {% if article.images.image_intro and display.image.enabled == 'intro' or display.image.enabled == 'show' %}
  <img class="tm-image" data-src="{{ url(article.images.image_intro) }}"{% if article.images.image_intro_alt %} alt="{{article.images.image_intro_alt}}"{% else %} alt="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}"{% endif %} jl-img="target: !.jl-slider-items" jl-cover>
  {% elseif article.images.image_fulltext and display.image.enabled == 'full' %}
  <img class="tm-image" data-src="{{ url(article.images.image_fulltext) }}"{% if article.images.image_fulltext_alt %} alt="{{article.images.image_fulltext_alt}}"{% else %} alt="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}"{% endif %} jl-img="target: !.jl-slider-items" jl-cover>
  {% endif %}
  {% endif %}
</div>

{% endif %}

{% endif %}

{% endif %}


{# Load Overlay Style #}

{% if display.title.enabled or display.date.enabled or display.author.enabled or display.category.enabled or display.hits.enabled or display.text.type %}

{% if particle.overlay_style == 'none' %}
<div class="{% if particle.overlay_position %}jl-position-{{ particle.overlay_position|e }}{% endif %}">

  <div class="jl-panel{% if particle.overlay_padding == 'default' %} jl-padding{% else %} jl-padding-{{ particle.overlay_padding|e }}{% endif %}{% if particle.overlay_maxwidth != 'none' %} jl-width-{{ particle.overlay_maxwidth|e }}{% endif %}{{overlay_transition}} jl-margin-remove-first-child">

    {% else %}

    {% if particle.overlay_mode == 'cover' %}
    <div class="jl-position-cover{% if particle.overlay_margin %} jl-position-{{ particle.overlay_margin|e }}{% endif %}{% if particle.overlay_style %} {{ particle.overlay_style|e }}{% endif %}{{overlay_transition}}"></div>
    {% endif %}

    <div class="{% if particle.overlay_position %}jl-position-{{ particle.overlay_position|e }}{% endif %}{% if particle.overlay_margin %} jl-position-{{ particle.overlay_margin|e }}{% endif %}">

      {% if particle.overlay_mode == 'cover' %}
      <div class="jl-overlay{% if particle.overlay_padding != 'default' %} jl-padding-{{ particle.overlay_padding|e }}{% endif %}{% if particle.overlay_maxwidth != 'none' %} jl-width-{{ particle.overlay_maxwidth|e }}{% endif %}{{overlay_transition}} jl-margin-remove-first-child">
        {% else %}
        <div class="jl-overlay{% if particle.overlay_padding != 'default' %} jl-padding-{{ particle.overlay_padding|e }}{% endif %}{% if particle.overlay_maxwidth != 'none' %} jl-width-{{ particle.overlay_maxwidth|e }}{% endif %}{% if particle.overlay_style %} {{ particle.overlay_style|e }}{% endif %}{{overlay_transition}} jl-margin-remove-first-child">
      {% endif %}

    {% endif %}

    {% if particle.meta_alignment == 'top' %}
    {{item_meta}}
  {% endif %}


  {% if display.title.enabled %}
  <{{particle.title_element|e}} class="tm-title jl-margin-remove-bottom{{title_text_transform}}{% if particle.title_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.title_margin_top|e }}-top{% endif %}{% if particle.title_style != 'default' %} jl-{{ particle.title_style|e }}{% endif %}{% if particle.predefined_title_color != 'default' %} jl-text-{{ particle.predefined_title_color|e }}{% endif %}{% if particle.title_decoration != 'none' %} jl-heading-{{particle.title_decoration|e}}{% endif %}{{title_transition}}">
  {% if particle.title_decoration == 'line' %} <span><a class="jl-link-reset" href="{{ article.route }}">
  {{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}
</a></span>
{% else %}
<a class="jl-link-reset" href="{{ article.route }}">{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}</a>
{% endif %}
</{{particle.title_element|e}}>
{% endif %}



{% if particle.meta_alignment == 'bottom' %}
{{item_meta}}
{% endif %}

{% if display.text.type %}
{% set article_text = display.text.type == 'intro' ? article.introtext : article.text %}
<div class="tm-content jl-panel{{content_text_transform}}{% if particle.content_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.content_margin_top|e }}-top{% endif %}{% if particle.content_style != 'default' %} jl-text-{{ particle.content_style|e }}{% endif %}{% if particle.content_text_color != 'default' %} jl-text-{{ particle.content_text_color|e }}{% endif %}{{content_transition}}">
{% if display.text.formatting == 'text' %}
{{ article_text|truncate_text(display.text.limit)|raw }}
{% else %}
{{ article_text|truncate_html(display.text.limit)|raw }}
{% endif %}
</div>
{% endif %}

{% if particle.meta_alignment == 'content' %}
{{item_meta}}
{% endif %}

</div>

</div>

{% endif %}
{# End Position Center #}


{% if display.read_more.enabled %}
<a href="{{ article.route }}" class="jl-position-cover" target="{{ particle.buttontarget|default('_self')|e }}"></a>
{% endif %}

{# End Overlay Style #}


</li>

{% endfor %}

</ul>

{% if particle.slidenav_position == 'outside' %}
</div>
{% endif %}

{# Slidenav #}
{% if particle.slidenav_position %}
{% if particle.slidenav_position == 'default' %}
<div class="{% if particle.slidenav_breakpoint %}jl-visible@{{particle.slidenav_breakpoint|e}}{% endif %}{% if particle.slidenav_hover == 'enabled' %} jl-hidden-hover jl-hidden-touch{% endif %}{% if particle.slidenav_color %} jl-{{particle.slidenav_color|e}}{% endif %}">
  <a class="tm-slidenav{% if particle.larger_slidenav %} jl-slidenav-large{% endif %}{% if particle.slidenav_margin %} jl-position-{{ particle.slidenav_margin|e }}{% endif %} jl-position-center-left" href="#" jl-slidenav-previous jl-slider-item="previous"></a>
  <a class="tm-slidenav{% if particle.larger_slidenav %} jl-slidenav-large{% endif %}{% if particle.slidenav_margin %} jl-position-{{ particle.slidenav_margin|e }}{% endif %} jl-position-center-right" href="#" jl-slidenav-next jl-slider-item="next"></a>
</div>
{% elseif particle.slidenav_position == 'outside' %}
<div class="{% if particle.slidenav_breakpoint %}jl-visible@{{particle.slidenav_breakpoint|e}}{% endif %}{% if particle.slidenav_outside_color %} jl-{{particle.slidenav_outside_color|e}}{% endif %}">
  <a class="tm-slidenav{% if particle.larger_slidenav %} jl-slidenav-large{% endif %}{% if particle.slidenav_margin %} jl-position-{{ particle.slidenav_margin|e }}{% endif %} jl-position-center-left" jl-slidenav-previous href="#" jl-slider-item="previous" jl-toggle="cls: jl-position-center-left-out jl-position-center-left; mode: media; media:{% if particle.slidenav_outside_breakpoint %} @{{particle.slidenav_outside_breakpoint|e}}{% endif %}"></a>
  <a class="tm-slidenav{% if particle.larger_slidenav %} jl-slidenav-large{% endif %}{% if particle.slidenav_margin %} jl-position-{{ particle.slidenav_margin|e }}{% endif %} jl-position-center-right" href="#" jl-slidenav-next jl-slider-item="next" jl-toggle="cls: jl-position-center-right-out jl-position-center-right; mode: media; media:{% if particle.slidenav_outside_breakpoint %} @{{particle.slidenav_outside_breakpoint|e}}{% endif %}"></a>
</div>
{% else %}
<div class="jl-slidenav-container{% if particle.slidenav_margin %} jl-position-{{ particle.slidenav_margin|e }}{% endif %} jl-position-{{ particle.slidenav_position|e }}{% if particle.slidenav_breakpoint %} jl-visible@{{particle.slidenav_breakpoint|e}}{% endif %}{% if particle.slidenav_hover == 'enabled' %} jl-hidden-hover jl-hidden-touch{% endif %}{% if particle.slidenav_color %} jl-{{particle.slidenav_color|e}}{% endif %}">
  <a class="tm-slidenav{% if particle.larger_slidenav %} jl-slidenav-large{% endif %}" href="#" jl-slidenav-previous jl-slider-item="previous"></a>
  <a class="tm-slidenav{% if particle.larger_slidenav %} jl-slidenav-large{% endif %}" href="#" jl-slidenav-next jl-slider-item="next"></a>
</div>
{% endif %}
{% endif %}
{# End Slidenav #}

</div>

{# Navigation #}
{% if particle.navigation == 'enabled' %}
{% if particle.navigation_color == 'default' %}
{% else %}
<div class="jl-{{particle.navigation_color|e}}">
{% endif %}
<ul class="tm-nav jl-slider-nav jl-dotnav{% if particle.navigation_position %} jl-flex-{{ particle.navigation_position|e }}{% endif %}{% if particle.navigation_margin %} jl-margin-{{ particle.navigation_margin|e }}{% endif %}{% if particle.navigation_breakpoint %} jl-visible@{{particle.navigation_breakpoint|e}}{% endif %}" jl-margin>
{% for article in articles %}
<li jl-slider-item="{{ loop.index0 }}"><a href="#"{% if particle.show_tooltip == '1' and article.images.image_intro_alt != '' %}jl-tooltip="{{ article.images.image_intro_alt }}"{% endif %}></a></li>
{% endfor %}
</ul>
{% if particle.navigation_color == 'default' %}
{% else %}
</div>
{% endif %}
{% endif %}
{# End Navigation #}

</div>

{% endif %}
{% endblock %}
