{% extends '@nucleus/partials/particle.html.twig' %}

{% block stylesheets %}
<style>
.{{id}} {box-sizing: content-box;}
{% if particle.particle_title_color or particle.particle_title_fontsize %}
#{{ id }}.g5-particle-title { {% if particle.particle_title_color %}color: {{ particle.particle_title_color }};{% endif %}{% if particle.particle_title_fontsize %}font-size: {{particle.particle_title_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.customize_title_color or particle.customize_title_fontsize %}
#{{ id }} .tm-title a { {% if particle.customize_title_color %}color: {{particle.customize_title_color}} !important; {% endif %}{% if particle.customize_title_fontsize %}font-size: {{particle.customize_title_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.customize_content_color or particle.customize_content_fontsize %}
#{{ id }} .tm-content { {% if particle.customize_content_color %}color: {{particle.customize_content_color}} !important;{% endif %}{% if particle.customize_content_fontsize %} font-size: {{particle.customize_content_fontsize}}px;{% endif %} }
{% endif %}
#{{ id }} .tm-meta li span, #{{ id }} .tm-meta li a { {% if particle.meta_color %}color: {{particle.meta_color}};{% endif %}{% if particle.meta_fontsize %} font-size: {{particle.meta_fontsize}}px; {% else %} font-size: 13px;{% endif %} }
</style>
{% endblock %}

{# Set Title Text Transform #}
{% set title_text_transform %}
{% if particle.title_text_transform %} jl-text-{{particle.title_text_transform|e}}{% endif %}
{% endset %}

{# Set Meta Text Transform #}
{% set meta_text_transform %}
{% if particle.meta_text_transform %} jl-text-{{particle.meta_text_transform|e}}{% endif %}
{% endset %}

{# Set Content Text Transform #}
{% set content_text_transform %}
{% if particle.content_text_transform %} jl-text-{{particle.content_text_transform|e}}{% endif %}
{% endset %}

{% set attr_extra = particle.extra|attribute_array %}
{% set article_settings = particle.article %}
{% set filter = article_settings.filter %}
{% set sort = article_settings.sort %}
{% set limit = article_settings.limit %}
{% set display = article_settings.display %}

{# Category Finder #}
{% set category_options = filter.categories ? {id: [filter.categories|split(','), 0]} : {} %}
{% set categories = joomla.finder('category', category_options).published(1).language().limit(0).find() %}

{# Content Finder #}
{% if filter.articles %}
{% set article_options = filter.articles ? {id: [filter.articles|replace(' ', '')|split(',')]} : {} %}
{% set article_finder = joomla.finder('content', article_options).published(1).language() %}
{% else %}
{% set article_finder = joomla.finder('content').category(categories).published(1).language() %}
{% endif %}

{% set featured = filter.featured|default('include') %}
{% if featured == 'exclude' %}
{% do article_finder.featured(false) %}
{% elseif featured == 'only' %}
{% do article_finder.featured(true) %}
{% endif %}

{% set start = limit.start + max(0, ajax.start|int) %}
{% do article_finder.order(sort.orderby, sort.ordering).limit(limit.total).start(start) %}
{% set total = article_finder.count() %}
{% set articles = article_finder.find() %}

{# Set Masonry #}
{% set grid_masonry %}
{% if particle.grid_masonry == '1' %}masonry: true;{% endif %}
{% endset %}

{# Set Parallax #}
{% set grid_parallax %}
{% if particle.grid_parallax != '' %}parallax: {{particle.grid_parallax}}{% endif %}
{% endset %}

{# set Scrollspy Animation #}
{% set scrollspy_cls %}
{% if particle.delay_element_animations == '1' %} uk-scrollspy-class{% endif %}
{% endset %}

{# set Animation #}
{% set animation %}
{% if particle.animation != 'inherit' %}
{% if particle.delay_element_animations == '1' %} jl-scrollspy="target: [uk-scrollspy-class]; cls: jl-animation-{{particle.animation|e}};{% if particle.animation_repeat != 'disabled' %} repeat: true;{% endif %} delay: 200;"{% else %} jl-scrollspy="cls: jl-animation-{{particle.animation|e}};{% if particle.animation_repeat != 'disabled' %} repeat: true;{% endif %}{% if particle.animation_delay != '' %} delay: {{particle.animation_delay|e}};{% endif %}"{% endif %}
{% endif %}
{% endset %}

{# Set Max-Width Content #}
{% set content_maxwidth %}
{% if particle.g_maxwidth != 'inherit' %} jl-width-{{particle.g_maxwidth}}{% if particle.g_maxwidth_breakpoint != 'always' %}@{{particle.g_maxwidth_breakpoint}}{% endif %}{% if particle.g_maxwidth_alignment == 'left' %}{% elseif particle.g_maxwidth_alignment == 'center' %} jl-margin-auto{% else %} jl-margin-auto-left{% endif %}{% endif %}
{% endset %}

{# Set Particle Alignment #}
{% set particle_alignment %}
{% if particle.align != 'inherit' %} jl-text-{{particle.align|e}}{% if particle.breakpoint != 'always' %}@{{particle.breakpoint|e}}{% endif %}{% endif %}{% if particle.align != 'inherit' and particle.breakpoint != 'always' %}{% if particle.fallback != 'inherit' %} jl-text-{{particle.fallback|e}}{% endif %}{% endif %}
{% endset %}

{# set Particle Title Style #}
{% set particle_title_style %}
{% if particle.particle_title %}
<{{particle.particle_title_element|e}} id="{{ id }}" class="g5-particle-title{% if particle.particle_title_align != 'inherit' %} jl-text-{{particle.particle_title_align|e}}{% endif %}{% if particle.particle_predefined_color != 'default' %} jl-text-{{particle.particle_predefined_color|e}}{% endif %}{% if particle.particle_title_style != 'default' %} jl-{{particle.particle_title_style|e}}{% endif %}{% if particle.particle_title_decoration != 'none' %} jl-heading-{{particle.particle_title_decoration|e}}{% endif %}">
{% if particle.particle_title_decoration == 'line' %} <span>{{particle.particle_title|raw}}</span>
{% else %} {{particle.particle_title|raw}}
{% endif %}
</{{particle.particle_title_element|e}}>
{% endif %}
{% endset %}

{% set imagewidth %}
{% if particle.image_width %} width = "{{particle.image_width}}"{% endif %}
{% endset %}

{% set imageheight %}
{% if particle.image_height %} height = "{{particle.image_height}}"{% endif %}
{% endset %}

{# Set Button Class #}
{% set button_cls %}
{% if display.read_more.button_styles == 'link' %}jl-link{% elseif display.read_more.button_styles == 'link-muted' or display.read_more.button_styles == 'link-text' %}jl-{{display.read_more.button_styles|e}}{% else %}jl-button jl-button-{{display.read_more.button_styles|e}}{% endif %}
{% endset %}

{# Set Button Size #}
{% set button_size %}
{% if display.read_more.button_styles == 'link' or display.read_more.button_styles == 'link-muted' or display.read_more.button_styles == 'link-text' or display.read_more.button_styles == 'text' %}{% else %}{% if particle.link_button_size != 'default' %} jl-button-{{particle.link_button_size|e}}{% endif %}{% endif %}
{% endset %}

{# Set Image Margin Top Class #}
{% set image_top_cls %}
{% if particle.image_alignment == 'bottom' or particle.image_alignment == 'between' %}{% if particle.image_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.image_margin_top|e }}-top{% endif %}{% endif %}
{% endset %}

{# Set Image Margin Top Class #}
{% set image_top_cls2 %}
{% if particle.image_alignment == 'bottom' or particle.image_alignment == 'between' %}{% if particle.image_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.image_margin_top|e }}-top{% endif %}{% endif %}
{% endset %}

{# Set Image Margin Top Transition #}
{% set image_top_cls_transition %}{% if particle.image_transition != 'none' %}{% else %}{{image_top_cls}}{% endif %}
{% endset %}

{# Image Box Shadow #}
{% set image_boxshadow %}
{% if particle.box_shadow != 'none' %} jl-box-shadow-{{particle.box_shadow|e}}{% endif %}{% if particle.box_shadow_hover != 'none' %} jl-box-shadow-hover-{{particle.box_shadow_hover|e}}{% endif %}
{% endset %}

{# Set Image Border Class #}
{% set image_border_cls %}
{% if particle.image_padding == '1' %}{% else %}{% if particle.image_border != 'none' %} jl-border-{{particle.image_border|e}}{% endif %}{% endif %}
{% endset %}

{# Image Transition #}
{% set image_transition %}
{% if particle.image_transition != 'none' %} jl-transition-{{ particle.image_transition|e }} jl-transition-opaque{% endif %}
{% endset %}

{# Set Card Max Width Class #}
{% set card_maxwidth_cls %}
{% if particle.card_maxwidth == 'none' %}{% else %} jl-margin-auto jl-width-{{ particle.card_maxwidth|e }}{% endif %}
{% endset %}

{# Set Grid Content #}
{% set gridcontent %}
{% for article in articles %}

{# Set Image Left/Right #}
{% set imagelr %}

{% if particle.style == 'blank' %}

{% if display.image.enabled and article.images.image_intro or article.images.image_fulltext %}
{% if article.images.image_intro and display.image.enabled == 'intro' or display.image.enabled == 'show' %}
{% if particle.image_transition != 'none' %}<div class="jl-inline-clip jl-transition-toggle" tabindex="0">{% endif %}
<img{{imagewidth}}{{imageheight}} class="tm-image{{image_border_cls}}{{image_boxshadow}}{{image_transition}}" src="{{ url(article.images.image_intro) }}"{% if article.images.image_intro_alt %} alt="{{article.images.image_intro_alt}}"{% else %} alt="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}"{% endif %}>
{% if particle.image_transition != 'none' %}</div>{% endif %}

{% elseif article.images.image_fulltext and display.image.enabled == 'full' %}

{% if particle.image_transition != 'none' %}<div class="jl-inline-clip jl-transition-toggle" tabindex="0">{% endif %}
<img{{imagewidth}}{{imageheight}} class="tm-image{{image_border_cls}}{{image_boxshadow}}{{image_transition}}" src="{{ url(article.images.image_fulltext) }}"{% if article.images.image_fulltext_alt %} alt="{{article.images.image_fulltext_alt}}"{% else %} alt="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}"{% endif %}>
{% if particle.image_transition != 'none' %}</div>{% endif %}

{% endif %}
{% endif %}

{% else %}

{% if particle.image_padding == '1' %}

{% if display.image.enabled and article.images.image_intro or article.images.image_fulltext %}
{% if article.images.image_intro and display.image.enabled == 'intro' or display.image.enabled == 'show' %}
<img class="tm-image" src="{{ url(article.images.image_intro) }}"{% if article.images.image_intro_alt %} alt="{{article.images.image_intro_alt}}"{% else %} alt="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}"{% endif %} jl-cover>
{% elseif article.images.image_fulltext and display.image.enabled == 'full' %}
<img class="tm-image" src="{{ url(article.images.image_fulltext) }}"{% if article.images.image_fulltext_alt %} alt="{{article.images.image_fulltext_alt}}"{% else %} alt="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}"{% endif %} jl-cover>
{% endif %}
{% endif %}

{% if display.image.enabled and article.images.image_intro or article.images.image_fulltext %}
{% if article.images.image_intro and display.image.enabled == 'intro' or display.image.enabled == 'show' %}
<img{{imagewidth}}{{imageheight}} class="tm-image jl-invisible{{image_border_cls}}{{image_boxshadow}}" src="{{ url(article.images.image_intro) }}"{% if article.images.image_intro_alt %} alt="{{article.images.image_intro_alt}}"{% else %} alt="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}"{% endif %}>
{% elseif article.images.image_fulltext and display.image.enabled == 'full' %}
<img{{imagewidth}}{{imageheight}} class="tm-image jl-invisible{{image_border_cls}}{{image_boxshadow}}" src="{{ url(article.images.image_fulltext) }}"{% if article.images.image_fulltext_alt %} alt="{{article.images.image_fulltext_alt}}"{% else %} alt="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}"{% endif %}>
{% endif %}
{% endif %}

{% else %}

{% if display.image.enabled and article.images.image_intro or article.images.image_fulltext %}
{% if article.images.image_intro and display.image.enabled == 'intro' or display.image.enabled == 'show' %}
{% if particle.image_transition != 'none' %}<div class="jl-inline-clip jl-transition-toggle" tabindex="0">{% endif %}
<img{{imagewidth}}{{imageheight}} class="tm-image{{image_border_cls}}{{image_boxshadow}}{{image_transition}}" src="{{ url(article.images.image_intro) }}"{% if article.images.image_intro_alt %} alt="{{article.images.image_intro_alt}}"{% else %} alt="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}"{% endif %}>
{% if particle.image_transition != 'none' %}</div>{% endif %}

{% elseif article.images.image_fulltext and display.image.enabled == 'full' %}

{% if particle.image_transition != 'none' %}<div class="jl-inline-clip jl-transition-toggle" tabindex="0">{% endif %}
<img{{imagewidth}}{{imageheight}} class="tm-image{{image_border_cls}}{{image_boxshadow}}{{image_transition}}" src="{{ url(article.images.image_fulltext) }}"{% if article.images.image_fulltext_alt %} alt="{{article.images.image_fulltext_alt}}"{% else %} alt="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}"{% endif %}>
{% if particle.image_transition != 'none' %}</div>{% endif %}

{% endif %}
{% endif %}

{% endif %}
{% endif %}

{% endset %}

{# Set Item Image #}
{% set item_image %}
{% if display.image.enabled and article.images.image_intro or article.images.image_fulltext %}
{% if article.images.image_intro and display.image.enabled == 'intro' or display.image.enabled == 'show' %}
{% if particle.image_transition != 'none' %}<div class="jl-inline-clip jl-transition-toggle{{image_top_cls2}}" tabindex="0">{% endif %}
<img{{imagewidth}}{{imageheight}} class="tm-image{{image_border_cls}}{{image_boxshadow}}{{image_top_cls_transition}}{{image_transition}}" src="{{ url(article.images.image_intro) }}"{% if article.images.image_intro_alt %} alt="{{article.images.image_intro_alt}}"{% else %} alt="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}"{% endif %}>
{% if particle.image_transition != 'none' %}</div>{% endif %}

{% elseif article.images.image_fulltext and display.image.enabled == 'full' %}

{% if particle.image_transition != 'none' %}<div class="jl-inline-clip jl-transition-toggle{{image_top_cls2}}" tabindex="0">{% endif %}
<img{{imagewidth}}{{imageheight}} class="tm-image{{image_border_cls}}{{image_boxshadow}}{{image_top_cls_transition}}{{image_transition}}" src="{{ url(article.images.image_fulltext) }}"{% if article.images.image_fulltext_alt %} alt="{{article.images.image_fulltext_alt}}"{% else %} alt="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}"{% endif %}>
{% if particle.image_transition != 'none' %}</div>{% endif %}

{% endif %}
{% endif %}
{% endset %}


{# Set Item Title #}
{% set item_title %}
{% if display.title.enabled %}
<{{particle.title_element|e}} class="tm-title jl-margin-remove-bottom{{title_text_transform}}{% if particle.title_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.title_margin_top|e }}-top{% endif %}{% if particle.title_color != 'default' %} jl-text-{{particle.title_color|e}}{% endif %}{% if particle.title_style != 'default' %} jl-{{particle.title_style|e}}{% endif %}{% if particle.title_decoration != 'none' %} jl-heading-{{particle.title_decoration|e}}{% endif %}">
{% if particle.title_decoration == 'line' %} <span><a href="{{ article.route }}">
{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}
</a></span>
{% else %}
<a href="{{ article.route }}">
{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}
</a>
{% endif %}
</{{particle.title_element|e}}>
{% endif %}
{% endset %}

{# Set Item Meta #}
{% set item_meta %}
{% if display.date.enabled or display.author.enabled or display.category.enabled or display.hits.enabled %}
<ul class="tm-meta{{meta_text_transform}}{% if particle.meta_subnav_style == 'default' %} jl-subnav{% else %} jl-subnav jl-subnav-{{particle.meta_subnav_style|e}}{% endif %}{% if particle.pre_meta_color != 'default' %} jl-text-{{particle.pre_meta_color|e}}{% endif %}{% if particle.meta_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.meta_margin_top|e }}-top{% endif %}{% if particle.meta_style != 'default' %} jl-{{ particle.meta_style|e }}{% endif %}">
{% if display.date.enabled %}
<li class="g-array-item-date">
<span>
{% if display.date.enabled == 'published' %}
{{ article.publish_up|date(display.date.format) }}
{% elseif display.date.enabled == 'modified' %}
{{ article.modified|date(display.date.format) }}
{% else %}
{{ article.created|date(display.date.format) }}
{% endif %}
</span>
</li>
{% endif %}

{% if display.author.enabled %}
<li class="g-array-item-author">
<span>{{ article.author.name }}</span>
</li>
{% endif %}

{% if display.category.enabled %}
{% set category_link = display.category.enabled == 'link' %}
<li class="g-array-item-category">
{% set cat = article.categories|last %}
{% if category_link %}
<a href="{{ cat.route }}">
{{ cat.title }}
</a>
{% else %}
{{ cat.title }}
{% endif %}
</li>
{% endif %}

{% if display.hits.enabled %}
<li class="g-array-item-hits">
<span><i class="fa fa-eye" aria-hidden="true"></i>{{ article.hits }}</span>
</li>
{% endif %}
</ul>
{% endif %}
{% endset %}

{# Set Item Content #}
{% set item_content %}
{% if display.text.type %}
{% set article_text = display.text.type == 'intro' ? article.introtext : article.text %}
<div class="tm-content jl-panel{{content_text_transform}}{% if particle.content_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.content_margin_top|e }}-top{% endif %}{% if particle.content_style != 'default' %} jl-text-{{ particle.content_style|e }}{% endif %}{% if particle.content_text_color != 'default' %} jl-text-{{ particle.content_text_color|e }}{% endif %}">
{% if display.text.formatting == 'text' %}
{{ article_text|truncate_text(display.text.limit)|raw }}
{% else %}
{{ article_text|truncate_html(display.text.limit)|raw }}
{% endif %}
</div>
{% endif %}
{% endset %}

{# Set Item Button #}
{% set item_button %}
{% if display.read_more.enabled %}
<div class="tm-button{% if particle.link_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.link_margin_top|e }}-top{% endif %}{% if particle.button_visibility != 'inherit' %} jl-visible@{{particle.button_visibility|e}}{% endif %}">
<a class="{{button_cls}}{{button_size}}" href="{{ article.route }}" target="{{ particle.buttontarget|default('_self')|e }}" title="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}">{{ display.read_more.label|default('Read More...') }}</a>
</div>
{% endif %}
{% endset %}

<div>

{% if particle.image_alignment == 'top' or particle.image_alignment == 'bottom' or particle.image_alignment == 'between' %}

{# Default Style #}

{% if particle.style == 'blank' %}

{# Card Blank #}
<div class="jl-panel jl-margin-remove-first-child{{card_maxwidth_cls}}"{{scrollspy_cls}}>

{% if particle.image_alignment == 'top' %}
{{item_image}}
{% endif %}

{% if particle.meta_alignment == 'top' %}
{{item_meta}}
{% endif %}

{{item_title}}

{% if particle.meta_alignment == 'bottom' %}
{{item_meta}}
{% endif %}

{% if particle.image_alignment == 'between' %}
{{item_image}}
{% endif %}

{{item_content}}

{% if particle.meta_alignment == 'content' %}
{{item_meta}}
{% endif %}

{{item_button}}

{% if particle.image_alignment == 'bottom' %}
{{item_image}}
{% endif %}

</div>

{# End Card Blank #}

{% else %}

{# Card styles #}

{% if particle.image_padding == '1' %}

<div class="jl-card jl-card-{{ particle.style }}{% if particle.cardsize != 'default' %} jl-card-{{ particle.cardsize }}{% endif %}{{card_maxwidth_cls}}"{{scrollspy_cls}}>

{% if particle.image_alignment == 'top' %}
<div class="jl-card-media-top">
{{item_image}}
</div>
{% endif %}

<div class="jl-card-body jl-margin-remove-first-child">

{% if particle.meta_alignment == 'top' %}
{{item_meta}}
{% endif %}

{{item_title}}

{% if particle.meta_alignment == 'bottom' %}
{{item_meta}}
{% endif %}

{% if particle.image_alignment == 'between' %}
{{item_image}}
{% endif %}

{{item_content}}

{% if particle.meta_alignment == 'content' %}
{{item_meta}}
{% endif %}

{{item_button}}

</div>

{% if particle.image_alignment == 'bottom' %}
<div class="jl-card-media-bottom">
{{item_image}}
</div>
{% endif %}

</div>

{% else %}

<div class="jl-card jl-card-{{ particle.style }} jl-card-body{% if particle.cardsize == 'default' %}{% else %} jl-card-{{ particle.cardsize }}{% endif %} jl-margin-remove-first-child{{card_maxwidth_cls}}"{{scrollspy_cls}}>

{% if particle.image_alignment == 'top' %}
{{item_image}}
{% endif %}

{% if particle.meta_alignment == 'top' %}
{{item_meta}}
{% endif %}

{{item_title}}

{% if particle.meta_alignment == 'bottom' %}
{{item_meta}}
{% endif %}

{% if particle.image_alignment == 'between' %}
{{item_image}}
{% endif %}

{{item_content}}

{% if particle.meta_alignment == 'content' %}
{{item_meta}}
{% endif %}

{{item_button}}

{% if particle.image_alignment == 'bottom' %}
{{item_image}}
{% endif %}

</div>

{% endif %}


{# End card style #}

{% endif %}

{# End Default Style #}

{% else %}

{# Grid Style #}

{% if particle.style == 'blank' %}

{# Card Blank #}
<div class="jl-panel jl-margin-remove-first-child{{card_maxwidth_cls}}"{{scrollspy_cls}}>
<div class="jl-child-width-expand{% if particle.image_grid_gutter != 'default' %} jl-grid-{{ particle.image_grid_gutter|e }}{% endif %}{% if particle.image_vertical_alignment == '1' %} jl-flex-middle{% endif %}" jl-grid>

<div class="jl-width-{{ particle.image_grid_width }}{% if particle.image_grid_breakpoint != 'default' %}@{{ particle.image_grid_breakpoint|e }}{% endif %}{% if particle.image_alignment == 'right' %} jl-flex-last{% if particle.image_grid_breakpoint != 'default' %}@{{ particle.image_grid_breakpoint|e }}{% endif %}{% endif %}">
{{imagelr}}
</div>

<div class="jl-margin-remove-first-child">

{% if particle.meta_alignment == 'top' %}
{{item_meta}}
{% endif %}

{{item_title}}

{% if particle.meta_alignment == 'bottom' %}
{{item_meta}}
{% endif %}

{{item_content}}

{% if particle.meta_alignment == 'content' %}
{{item_meta}}
{% endif %}

{{item_button}}

</div>

</div>

</div>

{# End Card Blank #}

{% else %}

{# Card styles #}

{% if particle.image_padding == '1' %}

<div class="jl-card jl-card-{{ particle.style }}{% if particle.cardsize != 'default' %} jl-card-{{ particle.cardsize }}{% endif %}{{card_maxwidth_cls}}"{{scrollspy_cls}}>

{% if particle.image_padding == '1' %}
<div class="jl-child-width-expand jl-grid-collapse jl-grid-match{% if particle.image_vertical_alignment == '1' %} jl-flex-middle{% endif %}" jl-grid>
{% else %}
<div class="jl-child-width-expand{% if particle.image_grid_gutter != 'default' %} jl-grid-{{ particle.image_grid_gutter|e }}{% endif %}{% if particle.image_vertical_alignment == '1' %} jl-flex-middle{% endif %}" jl-grid>
{% endif %}

<div class="jl-width-{{ particle.image_grid_width }}{% if particle.image_grid_breakpoint != 'default' %}@{{ particle.image_grid_breakpoint|e }}{% endif %}{% if particle.image_alignment == 'right' %} jl-flex-last{% if particle.image_grid_breakpoint != 'default' %}@{{ particle.image_grid_breakpoint|e }}{% endif %}{% endif %}">

<div class="jl-cover-container{% if particle.image_alignment == 'right' %} jl-card-media-right{% else %} jl-card-media-left{% endif %}">
{{imagelr}}
</div>

</div>

<div>
<div class="jl-card-body jl-margin-remove-first-child">

{% if particle.meta_alignment == 'top' %}
{{item_meta}}
{% endif %}

{{item_title}}

{% if particle.meta_alignment == 'bottom' %}
{{item_meta}}
{% endif %}

{{item_content}}

{% if particle.meta_alignment == 'content' %}
{{item_meta}}
{% endif %}

{{item_button}}

</div>
</div>
</div>
</div>

{% else %}

<div class="jl-card jl-card-{{ particle.style }} jl-card-body{% if particle.cardsize != 'default' %} jl-card-{{ particle.cardsize }}{% endif %}{{card_maxwidth_cls}} jl-margin-remove-first-child"{{scrollspy_cls}}>

<div class="jl-child-width-expand{% if particle.image_grid_gutter != 'default' %} jl-grid-{{ particle.image_grid_gutter|e }}{% endif %}{% if particle.image_vertical_alignment == '1' %} jl-flex-middle{% endif %}" jl-grid>

<div class="jl-width-{{ particle.image_grid_width }}{% if particle.image_grid_breakpoint != 'default' %}@{{ particle.image_grid_breakpoint|e }}{% endif %}{% if particle.image_alignment == 'right' %} jl-flex-last{% if particle.image_grid_breakpoint != 'default' %}@{{ particle.image_grid_breakpoint|e }}{% endif %}{% endif %}">

{{imagelr}}

</div>

<div class="jl-margin-remove-first-child">

{% if particle.meta_alignment == 'top' %}
{{item_meta}}
{% endif %}

{{item_title}}

{% if particle.meta_alignment == 'bottom' %}
{{item_meta}}
{% endif %}

{{item_content}}

{% if particle.meta_alignment == 'content' %}
{{item_meta}}
{% endif %}

{{item_button}}

</div>

</div>

</div>

{% endif %}

{# End card style #}

{% endif %}

{# End Grid style #}

{% endif %}

</div>
{% endfor %}
{% endset %}

{# End Grid content #}

{% block particle %}
{% if particle.enabled %}
{{particle_title_style}}
<div id="{{ id }}" class="{{id}}{% if particle.css.class %} {{ particle.css.class }}{% endif %} jl-content-grid{{content_maxwidth}}{% if particle.class %} {{ particle.class }}{% endif %}{% if particle.grid_divider == '1' %} jl-grid-divider{% endif %}{% if particle.grid_match_height == '1' %} jl-grid-match{% endif %}{% if particle.grid_gutter != 'default' %} jl-grid-{{ particle.grid_gutter|e }}{% endif %}{% if particle.phone_portrait %} jl-child-width-1-{{ particle.phone_portrait|e }}{% endif %}{% if particle.phone_landscape != 'inherit' %} jl-child-width-1-{{ particle.phone_landscape|e }}@s{% endif %}{% if particle.tablet_landscape != 'inherit' %} jl-child-width-1-{{ particle.tablet_landscape|e }}@m{% endif %}{% if particle.desktop != 'inherit' %} jl-child-width-1-{{ particle.desktop|e }}@l{% endif %}{% if particle.large_desktop != 'inherit' %} jl-child-width-1-{{ particle.large_desktop|e }}@xl{% endif %}{{particle_alignment}}{% if particle.margin == 'inherit' %}{% elseif particle.margin == 'default' %} jl-margin{% else %} jl-margin-{{particle.margin|e}}{% endif %}{% if particle.visibility != 'inherit' %} jl-visible@{{particle.visibility|e}}{% endif %}"{{animation}} jl-grid="{{grid_masonry}}{{grid_parallax}}" {{- attr_extra|raw }}>
{{gridcontent}}
</div>
{% endif %}
{% endblock %}
