{% extends '@nucleus/partials/particle.html.twig' %}

{% block javascript_footer %}
<script>
jlUIkit.notification({message: '{% if particle.link %}<a href=\'{{particle.link}}\' target=\'{{ particle.target|default('_self')|e }}\'>{% endif %}{{particle.message|e('js')}}{% if particle.link %}</a>{% endif %}', pos: '{{particle.position}}'{% if particle.timeout != '' %}, timeout: {{particle.timeout}}{% else %}, timeout: 0{% endif %}{% if particle.style != 'default' %},status: '{{particle.style}}{% if particle.style_extended != 'default' %}-{{particle.style_extended}}{% endif %}'{% endif %} })
</script>
{% endblock %}
