{% extends '@nucleus/partials/particle.html.twig' %}

{% block stylesheets %}
{% if particle.particle_title_color or particle.particle_title_fontsize or particle.customize_title_color or particle.customize_title_fontsize or particle.lineshape_color or particle.lineshape_fontsize or particle.lineshape_margin or particle.lineshape_color or particle.lineshape_fontsize or particle.lineshape_margin or particle.circle_color or particle.circle_fontsize or particle.semicircle_color or particle.semicircle_fontsize %}
<style>
{% if particle.particle_title_color or particle.particle_title_fontsize %}
#{{ id }}.g5-particle-title { {% if particle.particle_title_color %}color: {{ particle.particle_title_color }};{% endif %}{% if particle.particle_title_fontsize %}font-size: {{particle.particle_title_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.customize_title_color or particle.customize_title_fontsize %}
#{{ id }} .tm-title { {% if particle.customize_title_color %}color: {{particle.customize_title_color}}; {% endif %}{% if particle.customize_title_fontsize %}font-size: {{particle.customize_title_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.customize_label_color or particle.customize_label_fontsize %}
#{{ id }} .tm-progress-label { {% if particle.customize_label_color %}color: {{particle.customize_label_color}} !important; {% endif %}{% if particle.customize_label_fontsize %}font-size: {{particle.customize_label_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.lineshape_color or particle.lineshape_fontsize or particle.lineshape_margin %}
#{{ id }} .tm-progress-label { {% if particle.lineshape_color %}color: {{particle.lineshape_color}} !important;{% endif %}{% if particle.lineshape_fontsize %} font-size: {{particle.lineshape_fontsize}}px;{% endif %}{% if particle.lineshape_margin %}margin-top: -{{particle.lineshape_margin}}px !important;{% endif %} }
{% endif %}
{% if particle.circle_color or particle.circle_fontsize %}
#{{ id }} .tm-progress-label-circle { {% if particle.circle_color %}color: {{particle.circle_color}} !important;{% endif %}{% if particle.circle_fontsize %} font-size: {{particle.circle_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.semicircle_color or particle.semicircle_fontsize %}
#{{ id }} .tm-progress-label-semicircle { {% if particle.semicircle_color %}color: {{particle.semicircle_color}} !important;{% endif %}{% if particle.semicircle_fontsize %} font-size: {{particle.semicircle_fontsize}}px;{% endif %} }
{% endif %}
</style>
{% endif %}
{% endblock %}
{% set rand = random() %}
{# set Viewport Height #}
{% set viewport_height %}
{% if particle.viewport_height == 'none' %}
{% elseif particle.viewport_height == 'full' %}
jl-height-viewport="offset-top: true"
{% elseif particle.viewport_height == 'percent' %}
jl-height-viewport="offset-top: true;offset-bottom: 20"
{% elseif particle.viewport_height == 'section' %}
jl-height-viewport="offset-top: true;offset-bottom: 50"
{% elseif particle.viewport_height == 'expand' %}
jl-height-viewport="expand: true"
{% endif %}
{% endset %}

{# Set Title Text Transform #}
{% set title_text_transform %}
{% if particle.title_text_transform %} jl-text-{{particle.title_text_transform|e}}{% endif %}
{% endset %}

{# set padding #}
{% set padding %}
{% if particle.viewport_height == 'full' %}
{% else %}
{% if particle.padding == 'default' %}{% else %} jl-section-{{particle.padding|e}}{% endif %}
{% endif %}
{% endset %}

{# set Container #}
{% set container %}
{% if particle.container == '1' %}
<div class="jl-container"><div class="g5-content g5-particle">{% endif %}
{% endset %}

{# set End Container #}
{% set endcontainer %}
{% if particle.container == '1' %}
</div></div>{% endif %}
{% endset %}

{# set Background color #}
{% set parallax_bg_color %}
{% if particle.parallax_bg_color %}
style="background-color: {{particle.parallax_bg_color}};"{% endif %}
{% endset %}

{# Set Max-Width Content #}
{% set content_maxwidth %}
{% if particle.g_maxwidth != 'inherit' %} jl-width-{{particle.g_maxwidth}}{% if particle.g_maxwidth_breakpoint != 'always' %}@{{particle.g_maxwidth_breakpoint}}{% endif %}{% if particle.g_maxwidth_alignment == 'left' %}{% elseif particle.g_maxwidth_alignment == 'center' %} jl-margin-auto{% else %} jl-margin-auto-left{% endif %}{% endif %}
{% endset %}

{# set Parallax Background #}
{% set parallaxbackground %}
{% if particle.parallax_image %}
<div data-src="{{ url(particle.parallax_image)|e }}" class="{{id}} jl-background-norepeat{{padding}}{{content_maxwidth}} jl-background-{{particle.background_image_position|e}}{% if particle.background_image_size != 'auto' %} jl-background-{{particle.background_image_size|e}}{% endif %}{% if particle.parallax_bg_visibility != 'always' %} jl-background-image@{{particle.parallax_bg_visibility|e}}{% endif %}{% if particle.vertical_alignment != 'none' %} jl-flex jl-flex-{{particle.vertical_alignment|e}}{% endif %}{% if particle.parallax_text_color != 'default' %} jl-{{particle.parallax_text_color|e}}{% endif %}{% if particle.blendmode != 'inherit' %} jl-background-blend-{{particle.blendmode|e}}{% endif %}" {{parallax_bg_color}}{% if particle.horizontal_start or particle.horizontal_end or particle.vertical_start or particle.vertical_end %} jl-parallax="{% if particle.horizontal_start or particle.horizontal_end %}bgx: {{particle.horizontal_start|e}},{{particle.horizontal_end|e}};{% endif %}{% if particle.vertical_start or particle.vertical_end %}bgy: {{particle.vertical_start|e}},{{particle.vertical_end|e}};{% endif %}{% if particle.parallax_bg_breakpoint != 'always' %} media: @{{particle.parallax_bg_breakpoint|e}}{% endif %}" {% endif %} jl-img {{viewport_height}}>
{{container}}
{% endif %}
{% endset %}

{# End Parallax Background #}
{% set endparallaxbackground %}
{% if particle.parallax_image %}
{{endcontainer}}
</div>
{% endif %}
{% endset %}

{# Set Horizontal #}
{% set pahorizontal %}
{% if particle.pa_horizontal_start or particle.pa_horizontal_end %}x: {% if particle.pa_horizontal_start == '' %}0{% else %}{{particle.pa_horizontal_start }}{% endif %},{% if particle.pa_horizontal_end == '' %}0{% else %}{{particle.pa_horizontal_end }}{% endif %};{% endif %}
{% endset %}

{# Set Vertical #}
{% set pavertical %}
{% if particle.pa_vertical_start or particle.pa_vertical_end %}y: {% if particle.pa_vertical_start == '' %}0{% else %}{{particle.pa_vertical_start }}{% endif %},{% if particle.pa_vertical_end == '' %}0{% else %}{{particle.pa_vertical_end }}{% endif %};{% endif %}
{% endset %}

{# Set Scale #}
{% set scale %}
{% if particle.scale_start or particle.scale_end %}scale: {% if particle.scale_start == '' %}1{% else %}{{particle.scale_start / 100 }}{% endif %},{% if particle.scale_end == '' %}1{% else %} {{particle.scale_end / 100 }}{% endif %};{% endif %}
{% endset %}

{# Set Rotate #}
{% set rotate %}{% if particle.rotate_start or particle.rotate_end %}
rotate: {% if particle.rotate_start == '' %}0{% else %}{{particle.rotate_start}}{% endif %},{% if particle.rotate_end == '' %}0{% else %}{{particle.rotate_end}}{% endif %};{% endif %}
{% endset %}

{# Set Opacity #}
{% set opacity %}
{% if particle.opacity_start or particle.opacity_end %}opacity: {% if particle.opacity_start == '' %}1{% else %}{{particle.opacity_start / 100 }}{% endif %},{% if particle.opacity_end == '' %}1{% else %}{{particle.opacity_end / 100 }}{% endif %};{% endif %}
{% endset %}

{# set Scrollspy Animation #}
{% set scrollspy_cls %}
{% if particle.delay_element_animations == '1' %} jl-scrollspy-class{% endif %}
{% endset %}

{# set Animation #}
{% set animation %}
{% if particle.animation == 'parallax' %}
{% if particle.pa_horizontal_start or particle.pa_horizontal_end or particle.pa_vertical_start or particle.pa_vertical_end or particle.scale_start or particle.scale_end or particle.rotate_start or particle.rotate_end or particle.opacity_start or particle.opacity_end or particle.easing or particle.pa_viewport or particle.pa_breakpoint %} jl-parallax="{{pahorizontal}}{{pavertical}}{{scale}}{{rotate}}{{opacity}}{% if particle.easing == '' %}{% else %}easing: {{ particle.easing / 100 }};{% endif %}{% if particle.pa_viewport != '' %}viewport:{{ particle.pa_viewport / 100 }};{% endif %}{% if particle.pa_breakpoint != 'always' %}media: @{{particle.pa_breakpoint|e}}{% endif %}"{% endif %}
{% else %}
{% if particle.animation != 'inherit' %}
{% if particle.delay_element_animations == '1' %} jl-scrollspy="target: [jl-scrollspy-class]; cls: jl-animation-{{particle.animation|e}};{% if particle.animation_repeat != 'disabled' %} repeat: true;{% endif %}{% if particle.animation_delay != '' %} delay: {{particle.animation_delay|e}};{% else %} delay: 200;{% endif %}"{% else %} jl-scrollspy="cls: jl-animation-{{particle.animation|e}};{% if particle.animation_repeat != 'disabled' %} repeat: true;{% endif %}{% if particle.animation_delay != '' %} delay: {{particle.animation_delay|e}};{% endif %}"{% endif %}
{% endif %}
{% endif %}
{% endset %}

{# Set Particle Alignment #}
{% set particle_alignment %}
{% if particle.align != 'inherit' %} jl-text-{{particle.align|e}}{% if particle.breakpoint != 'always' %}@{{particle.breakpoint|e}}{% endif %}{% endif %}{% if particle.align != 'inherit' and particle.breakpoint != 'always' %}{% if particle.fallback != 'inherit' %} jl-text-{{particle.fallback|e}}{% endif %}{% endif %}
{% endset %}

{# set Particle Title Style #}
{% set particle_title_style %}
{% if particle.particle_title %}
<{{particle.particle_title_element|e}} id="{{ id }}" class="g5-particle-title{% if particle.particle_title_align != 'inherit' %} jl-text-{{particle.particle_title_align|e}}{% endif %}{% if particle.particle_predefined_color != 'default' %} jl-text-{{particle.particle_predefined_color|e}}{% endif %}{% if particle.particle_title_style != 'default' %} jl-{{particle.particle_title_style|e}}{% endif %}{% if particle.particle_title_decoration != 'none' %} jl-heading-{{particle.particle_title_decoration|e}}{% endif %}">
{% if particle.particle_title_decoration == 'line' %} <span>{{particle.particle_title|raw}}</span>
{% else %} {{particle.particle_title|raw}}
{% endif %}
</{{particle.particle_title_element|e}}>
{% endif %}
{% endset %}

{% block particle %}
{% if particle.enabled %}
{{parallaxbackground}}
{{particle_title_style}}
<div id="{{ id }}" class="tm-progress-container-{{id}}{{content_maxwidth}}{% if particle.class %} {{ particle.class }}{% endif %}{% if particle.grid_divider == '1' %} jl-grid-divider{% endif %}{% if particle.grid_gutter != 'default' %} jl-grid-{{ particle.grid_gutter|e }}{% endif %}{% if particle.phone_portrait %} jl-child-width-1-{{ particle.phone_portrait|e }}{% endif %}{% if particle.phone_landscape != 'inherit' %} jl-child-width-1-{{ particle.phone_landscape|e }}@s{% endif %}{% if particle.tablet_landscape != 'inherit' %} jl-child-width-1-{{ particle.tablet_landscape|e }}@m{% endif %}{% if particle.desktop != 'inherit' %} jl-child-width-1-{{ particle.desktop|e }}@l{% endif %}{% if particle.large_desktop != 'inherit' %} jl-child-width-1-{{ particle.large_desktop|e }}@xl{% endif %}{{particle_alignment}}{% if particle.margin == 'inherit' %}{% elseif particle.margin == 'default' %} jl-margin{% else %} jl-margin-{{particle.margin|e}}{% endif %}{% if particle.visibility != 'inherit' %} jl-visible@{{particle.visibility|e}}{% endif %}"{{animation}} jl-grid>
{% for item in particle.items %}
<div class="tm-progress-item"{{scrollspy_cls}}>
{% if particle.bar_alignment == 'top' %}
{% if item.text %}
<{{particle.title_element|e}} class="tm-title jl-margin-remove-bottom{{title_text_transform}}{% if particle.title_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.title_margin_top|e }}-top{% endif %}{% if particle.title_color != 'default' %} jl-text-{{particle.title_color|e}}{% endif %}{% if particle.title_style != 'default' %} jl-{{particle.title_style|e}}{% endif %}{% if particle.title_decoration != 'none' %} jl-heading-{{particle.title_decoration|e}}{% endif %}">
{% if particle.title_decoration == 'line' %} <span>{{ item.text|raw }}</span>
{% else %}
{{ item.text|raw }}
{% endif %}
</{{particle.title_element|e}}>
{% endif %}
{% endif %}
    <div class="tm-progress-bar-{{rand}}{% if particle.bar_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.bar_margin_top|e }}-top{% endif %}" progress-data='{
      {% if particle.shape == 'Line' %}"shape":"Line",
      {% elseif particle.shape == "Circle" %}"shape":"Circle",
      {% else %}"shape":"SemiCircle",{% endif %}
      "width":{{particle.width}},
      "duration":{{particle.duration}},
      "percent":{{item.percent}},
      "stroke":"{{item.stroke == "" ? "#ff5e14" : item.stroke}}",
      "trail": "{{item.trail == "" ? "#f5f6f7" : item.trail}}"
    }'>
  </div>
  {% if particle.bar_alignment == 'bottom' %}
  {% if item.text %}
  <{{particle.title_element|e}} class="tm-title jl-margin-remove-bottom{{title_text_transform}}{% if particle.title_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.title_margin_top|e }}-top{% endif %}{% if particle.title_color != 'default' %} jl-text-{{particle.title_color|e}}{% endif %}{% if particle.title_style != 'default' %} jl-{{particle.title_style|e}}{% endif %}{% if particle.title_decoration != 'none' %} jl-heading-{{particle.title_decoration|e}}{% endif %}">
  {% if particle.title_decoration == 'line' %} <span>{{ item.text|raw }}</span>
  {% else %}
  {{ item.text|raw }}
  {% endif %}
  </{{particle.title_element|e}}>
  {% endif %}
  {% endif %}
</div>
{% endfor %}
</div>

{{endparallaxbackground}}
{% endif %}
{% endblock %}

{% block javascript_footer %}
{% do gantry.load('jquery') %}
<script src="{{ url('gantry-theme://js/progressbar.min.js') }}"></script>
<script src="{{ url('gantry-theme://js/jquery.waypoints.min.js') }}"></script>
<script>
function triggerBar(id){
  arrbar.forEach(function(bar){
    if (bar.id == id){
      bar.item.set(0);
      bar.item.animate(bar.percent/100);
    }
  });
  //bar.animate(50/100);
}
var arrbar = [];
jQuery(function($){

  $('.tm-progress-bar-{{rand}}').each(function(index,element){
    var data = $(this).attr('progress-data');
    data = jQuery.parseJSON(data);
    var mar = 25 + data.width * 15;
    if (data.shape == 'Line'){
      var bar = new ProgressBar.Line(this, {
        strokeWidth: data.width,
        duration: data.duration,
        color: data.stroke,
        trailColor: data.trail,
        text: {
          className: 'tm-progress-label',
          style: {
            'margin-top': '-' + mar + 'px',
            'float' : 'left',
            {% if particle.label_alignment == 'right' or particle.label_alignment == 'auto' %}
            'margin-left' : data.percent + '%',
            {% else %}
            'margin-left' : '0%',
            {% endif %}

            transform: null
          },
          autoStyleContainer: false
        },
        step: (state, bar) => {
          bar.setText(Math.round(bar.value() * 100) + '%');
          $(this).parent()

          {% if particle.label_alignment == 'auto' %}
          $(this).children('.tm-progress-label').css('margin-left',bar.value() * 100 - 3 + '%');
          {% endif %}
        }
      });

    }else if (data.shape=="Circle"){
      var bar = new ProgressBar.Circle(this, {
        strokeWidth: data.width,
        trailWidth: data.width,
        duration: data.duration,
        color: data.stroke,
        trailColor: data.trail,
        text: {
          className: 'tm-progress-label-circle',
          autoStyleContainer: true
        },
        from: { color: data.stroke, width: data.width},
        to: { color: data.stroke, width: data.width },
        step: function(state, circle) {
          circle.path.setAttribute('stroke', state.color);
          circle.path.setAttribute('stroke-width', state.width);

          var value = Math.round(circle.value() * 100);
          if (value === 0) {
            circle.setText('');
          } else {
            circle.setText(value + '%');
          }
        }
      });
    }else if (data.shape=="SemiCircle"){
      var bar = new ProgressBar.SemiCircle(this, {
        strokeWidth: data.width,

        trailWidth: data.width,
        duration: data.duration,
        color: data.stroke,
        trailColor: data.trail,
        text: {
          className: 'tm-progress-label-semicircle',
          alignToBottom: true
        },
        from: { color: data.stroke},
        to: { color: data.stroke },
        step: (state, bar) => {
          bar.path.setAttribute('stroke', state.color);
          var value = Math.round(bar.value() * 100);
          if (value === 0) {
            bar.setText('');
          } else {
            bar.setText(value + '%');
          }
          bar.text.style.color = state.color;
        }
      });
    }
    arrbar.push({id:$(this).parents(".tm-progress-container").attr('id') ,item : bar, percent : data.percent});
    var waypoint = new Waypoint({
      element: $(this).parent(),
      offset: "bottom-in-view",
      handler: function(direction) {
        bar.animate(data.percent/100);
      }
    })
  });
});
</script>
{% endblock %}
