{% extends '@nucleus/partials/particle.html.twig' %}

{% block stylesheets %}
{% if particle.particle_title_color or particle.particle_title_fontsize or particle.customize_title_color or particle.customize_title_fontsize or particle.customize_content_color or particle.customize_content_fontsize or particle.meta_color or particle.meta_fontsize %}
<style>
{% if particle.particle_title_color or particle.particle_title_fontsize %}
#{{ id }}.g5-particle-title { {% if particle.particle_title_color %}color: {{ particle.particle_title_color }};{% endif %}{% if particle.particle_title_fontsize %}font-size: {{particle.particle_title_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.customize_title_color or particle.customize_title_fontsize %}
#{{ id }} .tm-title { {% if particle.customize_title_color %}color: {{particle.customize_title_color}}; {% endif %}{% if particle.customize_title_fontsize %}font-size: {{particle.customize_title_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.customize_content_color or particle.customize_content_fontsize %}
#{{ id }} .tm-content { {% if particle.customize_content_color %}color: {{particle.customize_content_color}};{% endif %}{% if particle.customize_content_fontsize %} font-size: {{particle.customize_content_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.meta_color or particle.meta_fontsize %}
#{{ id }} .tm-meta { {% if particle.meta_color %}color: {{particle.meta_color}};{% endif %}{% if particle.meta_fontsize %} font-size: {{particle.meta_fontsize}}px;{% endif %} }
{% endif %}
</style>
{% endif %}
{% endblock %}

{# set Viewport Height #}
{% set viewport_height %}
{% if particle.viewport_height == 'none' %}
{% elseif particle.viewport_height == 'full' %}
jl-height-viewport="offset-top: true"
{% elseif particle.viewport_height == 'percent' %}
jl-height-viewport="offset-top: true;offset-bottom: 20"
{% elseif particle.viewport_height == 'section' %}
jl-height-viewport="offset-top: true;offset-bottom: 50"
{% elseif particle.viewport_height == 'expand' %}
jl-height-viewport="expand: true"
{% endif %}
{% endset %}

{# Set Tab Text Transform #}
{% set tab_text_transform %}
{% if particle.tab_text_transform %} jl-text-{{particle.tab_text_transform|e}}{% endif %}
{% endset %}

{# Set Title Text Transform #}
{% set title_text_transform %}
{% if particle.title_text_transform %} jl-text-{{particle.title_text_transform|e}}{% endif %}
{% endset %}

{# Set Meta Text Transform #}
{% set meta_text_transform %}
{% if particle.meta_text_transform %} jl-text-{{particle.meta_text_transform|e}}{% endif %}
{% endset %}

{# Set Content Text Transform #}
{% set content_text_transform %}
{% if particle.content_text_transform %} jl-text-{{particle.content_text_transform|e}}{% endif %}
{% endset %}

{# set padding #}
{% set padding %}
{% if particle.viewport_height == 'full' %}
{% else %}
{% if particle.padding == 'default' %}{% else %} jl-section-{{particle.padding|e}}{% endif %}
{% endif %}
{% endset %}

{# set Container #}
{% set container %}
{% if particle.container == '1' %}
<div class="jl-container"><div class="g5-content g5-particle">{% endif %}
{% endset %}

{# set End Container #}
{% set endcontainer %}
{% if particle.container == '1' %}
</div></div>{% endif %}
{% endset %}

{# set Background color #}
{% set parallax_bg_color %}
{% if particle.parallax_bg_color %}
style="background-color: {{particle.parallax_bg_color}};"{% endif %}
{% endset %}

{# Set Max-Width Content #}
{% set content_maxwidth %}
{% if particle.g_maxwidth != 'inherit' %} jl-width-{{particle.g_maxwidth}}{% if particle.g_maxwidth_breakpoint != 'always' %}@{{particle.g_maxwidth_breakpoint}}{% endif %}{% if particle.g_maxwidth_alignment == 'left' %}{% elseif particle.g_maxwidth_alignment == 'center' %} jl-margin-auto{% else %} jl-margin-auto-left{% endif %}{% endif %}
{% endset %}

{# set Parallax Background #}
{% set parallaxbackground %}
{% if particle.parallax_image %}
<div data-src="{{ url(particle.parallax_image)|e }}" class="{{id}} jl-background-norepeat{{padding}}{{content_maxwidth}} jl-background-{{particle.background_image_position|e}}{% if particle.background_image_size != 'auto' %} jl-background-{{particle.background_image_size|e}}{% endif %}{% if particle.parallax_bg_visibility != 'always' %} jl-background-image@{{particle.parallax_bg_visibility|e}}{% endif %}{% if particle.vertical_alignment != 'none' %} jl-flex jl-flex-{{particle.vertical_alignment|e}}{% endif %}{% if particle.parallax_text_color != 'default' %} jl-{{particle.parallax_text_color|e}}{% endif %}{% if particle.blendmode != 'inherit' %} jl-background-blend-{{particle.blendmode|e}}{% endif %}" {{parallax_bg_color}}{% if particle.horizontal_start or particle.horizontal_end or particle.vertical_start or particle.vertical_end %} jl-parallax="{% if particle.horizontal_start or particle.horizontal_end %}bgx: {{particle.horizontal_start|e}},{{particle.horizontal_end|e}};{% endif %}{% if particle.vertical_start or particle.vertical_end %}bgy: {{particle.vertical_start|e}},{{particle.vertical_end|e}};{% endif %}{% if particle.parallax_bg_breakpoint != 'always' %} media: @{{particle.parallax_bg_breakpoint|e}}{% endif %}" {% endif %} jl-img {{viewport_height}}>
{{container}}
{% endif %}
{% endset %}

{# End Parallax Background #}
{% set endparallaxbackground %}
{% if particle.parallax_image %}
{{endcontainer}}
</div>
{% endif %}
{% endset %}

{# Set Horizontal #}
{% set pahorizontal %}
{% if particle.pa_horizontal_start or particle.pa_horizontal_end %}x: {% if particle.pa_horizontal_start == '' %}0{% else %}{{particle.pa_horizontal_start }}{% endif %},{% if particle.pa_horizontal_end == '' %}0{% else %}{{particle.pa_horizontal_end }}{% endif %};{% endif %}
{% endset %}

{# Set Vertical #}
{% set pavertical %}
{% if particle.pa_vertical_start or particle.pa_vertical_end %}y: {% if particle.pa_vertical_start == '' %}0{% else %}{{particle.pa_vertical_start }}{% endif %},{% if particle.pa_vertical_end == '' %}0{% else %}{{particle.pa_vertical_end }}{% endif %};{% endif %}
{% endset %}

{# Set Scale #}
{% set scale %}
{% if particle.scale_start or particle.scale_end %}scale: {% if particle.scale_start == '' %}1{% else %}{{particle.scale_start / 100 }}{% endif %},{% if particle.scale_end == '' %}1{% else %} {{particle.scale_end / 100 }}{% endif %};{% endif %}
{% endset %}

{# Set Rotate #}
{% set rotate %}{% if particle.rotate_start or particle.rotate_end %}
rotate: {% if particle.rotate_start == '' %}0{% else %}{{particle.rotate_start}}{% endif %},{% if particle.rotate_end == '' %}0{% else %}{{particle.rotate_end}}{% endif %};{% endif %}
{% endset %}

{# Set Opacity #}
{% set opacity %}
{% if particle.opacity_start or particle.opacity_end %}opacity: {% if particle.opacity_start == '' %}1{% else %}{{particle.opacity_start / 100 }}{% endif %},{% if particle.opacity_end == '' %}1{% else %}{{particle.opacity_end / 100 }}{% endif %};{% endif %}
{% endset %}

{# set Animation #}
{% set animation %}
{% if particle.animation == 'parallax' %}
{% if particle.pa_horizontal_start or particle.pa_horizontal_end or particle.pa_vertical_start or particle.pa_vertical_end or particle.scale_start or particle.scale_end or particle.rotate_start or particle.rotate_end or particle.opacity_start or particle.opacity_end or particle.easing or particle.pa_viewport or particle.pa_breakpoint %} jl-parallax="{{pahorizontal}}{{pavertical}}{{scale}}{{rotate}}{{opacity}}{% if particle.easing == '' %}{% else %}easing: {{ particle.easing / 100 }};{% endif %}{% if particle.pa_viewport != '' %}viewport:{{ particle.pa_viewport / 100 }};{% endif %}{% if particle.pa_breakpoint != 'always' %}media: @{{particle.pa_breakpoint|e}}{% endif %}"{% endif %}
{% else %}
{% if particle.animation != 'inherit' %} jl-scrollspy="cls:jl-animation-{{particle.animation|e}}{% if particle.animation_repeat != 'disabled' %}; repeat: true{% endif %}{% if particle.animation_delay != '' %}; delay: {{particle.animation_delay|e}}{% endif %}"{% endif %}
{% endif %}
{% endset %}

{# Set Particle Alignment #}
{% set particle_alignment %}
{% if particle.align != 'inherit' %} jl-text-{{particle.align|e}}{% if particle.breakpoint != 'always' %}@{{particle.breakpoint|e}}{% endif %}{% endif %}{% if particle.align != 'inherit' and particle.breakpoint != 'always' %}{% if particle.fallback != 'inherit' %} jl-text-{{particle.fallback|e}}{% endif %}{% endif %}
{% endset %}

{# set Particle Title Style #}
{% set particle_title_style %}
{% if particle.particle_title %}
<{{particle.particle_title_element|e}} id="{{ id }}" class="g5-particle-title{% if particle.particle_title_align != 'inherit' %} jl-text-{{particle.particle_title_align|e}}{% endif %}{% if particle.particle_predefined_color != 'default' %} jl-text-{{particle.particle_predefined_color|e}}{% endif %}{% if particle.particle_title_style != 'default' %} jl-{{particle.particle_title_style|e}}{% endif %}{% if particle.particle_title_decoration != 'none' %} jl-heading-{{particle.particle_title_decoration|e}}{% endif %}">
{% if particle.particle_title_decoration == 'line' %} <span>{{particle.particle_title|raw}}</span>
{% else %} {{particle.particle_title|raw}}
{% endif %}
</{{particle.particle_title_element|e}}>
{% endif %}
{% endset %}

{% set imagewidth %}
{% if particle.thumbnail_width != '' %}
width = "{{particle.thumbnail_width}}"
{% else %}
width = "100"
{% endif %}
{% endset %}

{% set imageheight %}
{% if particle.thumbnail_height != '' %}
height = "{{particle.thumbnail_height}}"
{% else %}
height = "75"
{% endif %}
{% endset %}


{% set itemimagewidth %}
{% if particle.image_width != '' %}
width = "{{particle.image_width}}"
{% endif %}
{% endset %}

{% set itemimageheight %}
{% if particle.image_height != '' %}
height = "{{particle.image_height}}"
{% endif %}
{% endset %}

{% set dropcap %}
{% if particle.content_dropcap == '1' %} jl-dropcap{% endif %}
{% endset %}

{# Set Button Class #}
{% set button_cls %}
{% if particle.link_style == 'link' %}jl-link{% elseif particle.link_style == 'link-muted' or particle.link_style == 'link-text' %}jl-{{particle.link_style|e}}{% else %}jl-button jl-button-{{particle.link_style|e}}{% endif %}
{% endset %}

{# Set Button Size #}
{% set button_size %}
{% if particle.link_style == 'link' or particle.link_style == 'link-muted' or particle.link_style == 'link-text' or particle.link_style == 'text' %}{% else %}{% if particle.link_button_size != 'default' %} jl-button-{{particle.link_button_size|e}}{% endif %}{% endif %}
{% endset %}

{# Set Image Border Class #}
{% set image_border_cls %}
{% if particle.border != 'none' %} jl-border-{{particle.border|e}}{% endif %}
{% endset %}

{# Image Box Shadow #}
{% set image_boxshadow %}
{% if particle.box_shadow != 'none' %} jl-box-shadow-{{particle.box_shadow|e}}{% endif %}{% if particle.box_shadow_hover != 'none' %} jl-box-shadow-hover-{{particle.box_shadow_hover|e}}{% endif %}
{% endset %}

{# Set Image Margin Top Class #}
{% set image_top_cls %}
{% if particle.image_alignment == 'bottom' or particle.image_alignment == 'between' %}{% if particle.image_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.image_margin_top|e }}-top{% endif %}{% endif %}
{% endset %}

{# Set Navigation #}
{% set navigation %}

{% for item in particle.items %}
<li>
{% if item.navigation_thumbnail != '' and particle.tab_styles == 'thumbnav' %}
<a href="#"><img {{imagewidth}} {{imageheight}} data-src="{{ url(item.navigation_thumbnail)|e }}" alt="{% if item.navigation_text != '' %}{{item.navigation_text|raw}}{% else %}{{item.titleitems|raw}}{% endif %}" class="tm-image" jl-img /></a>
{% else %}
<a href="#">{% if item.navigation_text != '' %}{{item.navigation_text|raw}}{% else %}{{item.titleitems|raw}}{% endif %}</a>
{% endif %}
</li>
{% endfor %}
{% endset %}


{# Set Item Content #}
{% set itemcontent %}
{% for item in particle.items %}

{% set linkscroll %}
{% if item.link|e matches '/#/' %} jl-scroll{% endif %}
{% endset %}

{# Set Meta Content #}
{% set item_meta %}
{% if item.meta %}
<div class="tm-meta{{meta_text_transform}}{% if particle.meta_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.meta_margin_top|e }}-top{% endif %}{% if particle.pre_meta_color != 'default' %} jl-text-{{ particle.pre_meta_color|e }}{% endif %}{% if particle.meta_style != 'default' %} jl-{{ particle.meta_style|e }}{% endif %}">
{{item.meta|raw}}
</div>
{% endif %}
{% endset %}

{# Set Image Content #}
{% set imagecontent %}
{% if item.image %}<img {{itemimagewidth}} {{itemimageheight}} class="tm-image{{image_border_cls}}{{image_boxshadow}}{{image_top_cls}}" data-src="{{ url(item.image)|e }}"{% if item.image_alt %} alt="{{item.image_alt|e}}"{% endif %} jl-img>{% endif %}
{% endset %}

<li class="tm-item">
{% if item.image %}
{% if particle.image_alignment == 'top' or particle.image_alignment == 'bottom' %}

{% if particle.image_alignment == 'top' %}
{{imagecontent}}
{% endif %}

{% if particle.meta_alignment == 'top' %}
{{item_meta}}
{% endif %}

{% if item.titleitems %}
<{{particle.title_element|e}} class="tm-title jl-margin-remove-bottom{{title_text_transform}}{% if particle.title_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.title_margin_top|e }}-top{% endif %}{% if particle.title_style != 'default' %} jl-{{ particle.title_style|e }}{% endif %}{% if particle.title_color != 'default' %} jl-text-{{ particle.title_color|e }}{% endif %}{% if particle.title_decoration != 'none' %} jl-heading-{{particle.title_decoration|e}}{% endif %}">
{% if particle.title_decoration == 'line' %} <span>{{ item.titleitems|raw }}</span>
{% else %}
{{ item.titleitems|raw }}
{% endif %}
</{{particle.title_element|e}}>
{% endif %}


{% if particle.meta_alignment == 'bottom' %}
{{item_meta}}
{% endif %}


{% if item.description %}
<div class="tm-content jl-panel{{content_text_transform}}{% if particle.content_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.content_margin_top|e }}-top{% endif %}{% if particle.content_style != 'default' %} jl-text-{{ particle.content_style|e }}{% endif %}{% if particle.content_text_color != 'default' %} jl-text-{{ particle.content_text_color|e }}{% endif %}{{dropcap}}">
{{item.description|raw}}
</div>
{% endif %}

{% if particle.meta_alignment == 'content' %}
{{item_meta}}
{% endif %}

{% if item.link_text %}
<div class="{% if particle.link_margin_top == 'default' %}jl-margin-top{% else %}jl-margin-{{ particle.link_margin_top|e }}-top{% endif %}"><a target="{{ item.link_target|default('_self')|e }}" href="{{ item.link|e }}" title="{{ item.link_text|e }}" class="{{button_cls}}{{button_size}}"{{linkscroll}}>{{ item.link_text|e }}</a></div>
{% endif %}

{% if particle.image_alignment == 'bottom' %}
{{imagecontent}}
{% endif %}

{# set left/right image Style #}
{% else %}

<div class="jl-child-width-expand{% if particle.image_grid_gutter != 'default' %} jl-grid-{{ particle.image_grid_gutter|e }}{% endif %}{% if particle.image_vertical_alignment == '1' %} jl-flex-middle{% endif %}" jl-grid>
<div class="jl-width-{{ particle.image_grid_width }}@{{ particle.image_grid_breakpoint|e }}{% if particle.image_alignment == 'right' %} jl-flex-last@{{ particle.image_grid_breakpoint|e }}{% endif %}">
{{imagecontent}}
</div>

<div class="jl-margin-remove-first-child">

{% if particle.meta_alignment == 'top' %}
{{item_meta}}
{% endif %}

{% if item.titleitems %}
<{{particle.title_element|e}} class="tm-title jl-margin-remove-bottom{{title_text_transform}}{% if particle.title_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.title_margin_top|e }}-top{% endif %}{% if particle.title_style != 'default' %} jl-{{ particle.title_style|e }}{% endif %}{% if particle.title_color != 'default' %} jl-text-{{ particle.title_color|e }}{% endif %}{% if particle.title_decoration != 'none' %} jl-heading-{{particle.title_decoration|e}}{% endif %}">
{% if particle.title_decoration == 'line' %} <span>{{ item.titleitems|raw }}</span>
{% else %}
{{ item.titleitems|raw }}
{% endif %}
</{{particle.title_element|e}}>
{% endif %}


{% if particle.meta_alignment == 'bottom' %}
{{item_meta}}
{% endif %}


{% if item.description %}
<div class="tm-content jl-panel{{content_text_transform}}{% if particle.content_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.content_margin_top|e }}-top{% endif %}{% if particle.content_style != 'default' %} jl-text-{{ particle.content_style|e }}{% endif %}{% if particle.content_text_color != 'default' %} jl-text-{{ particle.content_text_color|e }}{% endif %}{{dropcap}}">
{{item.description|raw}}
</div>
{% endif %}

{% if particle.meta_alignment == 'content' %}
{{item_meta}}
{% endif %}

{% if item.link_text %}
<div class="{% if particle.link_margin_top == 'default' %}jl-margin-top{% else %}jl-margin-{{ particle.link_margin_top|e }}-top{% endif %}"><a target="{{ item.link_target|default('_self')|e }}" href="{{ item.link|e }}" title="{{ item.link_text|e }}" class="{{button_cls}}{{button_size}}"{{linkscroll}}>{{ item.link_text|e }}</a></div>
{% endif %}

</div>
</div>

{# end left/right image Style #}

{% endif %}

{% else %}

{% if particle.meta_alignment == 'top' %}
{{item_meta}}
{% endif %}

{% if item.titleitems %}
<{{particle.title_element|e}} class="tm-title jl-margin-remove-bottom{{title_text_transform}}{% if particle.title_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.title_margin_top|e }}-top{% endif %}{% if particle.title_style != 'default' %} jl-{{ particle.title_style|e }}{% endif %}{% if particle.title_color != 'default' %} jl-text-{{ particle.title_color|e }}{% endif %}{% if particle.title_decoration != 'none' %} jl-heading-{{particle.title_decoration|e}}{% endif %}">
{% if particle.title_decoration == 'line' %} <span>{{ item.titleitems|raw }}</span>
{% else %}
{{ item.titleitems|raw }}
{% endif %}
</{{particle.title_element|e}}>
{% endif %}

{% if particle.meta_alignment == 'bottom' %}
{{item_meta}}
{% endif %}

{% if item.description %}
<div class="tm-content jl-panel{{content_text_transform}}{% if particle.content_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.content_margin_top|e }}-top{% endif %}{% if particle.content_style != 'default' %} jl-text-{{ particle.content_style|e }}{% endif %}{% if particle.content_text_color != 'default' %} jl-text-{{ particle.content_text_color|e }}{% endif %}{{dropcap}}">
{{item.description|raw}}
</div>
{% endif %}

{% if particle.meta_alignment == 'content' %}
{{item_meta}}
{% endif %}

{% if item.link_text %}
<div class="{% if particle.link_margin_top == 'default' %}jl-margin-top{% else %}jl-margin-{{ particle.link_margin_top|e }}-top{% endif %}"><a target="{{ item.link_target|default('_self')|e }}" href="{{ item.link|e }}" title="{{ item.link_text|e }}" class="{{button_cls}}{{button_size}}"{{linkscroll}}>{{ item.link_text|e }}</a></div>
{% endif %}

{% endif %}

</li>

{% endfor %}
{% endset %}

{# set Filter Style #}
{% set filterstyle %}
{% if particle.tab_styles == 'tab' %}
<ul class="jl-tab{{tab_text_transform}}{% if particle.tab_alignment == 'left' %}{% elseif particle.tab_alignment == 'justify' %} jl-child-width-expand{% else %} jl-flex-{{ particle.tab_alignment|e }}{% endif %}{% if particle.tab_margin == 'default' %} jl-margin{% else %} jl-margin-{{ particle.tab_margin|e }}{% endif %}"jl-tab="connect: #js-{{id}};{% if particle.tab_animation != 'inherit' %} animation: jl-animation-{{particle.tab_animation}}{% endif %}">
{% elseif particle.tab_styles == 'subnav' %}
<ul class="jl-subnav{{tab_text_transform}}{% if particle.tab_alignment == 'left' %}{% elseif particle.tab_alignment == 'justify' %} jl-child-width-expand{% else %} jl-flex-{{ particle.tab_alignment|e }}{% endif %}{% if particle.tab_margin == 'default' %} jl-margin{% else %} jl-margin-{{ particle.tab_margin|e }}{% endif %}"jl-switcher="connect: #js-{{id}};{% if particle.tab_animation != 'inherit' %} animation: jl-animation-{{particle.tab_animation}}{% endif %}">
{% elseif particle.tab_styles == 'subnav-divider' %}
<ul class="jl-subnav jl-subnav-divider{{tab_text_transform}}{% if particle.tab_alignment == 'left' %}{% elseif particle.tab_alignment == 'justify' %} jl-child-width-expand{% else %} jl-flex-{{ particle.tab_alignment|e }}{% endif %}{% if particle.tab_margin == 'default' %} jl-margin{% else %} jl-margin-{{ particle.tab_margin|e }}{% endif %}"jl-switcher="connect: #js-{{id}};{% if particle.tab_animation != 'inherit' %} animation: jl-animation-{{particle.tab_animation}}{% endif %}">
{% elseif particle.tab_styles == 'subnav-pill' %}
<ul class="jl-subnav jl-subnav-pill{{tab_text_transform}}{% if particle.tab_alignment == 'left' %}{% elseif particle.tab_alignment == 'justify' %} jl-child-width-expand{% else %} jl-flex-{{ particle.tab_alignment|e }}{% endif %}{% if particle.tab_margin == 'default' %} jl-margin{% else %} jl-margin-{{ particle.tab_margin|e }}{% endif %}"jl-switcher="connect: #js-{{id}};{% if particle.tab_animation != 'inherit' %} animation: jl-animation-{{particle.tab_animation}}{% endif %}">
{% else %}
<ul class="jl-thumbnav{% if particle.tab_alignment == 'left' %}{% elseif particle.tab_alignment == 'justify' %} jl-child-width-expand{% else %} jl-flex-{{ particle.tab_alignment|e }}{% endif %}{% if particle.tab_margin == 'default' %} jl-margin{% else %} jl-margin-{{ particle.tab_margin|e }}{% endif %}{% if particle.thumbnail_wrap == '1' %} jl-flex-nowrap{% endif %}"jl-switcher="connect: #js-{{id}};{% if particle.tab_animation != 'inherit' %} animation: jl-animation-{{particle.tab_animation}}{% endif %}"{% if particle.thumbnail_wrap == '0' %} jl-margin{% endif %}>
{% endif %}
{% endset %}

{# set Filter Grid Style #}
{% set gridfilterstyle %}
{% if particle.tab_styles == 'tab' %}
{% if particle.tab_position == 'left' %}
<ul class="jl-tab-left el-nav jl-tab" jl-tab="connect: #js-{{id}};media: @{{ particle.tab_grid_breakpoint|e }};{% if particle.tab_animation != 'inherit' %} animation: jl-animation-{{particle.tab_animation}}{% endif %}">
{% else %}
<ul class="jl-tab-right el-nav jl-tab" jl-tab="connect: #js-{{id}};media: @{{ particle.tab_grid_breakpoint|e }};{% if particle.tab_animation != 'inherit' %} animation: jl-animation-{{particle.tab_animation}}{% endif %}">
{% endif %}

{% elseif particle.tab_styles == 'subnav' %}
{% if particle.tab_position == 'left' or particle.tab_position == 'right' %}
<ul class="jl-nav jl-nav-default" jl-switcher="connect: #js-{{id}};{% if particle.tab_animation != 'inherit' %} animation: jl-animation-{{particle.tab_animation}}{% endif %}" jl-toggle="cls: jl-nav jl-nav-default jl-subnav; mode: media; media: @{{ particle.tab_grid_breakpoint|e }}">
{% endif %}

{% elseif particle.tab_styles == 'subnav-divider' %}
{% if particle.tab_position == 'left' or particle.tab_position == 'right' %}
<ul class="jl-nav jl-nav-default" jl-switcher="connect: #js-{{id}};{% if particle.tab_animation != 'inherit' %} animation: jl-animation-{{particle.tab_animation}}{% endif %}" jl-toggle="cls: jl-nav jl-nav-default jl-subnav jl-subnav-divider; mode: media; media: @{{ particle.tab_grid_breakpoint|e }}">
{% endif %}


{% elseif particle.tab_styles == 'subnav-pill' %}
{% if particle.tab_position == 'left' or particle.tab_position == 'right' %}
<ul class="jl-nav jl-nav-default" jl-switcher="connect: #js-{{id}};{% if particle.tab_animation != 'inherit' %} animation: jl-animation-{{particle.tab_animation}}{% endif %}" jl-toggle="cls: jl-nav jl-nav-default jl-text-left jl-subnav jl-subnav-pill; mode: media; media: @{{ particle.tab_grid_breakpoint|e }}">
{% endif %}
{% else %}
{% if particle.tab_position == 'left' or particle.tab_position == 'right' %}
<ul class="jl-thumbnav jl-thumbnav-vertical"jl-switcher="connect: #js-{{id}};{% if particle.tab_animation != 'inherit' %} animation: jl-animation-{{particle.tab_animation}}{% endif %}"jl-toggle="cls: jl-thumbnav-vertical; mode: media; media: @{{ particle.tab_grid_breakpoint|e }}">
{% endif %}
{% endif %}
{% endset %}


{% block particle %}
{% if particle.enabled %}
{{parallaxbackground}}
{{particle_title_style}}
<div id="{{ id }}" class="jl-tab-wrapper{% if particle.class == '' %}{% else %} {{particle.class}}{% endif %}{{particle_alignment}}{% if particle.margin == 'inherit' %}{% elseif particle.margin == 'default' %} jl-margin{% else %} jl-margin-{{particle.margin|e}}{% endif %}{% if particle.visibility == 'inherit' %}{% else %} jl-visible@{{particle.visibility|e}}{% endif %}"{{animation}}>

{% if particle.tab_position == 'top' %}
{{filterstyle}}
{{navigation}}
</ul>
<ul id="js-{{id}}" class="jl-switcher jl-margin">
  {{itemcontent}}
</ul>
{% endif %}

{% if particle.tab_position == 'left' or particle.tab_position == 'right' %}
<div class="jl-child-width-expand{% if particle.tab_grid_gutter != 'default' %} jl-grid-{{ particle.tab_grid_gutter|e }}{% endif %}{% if particle.tab_vertical_alignment == '1' %} jl-flex-middle{% endif %}" jl-grid>
  <div class="jl-width-{{ particle.tab_grid_width }}@{{ particle.tab_grid_breakpoint|e }}{% if particle.tab_position == 'right' %} jl-flex-last@{{ particle.tab_grid_breakpoint|e }}{% endif %}">
    {{gridfilterstyle}}
    {{navigation}}
  </ul>
</div>

<div>
  <ul id="js-{{id}}" class="jl-switcher jl-margin"{% if particle.tab_match_height == '1' %} jl-height-match="row: false"{% endif %}>
    {{itemcontent}}
  </ul>
</div>

</div>

{% endif %}

{% if particle.tab_position == 'bottom' %}
<ul id="js-{{id}}" class="jl-switcher jl-margin">
  {{itemcontent}}
</ul>
{{filterstyle}}
{{navigation}}
</ul>
{% endif %}

</div>
{{endparallaxbackground}}
{% endif %}
{% endblock %}
