{% extends '@nucleus/partials/particle.html.twig' %}

{% set article_settings = particle.article %}
{% set filter = article_settings.filter %}
{% set sort = article_settings.sort %}
{% set limit = article_settings.limit %}
{% set display = article_settings.display %}

{# Category Finder #}
{% set category_options = filter.categories ? {id: [filter.categories|split(','), 0]} : {} %}
{% set categories = joomla.finder('category', category_options).published(1).language().limit(0).find() %}

{# Content Finder #}
{% if filter.articles %}
{% set article_options = filter.articles ? {id: [filter.articles|replace(' ', '')|split(',')]} : {} %}
{% set article_finder = joomla.finder('content', article_options).published(1).language() %}
{% else %}
  {% set article_finder = joomla.finder('content').category(categories).published(1).language() %}
{% endif %}

{% set featured = filter.featured|default('include') %}
{% if featured == 'exclude' %}
{% do article_finder.featured(false) %}
{% elseif featured == 'only' %}
{% do article_finder.featured(true) %}
{% endif %}

{% set start = limit.start + max(0, ajax.start|int) %}
{% do article_finder.order(sort.orderby, sort.ordering).limit(limit.total).start(start) %}
{% set total = article_finder.count() %}
{% set articles = article_finder.find() %}

{% block stylesheets %}
<style>
{% if particle.particle_title_color or particle.particle_title_fontsize %}
#{{ id }}.g5-particle-title { {% if particle.particle_title_color %}color: {{ particle.particle_title_color }};{% endif %}{% if particle.particle_title_fontsize %}font-size: {{particle.particle_title_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.customize_title_color or particle.customize_title_fontsize %}
#{{ id }} .tm-title { {% if particle.customize_title_color %}color: {{particle.customize_title_color}} !important; {% endif %}{% if particle.customize_title_fontsize %}font-size: {{particle.customize_title_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.meta_color or particle.meta_fontsize %}
#{{ id }} .tm-meta li span, #{{ id }} .tm-meta li a { {% if particle.meta_color %}color: {{particle.meta_color}};{% endif %}{% if particle.meta_fontsize %} font-size: {{particle.meta_fontsize}}px;{% endif %}text-transform: uppercase; }
{% endif %}
</style>

{% endblock %}

{# set Viewport Height #}
{% set viewport_height %}
{% if particle.viewport_height == 'none' %}
{% elseif particle.viewport_height == 'full' %}
jl-height-viewport="offset-top: true"
{% elseif particle.viewport_height == 'percent' %}
jl-height-viewport="offset-top: true;offset-bottom: 20"
{% elseif particle.viewport_height == 'section' %}
jl-height-viewport="offset-top: true;offset-bottom: 50"
{% elseif particle.viewport_height == 'expand' %}
jl-height-viewport="expand: true"
{% endif %}
{% endset %}

{# Set Title Text Transform #}
{% set title_text_transform %}
{% if particle.title_text_transform %} jl-text-{{particle.title_text_transform|e}}{% endif %}
{% endset %}

{# Set Meta Text Transform #}
{% set meta_text_transform %}
{% if particle.meta_text_transform %} jl-text-{{particle.meta_text_transform|e}}{% endif %}
{% endset %}

{# set padding #}
{% set padding %}
{% if particle.viewport_height == 'full' %}
{% else %}
{% if particle.padding == 'default' %}{% else %} jl-section-{{particle.padding|e}}{% endif %}
{% endif %}
{% endset %}

{# set Container #}
{% set container %}
{% if particle.container == '1' %}
<div class="jl-container"><div class="g5-content g5-particle">{% endif %}
{% endset %}

{# set End Container #}
{% set endcontainer %}
{% if particle.container == '1' %}
</div></div>{% endif %}
{% endset %}

{# set Background color #}
{% set parallax_bg_color %}
{% if particle.parallax_bg_color %}
style="background-color: {{particle.parallax_bg_color}};"{% endif %}
{% endset %}

{# Set Max-Width Content #}
{% set content_maxwidth %}
{% if particle.g_maxwidth != 'inherit' %} jl-width-{{particle.g_maxwidth}}{% if particle.g_maxwidth_breakpoint != 'always' %}@{{particle.g_maxwidth_breakpoint}}{% endif %}{% if particle.g_maxwidth_alignment == 'left' %}{% elseif particle.g_maxwidth_alignment == 'center' %} jl-margin-auto{% else %} jl-margin-auto-left{% endif %}{% endif %}
{% endset %}

{# set Parallax Background #}
{% set parallaxbackground %}
{% if particle.parallax_image %}
<div data-src="{{ url(particle.parallax_image)|e }}" class="{{id}} jl-background-norepeat{{padding}}{{content_maxwidth}} jl-background-{{particle.background_image_position|e}}{% if particle.background_image_size != 'auto' %} jl-background-{{particle.background_image_size|e}}{% endif %}{% if particle.parallax_bg_visibility != 'always' %} jl-background-image@{{particle.parallax_bg_visibility|e}}{% endif %}{% if particle.vertical_alignment != 'none' %} jl-flex jl-flex-{{particle.vertical_alignment|e}}{% endif %}{% if particle.parallax_text_color != 'default' %} jl-{{particle.parallax_text_color|e}}{% endif %}{% if particle.blendmode != 'inherit' %} jl-background-blend-{{particle.blendmode|e}}{% endif %}" {{parallax_bg_color}}{% if particle.horizontal_start or particle.horizontal_end or particle.vertical_start or particle.vertical_end %} jl-parallax="{% if particle.horizontal_start or particle.horizontal_end %}bgx: {{particle.horizontal_start|e}},{{particle.horizontal_end|e}};{% endif %}{% if particle.vertical_start or particle.vertical_end %}bgy: {{particle.vertical_start|e}},{{particle.vertical_end|e}};{% endif %}{% if particle.parallax_bg_breakpoint != 'always' %} media: @{{particle.parallax_bg_breakpoint|e}}{% endif %}" {% endif %} jl-img {{viewport_height}}>
{{container}}
{% endif %}
{% endset %}

{# End Parallax Background #}
{% set endparallaxbackground %}
{% if particle.parallax_image %}
{{endcontainer}}
</div>
{% endif %}
{% endset %}

{# Set Horizontal #}
{% set pahorizontal %}
{% if particle.pa_horizontal_start or particle.pa_horizontal_end %}x: {% if particle.pa_horizontal_start == '' %}0{% else %}{{particle.pa_horizontal_start }}{% endif %},{% if particle.pa_horizontal_end == '' %}0{% else %}{{particle.pa_horizontal_end }}{% endif %};{% endif %}
{% endset %}

{# Set Vertical #}
{% set pavertical %}
{% if particle.pa_vertical_start or particle.pa_vertical_end %}y: {% if particle.pa_vertical_start == '' %}0{% else %}{{particle.pa_vertical_start }}{% endif %},{% if particle.pa_vertical_end == '' %}0{% else %}{{particle.pa_vertical_end }}{% endif %};{% endif %}
{% endset %}

{# Set Scale #}
{% set scale %}
{% if particle.scale_start or particle.scale_end %}scale: {% if particle.scale_start == '' %}1{% else %}{{particle.scale_start / 100 }}{% endif %},{% if particle.scale_end == '' %}1{% else %} {{particle.scale_end / 100 }}{% endif %};{% endif %}
{% endset %}

{# Set Rotate #}
{% set rotate %}{% if particle.rotate_start or particle.rotate_end %}
rotate: {% if particle.rotate_start == '' %}0{% else %}{{particle.rotate_start}}{% endif %},{% if particle.rotate_end == '' %}0{% else %}{{particle.rotate_end}}{% endif %};{% endif %}
{% endset %}

{# Set Opacity #}
{% set opacity %}
{% if particle.opacity_start or particle.opacity_end %}opacity: {% if particle.opacity_start == '' %}1{% else %}{{particle.opacity_start / 100 }}{% endif %},{% if particle.opacity_end == '' %}1{% else %}{{particle.opacity_end / 100 }}{% endif %};{% endif %}
{% endset %}

{# set Scrollspy Animation #}
{% set scrollspy_cls %}
{% if particle.delay_element_animations == '1' %} jl-scrollspy-class{% endif %}
{% endset %}

{# set Animation #}
{% set animation %}
{% if particle.animation == 'parallax' %}
{% if particle.pa_horizontal_start or particle.pa_horizontal_end or particle.pa_vertical_start or particle.pa_vertical_end or particle.scale_start or particle.scale_end or particle.rotate_start or particle.rotate_end or particle.opacity_start or particle.opacity_end or particle.easing or particle.pa_viewport or particle.pa_breakpoint %} jl-parallax="{{pahorizontal}}{{pavertical}}{{scale}}{{rotate}}{{opacity}}{% if particle.easing == '' %}{% else %}easing: {{ particle.easing / 100 }};{% endif %}{% if particle.pa_viewport != '' %}viewport:{{ particle.pa_viewport / 100 }};{% endif %}{% if particle.pa_breakpoint != 'always' %}media: @{{particle.pa_breakpoint|e}}{% endif %}"{% endif %}
{% else %}
{% if particle.animation != 'inherit' %}
{% if particle.delay_element_animations == '1' %} jl-scrollspy="target: [jl-scrollspy-class]; cls: jl-animation-{{particle.animation|e}};{% if particle.animation_repeat != 'disabled' %} repeat: true;{% endif %}{% if particle.animation_delay != '' %} delay: {{particle.animation_delay|e}};{% else %} delay: 200;{% endif %}"{% else %} jl-scrollspy="cls: jl-animation-{{particle.animation|e}};{% if particle.animation_repeat != 'disabled' %} repeat: true;{% endif %}{% if particle.animation_delay != '' %} delay: {{particle.animation_delay|e}};{% endif %}"{% endif %}
{% endif %}
{% endif %}
{% endset %}

{# Set Particle Alignment #}
{% set particle_alignment %}
{% if particle.align != 'inherit' %} jl-text-{{particle.align|e}}{% if particle.breakpoint != 'always' %}@{{particle.breakpoint|e}}{% endif %}{% endif %}{% if particle.align != 'inherit' and particle.breakpoint != 'always' %}{% if particle.fallback != 'inherit' %} jl-text-{{particle.fallback|e}}{% endif %}{% endif %}
{% endset %}

{# set Particle Title Style #}
{% set particle_title_style %}
{% if particle.particle_title %}
<{{particle.particle_title_element|e}} id="{{ id }}" class="g5-particle-title{% if particle.predefined_particle_title_color %} jl-text-{{particle.predefined_particle_title_color|e}}{% endif %}{% if particle.particle_title_align != 'inherit' %} jl-text-{{particle.particle_title_align|e}}{% endif %}{% if particle.particle_title_style %} jl-{{particle.particle_title_style|e}}{% endif %}{% if particle.particle_title_decoration %} jl-heading-{{particle.particle_title_decoration|e}}{% endif %}">
{% if particle.particle_title_decoration == 'line' %} <span>{{particle.particle_title|raw}}</span>
{% else %} {{particle.particle_title|raw}}
{% endif %}
</{{particle.particle_title_element|e}}>
{% endif %}
{% endset %}

{# Overlay Transition #}
{% set overlay_transition %}
{% if particle.overlay_hover == '1' %} jl-transition-{{ particle.overlay_transition|e }}{% endif %}
{% endset %}

{# Image Transition #}
{% set image_transition %}
{% if particle.image_transition != 'none' %} jl-transition-{{ particle.image_transition|e }} jl-transition-opaque{% endif %}
{% endset %}

{% block particle %}
{% if particle.enabled %}
{{particle_title_style}}

<div id="{{ id }}" class="tiles-style-{{particle.tiles_style}}{{content_maxwidth}}{% if particle.class %} {{ particle.class }}{% endif %}{{particle_alignment}}{% if particle.margin == 'inherit' %}{% elseif particle.margin == 'default' %} jl-margin{% else %} jl-margin-{{particle.margin|e}}{% endif %}{% if particle.visibility != 'inherit' %} jl-visible@{{particle.visibility|e}}{% endif %}{% if particle.tiles_style == 4 %} jl-grid-small{% endif %}"{{animation}} jl-grid>

{% if particle.tiles_style == 1 or particle.tiles_style == 2 %}

<div class="jl-width-expand@m">
{% for article in articles[0:1] %}

{# Set Meta Content #}
{% set item_meta %}
{% if display.date.enabled or display.author.enabled or display.category.enabled or display.hits.enabled %}
<ul class="tm-meta{{meta_text_transform}}{% if particle.meta_subnav_style == 'default' %} jl-subnav{% else %} jl-subnav jl-subnav-{{particle.meta_subnav_style|e}}{% endif %}{% if particle.pre_meta_color != 'default' %} jl-text-{{particle.pre_meta_color|e}}{% endif %}{% if particle.meta_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.meta_margin_top|e }}-top{% endif %}{% if particle.meta_style != 'default' %} jl-{{ particle.meta_style|e }}{% endif %}">

{% if display.date.enabled %}
<li class="g-array-item-date">
  <span>
  {% if display.date.enabled == 'published' %}
  {{ article.publish_up|date(display.date.format) }}
{% elseif display.date.enabled == 'modified' %}
{{ article.modified|date(display.date.format) }}
{% else %}
  {{ article.created|date(display.date.format) }}
{% endif %}
</span>
</li>
{% endif %}

{% if display.author.enabled %}
<li class="g-array-item-author">
  <span>{{ article.author.name }}</span>
</li>
{% endif %}
{% if display.category.enabled %}
{% set category_link = display.category.enabled == 'link' %}
<li class="g-array-item-category">
{% set cat = article.categories|last %}
{% if category_link %}
<a href="{{ cat.route }}">
{{ cat.title }}
</a>
{% else %}
  {{ cat.title }}
{% endif %}
</li>
{% endif %}
{% if display.hits.enabled %}
<li class="g-array-item-hits">
  <span><i class="fa fa-eye" aria-hidden="true"></i>{{ article.hits }}</span>
</li>
{% endif %}

</ul>
{% endif %}

{% endset %}

{% if particle.overlay_hover == '1' or particle.image_transition != 'none' %}
<div class="tm-item jl-inline-clip jl-transition-toggle" tabindex="0"{{scrollspy_cls}}>
{% else %}
<div class="tm-item jl-inline-clip"{{scrollspy_cls}}>
{% endif %}

{% if display.category.enabled and particle.show_label == '1' %}
<div class="jl-position-top-left jl-position-z-index">
{% set category_link = display.category.enabled == 'link' %}
<span class="jl-label">
{% set cat = article.categories|last %}
{% if category_link %}
<a class="jl-link-reset" href="{{ cat.route }}"><span>{{ cat.title }}</span></a>
{% else %}
<span>{{ cat.title }}</span>
{% endif %}
</span>
</div>
{% endif %}

<div class="tm-content-wrapper{% if particle.overlay_color != 'default' %} jl-{{ particle.overlay_color|e }}{% endif %}">

{% if display.image.enabled and article.images.image_intro or article.images.image_fulltext %}
{% if article.images.image_intro and display.image.enabled == 'intro' or display.image.enabled == 'show' %}

<img {{imagewidth}} {{imageheight}} class="tm-image{{image_transition}}" data-src="{{ url(article.images.image_intro) }}"{% if article.images.image_intro_alt %} alt="{{article.images.image_intro_alt}}"{% else %} alt="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}"{% endif %} jl-img />
{% elseif article.images.image_fulltext and display.image.enabled == 'full' %}
<img {{imagewidth}} {{imageheight}} class="tm-image{{image_transition}}" data-src="{{ url(article.images.image_fulltext) }}"{% if article.images.image_fulltext_alt %} alt="{{article.images.image_fulltext_alt}}"{% else %} alt="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}"{% endif %} jl-img />
{% endif %}
{% endif %}

<div class="tm-overlay jl-position-cover{% if particle.overlay_style %} {{ particle.overlay_style|e }}{% endif %}{{overlay_transition}}"></div>

{% if particle.tiles_style == 1 %}
<div class="jl-overlay{% if particle.overlay_padding != 'default' %} jl-padding-{{ particle.overlay_padding|e }}{% endif %}{% if particle.overlay_position %} jl-position-{{ particle.overlay_position|e }}{% endif %}{% if particle.overlay_margin != 'none' %} jl-position-{{ particle.overlay_margin|e }}{% endif %}{% if particle.overlay_maxwidth != 'none' %} jl-width-{{ particle.overlay_maxwidth|e }}{% endif %} jl-margin-remove-first-child">
{% else %}
<div class="jl-overlay{% if particle.overlay_padding != 'default' %} jl-padding-{{ particle.overlay_padding|e }}{% endif %}{% if particle.overlay_position %} jl-position-{{ particle.overlay_position|e }}{% endif %}{% if particle.overlay_margin != 'none' %} jl-position-{{ particle.overlay_margin|e }}{% endif %}{% if particle.overlay_maxwidth != 'none' %} jl-width-{{ particle.overlay_maxwidth|e }}{% endif %}{% if particle.tiles_style2 %} {{ particle.tiles_style2|e }}{% endif %} jl-margin-remove-first-child">
{% endif %}

{% if particle.meta_alignment == 'top' %}
{{item_meta}}
{% endif %}

{% if display.title.enabled %}
<{{particle.title_element|e}} class="tm-title jl-margin-remove-bottom{{title_text_transform}}{% if particle.title_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.title_margin_top|e }}-top{% endif %}{% if particle.title_color != 'default' %} jl-text-{{particle.title_color|e}}{% endif %}{% if particle.title_style != 'default' %} jl-{{particle.title_style|e}}{% endif %}{% if particle.title_decoration != 'none' %} jl-heading-{{particle.title_decoration|e}}{% endif %}">
{% if particle.title_decoration == 'line' %} <span>
{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}
</span>
{% else %}
  {{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}
{% endif %}
</{{particle.title_element|e}}>
{% endif %}

{% if particle.meta_alignment == 'bottom' %}
{{item_meta}}
{% endif %}

</div>

<a href="{{ article.route }}" class="jl-position-cover"></a>

</div>
</div>

{% endfor %}
</div>

<div class="jl-width-expand@l jl-grid-item-match jl-grid-small">

  <div class="jl-child-width-1-1 jl-child-width-1-2@m jl-grid-small" jl-grid>

  {% for article in articles[1:4] %}

  {# Set Meta Content #}
  {% set item_meta %}
  {% if display.date.enabled or display.author.enabled or display.category.enabled or display.hits.enabled %}
  <ul class="tm-meta{{meta_text_transform}}{% if particle.meta_subnav_style == 'default' %} jl-subnav{% else %} jl-subnav jl-subnav-{{particle.meta_subnav_style|e}}{% endif %}{% if particle.pre_meta_color != 'default' %} jl-text-{{particle.pre_meta_color|e}}{% endif %}{% if particle.meta_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.meta_margin_top|e }}-top{% endif %}{% if particle.meta_style != 'default' %} jl-{{ particle.meta_style|e }}{% endif %}">

  {% if display.date.enabled %}
  <li class="g-array-item-date">
    <span>
    {% if display.date.enabled == 'published' %}
    {{ article.publish_up|date(display.date.format) }}
  {% elseif display.date.enabled == 'modified' %}
  {{ article.modified|date(display.date.format) }}
  {% else %}
    {{ article.created|date(display.date.format) }}
  {% endif %}
</span>
</li>
{% endif %}

{% if display.author.enabled %}
<li class="g-array-item-author">
  <span>{{ article.author.name }}</span>
</li>
{% endif %}
{% if display.category.enabled %}
{% set category_link = display.category.enabled == 'link' %}
<li class="g-array-item-category">
{% set cat = article.categories|last %}
{% if category_link %}
<a href="{{ cat.route }}">
{{ cat.title }}
</a>
{% else %}
  {{ cat.title }}
{% endif %}
</li>
{% endif %}
{% if display.hits.enabled %}
<li class="g-array-item-hits">
  <span><i class="fa fa-eye" aria-hidden="true"></i>{{ article.hits }}</span>
</li>
{% endif %}

</ul>
{% endif %}

{% endset %}

<div>
{% if particle.overlay_hover == '1' or particle.image_transition != 'none' %}
<div class="tm-item jl-inline-clip jl-transition-toggle" tabindex="0"{{scrollspy_cls}}>
{% else %}
<div class="tm-item jl-inline-clip"{{scrollspy_cls}}>
{% endif %}

{% if display.category.enabled and particle.show_label == '1' %}
<div class="jl-position-top-left jl-position-z-index">
{% set category_link = display.category.enabled == 'link' %}
<span class="jl-label">
{% set cat = article.categories|last %}
{% if category_link %}
<a class="jl-link-reset" href="{{ cat.route }}"><span>{{ cat.title }}</span></a>
{% else %}
<span>{{ cat.title }}</span>
{% endif %}
</span>
</div>
{% endif %}

<div class="tm-content-wrapper{% if particle.overlay_color != 'default' %} jl-{{ particle.overlay_color|e }}{% endif %}">
{% if display.image.enabled and article.images.image_intro or article.images.image_fulltext %}
{% if article.images.image_intro and display.image.enabled == 'intro' or display.image.enabled == 'show' %}
<img {{imagewidth}} {{imageheight}} class="tm-image{{image_transition}}" data-src="{{ url(article.images.image_intro) }}"{% if article.images.image_intro_alt %} alt="{{article.images.image_intro_alt}}"{% else %} alt="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}"{% endif %} jl-img />
{% elseif article.images.image_fulltext and display.image.enabled == 'full' %}
<img {{imagewidth}} {{imageheight}} class="tm-image{{image_transition}}" data-src="{{ url(article.images.image_fulltext) }}"{% if article.images.image_fulltext_alt %} alt="{{article.images.image_fulltext_alt}}"{% else %} alt="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}"{% endif %} jl-img />
{% endif %}
{% endif %}
<div class="jl-position-cover{% if particle.overlay_style %} {{ particle.overlay_style|e }}{% endif %}{{overlay_transition}}"></div>

{% if particle.tiles_style == 1 %}
<div class="jl-overlay{% if particle.overlay_padding != 'default' %} jl-padding-{{ particle.overlay_padding|e }}{% endif %}{% if particle.overlay_position %} jl-position-{{ particle.overlay_position|e }}{% endif %}{% if particle.overlay_margin != 'none' %} jl-position-{{ particle.overlay_margin|e }}{% endif %}{% if particle.overlay_maxwidth != 'none' %} jl-width-{{ particle.overlay_maxwidth|e }}{% endif %} jl-margin-remove-first-child">
{% else %}
<div class="jl-overlay{% if particle.overlay_padding != 'default' %} jl-padding-{{ particle.overlay_padding|e }}{% endif %}{% if particle.overlay_position %} jl-position-{{ particle.overlay_position|e }}{% endif %}{% if particle.overlay_margin != 'none' %} jl-position-{{ particle.overlay_margin|e }}{% endif %}{% if particle.overlay_maxwidth != 'none' %} jl-width-{{ particle.overlay_maxwidth|e }}{% endif %}{% if particle.tiles_style2 %} {{ particle.tiles_style2|e }}{% endif %} jl-margin-remove-first-child">
{% endif %}
{% if particle.meta_alignment == 'top' %}
{{item_meta}}
{% endif %}

{% if display.title.enabled %}
<{{particle.title_element|e}} class="tm-title jl-margin-remove-bottom{{title_text_transform}}{% if particle.title_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.title_margin_top|e }}-top{% endif %}{% if particle.title_color != 'default' %} jl-text-{{particle.title_color|e}}{% endif %}{% if particle.title_style != 'default' %} jl-{{particle.title_style|e}}{% endif %}{% if particle.title_decoration != 'none' %} jl-heading-{{particle.title_decoration|e}}{% endif %}">
{% if particle.title_decoration == 'line' %} <span>
{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}
</span>
{% else %}

  {{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}

{% endif %}

</{{particle.title_element|e}}>

{% endif %}

{% if particle.meta_alignment == 'bottom' %}
{{item_meta}}
{% endif %}

</div>

<a href="{{ article.route }}" class="jl-position-cover"></a>

</div>
</div>
</div>

{% endfor %}

</div>

</div>

{% elseif particle.tiles_style == 3 %}
{% for article in articles %}

{# Set Meta Content #}
{% set item_meta %}
{% if display.date.enabled or display.author.enabled or display.category.enabled or display.hits.enabled %}
<ul class="tm-meta{{meta_text_transform}}{% if particle.meta_subnav_style == 'default' %} jl-subnav{% else %} jl-subnav jl-subnav-{{particle.meta_subnav_style|e}}{% endif %}{% if particle.pre_meta_color != 'default' %} jl-text-{{particle.pre_meta_color|e}}{% endif %}{% if particle.meta_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.meta_margin_top|e }}-top{% endif %}{% if particle.meta_style != 'default' %} jl-{{ particle.meta_style|e }}{% endif %}">
{% if display.date.enabled %}
<li class="g-array-item-date">
  <span>
  {% if display.date.enabled == 'published' %}
  {{ article.publish_up|date(display.date.format) }}
{% elseif display.date.enabled == 'modified' %}
{{ article.modified|date(display.date.format) }}
{% else %}
  {{ article.created|date(display.date.format) }}
{% endif %}
</span>
</li>
{% endif %}

{% if display.author.enabled %}
<li class="g-array-item-author">
  <span>{{ article.author.name }}</span>
</li>
{% endif %}
{% if display.category.enabled %}
{% set category_link = display.category.enabled == 'link' %}
<li class="g-array-item-category">
{% set cat = article.categories|last %}
{% if category_link %}
<a href="{{ cat.route }}">
{{ cat.title }}
</a>
{% else %}
  {{ cat.title }}
{% endif %}
</li>
{% endif %}
{% if display.category.enabled %}
{% set category_link = display.category.enabled == 'link' %}
<li class="g-array-item-category">
{% set cat = article.categories|last %}
{% if category_link %}
<a href="{{ cat.route }}">
{{ cat.title }}
</a>
{% else %}
  {{ cat.title }}
{% endif %}
</li>
{% endif %}

{% if display.hits.enabled %}
<li class="g-array-item-hits">
  <span><i class="fa fa-eye" aria-hidden="true"></i>{{ article.hits }}</span>
</li>
{% endif %}

</ul>
{% endif %}
{% endset %}

<div class="jl-width-1-1@s jl-width-1-2@m jl-width-1-3@l">
  <div class="jl-inline-clip jl-transition-toggle" tabindex="0"{{scrollspy_cls}}>

  {% if display.category.enabled and particle.show_label == '1' %}
  <div class="jl-position-top-left jl-position-z-index">
  {% set category_link = display.category.enabled == 'link' %}
  <span class="jl-label">
  {% set cat = article.categories|last %}
  {% if category_link %}
  <a class="jl-link-reset" href="{{ cat.route }}"><span>{{ cat.title }}</span></a>
  {% else %}
  <span>{{ cat.title }}</span>
{% endif %}
</span>
</div>
{% endif %}

<div class="tm-content-wrapper{% if particle.overlay_color != 'default' %} jl-{{ particle.overlay_color|e }}{% endif %}">

{% if display.image.enabled and article.images.image_intro or article.images.image_fulltext %}
{% if article.images.image_intro and display.image.enabled == 'intro' or display.image.enabled == 'show' %}

<img {{imagewidth}} {{imageheight}} class="tm-image{{image_transition}}" data-src="{{ url(article.images.image_intro) }}"{% if article.images.image_intro_alt %} alt="{{article.images.image_intro_alt}}"{% else %} alt="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}"{% endif %} jl-img />
{% elseif article.images.image_fulltext and display.image.enabled == 'full' %}
<img {{imagewidth}} {{imageheight}} class="tm-image{{image_transition}}" data-src="{{ url(article.images.image_fulltext) }}"{% if article.images.image_fulltext_alt %} alt="{{article.images.image_fulltext_alt}}"{% else %} alt="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}"{% endif %} jl-img />
{% endif %}
{% endif %}

<div class="tm-overlay jl-position-cover{% if particle.overlay_style %} {{ particle.overlay_style|e }}{% endif %}{{overlay_transition}}"></div>

<div class="jl-overlay{% if particle.overlay_padding != 'default' %} jl-padding-{{ particle.overlay_padding|e }}{% endif %}{% if particle.overlay_position %} jl-position-{{ particle.overlay_position|e }}{% endif %}{% if particle.overlay_margin != 'none' %} jl-position-{{ particle.overlay_margin|e }}{% endif %}{% if particle.overlay_maxwidth != 'none' %} jl-width-{{ particle.overlay_maxwidth|e }}{% endif %}{% if particle.tiles_style2 %} {{ particle.tiles_style2|e }}{% endif %} jl-margin-remove-first-child">

{% if particle.meta_alignment == 'top' %}
{{item_meta}}
{% endif %}

{% if display.title.enabled %}
<{{particle.title_element|e}} class="tm-title jl-margin-remove-bottom{{title_text_transform}}{% if particle.title_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.title_margin_top|e }}-top{% endif %}{% if particle.title_color != 'default' %} jl-text-{{particle.title_color|e}}{% endif %}{% if particle.title_style != 'default' %} jl-{{particle.title_style|e}}{% endif %}{% if particle.title_decoration != 'none' %} jl-heading-{{particle.title_decoration|e}}{% endif %}">
{% if particle.title_decoration == 'line' %} <span>
{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}
</span>
{% else %}

  {{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}

{% endif %}

</{{particle.title_element|e}}>

{% endif %}

{% if particle.meta_alignment == 'bottom' %}
{{item_meta}}
{% endif %}

</div>

<a href="{{ article.route }}" class="jl-position-cover"></a>

</div>
</div>

</div>

{% endfor %}

{% elseif particle.tiles_style == 4 %}

<div class="jl-width-expand@l">

{% for article in articles[0:1] %}

{# Set Meta Content #}
{% set item_meta %}
{% if display.date.enabled or display.author.enabled or display.category.enabled or display.hits.enabled %}
<ul class="tm-meta{{meta_text_transform}}{% if particle.meta_subnav_style == 'default' %} jl-subnav{% else %} jl-subnav jl-subnav-{{particle.meta_subnav_style|e}}{% endif %}{% if particle.pre_meta_color != 'default' %} jl-text-{{particle.pre_meta_color|e}}{% endif %}{% if particle.meta_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.meta_margin_top|e }}-top{% endif %}{% if particle.meta_style != 'default' %} jl-{{ particle.meta_style|e }}{% endif %}">
{% if display.date.enabled %}
<li class="g-array-item-date">
  <span>
  {% if display.date.enabled == 'published' %}
  {{ article.publish_up|date(display.date.format) }}
{% elseif display.date.enabled == 'modified' %}
{{ article.modified|date(display.date.format) }}
{% else %}
  {{ article.created|date(display.date.format) }}
{% endif %}
</span>
</li>
{% endif %}

{% if display.author.enabled %}
<li class="g-array-item-author">
  <span>{{ article.author.name }}</span>
</li>
{% endif %}
{% if display.category.enabled %}
{% set category_link = display.category.enabled == 'link' %}
<li class="g-array-item-category">
{% set cat = article.categories|last %}
{% if category_link %}
<a href="{{ cat.route }}">
{{ cat.title }}
</a>
{% else %}
  {{ cat.title }}
{% endif %}
</li>
{% endif %}
{% if display.hits.enabled %}
<li class="g-array-item-hits">
  <span><i class="fa fa-eye" aria-hidden="true"></i>{{ article.hits }}</span>
</li>
{% endif %}

</ul>
{% endif %}

{% endset %}

<div class="jl-inline-clip jl-transition-toggle{% if particle.overlay_color != 'default' %} jl-{{ particle.overlay_color|e }}{% endif %}" tabindex="0"{{scrollspy_cls}}>

{% if display.category.enabled and particle.show_label == '1' %}
<div class="jl-position-top-left jl-position-z-index">
{% set category_link = display.category.enabled == 'link' %}
<span class="jl-label">
{% set cat = article.categories|last %}
{% if category_link %}
<a class="jl-link-reset" href="{{ cat.route }}"><span>{{ cat.title }}</span></a>
{% else %}
<span>{{ cat.title }}</span>
{% endif %}
</span>
</div>
{% endif %}

{% if display.image.enabled and article.images.image_intro or article.images.image_fulltext %}
{% if article.images.image_intro and display.image.enabled == 'intro' or display.image.enabled == 'show' %}

<img {{imagewidth}} {{imageheight}} class="tm-image{{image_transition}}" data-src="{{ url(article.images.image_intro) }}"{% if article.images.image_intro_alt %} alt="{{article.images.image_intro_alt}}"{% else %} alt="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}"{% endif %} jl-img>
{% elseif article.images.image_fulltext and display.image.enabled == 'full' %}
<img {{imagewidth}} {{imageheight}} class="tm-image{{image_transition}}" data-src="{{ url(article.images.image_fulltext) }}"{% if article.images.image_fulltext_alt %} alt="{{article.images.image_fulltext_alt}}"{% else %} alt="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}"{% endif %} jl-img jl-cover>
{% endif %}
{% endif %}

<div class="jl-overlay jl-position-cover{% if particle.overlay_style %} {{ particle.overlay_style|e }}{% endif %}{{overlay_transition}}"></div>

<div class="jl-overlay{% if particle.overlay_style %} {{ particle.overlay_style|e }}{% endif %}{{overlay_transition}}{% if particle.overlay_padding != 'default' %} jl-padding-{{ particle.overlay_padding|e }}{% endif %}{% if particle.overlay_position %} jl-position-{{ particle.overlay_position|e }}{% endif %}{% if particle.overlay_margin != 'none' %} jl-position-{{ particle.overlay_margin|e }}{% endif %}{% if particle.overlay_maxwidth != 'none' %} jl-width-{{ particle.overlay_maxwidth|e }}{% endif %}{% if particle.tiles_style2 %} {{ particle.tiles_style2|e }}{% endif %} jl-margin-remove-first-child">

{% if particle.meta_alignment == 'top' %}
{{item_meta}}
{% endif %}

{% if display.title.enabled %}
<{{particle.title_element|e}} class="tm-title jl-margin-remove-bottom{{title_text_transform}}{% if particle.title_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.title_margin_top|e }}-top{% endif %}{% if particle.title_color != 'default' %} jl-text-{{particle.title_color|e}}{% endif %}{% if particle.title_style != 'default' %} jl-{{particle.title_style|e}}{% endif %}{% if particle.title_decoration != 'none' %} jl-heading-{{particle.title_decoration|e}}{% endif %}">
{% if particle.title_decoration == 'line' %} <span>
{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}
</span>
{% else %}

  {{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}

{% endif %}

</{{particle.title_element|e}}>

{% endif %}

{% if particle.meta_alignment == 'bottom' %}
{{item_meta}}
{% endif %}

</div>

<a href="{{ article.route }}" class="jl-position-cover"></a>

</div>

{% endfor %}
</div>

<div class="jl-width-expand@l">

{% for article in articles[1:4] %}

{# Set Meta Content #}
{% set item_meta %}
{% if display.date.enabled or display.author.enabled or display.category.enabled or display.hits.enabled %}
<ul class="tm-meta{{meta_text_transform}}{% if particle.meta_subnav_style == 'default' %} jl-subnav{% else %} jl-subnav jl-subnav-{{particle.meta_subnav_style|e}}{% endif %}{% if particle.pre_meta_color != 'default' %} jl-text-{{particle.pre_meta_color|e}}{% endif %}{% if particle.meta_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.meta_margin_top|e }}-top{% endif %}{% if particle.meta_style != 'default' %} jl-{{ particle.meta_style|e }}{% endif %}">

{% if display.date.enabled %}
<li class="g-array-item-date">
  <span>
  {% if display.date.enabled == 'published' %}
  {{ article.publish_up|date(display.date.format) }}
{% elseif display.date.enabled == 'modified' %}
{{ article.modified|date(display.date.format) }}
{% else %}
  {{ article.created|date(display.date.format) }}
{% endif %}
</span>
</li>
{% endif %}

{% if display.author.enabled %}
<li class="g-array-item-author">
  <span>{{ article.author.name }}</span>
</li>
{% endif %}
{% if display.category.enabled %}
{% set category_link = display.category.enabled == 'link' %}
<li class="g-array-item-category">
{% set cat = article.categories|last %}
{% if category_link %}
<a href="{{ cat.route }}">
{{ cat.title }}
</a>
{% else %}
  {{ cat.title }}
{% endif %}
</li>
{% endif %}
{% if display.hits.enabled %}
<li class="g-array-item-hits">
  <span><i class="fa fa-eye" aria-hidden="true"></i>{{ article.hits }}</span>
</li>
{% endif %}

</ul>
{% endif %}

{% endset %}

<div class="jl-child-width-expand jl-grid-small jl-flex-middle" jl-grid{{scrollspy_cls}}>

  <div class="jl-width-small@m">
    <div class="jl-panel jl-inline-clip jl-transition-toggle" tabindex="0"><a href="{{ article.route }}" class="jl-link">
    {% if display.image.enabled and article.images.image_intro or article.images.image_fulltext %}
    {% if article.images.image_intro and display.image.enabled == 'intro' or display.image.enabled == 'show' %}

    <img {{imagewidth}} {{imageheight}} class="tm-image{{image_transition}}" data-src="{{ url(article.images.image_intro) }}"{% if article.images.image_intro_alt %} alt="{{article.images.image_intro_alt}}"{% else %} alt="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}"{% endif %} jl-img />
  {% elseif article.images.image_fulltext and display.image.enabled == 'full' %}

  <img {{imagewidth}} {{imageheight}} class="tm-image{{image_transition}}" data-src="{{ url(article.images.image_fulltext) }}"{% if article.images.image_fulltext_alt %} alt="{{article.images.image_fulltext_alt}}"{% else %} alt="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}"{% endif %} jl-img />
{% endif %}
{% endif %}
</a>
</div>
</div>

<div>

  <div class="tm-content-wrapper{% if particle.overlay_color != 'default' %} jl-{{ particle.overlay_color|e }}{% endif %} jl-margin-remove-first-child">

  {% if particle.meta_alignment == 'top' %}
  {{item_meta}}
{% endif %}

{% if display.title.enabled %}
<{{particle.title_element|e}} class="tm-title jl-margin-remove-bottom{{title_text_transform}}{% if particle.title_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.title_margin_top|e }}-top{% endif %}{% if particle.title_color != 'default' %} jl-text-{{particle.title_color|e}}{% endif %}{% if particle.title_style != 'default' %} jl-{{particle.title_style|e}}{% endif %}{% if particle.title_decoration != 'none' %} jl-heading-{{particle.title_decoration|e}}{% endif %}">
{% if particle.title_decoration == 'line' %} <span>
  <a href="{{ article.route }}" class="jl-link">{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}</a>
</span>
{% else %}

<a href="{{ article.route }}" class="jl-link">{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}</a>

{% endif %}

</{{particle.title_element|e}}>

{% endif %}

{% if particle.meta_alignment == 'bottom' %}
{{item_meta}}
{% endif %}

</div>

</div>

</div>
{% endfor %}

</div>

{% elseif particle.tiles_style == 5 %}

<div class="jl-width-expand@l">

{% for article in articles %}

{# Set Meta Content #}
{% set item_meta %}
{% if display.date.enabled or display.author.enabled or display.category.enabled or display.hits.enabled %}
<ul class="tm-meta{{meta_text_transform}}{% if particle.meta_subnav_style == 'default' %} jl-subnav{% else %} jl-subnav jl-subnav-{{particle.meta_subnav_style|e}}{% endif %}{% if particle.pre_meta_color != 'default' %} jl-text-{{particle.pre_meta_color|e}}{% endif %}{% if particle.meta_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.meta_margin_top|e }}-top{% endif %}{% if particle.meta_style != 'default' %} jl-{{ particle.meta_style|e }}{% endif %}">

{% if display.date.enabled %}
<li class="g-array-item-date">
  <span>
  {% if display.date.enabled == 'published' %}
  {{ article.publish_up|date(display.date.format) }}
{% elseif display.date.enabled == 'modified' %}
{{ article.modified|date(display.date.format) }}
{% else %}
  {{ article.created|date(display.date.format) }}
{% endif %}
</span>
</li>
{% endif %}

{% if display.author.enabled %}
<li class="g-array-item-author">
  <span>{{ article.author.name }}</span>
</li>
{% endif %}
{% if display.category.enabled %}
{% set category_link = display.category.enabled == 'link' %}
<li class="g-array-item-category">
{% set cat = article.categories|last %}
{% if category_link %}
<a href="{{ cat.route }}">
{{ cat.title }}
</a>
{% else %}
  {{ cat.title }}
{% endif %}
</li>
{% endif %}
{% if display.hits.enabled %}
<li class="g-array-item-hits">
  <span><i class="fa fa-eye" aria-hidden="true"></i>{{ article.hits }}</span>
</li>
{% endif %}

</ul>
{% endif %}
{% endset %}

{% if loop.first %}

<div class="jl-inline-clip jl-transition-toggle jl-margin-small" tabindex="0"{{scrollspy_cls}}>

{% if display.category.enabled and particle.show_label == '1' %}
<div class="jl-position-top-left jl-position-z-index">
{% set category_link = display.category.enabled == 'link' %}
<span class="jl-label">
{% set cat = article.categories|last %}
{% if category_link %}
<a class="jl-link-reset" href="{{ cat.route }}"><span>{{ cat.title }}</span></a>
{% else %}
<span>{{ cat.title }}</span>
{% endif %}
</span>
</div>
{% endif %}

<div class="tm-content-wrapper{% if particle.overlay_color != 'default' %} jl-{{ particle.overlay_color|e }}{% endif %}">

{% if display.image.enabled and article.images.image_intro or article.images.image_fulltext %}
{% if article.images.image_intro and display.image.enabled == 'intro' or display.image.enabled == 'show' %}

<img {{imagewidth}} {{imageheight}} class="tm-image{{image_transition}}" data-src="{{ url(article.images.image_intro) }}"{% if article.images.image_intro_alt %} alt="{{article.images.image_intro_alt}}"{% else %} alt="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}"{% endif %} jl-img />
{% elseif article.images.image_fulltext and display.image.enabled == 'full' %}
<img {{imagewidth}} {{imageheight}} class="tm-image{{image_transition}}" data-src="{{ url(article.images.image_fulltext) }}"{% if article.images.image_fulltext_alt %} alt="{{article.images.image_fulltext_alt}}"{% else %} alt="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}"{% endif %} jl-img />
{% endif %}
{% endif %}

<div class="tm-overlay jl-position-cover{% if particle.overlay_style %} {{ particle.overlay_style|e }}{% endif %}{{overlay_transition}}"></div>

<div class="jl-overlay{% if particle.overlay_padding != 'default' %} jl-padding-{{ particle.overlay_padding|e }}{% endif %}{% if particle.overlay_position %} jl-position-{{ particle.overlay_position|e }}{% endif %}{% if particle.overlay_margin != 'none' %} jl-position-{{ particle.overlay_margin|e }}{% endif %}{% if particle.overlay_maxwidth != 'none' %} jl-width-{{ particle.overlay_maxwidth|e }}{% endif %}{% if particle.tiles_style2 %} {{ particle.tiles_style2|e }}{% endif %} jl-margin-remove-first-child">

{% if particle.meta_alignment == 'top' %}
{{item_meta}}
{% endif %}

{% if display.title.enabled %}
<{{particle.title_element|e}} class="tm-title jl-margin-remove-bottom{{title_text_transform}}{% if particle.title_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.title_margin_top|e }}-top{% endif %}{% if particle.title_color != 'default' %} jl-text-{{particle.title_color|e}}{% endif %}{% if particle.title_style != 'default' %} jl-{{particle.title_style|e}}{% endif %}{% if particle.title_decoration != 'none' %} jl-heading-{{particle.title_decoration|e}}{% endif %}">
{% if particle.title_decoration == 'line' %} <span>
{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}
</span>
{% else %}

  {{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}

{% endif %}

</{{particle.title_element|e}}>

{% endif %}

{% if particle.meta_alignment == 'bottom' %}
{{item_meta}}
{% endif %}

</div>

<a href="{{ article.route }}" class="jl-position-cover"></a>

</div>
</div>

{% endif %}
{% if not loop.first %}
<div class="jl-child-width-expand jl-grid-small jl-flex-middle" jl-grid{{scrollspy_cls}}>

  <div class="jl-width-small@m">
    <div class="jl-panel jl-inline-clip jl-transition-toggle" tabindex="0"><a href="{{ article.route }}" class="jl-link">
    {% if display.image.enabled and article.images.image_intro or article.images.image_fulltext %}
    {% if article.images.image_intro and display.image.enabled == 'intro' or display.image.enabled == 'show' %}

    <img {{imagewidth}} {{imageheight}} class="tm-image{{image_transition}}" data-src="{{ url(article.images.image_intro) }}"{% if article.images.image_intro_alt %} alt="{{article.images.image_intro_alt}}"{% else %} alt="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}"{% endif %} jl-img />
  {% elseif article.images.image_fulltext and display.image.enabled == 'full' %}

  <img {{imagewidth}} {{imageheight}} class="tm-image{{image_transition}}" data-src="{{ url(article.images.image_fulltext) }}"{% if article.images.image_fulltext_alt %} alt="{{article.images.image_fulltext_alt}}"{% else %} alt="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}"{% endif %} jl-img />
{% endif %}
{% endif %}
</a>
</div>
</div>

<div>

  <div class="tm-content-wrapper{% if particle.overlay_color != 'default' %} jl-{{ particle.overlay_color|e }}{% endif %} jl-margin-remove-first-child">

  {% if particle.meta_alignment == 'top' %}
  {{item_meta}}
{% endif %}

{% if display.title.enabled %}
<{{particle.title_element|e}} class="tm-title jl-margin-remove-bottom{{title_text_transform}}{% if particle.title_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.title_margin_top|e }}-top{% endif %}{% if particle.title_color != 'default' %} jl-text-{{particle.title_color|e}}{% endif %}{% if particle.title_style != 'default' %} jl-{{particle.title_style|e}}{% endif %}{% if particle.title_decoration != 'none' %} jl-heading-{{particle.title_decoration|e}}{% endif %}">
{% if particle.title_decoration == 'line' %} <span>
  <a href="{{ article.route }}" class="jl-link">{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}</a>
</span>
{% else %}

<a href="{{ article.route }}" class="jl-link">{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}</a>

{% endif %}

</{{particle.title_element|e}}>

{% endif %}

{% if particle.meta_alignment == 'bottom' %}
{{item_meta}}
{% endif %}

</div>

</div>

</div>
{% endif %}
{% endfor %}

</div>

{% endif %}

</div>
{% endif %}
{% endblock %}
