{% extends '@nucleus/partials/particle.html.twig' %}

{% block stylesheets %}
{% if particle.particle_title_color or particle.particle_title_fontsize or particle.title_color or particle.title_fontsize %}
<style>
{% if particle.particle_title_color or particle.particle_title_fontsize %}
#{{ id }}.g5-particle-title { {% if particle.particle_title_color %}color: {{ particle.particle_title_color }};{% endif %}{% if particle.particle_title_fontsize %}font-size: {{particle.particle_title_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.custom_content_color or particle.custom_content_fontsize %}
#{{ id }} .tm-content a, #{{ id }} .tm-content { {% if particle.custom_content_color %}color: {{particle.custom_content_color}} !important; {% endif %}{% if particle.custom_content_fontsize %}font-size: {{particle.custom_content_fontsize}}px;{% endif %} }
{% endif %}
</style>
{% endif %}
{% endblock %}

{% set attr_extra = particle.extra|attribute_array %}
{% set article_settings = particle.article %}
{% set filter = article_settings.filter %}
{% set sort = article_settings.sort %}
{% set limit = article_settings.limit %}
{% set display = article_settings.display %}

{# Category Finder #}
{% set category_options = filter.categories ? {id: [filter.categories|split(','), 0]} : {} %}
{% set categories = joomla.finder('category', category_options).published(1).language().limit(0).find() %}

{# Content Finder #}
{% if filter.articles %}
{% set article_options = filter.articles ? {id: [filter.articles|replace(' ', '')|split(',')]} : {} %}
{% set article_finder = joomla.finder('content', article_options).published(1).language() %}
{% else %}
{% set article_finder = joomla.finder('content').category(categories).published(1).language() %}
{% endif %}

{% set featured = filter.featured|default('include') %}
{% if featured == 'exclude' %}
{% do article_finder.featured(false) %}
{% elseif featured == 'only' %}
{% do article_finder.featured(true) %}
{% endif %}

{% set start = limit.start + max(0, ajax.start|int) %}
{% do article_finder.order(sort.orderby, sort.ordering).limit(limit.total).start(start) %}
{% set total = article_finder.count() %}
{% set articles = article_finder.find() %}

{# Set Title Text Transform #}
{% set title_text_transform %}
{% if particle.title_text_transform %} jl-text-{{particle.title_text_transform|e}}{% endif %}
{% endset %}

{# Set Content Text Transform #}
{% set content_text_transform %}
{% if particle.content_text_transform %} jl-text-{{particle.content_text_transform|e}}{% endif %}
{% endset %}

{# set Scrollspy Animation #}
{% set scrollspy_cls %}
{% if particle.delay_element_animations == '1' %} jl-scrollspy-class{% endif %}
{% endset %}

{# set Animation #}
{% set animation %}
{% if particle.animation != 'inherit' %}
{% if particle.delay_element_animations == '1' %} jl-scrollspy="target: [jl-scrollspy-class]; cls: jl-animation-{{particle.animation|e}};{% if particle.animation_repeat != 'disabled' %} repeat: true;{% endif %}{% if particle.animation_delay != '' %} delay: {{particle.animation_delay|e}};{% else %} delay: 200;{% endif %}"{% else %} jl-scrollspy="cls: jl-animation-{{particle.animation|e}};{% if particle.animation_repeat != 'disabled' %} repeat: true;{% endif %}{% if particle.animation_delay != '' %} delay: {{particle.animation_delay|e}};{% endif %}"{% endif %}
{% endif %}
{% endset %}

{# Set Max-Width Content #}
{% set content_maxwidth %}
{% if particle.g_maxwidth != 'inherit' %} jl-width-{{particle.g_maxwidth}}{% if particle.g_maxwidth_breakpoint != 'always' %}@{{particle.g_maxwidth_breakpoint}}{% endif %}{% if particle.g_maxwidth_alignment == 'left' %}{% elseif particle.g_maxwidth_alignment == 'center' %} jl-margin-auto{% else %} jl-margin-auto-left{% endif %}{% endif %}
{% endset %}

{# Set Particle Alignment #}
{% set particle_alignment %}
{% if particle.align != 'inherit' %} jl-text-{{particle.align|e}}{% if particle.breakpoint != 'always' %}@{{particle.breakpoint|e}}{% endif %}{% endif %}{% if particle.align != 'inherit' and particle.breakpoint != 'always' %}{% if particle.fallback != 'inherit' %} jl-text-{{particle.fallback|e}}{% endif %}{% endif %}
{% endset %}

{# set Particle Title Style #}
{% set particle_title_style %}
{% if particle.particle_title %}
<{{particle.particle_title_element|e}} id="{{ id }}" class="g5-particle-title{% if particle.particle_title_align != 'inherit' %} jl-text-{{particle.particle_title_align|e}}{% endif %}{% if particle.particle_predefined_color != 'default' %} jl-text-{{particle.particle_predefined_color|e}}{% endif %}{% if particle.particle_title_style != 'default' %} jl-{{particle.particle_title_style|e}}{% endif %}{% if particle.particle_title_decoration != 'none' %} jl-heading-{{particle.particle_title_decoration|e}}{% endif %}">
{% if particle.particle_title_decoration == 'line' %} <span>{{particle.particle_title|raw}}</span>
{% else %} {{particle.particle_title|raw}}
{% endif %}
</{{particle.particle_title_element|e}}>
{% endif %}
{% endset %}

{% set imagewidth %}
{% if particle.image_width != '' %}width = "{{particle.image_width}}"{% endif %}
{% endset %}

{% set imageheight %}
{% if particle.image_height != '' %}height = "{{particle.image_height}}"{% endif %}
{% endset %}

{# Image Box Shadow #}
{% set image_boxshadow %}
{% if particle.box_shadow != 'none' %} jl-box-shadow-{{particle.box_shadow|e}}{% endif %}{% if particle.box_shadow_hover != 'none' %} jl-box-shadow-hover-{{particle.box_shadow_hover|e}}{% endif %}
{% endset %}

{# Set Image Border Class #}
{% set image_border_cls %}
{% if particle.image_padding == '1' %}{% else %}{% if particle.image_border != 'none' %} jl-border-{{particle.image_border|e}}{% endif %}{% endif %}
{% endset %}

{# Image Transition #}
{% set image_transition %}
{% if particle.image_transition %} jl-transition-{{ particle.image_transition|e }} jl-transition-opaque{% endif %}
{% endset %}

{# Set Item Content #}
{% set item_content %}
{% for article in articles %}

<li class="tm-item"{{scrollspy_cls}}>

{% if display.image.enabled and article.images.image_intro or article.images.image_fulltext %}

<div class="jl-grid-small jl-child-width-expand jl-flex-nowrap{% if particle.img_vertical_alignment == '1' %} jl-flex-middle{% endif %}" jl-grid>
<div class="jl-width-auto{% if particle.image_alignment == 'right' %} jl-flex-last{% endif %}">

{% if particle.show_link %}<a class="jl-link-reset" href="{{ article.route }}" target="{{ particle.link_target|default('_self')|e }}">{% endif %}

{% if article.images.image_intro and display.image.enabled == 'intro' or display.image.enabled == 'show' %}
{% if particle.image_transition != 'none' %}<div class="jl-inline-clip jl-transition-toggle{{image_top_cls2}}" tabindex="0">{% endif %}
  <img {{imagewidth}} {{imageheight}} class="tm-image{{image_border_cls}}{{image_boxshadow}}{{image_transition}}" src="{{ url(article.images.image_intro) }}"{% if article.images.image_intro_alt %} alt="{{article.images.image_intro_alt}}"{% else %} alt="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}"{% endif %}>
{% if particle.image_transition != 'none' %}</div>{% endif %}

{% elseif article.images.image_fulltext and display.image.enabled == 'full' %}

{% if particle.image_transition != 'none' %}<div class="jl-inline-clip jl-transition-toggle{{image_top_cls2}}" tabindex="0">{% endif %}
  <img {{imagewidth}} {{imageheight}} class="tm-image{{image_border_cls}}{{image_boxshadow}}{{image_transition}}" src="{{ url(article.images.image_fulltext) }}"{% if article.images.image_fulltext_alt %} alt="{{article.images.image_fulltext_alt}}"{% else %} alt="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}"{% endif %}>
{% if particle.image_transition != 'none' %}</div>{% endif %}

{% endif %}

{% if particle.show_link %}</a>{% endif %}

</div>
<div>

<div class="jl-panel jl-margin-remove-first-child">

{% if display.title.enabled %}
<{{particle.title_element|e}} class="tm-title jl-margin-remove-bottom{{title_text_transform}}{% if particle.title_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.title_margin_top|e }}-top{% endif %}{% if particle.title_color != 'default' %} jl-text-{{particle.title_color|e}}{% endif %}{% if particle.title_style != 'default' %} jl-{{particle.title_style|e}}{% endif %}{% if particle.title_decoration != 'none' %} jl-heading-{{particle.title_decoration|e}}{% endif %}">
{% if particle.title_decoration == 'line' %} <span><a href="{{ article.route }}" target="{{ particle.link_target|default('_self')|e }}" title="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}">
{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}
</a></span>
{% else %}
<a href="{{ article.route }}" target="{{ particle.link_target|default('_self')|e }}" title="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}">
{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}
</a>
{% endif %}
</{{particle.title_element|e}}>
{% endif %}

<div class="tm-content jl-panel{{content_text_transform}}{% if particle.content_style != 'default' %} jl-{{ particle.content_style|e }}{% endif %}{% if particle.content_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.content_margin_top|e }}-top{% endif %}{% if particle.hidden_text %} jl-visible@s{% endif %}">
{% if display.text.type %}
{% if particle.show_link %}<a class="{% if particle.link_style == 'default' %}tm-link{% else %}jl-link-{{particle.link_style|e}}{% endif %}" href="{{ article.route }}" target="{{ particle.link_target|default('_self')|e }}">{% endif %}
{% set article_text = display.text.type == 'intro' ? article.introtext : article.text %}
{% if display.text.formatting == 'text' %}{{ article_text|truncate_text(display.text.limit)|raw }}{% else %}{{ article_text|truncate_html(display.text.limit)|raw }}{% endif %}
{% if particle.show_link %}</a>{% endif %}
{% endif %}
</div>


</div>

</div>

</div>


{% else %}

<div class="tm-content jl-panel{{content_text_transform}}{% if particle.content_style != 'default' %} jl-{{ particle.content_style|e }}{% endif %}{% if particle.content_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.content_margin_top|e }}-top{% endif %}{% if particle.hidden_text %} jl-visible@s{% endif %}">
{% if display.text.type %}
{% if particle.show_link %}<a class="{% if particle.link_style == 'default' %}tm-link{% else %}jl-link-{{particle.link_style|e}}{% endif %}" href="{{ article.route }}" target="{{ particle.link_target|default('_self')|e }}">{% endif %}
{% set article_text = display.text.type == 'intro' ? article.introtext : article.text %}
{% if display.text.formatting == 'text' %}{{ article_text|truncate_text(display.text.limit)|raw }}{% else %}{{ article_text|truncate_html(display.text.limit)|raw }}{% endif %}
{% if particle.show_link %}</a>{% endif %}
{% endif %}
</div>
{% endif %}
</li>
{% endfor %}
{% endset %}

{% block particle %}
{% if particle.enabled %}
{{particle_title_style}}
<div id="{{ id }}" class="tm-content-wrapper{{content_maxwidth}}{% if particle.class %} {{ particle.class }}{% endif %}{{particle_alignment}}{% if particle.margin == 'inherit' %}{% elseif particle.margin == 'default' %} jl-margin{% else %} jl-margin-{{particle.margin|e}}{% endif %}{% if particle.visibility != 'inherit' %} jl-visible@{{particle.visibility|e}}{% endif %}"{{animation}} {{- attr_extra|raw }}>
<ul class="jl-list{% if particle.list_style != 'default' %} jl-list-{{particle.list_style|e}}{% endif %}{% if particle.large_padding == '1' %} jl-list-large{% endif %}">
{{item_content}}
</ul>
</div>
{% endif %}
{% endblock %}
