{% extends '@nucleus/partials/particle.html.twig' %}

{% block stylesheets %}
{% if particle.particle_title_color or particle.particle_title_fontsize or particle.customize_title_color or particle.customize_title_fontsize or particle.customize_content_color or particle.customize_content_fontsize or particle.meta_color or particle.meta_fontsize %}
<style>
{% if particle.particle_title_color or particle.particle_title_fontsize %}
#{{ id }}.g5-particle-title { {% if particle.particle_title_color %}color: {{ particle.particle_title_color }};{% endif %}{% if particle.particle_title_fontsize %}font-size: {{particle.particle_title_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.customize_title_color or particle.customize_title_fontsize %}
#{{ id }} .tm-title { {% if particle.customize_title_color %}color: {{particle.customize_title_color}}; {% endif %}{% if particle.customize_title_fontsize %}font-size: {{particle.customize_title_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.customize_content_color or particle.customize_content_fontsize %}
#{{ id }} .tm-content { {% if particle.customize_content_color %}color: {{particle.customize_content_color}};{% endif %}{% if particle.customize_content_fontsize %} font-size: {{particle.customize_content_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.meta_color or particle.meta_fontsize %}
#{{ id }} .tm-meta { {% if particle.meta_color %}color: {{particle.meta_color}};{% endif %}{% if particle.meta_fontsize %} font-size: {{particle.meta_fontsize}}px;{% endif %} }
{% endif %}
</style>
{% endif %}
{% endblock %}

{# set Viewport Height #}
{% set viewport_height %}
{% if particle.viewport_height == 'none' %}
{% elseif particle.viewport_height == 'full' %}
jl-height-viewport="offset-top: true"
{% elseif particle.viewport_height == 'percent' %}
jl-height-viewport="offset-top: true;offset-bottom: 20"
{% elseif particle.viewport_height == 'section' %}
jl-height-viewport="offset-top: true;offset-bottom: 50"
{% elseif particle.viewport_height == 'expand' %}
jl-height-viewport="expand: true"
{% endif %}
{% endset %}

{# Set Title Text Transform #}
{% set title_text_transform %}
{% if particle.title_text_transform %} jl-text-{{particle.title_text_transform|e}}{% endif %}
{% endset %}

{# Set Meta Text Transform #}
{% set meta_text_transform %}
{% if particle.meta_text_transform %} jl-text-{{particle.meta_text_transform|e}}{% endif %}
{% endset %}

{# Set Content Text Transform #}
{% set content_text_transform %}
{% if particle.content_text_transform %} jl-text-{{particle.content_text_transform|e}}{% endif %}
{% endset %}

{# set padding #}
{% set padding %}
{% if particle.viewport_height == 'full' %}
{% else %}
{% if particle.padding == 'default' %}{% else %} jl-section-{{particle.padding|e}}{% endif %}
{% endif %}
{% endset %}

{# set Container #}
{% set container %}
{% if particle.container == '1' %}
<div class="jl-container"><div class="g5-content g5-particle">{% endif %}
{% endset %}

{# set End Container #}
{% set endcontainer %}
{% if particle.container == '1' %}
</div></div>{% endif %}
{% endset %}

{# set Background color #}
{% set parallax_bg_color %}
{% if particle.parallax_bg_color %}
style="background-color: {{particle.parallax_bg_color}};"{% endif %}
{% endset %}

{# Set Max-Width Content #}
{% set content_maxwidth %}
{% if particle.g_maxwidth != 'inherit' %} jl-width-{{particle.g_maxwidth}}{% if particle.g_maxwidth_breakpoint != 'always' %}@{{particle.g_maxwidth_breakpoint}}{% endif %}{% if particle.g_maxwidth_alignment == 'left' %}{% elseif particle.g_maxwidth_alignment == 'center' %} jl-margin-auto{% else %} jl-margin-auto-left{% endif %}{% endif %}
{% endset %}

{# set Parallax Background #}
{% set parallaxbackground %}
{% if particle.parallax_image %}
<div data-src="{{ url(particle.parallax_image)|e }}" class="{{id}} jl-background-norepeat{{padding}}{{content_maxwidth}} jl-background-{{particle.background_image_position|e}}{% if particle.background_image_size != 'auto' %} jl-background-{{particle.background_image_size|e}}{% endif %}{% if particle.parallax_bg_visibility != 'always' %} jl-background-image@{{particle.parallax_bg_visibility|e}}{% endif %}{% if particle.vertical_alignment != 'none' %} jl-flex jl-flex-{{particle.vertical_alignment|e}}{% endif %}{% if particle.parallax_text_color != 'default' %} jl-{{particle.parallax_text_color|e}}{% endif %}{% if particle.blendmode != 'inherit' %} jl-background-blend-{{particle.blendmode|e}}{% endif %}" {{parallax_bg_color}}{% if particle.horizontal_start or particle.horizontal_end or particle.vertical_start or particle.vertical_end %} jl-parallax="{% if particle.horizontal_start or particle.horizontal_end %}bgx: {{particle.horizontal_start|e}},{{particle.horizontal_end|e}};{% endif %}{% if particle.vertical_start or particle.vertical_end %}bgy: {{particle.vertical_start|e}},{{particle.vertical_end|e}};{% endif %}{% if particle.parallax_bg_breakpoint != 'always' %} media: @{{particle.parallax_bg_breakpoint|e}}{% endif %}" {% endif %} jl-img {{viewport_height}}>
{{container}}
{% endif %}
{% endset %}

{# End Parallax Background #}
{% set endparallaxbackground %}
{% if particle.parallax_image %}
{{endcontainer}}
</div>
{% endif %}
{% endset %}

{# Set Horizontal #}
{% set pahorizontal %}
{% if particle.pa_horizontal_start or particle.pa_horizontal_end %}x: {% if particle.pa_horizontal_start == '' %}0{% else %}{{particle.pa_horizontal_start }}{% endif %},{% if particle.pa_horizontal_end == '' %}0{% else %}{{particle.pa_horizontal_end }}{% endif %};{% endif %}
{% endset %}

{# Set Vertical #}
{% set pavertical %}
{% if particle.pa_vertical_start or particle.pa_vertical_end %}y: {% if particle.pa_vertical_start == '' %}0{% else %}{{particle.pa_vertical_start }}{% endif %},{% if particle.pa_vertical_end == '' %}0{% else %}{{particle.pa_vertical_end }}{% endif %};{% endif %}
{% endset %}

{# Set Scale #}
{% set scale %}
{% if particle.scale_start or particle.scale_end %}scale: {% if particle.scale_start == '' %}1{% else %}{{particle.scale_start / 100 }}{% endif %},{% if particle.scale_end == '' %}1{% else %} {{particle.scale_end / 100 }}{% endif %};{% endif %}
{% endset %}

{# Set Rotate #}
{% set rotate %}{% if particle.rotate_start or particle.rotate_end %}
rotate: {% if particle.rotate_start == '' %}0{% else %}{{particle.rotate_start}}{% endif %},{% if particle.rotate_end == '' %}0{% else %}{{particle.rotate_end}}{% endif %};{% endif %}
{% endset %}

{# Set Opacity #}
{% set opacity %}
{% if particle.opacity_start or particle.opacity_end %}opacity: {% if particle.opacity_start == '' %}1{% else %}{{particle.opacity_start / 100 }}{% endif %},{% if particle.opacity_end == '' %}1{% else %}{{particle.opacity_end / 100 }}{% endif %};{% endif %}
{% endset %}

{# set Scrollspy Animation #}
{% set scrollspy_cls %}
{% if particle.delay_element_animations == '1' %} jl-scrollspy-class{% endif %}
{% endset %}

{# set Animation #}
{% set animation %}
{% if particle.animation == 'parallax' %}
{% if particle.pa_horizontal_start or particle.pa_horizontal_end or particle.pa_vertical_start or particle.pa_vertical_end or particle.scale_start or particle.scale_end or particle.rotate_start or particle.rotate_end or particle.opacity_start or particle.opacity_end or particle.easing or particle.pa_viewport or particle.pa_breakpoint %} jl-parallax="{{pahorizontal}}{{pavertical}}{{scale}}{{rotate}}{{opacity}}{% if particle.easing == '' %}{% else %}easing: {{ particle.easing / 100 }};{% endif %}{% if particle.pa_viewport != '' %}viewport:{{ particle.pa_viewport / 100 }};{% endif %}{% if particle.pa_breakpoint != 'always' %}media: @{{particle.pa_breakpoint|e}}{% endif %}"{% endif %}
{% else %}
{% if particle.animation != 'inherit' %}
{% if particle.delay_element_animations == '1' %} jl-scrollspy="target: [jl-scrollspy-class]; cls: jl-animation-{{particle.animation|e}};{% if particle.animation_repeat != 'disabled' %} repeat: true;{% endif %}{% if particle.animation_delay != '' %} delay: {{particle.animation_delay|e}};{% else %} delay: 200;{% endif %}"{% else %} jl-scrollspy="cls: jl-animation-{{particle.animation|e}};{% if particle.animation_repeat != 'disabled' %} repeat: true;{% endif %}{% if particle.animation_delay != '' %} delay: {{particle.animation_delay|e}};{% endif %}"{% endif %}
{% endif %}
{% endif %}
{% endset %}

{# Set Particle Alignment #}
{% set particle_alignment %}
{% if particle.align != 'inherit' %} jl-text-{{particle.align|e}}{% if particle.breakpoint != 'always' %}@{{particle.breakpoint|e}}{% endif %}{% endif %}{% if particle.align != 'inherit' and particle.breakpoint != 'always' %}{% if particle.fallback != 'inherit' %} jl-text-{{particle.fallback|e}}{% endif %}{% endif %}
{% endset %}

{# set Particle Title Style #}
{% set particle_title_style %}
{% if particle.particle_title %}
<{{particle.particle_title_element|e}} id="{{ id }}" class="g5-particle-title{% if particle.particle_title_align != 'inherit' %} jl-text-{{particle.particle_title_align|e}}{% endif %}{% if particle.particle_predefined_color != 'default' %} jl-text-{{particle.particle_predefined_color|e}}{% endif %}{% if particle.particle_title_style != 'default' %} jl-{{particle.particle_title_style|e}}{% endif %}{% if particle.particle_title_decoration != 'none' %} jl-heading-{{particle.particle_title_decoration|e}}{% endif %}">
{% if particle.particle_title_decoration == 'line' %} <span>{{particle.particle_title|raw}}</span>
{% else %} {{particle.particle_title|raw}}
{% endif %}
</{{particle.particle_title_element|e}}>
{% endif %}
{% endset %}

{# Set Grid Cls #}
{% set grid_init_cls %}
{% if particle.list_width == 'expand' %}jl-child-width-auto{% else %}jl-child-width-expand{% endif %}
{% endset %}

{# Set Meta Style Cls #}
{% set meta_style_cls %}
{% if particle.meta_style == 'default' %}{% elseif particle.meta_style == 'text-meta' %} jl-text-meta{% else %} jl-{{particle.meta_style}} jl-margin-remove{% endif %}
{% endset %}

{# Set Title Html Cls #}
{% set title_html_cls %}
{% if particle.title_style == 'default' %}span{% elseif particle.title_style == 'strong' %}strong{% else %}h3{% endif %}
{% endset %}

{# Set Title Style Cls #}
{% set title_style_cls %}
{% if particle.title_style == 'default' or particle.title_style == 'strong' %}{% else %} jl-{{particle.title_style|e}} jl-margin-remove{% endif %}
{% endset %}

{% block particle %}
{% if particle.enabled %}
{{parallaxbackground}}

<div id="{{ id }}" class="tm-description{{content_maxwidth}}{% if particle.class %} {{ particle.class }}{% endif %}{{particle_alignment}}{% if particle.margin == 'inherit' %}{% elseif particle.margin == 'default' %} jl-margin{% else %} jl-margin-{{particle.margin|e}}{% endif %}{% if particle.visibility != 'inherit' %} jl-visible@{{particle.visibility|e}}{% endif %}"{{animation}}>
{{particle_title_style}}
<ul class="jl-list{% if particle.list_style != 'default' %} jl-list-{{particle.list_style|e}}{% endif %}{% if particle.large_padding == '1' %} jl-list-large{% endif %}">
{% for item in particle.items %}

{% set linkscroll %}
{% if item.buttonlink|e matches '/#/' %} jl-scroll{% endif %}
{% endset %}

<li class="tm-item"{{scrollspy_cls}}>

{% if particle.list_layout == 'grid-2' %}

<div class="{{grid_init_cls}}{% if particle.list_breakpoint != 'inherit' %}@{{particle.list_breakpoint|e}}{% endif %}{% if particle.list_gutter != 'default' %} jl-grid-{{particle.list_gutter|e}}{% endif %}" jl-grid>
<div class="jl-width-{{particle.list_width|e}}{% if particle.list_breakpoint != 'inherit' %}@{{particle.list_breakpoint|e}}{% endif %}{% if particle.list_width == 'small' or particle.list_width == 'medium' %} jl-text-break{% endif %}">

{% if particle.meta_alignment == 'top-title' %}
<div class="tm-meta{{meta_style_cls}}">{{item.meta|raw}}</div>
{% endif %}

<{{title_html_cls}} class="tm-title{{title_text_transform}}{{title_style_cls}}{% if particle.title_color != 'default' %} jl-text-{{particle.title_color|e}}{% endif %}">{{item.title|raw}}</{{title_html_cls}}>

{% if particle.meta_alignment == 'bottom-title' %}
<div class="tm-meta{{meta_text_transform}}{{meta_style_cls}}">{{item.meta|raw}}</div>
{% endif %}

</div>

<div>

{% if particle.meta_alignment == 'above-content' %}
<div class="tm-meta{{meta_text_transform}}{{meta_style_cls}}">{{item.meta|raw}}</div>
{% endif %}

<div class="tm-content jl-panel{{content_text_transform}}{% if particle.content_style != 'default' %} jl-text-{{particle.content_style|e}}{% endif %}{% if particle.content_text_color != 'default' %} jl-text-{{ particle.content_text_color|e }}{% endif %}">
{% if item.buttonlink != '' %}<a target="{{ item.buttontarget|default('_self')|e }}" href="{{ item.buttonlink|e }}" class="tm-link{% if particle.link_style != 'default' %} jl-link-{{particle.link_style|e}}{% endif %}" title="{{ item.title|e }}"{{linkscroll}}>{% endif %}
{{item.content|raw}}
{% if item.buttonlink != '' %}</a>{% endif %}
</div>

{% if particle.meta_alignment == 'bottom-content' %}
<div class="tm-meta{{meta_text_transform}}{{meta_style_cls}}">{{item.meta|raw}}</div>
{% endif %}

</div>
</div>

{% elseif particle.list_layout == 'grid-2-m' %}

<div class="{{grid_init_cls}}{% if particle.list_breakpoint != 'inherit' %}@{{particle.list_breakpoint|e}}{% endif %}{% if particle.list_gutter != 'default' %} jl-grid-{{particle.list_gutter|e}}{% endif %}{% if particle.add_leader == '1'%} jl-flex-bottom{% else %} jl-flex-middle{% endif %}" jl-grid>
<div class="jl-width-{{particle.list_width|e}}{% if particle.list_breakpoint != 'inherit' %}@{{particle.list_breakpoint|e}}{% endif %}{% if particle.list_width == 'small' or particle.list_width == 'medium' %} jl-text-break{% endif %}">

<{{title_html_cls}} class="tm-title{{title_text_transform}}{{title_style_cls}}{% if particle.title_color != 'default' %} jl-text-{{particle.title_color|e}}{% endif %}">{{item.title|raw}}</{{title_html_cls}}>

</div>

<div>
<div class="tm-meta{{meta_text_transform}}{{meta_style_cls}}">{{item.meta|raw}}</div>
</div>
</div>
<div class="tm-content jl-panel{{content_text_transform}}{% if particle.content_style != 'default' %} jl-text-{{particle.content_style|e}}{% endif %}{% if particle.content_text_color != 'default' %} jl-text-{{ particle.content_text_color|e }}{% endif %}">

{% if item.buttonlink != '' %}<a target="{{ item.buttontarget|default('_self')|e }}" href="{{ item.buttonlink|e }}" class="{% if particle.link_style == 'default' %}tm-link{% else %}jl-link-{{particle.link_style|e}}{% endif %}" title="{{ item.title|e }}"{{linkscroll}}>{% endif %}
{{item.content|raw}}</a>
{% if item.buttonlink != '' %}</a>{% endif %}

</div>

{% else %}

{% if particle.meta_alignment == 'top-title' %}
<div class="tm-meta{{meta_text_transform}}{{meta_style_cls}}">{{item.meta|raw}}</div>
{% endif %}

<{{title_html_cls}} class="tm-title{{title_text_transform}}{{title_style_cls}}{% if particle.title_color != 'default' %} jl-text-{{particle.title_color|e}}{% endif %}">{{item.title|raw}}</{{title_html_cls}}>

{% if particle.meta_alignment == 'bottom-title' %}
<div class="tm-meta{{meta_text_transform}}{{meta_style_cls}}">{{item.meta|raw}}</div>
{% endif %}

<div class="tm-content jl-panel{{content_text_transform}}{% if particle.content_style != 'default' %} jl-text-{{particle.content_style|e}}{% endif %}{% if particle.content_text_color != 'default' %} jl-text-{{ particle.content_text_color|e }}{% endif %}">

{% if item.buttonlink != '' %}<a target="{{ item.buttontarget|default('_self')|e }}" href="{{ item.buttonlink|e }}" class="{% if particle.link_style == 'default' %}tm-link{% else %}jl-link-{{particle.link_style|e}}{% endif %}" title="{{ item.title|e }}"{{linkscroll}}>{% endif %}
{{item.content|raw}}
{% if item.buttonlink != '' %}</a>{% endif %}
</div>

{% if particle.meta_alignment == 'bottom-content' %}
<div class="tm-meta{{meta_text_transform}}{{meta_style_cls}}">{{item.meta|raw}}</div>
{% endif %}

{% endif %}

</li>
{% endfor %}
</ul>
</div>
{{endparallaxbackground}}
{% endif %}
{% endblock %}
