{% extends '@nucleus/partials/particle.html.twig' %}

{% block stylesheets %}
<style>
.{{id}} {box-sizing: content-box;}
{% if particle.particle_title_color or particle.particle_title_fontsize %}
#{{ id }}.g5-particle-title { {% if particle.particle_title_color %}color: {{ particle.particle_title_color }};{% endif %}{% if particle.particle_title_fontsize %}font-size: {{particle.particle_title_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.customize_title_color or particle.customize_title_fontsize %}
#{{ id }} .tm-title { {% if particle.customize_title_color %}color: {{particle.customize_title_color}}; {% endif %}{% if particle.customize_title_fontsize %}font-size: {{particle.customize_title_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.customize_content_color or particle.customize_content_fontsize %}
#{{ id }} .tm-content { {% if particle.customize_content_color %}color: {{particle.customize_content_color}};{% endif %}{% if particle.customize_content_fontsize %} font-size: {{particle.customize_content_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.meta_color or particle.meta_fontsize %}
#{{ id }} .tm-meta { {% if particle.meta_color %}color: {{particle.meta_color}};{% endif %}{% if particle.meta_fontsize %} font-size: {{particle.meta_fontsize}}px;{% endif %} }
{% endif %}
</style>
{% endblock %}

{# set Viewport Height #}
{% set viewport_height %}
{% if particle.viewport_height == 'none' %}
{% elseif particle.viewport_height == 'full' %}
jl-height-viewport="offset-top: true"
{% elseif particle.viewport_height == 'percent' %}
jl-height-viewport="offset-top: true;offset-bottom: 20"
{% elseif particle.viewport_height == 'section' %}
jl-height-viewport="offset-top: true;offset-bottom: 50"
{% elseif particle.viewport_height == 'expand' %}
jl-height-viewport="expand: true"
{% endif %}
{% endset %}

{# set padding #}
{% set padding %}
{% if particle.viewport_height == 'full' %}
{% else %}
{% if particle.padding == 'default' %}{% else %} jl-section-{{particle.padding|e}}{% endif %}
{% endif %}
{% endset %}

{# set Container #}
{% set container %}
{% if particle.container == '1' %}
<div class="jl-container"><div class="g5-content g5-particle">{% endif %}
{% endset %}

{# set End Container #}
{% set endcontainer %}
{% if particle.container == '1' %}
</div></div>{% endif %}
{% endset %}

{# set Background color #}
{% set parallax_bg_color %}
{% if particle.parallax_bg_color %}
style="background-color: {{particle.parallax_bg_color}};"{% endif %}
{% endset %}

{# Title Transition #}
{% set title_transition %}
{% if particle.overlay_hover == '1' %}
{% if particle.title_transition != 'none' %} jl-transition-{{ particle.title_transition|e }}{% endif %}
{% endif %}
{% endset %}

{# Meta Transition #}
{% set meta_transition %}
{% if particle.overlay_hover == '1' %}
{% if particle.meta_transition != 'none' %} jl-transition-{{ particle.meta_transition|e }}{% endif %}
{% endif %}
{% endset %}

{# Content Transition #}
{% set content_transition %}
{% if particle.overlay_hover == '1' %}
{% if particle.content_transition != 'none' %} jl-transition-{{ particle.content_transition|e }}{% endif %}
{% endif %}
{% endset %}

{# Link Transition #}
{% set link_transition %}
{% if particle.overlay_hover == '1' %}
{% if particle.link_transition != 'none' %} jl-transition-{{ particle.link_transition|e }}{% endif %}
{% endif %}
{% endset %}

{# Overlay Transition #}
{% set overlay_transition %}
{% if particle.overlay_hover == '1' %} jl-transition-{{ particle.overlay_transition|e }}{% endif %}
{% endset %}

{# Image Transition #}
{% set image_transition %}
{% if particle.image_transition %} jl-transition-{{ particle.image_transition|e }} jl-transition-opaque{% endif %}
{% endset %}

{# Image Hover Transition #}
{% set image_hover_transition %}
{% if particle.image_transition == 'none' %} jl-transition-fade{% else %} jl-transition-{{ particle.image_transition|e }}{% endif %}
{% endset %}

{# Image Box Shadow #}
{% set image_boxshadow %}
{% if particle.box_shadow != 'none' %} jl-box-shadow-{{particle.box_shadow|e}}{% endif %}{% if particle.box_shadow_hover != 'none' %} jl-box-shadow-hover-{{particle.box_shadow_hover|e}}{% endif %}
{% endset %}

{# Set Max-Width Content #}
{% set content_maxwidth %}
{% if particle.g_maxwidth != 'inherit' %} jl-width-{{particle.g_maxwidth}}{% if particle.g_maxwidth_breakpoint != 'always' %}@{{particle.g_maxwidth_breakpoint}}{% endif %}{% if particle.g_maxwidth_alignment == 'left' %}{% elseif particle.g_maxwidth_alignment == 'center' %} jl-margin-auto{% else %} jl-margin-auto-left{% endif %}{% endif %}
{% endset %}

{# set Parallax Background #}
{% set parallaxbackground %}
{% if particle.parallax_image %}
<div data-src="{{ url(particle.parallax_image)|e }}" class="{{id}} jl-background-norepeat{{padding}}{{content_maxwidth}} jl-background-{{particle.background_image_position|e}}{% if particle.background_image_size != 'auto' %} jl-background-{{particle.background_image_size|e}}{% endif %}{% if particle.parallax_bg_visibility != 'always' %} jl-background-image@{{particle.parallax_bg_visibility|e}}{% endif %}{% if particle.vertical_alignment != 'none' %} jl-flex jl-flex-{{particle.vertical_alignment|e}}{% endif %}{% if particle.parallax_text_color != 'default' %} jl-{{particle.parallax_text_color|e}}{% endif %}{% if particle.blendmode != 'inherit' %} jl-background-blend-{{particle.blendmode|e}}{% endif %}" {{parallax_bg_color}}{% if particle.horizontal_start or particle.horizontal_end or particle.vertical_start or particle.vertical_end %} jl-parallax="{% if particle.horizontal_start or particle.horizontal_end %}bgx: {{particle.horizontal_start|e}},{{particle.horizontal_end|e}};{% endif %}{% if particle.vertical_start or particle.vertical_end %}bgy: {{particle.vertical_start|e}},{{particle.vertical_end|e}};{% endif %}{% if particle.parallax_bg_breakpoint != 'always' %} media: @{{particle.parallax_bg_breakpoint|e}}{% endif %}" {% endif %} jl-img {{viewport_height}}>
{{container}}
{% endif %}
{% endset %}

{# End Parallax Background #}
{% set endparallaxbackground %}
{% if particle.parallax_image %}
{{endcontainer}}
</div>
{% endif %}
{% endset %}

{# Set Horizontal #}
{% set pahorizontal %}
{% if particle.pa_horizontal_start or particle.pa_horizontal_end %}x: {% if particle.pa_horizontal_start == '' %}0{% else %}{{particle.pa_horizontal_start }}{% endif %},{% if particle.pa_horizontal_end == '' %}0{% else %}{{particle.pa_horizontal_end }}{% endif %};{% endif %}
{% endset %}

{# Set Vertical #}
{% set pavertical %}
{% if particle.pa_vertical_start or particle.pa_vertical_end %}y: {% if particle.pa_vertical_start == '' %}0{% else %}{{particle.pa_vertical_start }}{% endif %},{% if particle.pa_vertical_end == '' %}0{% else %}{{particle.pa_vertical_end }}{% endif %};{% endif %}
{% endset %}

{# Set Scale #}
{% set scale %}
{% if particle.scale_start or particle.scale_end %}scale: {% if particle.scale_start == '' %}1{% else %}{{particle.scale_start / 100 }}{% endif %},{% if particle.scale_end == '' %}1{% else %} {{particle.scale_end / 100 }}{% endif %};{% endif %}
{% endset %}

{# Set Rotate #}
{% set rotate %}{% if particle.rotate_start or particle.rotate_end %}
rotate: {% if particle.rotate_start == '' %}0{% else %}{{particle.rotate_start}}{% endif %},{% if particle.rotate_end == '' %}0{% else %}{{particle.rotate_end}}{% endif %};{% endif %}
{% endset %}

{# Set Opacity #}
{% set opacity %}
{% if particle.opacity_start or particle.opacity_end %}opacity: {% if particle.opacity_start == '' %}1{% else %}{{particle.opacity_start / 100 }}{% endif %},{% if particle.opacity_end == '' %}1{% else %}{{particle.opacity_end / 100 }}{% endif %};{% endif %}
{% endset %}

{# set Scrollspy Animation #}
{% set scrollspy_cls %}
{% if particle.delay_element_animations == '1' %} jl-scrollspy-class{% endif %}
{% endset %}

{# set Animation #}
{% set animation %}
{% if particle.animation == 'parallax' %}
{% if particle.pa_horizontal_start or particle.pa_horizontal_end or particle.pa_vertical_start or particle.pa_vertical_end or particle.scale_start or particle.scale_end or particle.rotate_start or particle.rotate_end or particle.opacity_start or particle.opacity_end or particle.easing or particle.pa_viewport or particle.pa_breakpoint %} jl-parallax="{{pahorizontal}}{{pavertical}}{{scale}}{{rotate}}{{opacity}}{% if particle.easing == '' %}{% else %}easing: {{ particle.easing / 100 }};{% endif %}{% if particle.pa_viewport != '' %}viewport:{{ particle.pa_viewport / 100 }};{% endif %}{% if particle.pa_breakpoint != 'always' %}media: @{{particle.pa_breakpoint|e}}{% endif %}"{% endif %}
{% else %}
{% if particle.animation != 'inherit' %}
{% if particle.delay_element_animations == '1' %} jl-scrollspy="target: [jl-scrollspy-class]; cls: jl-animation-{{particle.animation|e}};{% if particle.animation_repeat != 'disabled' %} repeat: true;{% endif %}{% if particle.animation_delay != '' %} delay: {{particle.animation_delay|e}};{% else %} delay: 200;{% endif %}"{% else %} jl-scrollspy="cls: jl-animation-{{particle.animation|e}};{% if particle.animation_repeat != 'disabled' %} repeat: true;{% endif %}{% if particle.animation_delay != '' %} delay: {{particle.animation_delay|e}};{% endif %}"{% endif %}
{% endif %}
{% endif %}
{% endset %}

{# Set Particle Alignment #}
{% set particle_alignment %}
{% if particle.align != 'inherit' %} jl-text-{{particle.align|e}}{% if particle.breakpoint != 'always' %}@{{particle.breakpoint|e}}{% endif %}{% endif %}{% if particle.align != 'inherit' and particle.breakpoint != 'always' %}{% if particle.fallback != 'inherit' %} jl-text-{{particle.fallback|e}}{% endif %}{% endif %}
{% endset %}

{# Set Item Max Width Class #}
{% set item_maxwidth_cls %}
{% if particle.item_maxwidth == 'none' %}{% else %} jl-margin-auto jl-width-{{ particle.item_maxwidth|e }}{% endif %}
{% endset %}

{# set Particle Title Style #}
{% set particle_title_style %}
{% if particle.particle_title %}
<{{particle.particle_title_element|e}} id="{{ id }}" class="g5-particle-title{% if particle.particle_title_align != 'inherit' %} jl-text-{{particle.particle_title_align|e}}{% endif %}{% if particle.particle_predefined_color != 'default' %} jl-text-{{particle.particle_predefined_color|e}}{% endif %}{% if particle.particle_title_style != 'default' %} jl-{{particle.particle_title_style|e}}{% endif %}{% if particle.particle_title_decoration != 'none' %} jl-heading-{{particle.particle_title_decoration|e}}{% endif %}">
{% if particle.particle_title_decoration == 'line' %} <span>{{particle.particle_title|raw}}</span>
{% else %} {{particle.particle_title|raw}}
{% endif %}
</{{particle.particle_title_element|e}}>
{% endif %}
{% endset %}

{# Set Lightbox #}
{% set gallery_lightbox %}
{% if particle.gallery_lightbox == '1' %}jl-lightbox="toggle: a[data-type]"{% endif %}
{% endset %}

{# Set Masonry #}
{% set gallery_masonry %}
{% if particle.gallery_masonry == '1' %}masonry: true;{% endif %}
{% endset %}

{# Set Parallax #}
{% set gallery_parallax %}
{% if particle.gallery_parallax != '' %}parallax: {{particle.gallery_parallax}}{% endif %}
{% endset %}

{# Set Button Class #}
{% set button_cls %}
{% if particle.buttonclass == 'link' %}jl-link{% elseif particle.buttonclass == 'link-muted' or particle.buttonclass == 'link-text' %}jl-{{particle.buttonclass|e}}{% else %}jl-button jl-button-{{particle.buttonclass|e}}{% endif %}
{% endset %}

{# Set Button Size #}
{% set button_size %}
{% if particle.buttonclass == 'link' or particle.buttonclass == 'link-muted' or particle.buttonclass == 'link-text' or particle.buttonclass == 'text' %}{% else %}{% if particle.link_button_size != 'default' %} jl-button-{{particle.link_button_size|e}}{% endif %}{% endif %}
{% endset %}

{# Set Content #}
{% set gallerycontent %}
{% for item in particle.items %}

{% set linkscroll %}
{% if item.link|e matches '/#/' %} jl-scroll{% endif %}
{% endset %}

{% set captiontitle %}
{% if particle.show_title == 'default' or particle.show_title == 'lightbox' %}<h4 class='jl-margin-remove'>{{item.title|raw}}</h4>{% endif %}
{% endset %}

{% set captioncontent %}
{% if particle.show_content == 'default' or particle.show_content == 'lightbox' %}{{item.content|raw}}{% endif %}
{% endset %}

{% set caption %}
{% if item.title != '' or item.content != '' %} data-caption="{{ captiontitle }}{{ captioncontent }}"{% endif %}
{% endset %}

{% set overlay_color %}
{% if item.item_color != 'default' %} jl-{{ item.item_color|e }}{% else %}{% if particle.overlay_color != 'default' %} jl-{{ particle.overlay_color|e }}{% endif %}{% endif %}
{% endset %}

{# Set Meta Content #}
{% set item_meta %}
{% if item.meta %}
<div class="tm-meta{% if particle.meta_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.meta_margin_top|e }}-top{% endif %}{% if particle.pre_meta_color == 'default' %}{% else %} jl-text-{{ particle.pre_meta_color|e }}{% endif %}{% if particle.meta_style != 'default' %} jl-{{ particle.meta_style|e }}{% endif %}{{meta_transition}}">
{{item.meta|raw}}
</div>
{% endif %}
{% endset %}

<div>

{% if particle.overlay_hover == '1' or item.hover_image != '' or particle.image_transition != 'none' %}

{% if particle.link_type == 'element' %}

{% if particle.gallery_lightbox == '1' %}

{% if item.link %}
<a data-type="iframe" href="{{item.link|e}}" title="{{ item.title|e }}" class="tm-item jl-inline-clip jl-transition-toggle{{item_maxwidth_cls}}{{image_boxshadow}} jl-link-reset" tabindex="0"{{scrollspy_cls}}{{caption}}>
{% else %}
<a data-type="image" href="{{ url(item.glrimg)|e }}" title="{{ item.title|e }}" class="tm-item jl-inline-clip jl-transition-toggle{{item_maxwidth_cls}}{{image_boxshadow}} jl-link-reset" tabindex="0"{{scrollspy_cls}}{{caption}}>
{% endif %}

{% else %}

<a href="{{item.link|e}}" target="{{ particle.buttontarget|default('_self')|e }}" title="{{ item.title|e }}" class="tm-item jl-inline-clip jl-transition-toggle{{item_maxwidth_cls}}{{image_boxshadow}} jl-link-reset" tabindex="0"{{scrollspy_cls}}{{linkscroll}}>

{% endif %}

{% else %}

<div class="tm-item jl-inline-clip jl-transition-toggle{{item_maxwidth_cls}}{{image_boxshadow}}" tabindex="0"{{scrollspy_cls}}>

{% endif %}

{% else %}


{% if particle.link_type == 'element' %}

{% if particle.gallery_lightbox == '1' %}

{% if item.link %}
<a data-type="iframe" href="{{item.link|e}}" title="{{ item.title|e }}" class="tm-item jl-inline-clip{{item_maxwidth_cls}}{{image_boxshadow}} jl-link-reset"{{scrollspy_cls}}{{caption}}>
{% else %}
<a data-type="image" href="{{ url(item.glrimg)|e }}" title="{{ item.title|e }}" class="tm-item jl-inline-clip{{item_maxwidth_cls}}{{image_boxshadow}} jl-link-reset"{{scrollspy_cls}}{{caption}}>
{% endif %}

{% else %}

<a href="{{item.link|e}}" target="{{ particle.buttontarget|default('_self')|e }}" title="{{ item.title|e }}" class="tm-item jl-inline-clip{{item_maxwidth_cls}}{{image_boxshadow}} jl-link-reset"{{scrollspy_cls}}{{linkscroll}}>

{% endif %}

{% else %}

<div class="tm-item jl-inline-clip{{item_maxwidth_cls}}{{image_boxshadow}}"{{scrollspy_cls}}>

{% endif %}

{% endif %}

{% if item.hover_image != '' %}

{% if item.glrimg %}
<img class="tm-image" data-src="{{ url(item.glrimg)|e }}"{% if item.altimg %} alt="{{item.altimg|e}}"{% endif %} jl-img>
{% endif %}
{% if item.hover_image %}
<div class="jl-position-cover{{image_hover_transition}}">
<img class="tm-image" data-src="{{ url(item.hover_image)|e }}"{% if item.altimg %} alt="{{item.altimg|e}}"{% endif %} jl-img jl-cover>
</div>
{% endif %}

{% else %}

{% if item.glrimg %}
<img class="tm-image{{image_transition}}" data-src="{{ url(item.glrimg)|e }}"{% if item.altimg %} alt="{{item.altimg|e}}"{% endif %} jl-img>
{% endif %}

{% endif %}

{# Load Overlay Style #}
{% if item.title or item.meta or item.content %}

{% if particle.overlay_style == 'none' %}
<div class="{% if particle.overlay_position %}jl-position-{{ particle.overlay_position|e }}{% endif %}">
<div class="jl-panel{{overlay_color}}{% if particle.overlay_padding == 'default' %} jl-padding{% else %} jl-padding-{{ particle.overlay_padding|e }}{% endif %}{% if particle.overlay_maxwidth != 'none' %} jl-width-{{ particle.overlay_maxwidth|e }}{% endif %}{{overlay_transition}} jl-margin-remove-first-child">
{% else %}

{% if particle.overlay_mode == 'cover' %}
<div class="jl-position-cover{% if particle.overlay_margin != 'none' %} jl-position-{{ particle.overlay_margin|e }}{% endif %}{% if particle.overlay_style %} {{ particle.overlay_style|e }}{% endif %}{{overlay_transition}}"></div>
{% endif %}

<div class="{% if particle.overlay_position %}jl-position-{{ particle.overlay_position|e }}{% endif %}{% if particle.overlay_margin != 'none' %} jl-position-{{ particle.overlay_margin|e }}{% endif %}">

{% if particle.overlay_mode == 'cover' %}
<div class="jl-overlay{{overlay_color}}{% if particle.overlay_padding == 'default' %}{% else %} jl-padding-{{ particle.overlay_padding|e }}{% endif %}{% if particle.overlay_maxwidth != 'none' %} jl-width-{{ particle.overlay_maxwidth|e }}{% endif %}{{overlay_transition}} jl-margin-remove-first-child">
{% else %}
<div class="jl-overlay{{overlay_color}}{% if particle.overlay_padding == 'default' %}{% else %} jl-padding-{{ particle.overlay_padding|e }}{% endif %}{% if particle.overlay_maxwidth != 'none' %} jl-width-{{ particle.overlay_maxwidth|e }}{% endif %}{% if particle.overlay_style %} {{ particle.overlay_style|e }}{% endif %}{{overlay_transition}} jl-margin-remove-first-child">
{% endif %}

{% endif %}

{% if particle.meta_alignment == 'top' %}
{{item_meta}}
{% endif %}

{% if item.title %}
<{{particle.title_element|e}} class="tm-title jl-margin-remove-bottom{% if particle.title_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.title_margin_top|e }}-top{% endif %}{% if particle.title_style != 'default' %} jl-{{ particle.title_style|e }}{% endif %}{% if particle.title_color != 'default' %} jl-text-{{ particle.title_color|e }}{% endif %}{% if particle.title_decoration != 'none' %} jl-heading-{{particle.title_decoration|e}}{% endif %}{{title_transition}}">
{% if particle.title_decoration == 'line' %}
<span>
{% if particle.link_type == 'content' %}

{% if particle.gallery_lightbox == '1' %}

{% if item.link %}
<a data-type="iframe" href="{{item.link|e}}" title="{{ item.title|e }}" class="jl-link-reset"{{caption}}>{{ item.title|raw }}</a>
{% else %}
<a data-type="image" href="{{ url(item.glrimg)|e }}" title="{{ item.title|e }}" class="jl-link-reset"{{caption}}>{{ item.title|raw }}</a>
{% endif %}

{% else %}

<a href="{{item.link|e}}" target="{{ particle.buttontarget|default('_self')|e }}" title="{{ item.title|e }}" class="jl-link-reset"{{linkscroll}}>{{ item.title|raw }}</a>

{% endif %}

{% else %}
{{ item.title|raw }}
{% endif %}
</span>
{% else %}
{% if particle.link_type == 'content' %}

{% if particle.gallery_lightbox == '1' %}

{% if item.link %}
<a data-type="iframe" href="{{item.link|e}}" title="{{ item.title|e }}" class="jl-link-reset"{{caption}}>{{ item.title|raw }}</a>
{% else %}
<a data-type="image" href="{{ url(item.glrimg)|e }}" title="{{ item.title|e }}" class="jl-link-reset"{{caption}}>{{ item.title|raw }}</a>
{% endif %}

{% else %}

<a href="{{item.link|e}}" target="{{ particle.buttontarget|default('_self')|e }}" title="{{ item.title|e }}" class="jl-link-reset"{{linkscroll}}>{{ item.title|raw }}</a>

{% endif %}

{% else %}
{{ item.title|raw }}
{% endif %}
{% endif %}
</{{particle.title_element|e}}>
{% endif %}

{% if particle.meta_alignment == 'bottom' %}
{{item_meta}}
{% endif %}

{% if item.content %}
<div class="tm-content jl-panel{% if particle.content_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.content_margin_top|e }}-top{% endif %}{% if particle.content_style != 'default' %} jl-text-{{ particle.content_style|e }}{% endif %}{% if particle.content_text_color != 'default' %} jl-text-{{ particle.content_text_color|e }}{% endif %}{{content_transition}}">
{{item.content|raw}}
</div>
{% endif %}

{% if particle.meta_alignment == 'content' %}
{{item_meta}}
{% endif %}

{% if particle.link_type == 'button' %}
<div class="{% if particle.link_margin_top == 'default' %}jl-margin-top{% else %}jl-margin-{{ particle.link_margin_top|e }}-top{% endif %}{{link_transition}}">

{% if particle.gallery_lightbox == '1' %}

{% if item.link %}
<a data-type="iframe" href="{{item.link|e}}" title="{{ particle.buttontext|e }}" class="{{button_cls}}{{button_size}}"{{caption}}>{{ particle.buttontext|e }}</a>
{% else %}
<a data-type="image" href="{{ url(item.glrimg)|e }}" class="{{button_cls}}{{button_size}}"{{caption}}>{{ particle.buttontext|e }}</a>
{% endif %}

{% else %}

<a href="{{item.link|e}}" target="{{ particle.buttontarget|default('_self')|e }}" title="{{ item.title|e }}" class="{{button_cls}}{{button_size}}"{{linkscroll}}>{{ particle.buttontext|e }}</a>

{% endif %}

</div>
{% endif %}

</div>

</div>

{% endif %}

{# End Overlay Style #}

{% if particle.link_type == 'element' %}
</a>
{% else %}
</div>
{% endif %}

{# End Link Type #}

</div>

{% endfor %}
{% endset %}

{% block particle %}
{% if particle.enabled %}
{{parallaxbackground}}
{{particle_title_style}}
<div id="{{ id }}" class="{{id}}{% if particle.class == '' %}{% else %} {{particle.class}}{% endif %}{% if particle.divider == '1' %} jl-grid-divider{% else %}{% endif %}{% if particle.gutter == 'default' %}{% else %} jl-grid-{{ particle.gutter|e }}{% endif %}{% if particle.phone_portrait %} jl-child-width-1-{{ particle.phone_portrait|e }}{% endif %}{% if particle.phone_landscape == 'inherit' %}{% else %} jl-child-width-1-{{ particle.phone_landscape|e }}@s{% endif %}{% if particle.tablet_landscape == 'inherit' %}{% else %} jl-child-width-1-{{ particle.tablet_landscape|e }}@m{% endif %}{% if particle.desktop == 'inherit' %}{% else %} jl-child-width-1-{{ particle.desktop|e }}@l{% endif %}{% if particle.large_desktop == 'inherit' %}{% else %} jl-child-width-1-{{ particle.large_desktop|e }}@xl{% endif %}{{particle_alignment}}{% if particle.margin == 'inherit' %}{% elseif particle.margin == 'default' %} jl-margin{% else %} jl-margin-{{particle.margin|e}}{% endif %}{% if particle.visibility == 'inherit' %}{% else %} jl-visible@{{particle.visibility|e}}{% endif %}"{{animation}} jl-grid="{{gallery_masonry}}{{gallery_parallax}}"{{gallery_lightbox}}>
{{gallerycontent}}
</div>
{{endparallaxbackground}}
{% endif %}
{% endblock %}
