{% extends '@nucleus/partials/particle.html.twig' %}

{% block stylesheets %}
<style>
#{{id}} {box-sizing: content-box;}
{% if particle.particle_title_color or particle.particle_title_fontsize %}
#{{ id }}.g5-particle-title { {% if particle.particle_title_color %}color: {{ particle.particle_title_color }};{% endif %}{% if particle.particle_title_fontsize %}font-size: {{particle.particle_title_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.customize_title_color or particle.customize_title_fontsize %}
#{{ id }} .tm-title { {% if particle.customize_title_color %}color: {{particle.customize_title_color}}; {% endif %}{% if particle.customize_title_fontsize %}font-size: {{particle.customize_title_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.customize_content_color or particle.customize_content_fontsize %}
#{{ id }} .tm-content { {% if particle.customize_content_color %}color: {{particle.customize_content_color}};{% endif %}{% if particle.customize_content_fontsize %} font-size: {{particle.customize_content_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.meta_color or particle.meta_fontsize %}
#{{ id }} .tm-meta { {% if particle.meta_color %}color: {{particle.meta_color}};{% endif %}{% if particle.meta_fontsize %} font-size: {{particle.meta_fontsize}}px;{% endif %} }
{% endif %}
</style>
{% endblock %}

{# set Viewport Height #}
{% set viewport_height %}
{% if particle.viewport_height == 'none' %}
{% elseif particle.viewport_height == 'full' %}
jl-height-viewport="offset-top: true"
{% elseif particle.viewport_height == 'percent' %}
jl-height-viewport="offset-top: true;offset-bottom: 20"
{% elseif particle.viewport_height == 'section' %}
jl-height-viewport="offset-top: true;offset-bottom: 50"
{% elseif particle.viewport_height == 'expand' %}
jl-height-viewport="expand: true"
{% endif %}
{% endset %}

{# Set Title Text Transform #}
{% set title_text_transform %}
{% if particle.title_text_transform %} jl-text-{{particle.title_text_transform|e}}{% endif %}
{% endset %}

{# Set Meta Text Transform #}
{% set meta_text_transform %}
{% if particle.meta_text_transform %} jl-text-{{particle.meta_text_transform|e}}{% endif %}
{% endset %}

{# Set Filter Text Transform #}
{% set filter_text_transform %}
{% if particle.filter_text_transform %} jl-text-{{particle.filter_text_transform|e}}{% endif %}
{% endset %}

{# Set Content Text Transform #}
{% set content_text_transform %}
{% if particle.content_text_transform %} jl-text-{{particle.content_text_transform|e}}{% endif %}
{% endset %}

{# set padding #}
{% set padding %}
{% if particle.viewport_height == 'full' %}
{% else %}
{% if particle.padding == 'default' %}{% else %} jl-section-{{particle.padding|e}}{% endif %}
{% endif %}
{% endset %}

{# set Container #}
{% set container %}
{% if particle.container == '1' %}
<div class="jl-container"><div class="g5-content g5-particle">{% endif %}
{% endset %}

{# set End Container #}
{% set endcontainer %}
{% if particle.container == '1' %}
</div></div>{% endif %}
{% endset %}

{# set Background color #}
{% set parallax_bg_color %}
{% if particle.parallax_bg_color %}
style="background-color: {{particle.parallax_bg_color}};"{% endif %}
{% endset %}

{# Set Max-Width Content #}
{% set content_maxwidth %}
{% if particle.g_maxwidth != 'inherit' %} jl-width-{{particle.g_maxwidth}}{% if particle.g_maxwidth_breakpoint != 'always' %}@{{particle.g_maxwidth_breakpoint}}{% endif %}{% if particle.g_maxwidth_alignment == 'left' %}{% elseif particle.g_maxwidth_alignment == 'center' %} jl-margin-auto{% else %} jl-margin-auto-left{% endif %}{% endif %}
{% endset %}

{# set Parallax Background #}
{% set parallaxbackground %}
{% if particle.parallax_image %}
<div data-src="{{ url(particle.parallax_image)|e }}" class="{{id}} jl-background-norepeat{{padding}}{{content_maxwidth}} jl-background-{{particle.background_image_position|e}}{% if particle.background_image_size != 'auto' %} jl-background-{{particle.background_image_size|e}}{% endif %}{% if particle.parallax_bg_visibility != 'always' %} jl-background-image@{{particle.parallax_bg_visibility|e}}{% endif %}{% if particle.vertical_alignment != 'none' %} jl-flex jl-flex-{{particle.vertical_alignment|e}}{% endif %}{% if particle.parallax_text_color != 'default' %} jl-{{particle.parallax_text_color|e}}{% endif %}{% if particle.blendmode != 'inherit' %} jl-background-blend-{{particle.blendmode|e}}{% endif %}" {{parallax_bg_color}}{% if particle.horizontal_start or particle.horizontal_end or particle.vertical_start or particle.vertical_end %} jl-parallax="{% if particle.horizontal_start or particle.horizontal_end %}bgx: {{particle.horizontal_start|e}},{{particle.horizontal_end|e}};{% endif %}{% if particle.vertical_start or particle.vertical_end %}bgy: {{particle.vertical_start|e}},{{particle.vertical_end|e}};{% endif %}{% if particle.parallax_bg_breakpoint != 'always' %} media: @{{particle.parallax_bg_breakpoint|e}}{% endif %}" {% endif %} jl-img {{viewport_height}}>
{{container}}
{% endif %}
{% endset %}

{# End Parallax Background #}
{% set endparallaxbackground %}
{% if particle.parallax_image %}
{{endcontainer}}
</div>
{% endif %}
{% endset %}

{# Set Horizontal #}
{% set pahorizontal %}
{% if particle.pa_horizontal_start or particle.pa_horizontal_end %}x: {% if particle.pa_horizontal_start == '' %}0{% else %}{{particle.pa_horizontal_start }}{% endif %},{% if particle.pa_horizontal_end == '' %}0{% else %}{{particle.pa_horizontal_end }}{% endif %};{% endif %}
{% endset %}

{# Set Vertical #}
{% set pavertical %}
{% if particle.pa_vertical_start or particle.pa_vertical_end %}y: {% if particle.pa_vertical_start == '' %}0{% else %}{{particle.pa_vertical_start }}{% endif %},{% if particle.pa_vertical_end == '' %}0{% else %}{{particle.pa_vertical_end }}{% endif %};{% endif %}
{% endset %}

{# Set Scale #}
{% set scale %}
{% if particle.scale_start or particle.scale_end %}scale: {% if particle.scale_start == '' %}1{% else %}{{particle.scale_start / 100 }}{% endif %},{% if particle.scale_end == '' %}1{% else %} {{particle.scale_end / 100 }}{% endif %};{% endif %}
{% endset %}

{# Set Rotate #}
{% set rotate %}{% if particle.rotate_start or particle.rotate_end %}
rotate: {% if particle.rotate_start == '' %}0{% else %}{{particle.rotate_start}}{% endif %},{% if particle.rotate_end == '' %}0{% else %}{{particle.rotate_end}}{% endif %};{% endif %}
{% endset %}

{# Set Opacity #}
{% set opacity %}
{% if particle.opacity_start or particle.opacity_end %}opacity: {% if particle.opacity_start == '' %}1{% else %}{{particle.opacity_start / 100 }}{% endif %},{% if particle.opacity_end == '' %}1{% else %}{{particle.opacity_end / 100 }}{% endif %};{% endif %}
{% endset %}

{# set Scrollspy Animation #}
{% set scrollspy_cls %}
{% if particle.delay_element_animations == '1' %} jl-scrollspy-class{% endif %}
{% endset %}

{# set Animation #}
{% set animation %}
{% if particle.animation == 'parallax' %}
{% if particle.pa_horizontal_start or particle.pa_horizontal_end or particle.pa_vertical_start or particle.pa_vertical_end or particle.scale_start or particle.scale_end or particle.rotate_start or particle.rotate_end or particle.opacity_start or particle.opacity_end or particle.easing or particle.pa_viewport or particle.pa_breakpoint %} jl-parallax="{{pahorizontal}}{{pavertical}}{{scale}}{{rotate}}{{opacity}}{% if particle.easing == '' %}{% else %}easing: {{ particle.easing / 100 }};{% endif %}{% if particle.pa_viewport != '' %}viewport:{{ particle.pa_viewport / 100 }};{% endif %}{% if particle.pa_breakpoint != 'always' %}media: @{{particle.pa_breakpoint|e}}{% endif %}"{% endif %}
{% else %}
{% if particle.animation != 'inherit' %}
{% if particle.delay_element_animations == '1' %} jl-scrollspy="target: [jl-scrollspy-class]; cls: jl-animation-{{particle.animation|e}};{% if particle.animation_repeat != 'disabled' %} repeat: true;{% endif %}{% if particle.animation_delay != '' %} delay: {{particle.animation_delay|e}};{% else %} delay: 200;{% endif %}"{% else %} jl-scrollspy="cls: jl-animation-{{particle.animation|e}};{% if particle.animation_repeat != 'disabled' %} repeat: true;{% endif %}{% if particle.animation_delay != '' %} delay: {{particle.animation_delay|e}};{% endif %}"{% endif %}
{% endif %}
{% endif %}
{% endset %}

{# Set Particle Alignment #}
{% set particle_alignment %}
{% if particle.align != 'inherit' %} jl-text-{{particle.align|e}}{% if particle.breakpoint != 'always' %}@{{particle.breakpoint|e}}{% endif %}{% endif %}{% if particle.align != 'inherit' and particle.breakpoint != 'always' %}{% if particle.fallback != 'inherit' %} jl-text-{{particle.fallback|e}}{% endif %}{% endif %}
{% endset %}

{# set Particle Title Style #}
{% set particle_title_style %}
{% if particle.particle_title %}
<{{particle.particle_title_element|e}} id="{{ id }}" class="g5-particle-title{% if particle.particle_title_align != 'inherit' %} jl-text-{{particle.particle_title_align|e}}{% endif %}{% if particle.particle_predefined_color != 'default' %} jl-text-{{particle.particle_predefined_color|e}}{% endif %}{% if particle.particle_title_style != 'default' %} jl-{{particle.particle_title_style|e}}{% endif %}{% if particle.particle_title_decoration != 'none' %} jl-heading-{{particle.particle_title_decoration|e}}{% endif %}">
{% if particle.particle_title_decoration == 'line' %} <span>{{particle.particle_title|raw}}</span>
{% else %} {{particle.particle_title|raw}}
{% endif %}
</{{particle.particle_title_element|e}}>
{% endif %}
{% endset %}

{# Set Masonry #}
{% set grid_masonry %}
{% if particle.grid_masonry == '1' %}masonry: true;{% endif %}
{% endset %}

{# Set Parallax #}
{% set grid_parallax %}
{% if particle.grid_parallax != '' %}parallax: {{particle.grid_parallax}}{% endif %}
{% endset %}

{% set cover %}
{% if particle.image_alignment == 'left' or particle.image_alignment == 'right' %}
{% if particle.image_padding == '1' and particle.style != 'blank' %} jl-cover{% endif %}
{% endif %}
{% endset %}

{# Set Image Box Shadow Class #}
{% set image_boxshadow_cls %}
{% if particle.image_padding == '1' %}{% else %}{% if particle.box_shadow != 'none' %} jl-box-shadow-{{particle.box_shadow|e}}{% endif %}{% if particle.box_shadow_hover != 'none' %} jl-box-shadow-hover-{{particle.box_shadow_hover|e}}{% endif %}{% endif %}
{% endset %}

{# Set Image Border Class #}
{% set image_border_cls %}
{% if particle.image_padding == '1' %}{% else %}{% if particle.image_border != 'none' %} jl-border-{{particle.image_border|e}}{% endif %}{% endif %}
{% endset %}

{# set Filter Style #}
{% set filterstyle %}
{% if particle.filter_style == 'tab' %}

<ul class="jl-tab{{filter_text_transform}}{% if particle.filter_alignment == 'left' %}{% elseif particle.filter_alignment == 'justify' %} jl-child-width-expand{% else %} jl-flex-{{ particle.filter_alignment|e }}{% endif %}{% if particle.filter_margin == 'default' %} jl-margin{% else %} jl-margin-{{ particle.filter_margin|e }}{% endif %}">

{% elseif particle.filter_style == 'subnav' %}
<ul class="jl-subnav{% if particle.filter_alignment == 'left' %}{% elseif particle.filter_alignment == 'justify' %} jl-child-width-expand{% else %} jl-flex-{{ particle.filter_alignment|e }}{% endif %}{% if particle.filter_margin == 'default' %} jl-margin{% else %} jl-margin-{{ particle.filter_margin|e }}{% endif %}">
{% elseif particle.filter_style == 'subnav-divider' %}
<ul class="jl-subnav jl-subnav-divider{% if particle.filter_alignment == 'left' %}{% elseif particle.filter_alignment == 'justify' %} jl-child-width-expand{% else %} jl-flex-{{ particle.filter_alignment|e }}{% endif %}{% if particle.filter_margin == 'default' %} jl-margin{% else %} jl-margin-{{ particle.filter_margin|e }}{% endif %}">
{% else %}
<ul class="jl-subnav jl-subnav-pill{% if particle.filter_alignment == 'left' %}{% elseif particle.filter_alignment == 'justify' %} jl-child-width-expand{% else %} jl-flex-{{ particle.filter_alignment|e }}{% endif %}{% if particle.filter_margin == 'default' %} jl-margin{% else %} jl-margin-{{ particle.filter_margin|e }}{% endif %}">
{% endif %}
{% endset %}

{# set Filter Grid Style #}
{% set gridfilterstyle %}
{% if particle.filter_style == 'tab' %}

{% if particle.filter_position == 'left' %}
<ul class="jl-tab-left jl-tab{{filter_text_transform}}" jl-tab="media: @{{ particle.filter_grid_breakpoint|e }}">
{% else %}
<ul class="jl-tab-right jl-tab{{filter_text_transform}}" jl-tab="media: @{{ particle.filter_grid_breakpoint|e }}">
{% endif %}

{% elseif particle.filter_style == 'subnav' %}
<ul class="jl-nav jl-nav-default jl-text-left{{filter_text_transform}}" jl-toggle="cls: jl-nav jl-nav-default jl-text-left jl-subnav jl-child-width-expand; mode: media; media: @{{ particle.filter_grid_breakpoint|e }}">
{% elseif particle.filter_style == 'subnav-divider' %}
<ul class="jl-nav jl-nav-default jl-text-left{{filter_text_transform}}" jl-toggle="cls: jl-nav jl-nav-default jl-text-left jl-subnav jl-subnav-divider jl-child-width-expand; mode: media; media: @{{ particle.filter_grid_breakpoint|e }}">
{% else %}
<ul class="jl-nav jl-nav-default jl-text-left{{filter_text_transform}}" jl-toggle="cls: jl-nav jl-nav-default jl-text-left jl-subnav jl-subnav-pill jl-child-width-expand; mode: media; media: @{{ particle.filter_grid_breakpoint|e }}">
{% endif %}
{% endset %}

{% set imagewidth %}
{% if particle.image_width != '' %} width = "{{particle.image_width}}"{% endif %}
{% endset %}

{% set imageheight %}
{% if particle.image_height != '' %} height = "{{particle.image_height}}"{% endif %}
{% endset %}

{# Set Button Class #}
{% set button_cls %}
{% if particle.buttonclass == 'link' %}jl-link{% elseif particle.buttonclass == 'link-muted' or particle.buttonclass == 'link-text' %}jl-{{particle.buttonclass|e}}{% else %}jl-button jl-button-{{particle.buttonclass|e}}{% endif %}
{% endset %}

{# Set Button Size #}
{% set button_size %}
{% if particle.buttonclass == 'link' or particle.buttonclass == 'link-muted' or particle.buttonclass == 'link-text' or particle.buttonclass == 'text' %}{% else %}{% if particle.link_button_size != 'default' %} jl-button-{{particle.link_button_size|e}}{% endif %}{% endif %}
{% endset %}

{# Set Image Margin Top Class #}
{% set image_top_cls %}
{% if particle.image_alignment == 'bottom' or particle.image_alignment == 'between' %}{% if particle.image_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.image_margin_top|e }}-top{% endif %}{% endif %}
{% endset %}

{# Set Card Max Width Class #}
{% set card_maxwidth_cls %}
{% if particle.card_maxwidth == 'none' %}{% else %} jl-margin-auto jl-width-{{ particle.card_maxwidth|e }}{% endif %}
{% endset %}

{# Set Grid Content #}
{% set gridcontent %}
{% for item in particle.items %}

{% set linkscroll %}
{% if item.buttonlink|e matches '/#/' %} jl-scroll{% endif %}
{% endset %}

{# Set Image Content #}
{% set imagecontent %}
{% if particle.link_type == 'content' %}<a href="{{ item.buttonlink|e }}" target="{{ particle.buttontarget|default('_self')|e }}" title="{{ item.buttontext|e }}"{{linkscroll}}>{% endif %}
<img{{imagewidth}}{{imageheight}} class="tm-image{{image_top_cls}}{{image_border_cls}}{{image_boxshadow_cls}}" data-src="{{ url(item.image)|e }}"{% if item.image_alt %} alt="{{item.image_alt|e}}"{% endif %} jl-img>
{% if particle.link_type == 'content' %}</a>{% endif %}
{% endset %}

{# Set Image Left/Right #}
{% set imagelr %}
{% if particle.style == 'blank' %}
{% if particle.link_type == 'content' %}<a href="{{ item.buttonlink|e }}" target="{{ particle.buttontarget|default('_self')|e }}" title="{{ item.buttontext|e }}"{{linkscroll}}>{% endif %}
<img{{imagewidth}}{{imageheight}} class="tm-image{{image_border_cls}}{{image_boxshadow_cls}}" data-src="{{ url(item.image)|e }}"{% if item.image_alt %} alt="{{item.image_alt|e}}"{% endif %} jl-img>
{% if particle.link_type == 'content' %}</a>{% endif %}
{% else %}
{% if particle.image_padding == '1' %}
{% if particle.link_type == 'content' %}<a class="jl-position-cover" href="{{ item.buttonlink|e }}" target="{{ particle.buttontarget|default('_self')|e }}" title="{{ item.buttontext|e }}"{{linkscroll}}>{% endif %}
<img class="tm-image" data-src="{{ url(item.image)|e }}"{% if item.image_alt %} alt="{{item.image_alt|e}}"{% endif %} jl-img jl-cover>
<img class="tm-image jl-invisible" data-src="{{ url(item.image)|e }}"{% if item.image_alt %} alt="{{item.image_alt|e}}"{% endif %} jl-img>
{% if particle.link_type == 'content' %}</a>{% endif %}
{% else %}
{% if particle.link_type == 'content' %}<a href="{{ item.buttonlink|e }}" target="{{ particle.buttontarget|default('_self')|e }}" title="{{ item.buttontext|e }}"{{linkscroll}}>{% endif %}
<img{{imagewidth}}{{imageheight}} class="tm-image{{image_border_cls}}{{image_boxshadow_cls}}" data-src="{{ url(item.image)|e }}"{% if item.image_alt %} alt="{{item.image_alt|e}}"{% endif %} jl-img>
{% if particle.link_type == 'content' %}</a>{% endif %}
{% endif %}
{% endif %}

{% endset %}

{# Set Title Content #}
{% set titlecontent %}
{% if item.title %}
<{{particle.title_element|e}} class="tm-title jl-margin-remove-bottom{{title_text_transform}}{% if particle.title_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.title_margin_top|e }}-top{% endif %}{% if particle.title_color != 'default' %} jl-text-{{particle.title_color|e}}{% endif %}{% if particle.title_style != 'default' %} jl-{{particle.title_style|e}}{% endif %}{% if particle.title_decoration != 'none' %} jl-heading-{{particle.title_decoration|e}}{% endif %}">
{% if particle.title_decoration == 'line' %} <span>{% if particle.link_type == 'content' %}<a class="jl-link-reset" target="{{ particle.buttontarget|default('_self')|e }}" href="{{ item.buttonlink|e }}" title="{{ item.buttontext|e }}"{{linkscroll}}>{% endif %}{{ item.title|raw }}{% if particle.link_type == 'content' %}</a>{% endif %}</span>
{% else %}
{% if particle.link_type == 'content' %}<a class="jl-link-reset" href="{{ item.buttonlink|e }}" title="{{ item.buttontext|e }}" target="{{ particle.buttontarget|default('_self')|e }}"{{linkscroll}}>{% endif %}{{ item.title|raw }}{% if particle.link_type == 'content' %}</a>{% endif %}
{% endif %}
</{{particle.title_element|e}}>
{% endif %}
{% endset %}

{# Set Meta Content #}
{% set metacontent %}
{% if item.meta %}
<div class="tm-meta{{meta_text_transform}}{% if particle.pre_meta_color != 'default' %} jl-text-{{particle.pre_meta_color|e}}{% endif %}{% if particle.meta_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.meta_margin_top|e }}-top{% endif %}{% if particle.meta_style != 'default' %} jl-{{ particle.meta_style|e }}{% endif %}">
{{item.meta|raw}}
</div>
{% endif %}
{% endset %}

{# Set Content #}
{% set item_content %}
{% if item.content %}
<div class="tm-content jl-panel{{content_text_transform}}{% if particle.content_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.content_margin_top|e }}-top{% endif %}{% if particle.content_style != 'default' %} jl-text-{{ particle.content_style|e }}{% endif %}{% if particle.content_text_color != 'default' %} jl-text-{{ particle.content_text_color|e }}{% endif %}">{{ item.content|raw }}</div>
{% endif %}
{% endset %}

{# Set Button #}
{% set item_button %}
{% if item.buttontext %}
<div class="{% if particle.link_margin_top == 'default' %}jl-margin-top{% else %}jl-margin-{{ particle.link_margin_top|e }}-top{% endif %}"><a class="{{button_cls}}{{button_size}}" href="{{ item.buttonlink|e }}" target="{{ particle.buttontarget|default('_self')|e }}" title="{{ item.buttontext|e }}"{{linkscroll}}>{{ item.buttontext|e }}</a></div>
{% endif %}
{% endset %}

{% set item_data_tags %}
{% set tags = item.tags|split(',') %}
{% for tag in tags %}{{tag|e|lower|trim|replace({" " : "-"})}} {% endfor %}
{% endset %}

{% if item.tags != '' %}
<div data-tag="{{item_data_tags|trim}}">
{% else %}
<div>
{% endif %}

{% if particle.image_alignment == 'top' or particle.image_alignment == 'bottom' or particle.image_alignment == 'between' %}

{# Default Style #}

{% if particle.style == 'blank' %}

{# Card Blank #}

{% if particle.link_type == 'element' %}
<a class="jl-panel jl-margin-remove-first-child jl-display-block jl-link-reset{{card_maxwidth_cls}}" href="{{ item.buttonlink|e }}" target="{{ particle.buttontarget|default('_self')|e }}" title="{{ item.buttontext|e }}"{{linkscroll}}{{scrollspy_cls}}>
{% else %}
<div class="jl-panel jl-margin-remove-first-child{{card_maxwidth_cls}}"{{scrollspy_cls}}>
{% endif %}

{% if item.image %}
{% if particle.image_alignment == 'top' %}
{{imagecontent}}
{% endif %}
{% endif %}

{% if particle.meta_alignment == 'top' %}
{{metacontent}}
{% endif %}

{{titlecontent}}

{% if particle.meta_alignment == 'bottom' %}
{{metacontent}}
{% endif %}

{% if item.image %}
{% if particle.image_alignment == 'between' %}
{{imagecontent}}
{% endif %}
{% endif %}

{{item_content}}

{% if particle.meta_alignment == 'content' %}
{{metacontent}}
{% endif %}

{% if particle.link_type == 'button' %}
{{item_button}}
{% endif %}

{% if item.image %}
{% if particle.image_alignment == 'bottom' %}
{{imagecontent}}
{% endif %}
{% endif %}

{% if particle.link_type == 'element' %}
</a>
{% else %}
</div>
{% endif %}

{# End Card Blank #}


{% else %}

{# Card styles #}

{% if particle.image_padding == '1' %}

{% if particle.link_type == 'element' %}
<a class="jl-card jl-card-{{ particle.style }}{% if particle.cardsize != 'default' %} jl-card-{{ particle.cardsize }}{% endif %} jl-display-block jl-link-reset{% if particle.style == 'hover' %}{% else %} jl-card-hover{% endif %}{{card_maxwidth_cls}}" href="{{ item.buttonlink|e }}" target="{{ particle.buttontarget|default('_self')|e }}" title="{{ item.buttontext|e }}"{{linkscroll}}{{scrollspy_cls}}>
{% else %}
<div class="jl-card jl-card-{{ particle.style }}{% if particle.cardsize != 'default' %} jl-card-{{ particle.cardsize }}{% endif %}{{card_maxwidth_cls}}"{{scrollspy_cls}}>
{% endif %}

{% if item.image %}
{% if particle.image_alignment == 'top' %}
<div class="jl-card-media-top">
{{imagecontent}}
</div>
{% endif %}
{% endif %}

<div class="jl-card-body jl-margin-remove-first-child">

{% if particle.meta_alignment == 'top' %}
{{metacontent}}
{% endif %}

{{titlecontent}}

{% if particle.meta_alignment == 'bottom' %}
{{metacontent}}
{% endif %}

{% if item.image %}
{% if particle.image_alignment == 'between' %}
{{imagecontent}}
{% endif %}
{% endif %}

{{item_content}}

{% if particle.meta_alignment == 'content' %}
{{metacontent}}
{% endif %}

{% if particle.link_type == 'button' %}
{{item_button}}
{% endif %}

</div>

{% if item.image %}
{% if particle.image_alignment == 'bottom' %}
<div class="jl-card-media-bottom">
{{imagecontent}}
</div>
{% endif %}
{% endif %}

{% if particle.link_type == 'element' %}
</a>
{% else %}
</div>
{% endif %}

{% else %}

{% if particle.link_type == 'element' %}
<a class="jl-card jl-card-{{ particle.style }} jl-card-body{% if particle.cardsize == 'default' %}{% else %} jl-card-{{ particle.cardsize }}{% endif %} jl-margin-remove-first-child jl-display-block jl-link-reset{% if particle.style == 'hover' %}{% else %} jl-card-hover{% endif %}{{card_maxwidth_cls}}" href="{{ item.buttonlink|e }}" target="{{ particle.buttontarget|default('_self')|e }}" title="{{ item.buttontext|e }}"{{linkscroll}}{{scrollspy_cls}}>
{% else %}
<div class="jl-card jl-card-{{ particle.style }} jl-card-body{% if particle.cardsize == 'default' %}{% else %} jl-card-{{ particle.cardsize }}{% endif %} jl-margin-remove-first-child{{card_maxwidth_cls}}"{{scrollspy_cls}}>
{% endif %}

{% if item.image %}
{% if particle.image_alignment == 'top' %}
{{imagecontent}}
{% endif %}
{% endif %}

{% if particle.meta_alignment == 'top' %}
{{metacontent}}
{% endif %}

{{titlecontent}}

{% if particle.meta_alignment == 'bottom' %}
{{metacontent}}
{% endif %}

{% if item.image %}
{% if particle.image_alignment == 'between' %}
{{imagecontent}}
{% endif %}
{% endif %}

{{item_content}}

{% if particle.meta_alignment == 'content' %}
{{metacontent}}
{% endif %}

{% if particle.link_type == 'button' %}
{{item_button}}
{% endif %}

{% if item.image %}
{% if particle.image_alignment == 'bottom' %}
{{imagecontent}}
{% endif %}
{% endif %}

{% if particle.link_type == 'element' %}
</a>
{% else %}
</div>
{% endif %}

{% endif %}

{# End card style #}

{% endif %}

{# End Default Style #}

{% else %}

{# Grid Style #}

{% if particle.style == 'blank' %}

{% if item.image %}

{# Card Blank #}
{% if particle.link_type == 'element' %}
<a class="jl-panel jl-margin-remove-first-child jl-display-block jl-link-reset{{card_maxwidth_cls}}" href="{{ item.buttonlink|e }}" target="{{ particle.buttontarget|default('_self')|e }}" title="{{ item.buttontext|e }}"{{linkscroll}}{{scrollspy_cls}}>
{% else %}
<div class="jl-panel jl-margin-remove-first-child{{card_maxwidth_cls}}"{{scrollspy_cls}}>
{% endif %}

<div class="jl-child-width-expand{% if particle.image_grid_gutter != 'default' %} jl-grid-{{ particle.image_grid_gutter|e }}{% endif %}{% if particle.image_vertical_alignment == '1' %} jl-flex-middle{% endif %}" jl-grid>
<div class="jl-width-{{ particle.image_grid_width }}{% if particle.image_grid_breakpoint != 'default' %}@{{ particle.image_grid_breakpoint|e }}{% endif %}{% if particle.image_alignment == 'right' %} jl-flex-last{% if particle.image_grid_breakpoint != 'default' %}@{{ particle.image_grid_breakpoint|e }}{% endif %}{% endif %}">

{{imagelr}}

</div>
<div class="jl-margin-remove-first-child">

{% if particle.meta_alignment == 'top' %}
{{metacontent}}
{% endif %}

{{titlecontent}}

{% if particle.meta_alignment == 'bottom' %}
{{metacontent}}
{% endif %}

{{item_content}}

{% if particle.meta_alignment == 'content' %}
{{metacontent}}
{% endif %}

{% if particle.link_type == 'button' %}
{{item_button}}
{% endif %}

</div>

</div>

{% if particle.link_type == 'element' %}
</a>
{% else %}
</div>
{% endif %}

{# End Card Blank #}

{% else %}

{# Card Blank #}

{% if particle.link_type == 'element' %}
<a class="jl-panel jl-margin-remove-first-child jl-display-block jl-link-reset{{card_maxwidth_cls}}" href="{{ item.buttonlink|e }}" target="{{ particle.buttontarget|default('_self')|e }}" title="{{ item.buttontext|e }}"{{linkscroll}}{{scrollspy_cls}}>
{% else %}
<div class="jl-panel jl-margin-remove-first-child{{card_maxwidth_cls}}"{{scrollspy_cls}}>
{% endif %}

{% if particle.meta_alignment == 'top' %}
{{metacontent}}
{% endif %}

{{titlecontent}}

{% if particle.meta_alignment == 'bottom' %}
{{metacontent}}
{% endif %}

{{item_content}}

{% if particle.meta_alignment == 'content' %}
{{metacontent}}
{% endif %}

{% if particle.link_type == 'button' %}
{{item_button}}
{% endif %}

{% if particle.link_type == 'element' %}
</a>
{% else %}
</div>
{% endif %}

{# End Card Blank #}
{% endif %}

{% else %}

{# Card styles #}

{% if item.image %}

{% if particle.image_padding == '1' %}

{% if particle.link_type == 'element' %}
<a class="jl-card jl-card-{{ particle.style }}{% if particle.cardsize != 'default' %} jl-card-{{ particle.cardsize }}{% endif %}{% if particle.style == 'hover' %}{% else %} jl-card-hover{% endif %} jl-display-block jl-link-reset{{card_maxwidth_cls}}" href="{{ item.buttonlink|e }}" target="{{ particle.buttontarget|default('_self')|e }}" title="{{ item.buttontext|e }}"{{linkscroll}}{{scrollspy_cls}}>
{% else %}
<div class="jl-card jl-card-{{ particle.style }}{% if particle.cardsize != 'default' %} jl-card-{{ particle.cardsize }}{% endif %}{{card_maxwidth_cls}}"{{scrollspy_cls}}>
{% endif %}

{% if particle.image_padding == '1' %}
<div class="jl-child-width-expand jl-grid-collapse jl-grid-match{% if particle.image_vertical_alignment == '1' %} jl-flex-middle{% endif %}" jl-grid>
{% else %}
<div class="jl-child-width-expand{% if particle.image_grid_gutter != 'default' %} jl-grid-{{ particle.image_grid_gutter|e }}{% endif %}{% if particle.image_vertical_alignment == '1' %} jl-flex-middle{% endif %}" jl-grid>
{% endif %}

<div class="jl-width-{{ particle.image_grid_width }}{% if particle.image_grid_breakpoint != 'default' %}@{{ particle.image_grid_breakpoint|e }}{% endif %}{% if particle.image_alignment == 'right' %} jl-flex-last{% if particle.image_grid_breakpoint != 'default' %}@{{ particle.image_grid_breakpoint|e }}{% endif %}{% endif %}">

<div class="jl-cover-container{% if particle.image_alignment == 'right' %} jl-card-media-right{% else %} jl-card-media-left{% endif %}">

{{imagelr}}

</div>

</div>

<div>
<div class="jl-card-body jl-margin-remove-first-child">
{% if particle.meta_alignment == 'top' %}
{{metacontent}}
{% endif %}

{{titlecontent}}

{% if particle.meta_alignment == 'bottom' %}
{{metacontent}}
{% endif %}

{{item_content}}

{% if particle.meta_alignment == 'content' %}
{{metacontent}}
{% endif %}

{% if particle.link_type == 'button' %}
{{item_button}}
{% endif %}

</div>
</div>

</div>

{% if particle.link_type == 'element' %}
</a>
{% else %}
</div>
{% endif %}

{% else %}

{% if particle.link_type == 'element' %}
<a class="jl-card jl-card-{{ particle.style }} jl-card-body{% if particle.cardsize != 'default' %} jl-card-{{ particle.cardsize }}{% endif %}{% if particle.style == 'hover' %}{% else %} jl-card-hover{% endif %} jl-display-block jl-link-reset{{card_maxwidth_cls}}" href="{{ item.buttonlink|e }}" target="{{ particle.buttontarget|default('_self')|e }}" title="{{ item.buttontext|e }}"{{linkscroll}}{{scrollspy_cls}}>
{% else %}
<div class="jl-card jl-card-{{ particle.style }} jl-card-body{% if particle.cardsize != 'default' %} jl-card-{{ particle.cardsize }}{% endif %}{{card_maxwidth_cls}} jl-margin-remove-first-child"{{scrollspy_cls}}>
{% endif %}

<div class="jl-child-width-expand{% if particle.image_grid_gutter != 'default' %} jl-grid-{{ particle.image_grid_gutter|e }}{% endif %}{% if particle.image_vertical_alignment == '1' %} jl-flex-middle{% endif %}" jl-grid>

<div class="jl-width-{{ particle.image_grid_width }}{% if particle.image_grid_breakpoint != 'default' %}@{{ particle.image_grid_breakpoint|e }}{% endif %}{% if particle.image_alignment == 'right' %} jl-flex-last{% if particle.image_grid_breakpoint != 'default' %}@{{ particle.image_grid_breakpoint|e }}{% endif %}{% endif %}">

{{imagelr}}

</div>

<div class="jl-margin-remove-first-child">

{% if particle.meta_alignment == 'top' %}
{{metacontent}}
{% endif %}

{{titlecontent}}


{% if particle.meta_alignment == 'bottom' %}
{{metacontent}}
{% endif %}


{{item_content}}

{% if particle.meta_alignment == 'content' %}
{{metacontent}}
{% endif %}

{% if particle.link_type == 'button' %}
{{item_button}}
{% endif %}

</div>

</div>

{% if particle.link_type == 'element' %}
</a>
{% else %}
</div>
{% endif %}

{% endif %}

{# End card style #}

{% else %}

{% if particle.link_type == 'element' %}
<a class="jl-card jl-card-{{ particle.style }} jl-card-body{% if particle.cardsize == 'default' %}{% else %} jl-card-{{ particle.cardsize }}{% endif %} jl-margin-remove-first-child{% if particle.style == 'hover' %}{% else %} jl-card-hover{% endif %} jl-display-block jl-link-reset{{card_maxwidth_cls}}" href="{{ item.buttonlink|e }}" target="{{ particle.buttontarget|default('_self')|e }}" title="{{ item.buttontext|e }}"{{linkscroll}}{{scrollspy_cls}}>
{% else %}
<div class="jl-card jl-card-{{ particle.style }} jl-card-body{% if particle.cardsize == 'default' %}{% else %} jl-card-{{ particle.cardsize }}{% endif %} jl-margin-remove-first-child{{card_maxwidth_cls}}"{{scrollspy_cls}}>
{% endif %}

{% if particle.meta_alignment == 'top' %}
{{metacontent}}
{% endif %}

{{titlecontent}}


{% if particle.meta_alignment == 'bottom' %}
{{metacontent}}
{% endif %}

{{item_content}}

{% if particle.meta_alignment == 'content' %}
{{metacontent}}
{% endif %}

{% if particle.link_type == 'button' %}
{{item_button}}
{% endif %}

{% if particle.link_type == 'element' %}
</a>
{% else %}
</div>
{% endif %}

{% endif %}

{% endif %}

{# End Grid style #}

{% endif %}

</div>
{% endfor %}
{% endset %}

{# End Grid content #}

{% block particle %}
{% if particle.enabled %}
{{parallaxbackground}}
{{particle_title_style}}

{% if particle.filter_tags == '1' %}

<div id="{{ id }}" class="tm-gridcard{{content_maxwidth}}{% if particle.class %} {{ particle.class }}{% endif %}{{particle_alignment}}{% if particle.margin == 'inherit' %}{% elseif particle.margin == 'default' %} jl-margin{% else %} jl-margin-{{particle.margin|e}}{% endif %}{% if particle.visibility != 'inherit' %} jl-visible@{{particle.visibility|e}}{% endif %}"{{animation}}jl-filter=".js-{{id}}">

{% set tags = {} %}
{% set alltags = {} %}
{% set counts = {} %}
{% set numb = 1 %}
{% for item in particle.items %}
{% set items = item.tags | split(',') %}
{% for i in items %}
{% set alltags = alltags | merge([i | lower | trim]) %}
{% if i | lower | trim not in tags %}
{% set tags = tags | merge([i | lower | trim]) %}
{% endif %}
{% endfor %}
{% endfor %}

{% set countitems = particle.items|length %}

{% if particle.filter_position == 'top' %}
{{filterstyle}}

<li class="jl-active" jl-filter-control><a href="#" target="_self"{% if particle.tooltip == '1' %} jl-tooltip="title:{{countitems}}; pos: {{particle.tooltip_position}}"{% endif %}>{% if particle.filter_text != '' %}{{particle.filter_text}}{% else %}All{% endif %}</a></li>

{% for t in tags %}
{% set c = 0 %}
{% for tag in alltags if tag == t %}
{% set c = c + 1 %}
{% endfor %}
{% set counts = counts | merge([c]) %}
{% if t != '' %}
<li jl-filter-control="[data-tag~='{{t|replace({' ': '-'})}}']">
<a href="#"{% if particle.tooltip == '1' %} jl-tooltip="title:{{c}}; pos: {{particle.tooltip_position}}"{% endif %}>{{t|capitalize}}</a>
</li>
{% endif %}
{% endfor %}
</ul>


<div class="js-{{id}}{% if particle.grid_divider == '1' %} jl-grid-divider{% endif %}{% if particle.grid_match_height == '1' %} jl-grid-match{% endif %}{% if particle.grid_gutter != 'default' %} jl-grid-{{ particle.grid_gutter|e }}{% endif %}{% if particle.phone_portrait %} jl-child-width-1-{{ particle.phone_portrait|e }}{% endif %}{% if particle.phone_landscape != 'inherit' %} jl-child-width-1-{{ particle.phone_landscape|e }}@s{% endif %}{% if particle.tablet_landscape != 'inherit' %} jl-child-width-1-{{ particle.tablet_landscape|e }}@m{% endif %}{% if particle.desktop != 'inherit' %} jl-child-width-1-{{ particle.desktop|e }}@l{% endif %}{% if particle.large_desktop != 'inherit' %} jl-child-width-1-{{ particle.large_desktop|e }}@xl{% endif %}" jl-grid="{{grid_masonry}}{{grid_parallax}}">

{{gridcontent}}

</div>

{% else %}

<div class="jl-child-width-expand{% if particle.filter_grid_gutter != 'default' %} jl-grid-{{ particle.filter_grid_gutter|e }}{% endif %}" jl-grid>
<div class="jl-width-{{ particle.filter_grid_width }}@{{ particle.filter_grid_breakpoint|e }}{% if particle.filter_position == 'right' %} jl-flex-last@{{ particle.filter_grid_breakpoint|e }}{% endif %}">

{{gridfilterstyle}}

<li class="jl-active" jl-filter-control><a href="#" target="_self"{% if particle.tooltip == '1' %} jl-tooltip="title:{{countitems}}; pos: {{particle.tooltip_position}}"{% endif %}>{% if particle.filter_text != '' %}{{particle.filter_text}}{% else %}All{% endif %}</a></li>
{% for t in tags %}
{% set c = 0 %}
{% for tag in alltags if tag == t %}
{% set c = c + 1 %}
{% endfor %}
{% set counts = counts | merge([c]) %}

{% if t != '' %}
<li jl-filter-control="[data-tag~='{{t|replace({' ': '-'})}}']">
<a href="#"{% if particle.tooltip == '1' %} jl-tooltip="title:{{c}}; pos: {{particle.tooltip_position}}"{% endif %}>{{t|capitalize}}</a>
</li>
{% endif %}
{% endfor %}
</ul>
</div>

<div>

<div class="js-{{id}}{% if particle.grid_divider == '1' %} jl-grid-divider{% endif %}{% if particle.grid_gutter != 'default' %} jl-grid-{{ particle.grid_gutter|e }}{% endif %}{% if particle.phone_portrait %} jl-child-width-1-{{ particle.phone_portrait|e }}{% endif %}{% if particle.phone_landscape != 'inherit' %} jl-child-width-1-{{ particle.phone_landscape|e }}@s{% endif %}{% if particle.tablet_landscape != 'inherit' %} jl-child-width-1-{{ particle.tablet_landscape|e }}@m{% endif %}{% if particle.desktop != 'inherit' %} jl-child-width-1-{{ particle.desktop|e }}@l{% endif %}{% if particle.large_desktop != 'inherit' %} jl-child-width-1-{{ particle.large_desktop|e }}@xl{% endif %}" jl-grid="{{grid_masonry}}{{grid_parallax}}">
{{gridcontent}}
</div>
</div>
</div>

{% endif %}

</div>

{% else %}
<div id="{{ id }}" class="tm-gridcard{{content_maxwidth}}{% if particle.class %} {{ particle.class }}{% endif %}{% if particle.grid_divider == '1' %} jl-grid-divider{% endif %}{% if particle.grid_match_height == '1' %} jl-grid-match{% endif %}{% if particle.grid_gutter != 'default' %} jl-grid-{{ particle.grid_gutter|e }}{% endif %}{% if particle.phone_portrait %} jl-child-width-1-{{ particle.phone_portrait|e }}{% endif %}{% if particle.phone_landscape != 'inherit' %} jl-child-width-1-{{ particle.phone_landscape|e }}@s{% endif %}{% if particle.tablet_landscape != 'inherit' %} jl-child-width-1-{{ particle.tablet_landscape|e }}@m{% endif %}{% if particle.desktop != 'inherit' %} jl-child-width-1-{{ particle.desktop|e }}@l{% endif %}{% if particle.large_desktop != 'inherit' %} jl-child-width-1-{{ particle.large_desktop|e }}@xl{% endif %}{{particle_alignment}}{% if particle.margin == 'inherit' %}{% elseif particle.margin == 'default' %} jl-margin{% else %} jl-margin-{{particle.margin|e}}{% endif %}{% if particle.visibility != 'inherit' %} jl-visible@{{particle.visibility|e}}{% endif %}"{{animation}} jl-grid="{{grid_masonry}}{{grid_parallax}}">
{{gridcontent}}
</div>
{% endif %}
{{endparallaxbackground}}
{% endif %}
{% endblock %}
