{% extends '@nucleus/partials/particle.html.twig' %}

{% block stylesheets %}
<style>
{% if particle.particle_title_color or particle.particle_title_fontsize %}
#{{ id }}.g5-particle-title { {% if particle.particle_title_color %}color: {{ particle.particle_title_color }};{% endif %}{% if particle.particle_title_fontsize %}font-size: {{particle.particle_title_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.customize_title_color or particle.customize_title_fontsize %}#{{ id }} .tm-title { {% if particle.customize_title_color %}color: {{particle.customize_title_color}}; {% endif %}{% if particle.customize_title_fontsize %}font-size: {{particle.customize_title_fontsize}}px;{% endif %} }{% endif %}
{% if particle.customize_content_color or particle.customize_content_fontsize %}#{{ id }} .tm-content { {% if particle.customize_content_color %}color: {{particle.customize_content_color}};{% endif %}{% if particle.customize_content_fontsize %} font-size: {{particle.customize_content_fontsize}}px;{% endif %} }{% endif %}
{% if particle.meta_color or particle.meta_fontsize %}#{{ id }} .tm-meta { {% if particle.meta_color %}color: {{particle.meta_color}};{% endif %}{% if particle.meta_fontsize %} font-size: {{particle.meta_fontsize}}px;{% endif %} }{% endif %}
{% if particle.grid_parallax != '' and particle.grid_type == 'grid' %}.tm-content-{{id}} {box-sizing: content-box;}{% endif %}
</style>
{% endblock %}

{# Set JS #}
{% block javascript_footer %}
  <script src="{{ url('gantry-theme://js/intense.min.js') }}"></script>
  <script>
  {% if particle.overlay_mode == 'cover' or particle.overlay_mode == 'caption' %}
  var element = document.querySelectorAll( '.tm-data-image' );
  Intense( element );
  {% else %}
  var element = document.querySelectorAll( '.tm-image' );
  Intense( element );
  {% endif %}
  </script>
{% endblock %}

{# set Viewport Height #}
{% set viewport_height %}
{% if particle.viewport_height == 'none' %}
{% elseif particle.viewport_height == 'full' %}
jl-height-viewport="offset-top: true"
{% elseif particle.viewport_height == 'percent' %}
jl-height-viewport="offset-top: true;offset-bottom: 20"
{% elseif particle.viewport_height == 'section' %}
jl-height-viewport="offset-top: true;offset-bottom: 50"
{% elseif particle.viewport_height == 'expand' %}
jl-height-viewport="expand: true"
{% endif %}
{% endset %}

{# set padding #}
{% set padding %}
{% if particle.viewport_height == 'full' %}
{% else %}
{% if particle.padding == 'default' %}{% else %} jl-section-{{particle.padding|e}}{% endif %}
{% endif %}
{% endset %}

{# Set Title Text Transform #}
{% set title_text_transform %}
{% if particle.title_text_transform %} jl-text-{{particle.title_text_transform|e}}{% endif %}
{% endset %}

{# Set Meta Text Transform #}
{% set meta_text_transform %}
{% if particle.meta_text_transform %} jl-text-{{particle.meta_text_transform|e}}{% endif %}
{% endset %}

{# Set Content Text Transform #}
{% set content_text_transform %}
{% if particle.content_text_transform %} jl-text-{{particle.content_text_transform|e}}{% endif %}
{% endset %}

{# set Container #}
{% set container %}
{% if particle.container == '1' %}
<div class="jl-container"><div class="g5-content g5-particle">{% endif %}
{% endset %}

{# set End Container #}
{% set endcontainer %}
{% if particle.container == '1' %}
</div></div>{% endif %}
{% endset %}

{# set Background color #}
{% set parallax_bg_color %}
{% if particle.parallax_bg_color %}
style="background-color: {{particle.parallax_bg_color}};"{% endif %}
{% endset %}

{# Set Max-Width Content #}
{% set content_maxwidth %}
{% if particle.g_maxwidth != 'inherit' %} jl-width-{{particle.g_maxwidth}}{% if particle.g_maxwidth_breakpoint != 'always' %}@{{particle.g_maxwidth_breakpoint}}{% endif %}{% if particle.g_maxwidth_alignment == 'left' %}{% elseif particle.g_maxwidth_alignment == 'center' %} jl-margin-auto{% else %} jl-margin-auto-left{% endif %}{% endif %}
{% endset %}

{# set Parallax Background #}
{% set parallaxbackground %}
{% if particle.parallax_image %}
<div data-src="{{ url(particle.parallax_image)|e }}" class="{{id}} jl-background-norepeat{{padding}}{{content_maxwidth}} jl-background-{{particle.background_image_position|e}}{% if particle.background_image_size != 'auto' %} jl-background-{{particle.background_image_size|e}}{% endif %}{% if particle.parallax_bg_visibility != 'always' %} jl-background-image@{{particle.parallax_bg_visibility|e}}{% endif %}{% if particle.vertical_alignment != 'none' %} jl-flex jl-flex-{{particle.vertical_alignment|e}}{% endif %}{% if particle.parallax_text_color != 'default' %} jl-{{particle.parallax_text_color|e}}{% endif %}{% if particle.blendmode != 'inherit' %} jl-background-blend-{{particle.blendmode|e}}{% endif %}" {{parallax_bg_color}}{% if particle.horizontal_start or particle.horizontal_end or particle.vertical_start or particle.vertical_end %} jl-parallax="{% if particle.horizontal_start or particle.horizontal_end %}bgx: {{particle.horizontal_start|e}},{{particle.horizontal_end|e}};{% endif %}{% if particle.vertical_start or particle.vertical_end %}bgy: {{particle.vertical_start|e}},{{particle.vertical_end|e}};{% endif %}{% if particle.parallax_bg_breakpoint != 'always' %} media: @{{particle.parallax_bg_breakpoint|e}}{% endif %}" {% endif %} jl-img {{viewport_height}}>
{{container}}
{% endif %}
{% endset %}

{# End Parallax Background #}
{% set endparallaxbackground %}
{% if particle.parallax_image %}
{{endcontainer}}
</div>
{% endif %}
{% endset %}

{# Set Horizontal #}
{% set pahorizontal %}
{% if particle.pa_horizontal_start or particle.pa_horizontal_end %}x: {% if particle.pa_horizontal_start == '' %}0{% else %}{{particle.pa_horizontal_start }}{% endif %},{% if particle.pa_horizontal_end == '' %}0{% else %}{{particle.pa_horizontal_end }}{% endif %};{% endif %}
{% endset %}

{# Set Vertical #}
{% set pavertical %}
{% if particle.pa_vertical_start or particle.pa_vertical_end %}y: {% if particle.pa_vertical_start == '' %}0{% else %}{{particle.pa_vertical_start }}{% endif %},{% if particle.pa_vertical_end == '' %}0{% else %}{{particle.pa_vertical_end }}{% endif %};{% endif %}
{% endset %}

{# Set Scale #}
{% set scale %}
{% if particle.scale_start or particle.scale_end %}scale: {% if particle.scale_start == '' %}1{% else %}{{particle.scale_start / 100 }}{% endif %},{% if particle.scale_end == '' %}1{% else %} {{particle.scale_end / 100 }}{% endif %};{% endif %}
{% endset %}

{# Set Rotate #}
{% set rotate %}{% if particle.rotate_start or particle.rotate_end %}
rotate: {% if particle.rotate_start == '' %}0{% else %}{{particle.rotate_start}}{% endif %},{% if particle.rotate_end == '' %}0{% else %}{{particle.rotate_end}}{% endif %};{% endif %}
{% endset %}

{# Set Opacity #}
{% set opacity %}
{% if particle.opacity_start or particle.opacity_end %}opacity: {% if particle.opacity_start == '' %}1{% else %}{{particle.opacity_start / 100 }}{% endif %},{% if particle.opacity_end == '' %}1{% else %}{{particle.opacity_end / 100 }}{% endif %};{% endif %}
{% endset %}

{# set Scrollspy Animation #}
{% set scrollspy_cls %}
{% if particle.delay_element_animations == '1' %} jl-scrollspy-class{% endif %}
{% endset %}

{# set Animation #}
{% set animation %}
{% if particle.animation == 'parallax' %}
{% if particle.pa_horizontal_start or particle.pa_horizontal_end or particle.pa_vertical_start or particle.pa_vertical_end or particle.scale_start or particle.scale_end or particle.rotate_start or particle.rotate_end or particle.opacity_start or particle.opacity_end or particle.easing or particle.pa_viewport or particle.pa_breakpoint %} jl-parallax="{{pahorizontal}}{{pavertical}}{{scale}}{{rotate}}{{opacity}}{% if particle.easing == '' %}{% else %}easing: {{ particle.easing / 100 }};{% endif %}{% if particle.pa_viewport != '' %}viewport:{{ particle.pa_viewport / 100 }};{% endif %}{% if particle.pa_breakpoint != 'always' %}media: @{{particle.pa_breakpoint|e}}{% endif %}"{% endif %}
{% else %}
{% if particle.animation != 'inherit' %}
{% if particle.delay_element_animations == '1' %} jl-scrollspy="target: [jl-scrollspy-class]; cls: jl-animation-{{particle.animation|e}};{% if particle.animation_repeat != 'disabled' %} repeat: true;{% endif %}{% if particle.animation_delay != '' %} delay: {{particle.animation_delay|e}};{% else %} delay: 200;{% endif %}"{% else %} jl-scrollspy="cls: jl-animation-{{particle.animation|e}};{% if particle.animation_repeat != 'disabled' %} repeat: true;{% endif %}{% if particle.animation_delay != '' %} delay: {{particle.animation_delay|e}};{% endif %}"{% endif %}
{% endif %}
{% endif %}
{% endset %}

{# Set Particle Alignment #}
{% set particle_alignment %}
{% if particle.align != 'inherit' %} jl-text-{{particle.align|e}}{% if particle.breakpoint != 'always' %}@{{particle.breakpoint|e}}{% endif %}{% endif %}{% if particle.align != 'inherit' and particle.breakpoint != 'always' %}{% if particle.fallback != 'inherit' %} jl-text-{{particle.fallback|e}}{% endif %}{% endif %}
{% endset %}

{# set Particle Title Style #}
{% set particle_title_style %}
{% if particle.particle_title %}
<{{particle.particle_title_element|e}} id="{{ id }}" class="g5-particle-title{% if particle.particle_title_align != 'inherit' %} jl-text-{{particle.particle_title_align|e}}{% endif %}{% if particle.particle_predefined_color != 'default' %} jl-text-{{particle.particle_predefined_color|e}}{% endif %}{% if particle.particle_title_style != 'default' %} jl-{{particle.particle_title_style|e}}{% endif %}{% if particle.particle_title_decoration != 'none' %} jl-heading-{{particle.particle_title_decoration|e}}{% endif %}">
{% if particle.particle_title_decoration == 'line' %} <span>{{particle.particle_title|raw}}</span>
{% else %} {{particle.particle_title|raw}}
{% endif %}
</{{particle.particle_title_element|e}}>
{% endif %}
{% endset %}

{% set slider_animation_set %}
{% if particle.slider_animation_set == 'enabled' %}
sets: true;{% endif %}
{% endset %}

{% set slider_animation_center %}
{% if particle.slider_animation_center == 'enabled' %}
center: true;{% endif %}
{% endset %}

{% set slider_animation_finite %}
{% if particle.slider_animation_finite == 'enabled' %}
finite: true;{% else %}{% endif %}
{% endset %}

{% set slider_animation_autoplay %}
{% if particle.slider_animation_autoplay == 'enabled' %}
autoplay: true;{% endif %}
{% endset %}

{% set slider_animation_interval %}
{% if particle.slider_animation_interval %}
autoplay-interval: {{ particle.slider_animation_interval * 1000 }};{% endif %}
{% endset %}

{% set imagewidth %}
		{% if particle.image_width != '' %}
    width = "{{particle.image_width}}"
    {% endif %}
{% endset %}

{% set imageheight %}
		{% if particle.image_height != '' %}
    height = "{{particle.image_height}}"
    {% endif %}
{% endset %}

{# Set Masonry #}
{% set grid_masonry %}
{% if particle.grid_masonry == '1' %}
masonry: true;{% endif %}
{% endset %}

{# Title Transition #}
{% set title_transition %}
{% if particle.overlay_hover == '1' %}
{% if particle.title_transition != 'none' %} jl-transition-{{ particle.title_transition|e }}{% endif %}
{% endif %}
{% endset %}

{# Meta Transition #}
{% set meta_transition %}
{% if particle.overlay_hover == '1' %}
{% if particle.meta_transition != 'none' %} jl-transition-{{ particle.meta_transition|e }}{% endif %}
{% endif %}
{% endset %}

{# Content Transition #}
{% set content_transition %}
{% if particle.overlay_hover == '1' %}
{% if particle.content_transition != 'none' %} jl-transition-{{ particle.content_transition|e }}{% endif %}
{% endif %}
{% endset %}

{# Overlay Transition #}
{% set overlay_transition %}
{% if particle.overlay_hover == '1' %} jl-transition-{{ particle.overlay_transition|e }}{% endif %}
{% endset %}

{# Image Transition #}
{% set image_transition %}
{% if particle.image_transition %} jl-transition-{{ particle.image_transition|e }} jl-transition-opaque{% endif %}
{% endset %}

{# Image Hover Transition #}
{% set image_hover_transition %}
{% if particle.image_transition == 'none' %} jl-transition-fade{% else %} jl-transition-{{ particle.image_transition|e }}{% endif %}
{% endset %}

{# Image Box Shadow #}
{% set image_boxshadow %}
{% if particle.box_shadow != 'none' %} jl-box-shadow-{{particle.box_shadow|e}}{% endif %}{% if particle.box_shadow_hover != 'none' %} jl-box-shadow-hover-{{particle.box_shadow_hover|e}}{% endif %}
{% endset %}

{# Set Item Max Width Class #}
{% set item_maxwidth_cls %}
{% if particle.item_maxwidth == 'none' %}{% else %} jl-margin-auto jl-width-{{ particle.item_maxwidth|e }}{% endif %}
{% endset %}

{# Set Parallax #}
{% set grid_parallax %}
{% if particle.grid_parallax != '' %}
parallax: {{particle.grid_parallax}}{% endif %}
{% endset %}

{# Set Item Content #}
{% set itemcontent %}
{% for item in particle.items %}

{# Set Meta Content #}
{% set item_meta %}
{% if item.meta %}
<div class="tm-meta{{meta_text_transform}}{% if particle.meta_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.meta_margin_top|e }}-top{% endif %}{% if particle.pre_meta_color == 'default' %}{% else %} jl-text-{{ particle.pre_meta_color|e }}{% endif %}{% if particle.meta_style != 'default' %} jl-{{ particle.meta_style|e }}{% endif %}">
{{item.meta|raw}}
</div>
{% endif %}
{% endset %}

{% if particle.grid_type == 'slider' %}
<li class="tm-item-wrapper{% if particle.phone_portrait %} jl-width-1-{{ particle.phone_portrait|e }}{% endif %}{% if particle.phone_landscape != 'inherit' %} jl-width-1-{{ particle.phone_landscape|e }}@s{% endif %}{% if particle.tablet_landscape != 'inherit' %} jl-width-1-{{ particle.tablet_landscape|e }}@m{% endif %}{% if particle.desktop != 'inherit' %} jl-width-1-{{ particle.desktop|e }}@l{% endif %}{% if particle.large_desktop != 'inherit' %} jl-width-1-{{ particle.large_desktop|e }}@xl{% endif %}">
{% else %}
<div class="tm-item-wrapper">
{% endif %}

<div class="tm-item{{item_maxwidth_cls}}"{{scrollspy_cls}}>

{% if particle.overlay_mode == 'cover' or particle.overlay_mode == 'caption' %}
<div class="tm-data-image" data-image="{{ url(item.image)|e }}" href="#" data-title="{{item.title}}" data-caption="{{item.caption}}">

{% if particle.overlay_hover == '1' or particle.image_transition != 'none' %}
<div class="tm-item-inner jl-inline-clip jl-transition-toggle{% if particle.overlay_color != 'default' %} jl-{{ particle.overlay_color|e }}{% endif %}{{item_maxwidth_cls}}{{image_boxshadow}}" tabindex="0"{{scrollspy_cls}}>
{% else %}
<div class="tm-item-inner jl-inline-clip{% if particle.overlay_color != 'default' %} jl-{{ particle.overlay_color|e }}{% endif %}{{item_maxwidth_cls}}{{image_boxshadow}}"{{scrollspy_cls}}>
{% endif %}

{% if item.image_thumbnail %}
<img {{imagewidth}} {{imageheight}} data-src="{{ url(item.image_thumbnail)|e }}" alt="{{ item.image_alt|e }}" class="tm-image{% if particle.image_border != 'none' %} jl-border-{{particle.image_border}}{% endif %}{% if particle.image_transition != 'none' %} jl-transition-{{ particle.image_transition|e }} jl-transition-opaque{% endif %}" data-image="{{ url(item.image)|e }}" data-title="{{item.title}}" data-caption="{{item.caption}}" jl-img />
{% else %}
{% if item.image %}<img {{imagewidth}} {{imageheight}} data-src="{{ url(item.image)|e }}" alt="{{ item.image_alt|e }}" class="tm-image{% if particle.image_border != 'none' %} jl-border-{{particle.image_border}}{% endif %}{% if particle.image_transition != 'none' %} jl-transition-{{ particle.image_transition|e }} jl-transition-opaque{% endif %}"  data-image="{{ url(item.image)|e }}" data-title="{{item.title}}" data-caption="{{item.caption}}" jl-img />{% endif %}
{% endif %}

{# Load Overlay Style #}
{% if particle.overlay_style == 'none' %}
<div class="{% if particle.overlay_position %}jl-position-{{ particle.overlay_position|e }}{% endif %}">

<div class="jl-panel{% if particle.overlay_padding == 'default' %} jl-padding{% else %} jl-padding-{{ particle.overlay_padding|e }}{% endif %}{% if particle.overlay_maxwidth != 'none' %} jl-width-{{ particle.overlay_maxwidth|e }}{% endif %}{{overlay_transition}} jl-margin-remove-first-child">

{% else %}

{% if particle.overlay_mode == 'cover' %}
<div class="jl-position-cover{% if particle.overlay_margin != 'none' %} jl-position-{{ particle.overlay_margin|e }}{% endif %}{% if particle.overlay_style %} {{ particle.overlay_style|e }}{% endif %}{{overlay_transition}}"></div>
{% endif %}

<div class="{% if particle.overlay_position %}jl-position-{{ particle.overlay_position|e }}{% endif %}{% if particle.overlay_margin != 'none' %} jl-position-{{ particle.overlay_margin|e }}{% endif %}">

  {% if particle.overlay_mode == 'cover' %}
  <div class="jl-overlay{% if particle.overlay_padding == 'default' %}{% else %} jl-padding-{{ particle.overlay_padding|e }}{% endif %}{% if particle.overlay_maxwidth != 'none' %} jl-width-{{ particle.overlay_maxwidth|e }}{% endif %}{{overlay_transition}} jl-margin-remove-first-child">
  {% else %}
  <div class="jl-overlay{% if particle.overlay_padding == 'default' %}{% else %} jl-padding-{{ particle.overlay_padding|e }}{% endif %}{% if particle.overlay_maxwidth != 'none' %} jl-width-{{ particle.overlay_maxwidth|e }}{% endif %}{% if particle.overlay_style %} {{ particle.overlay_style|e }}{% endif %}{{overlay_transition}} jl-margin-remove-first-child">
  {% endif %}

{% endif %}

{% if particle.meta_alignment == 'top' %}
{{item_meta}}
{% endif %}

{% if item.title %}
<{{particle.title_element|e}} class="tm-title jl-margin-remove-bottom{{title_text_transform}}{% if particle.title_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.title_margin_top|e }}-top{% endif %}{% if particle.title_color != 'default' %} jl-text-{{particle.title_color|e}}{% endif %}{% if particle.title_style != 'default' %} jl-{{particle.title_style|e}}{% endif %}{% if particle.title_decoration != 'none' %} jl-heading-{{particle.title_decoration|e}}{% endif %}">
{% if particle.title_decoration == 'line' %} <span>{{ item.title|raw }}</span>
{% else %}
	{{ item.title|raw }}
{% endif %}
</{{particle.title_element|e}}>
{% endif %}

{% if particle.meta_alignment == 'bottom' %}
{{item_meta}}
{% endif %}

{% if item.caption %}
<div class="tm-content jl-panel{{content_text_transform}}{% if particle.content_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.content_margin_top|e }}-top{% endif %}{% if particle.content_style != 'default' %} jl-text-{{ particle.content_style|e }}{% endif %}{% if particle.content_text_color != 'default' %} jl-text-{{ particle.content_text_color|e }}{% endif %}">{{ item.caption|raw }}</div>
{% endif %}

{% if particle.meta_alignment == 'content' %}
{{item_meta}}
{% endif %}

</div>
</div>
{# End Overlay Style #}

</div>

</div>

{% else %}

{% if item.image_thumbnail %}
<img {{imagewidth}} {{imageheight}} data-src="{{ url(item.image_thumbnail)|e }}" alt="{{ item.image_alt|e }}" class="tm-image{% if particle.image_border != 'none' %} jl-border-{{particle.image_border}}{% endif %}{% if particle.image_transition != 'none' %} jl-transition-{{ particle.image_transition|e }} jl-transition-opaque{% endif %}" data-image="{{ url(item.image)|e }}" data-title="{{item.title}}" data-caption="{{item.caption}}" jl-img />
{% else %}
{% if item.image %}<img {{imagewidth}} {{imageheight}} data-src="{{ url(item.image)|e }}" alt="{{ item.image_alt|e }}" class="tm-image{% if particle.image_border != 'none' %} jl-border-{{particle.image_border}}{% endif %}{% if particle.image_transition != 'none' %} jl-transition-{{ particle.image_transition|e }} jl-transition-opaque{% endif %}" data-image="{{ url(item.image)|e }}" data-title="{{item.title}}" data-caption="{{item.caption}}" jl-img />{% endif %}
{% endif %}

{% if particle.meta_alignment == 'top' %}
{{item_meta}}
{% endif %}

{% if item.title %}
<{{particle.title_element|e}} class="tm-title jl-margin-remove-bottom{{title_text_transform}}{% if particle.title_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.title_margin_top|e }}-top{% endif %}{% if particle.title_color != 'default' %} jl-text-{{particle.title_color|e}}{% endif %}{% if particle.title_style != 'default' %} jl-{{particle.title_style|e}}{% endif %}{% if particle.title_decoration != 'none' %} jl-heading-{{particle.title_decoration|e}}{% endif %}">
{% if particle.title_decoration == 'line' %} <span>{{ item.title|raw }}</span>
{% else %}
	{{ item.title|raw }}
{% endif %}
</{{particle.title_element|e}}>
{% endif %}

{% if particle.meta_alignment == 'bottom' %}
{{item_meta}}
{% endif %}

{% if item.caption %}
<div class="tm-content jl-panel{{content_text_transform}}{% if particle.content_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.content_margin_top|e }}-top{% endif %}{% if particle.content_style != 'default' %} jl-text-{{ particle.content_style|e }}{% endif %}{% if particle.content_text_color != 'default' %} jl-text-{{ particle.content_text_color|e }}{% endif %}">{{ item.caption|raw }}</div>
{% endif %}

{% if particle.meta_alignment == 'content' %}
{{item_meta}}
{% endif %}

{% endif %}

</div>
{% if particle.grid_type == 'slider' %}
</li>
{% else %}
</div>
{% endif %}


{% endfor %}
{% endset %}

{% block particle %}
{% if particle.enabled %}
{{parallaxbackground}}
{{particle_title_style}}
{% if particle.grid_type == 'slider' %}
<div id="{{ id }}" class="tm-intense-wrapper{{content_maxwidth}}{% if particle.class %} {{ particle.class }}{% endif %}{{particle_alignment}}{% if particle.margin == 'inherit' %}{% elseif particle.margin == 'default' %} jl-margin{% else %} jl-margin-{{particle.margin|e}}{% endif %}{% if particle.visibility != 'inherit' %} jl-visible@{{particle.visibility|e}}{% endif %}" jl-slider="{{slider_animation_set}}{{slider_animation_center}}{{slider_animation_finite}}{{slider_animation_autoplay}}{{slider_animation_interval}}"{{animation}}>

<div class="jl-position-relative">

{# Load Outside container #}

{% if particle.slidenav_position == 'outside' %}
<div class="jl-slider-container">
{% endif %}

{# End outside #}

<ul class="jl-slider-items jl-grid{% if particle.grid_divider == '1' %} jl-grid-divider{% endif %}{% if particle.grid_gutter != 'default' %} jl-grid-{{ particle.grid_gutter|e }}{% endif %}"{{slider_viewport}}>
{{itemcontent}}
</ul>

{% if particle.slidenav_position == 'outside' %}
</div>
{% endif %}

{# Slidenav #}
{% if particle.slidenav_position == 'none' %}
{% else %}
{% if particle.slidenav_position == 'default' %}
<div class="{% if particle.slidenav_breakpoint != 'always' %}jl-visible@{{particle.slidenav_breakpoint|e}}{% endif %}">
<a class="tm-slidenav{% if particle.slidenav_margin != 'none' %} jl-position-{{ particle.slidenav_margin|e }}{% endif %} jl-position-center-left" href="#" jl-slidenav-previous jl-slider-item="previous"></a>
<a class="tm-slidenav{% if particle.slidenav_margin != 'none' %} jl-position-{{ particle.slidenav_margin|e }}{% endif %} jl-position-center-right" jl-slidenav-next href="#" jl-slider-item="next"></a>
</div>
{% elseif particle.slidenav_position == 'outside' %}
<div class="{% if particle.slidenav_breakpoint != 'always' %}jl-visible@{{particle.slidenav_breakpoint|e}}{% endif %}">
<a class="tm-slidenav{% if particle.slidenav_margin != 'none' %} jl-position-{{ particle.slidenav_margin|e }}{% endif %} jl-position-center-left" href="#" jl-slidenav-previous jl-slider-item="previous" jl-toggle="cls: jl-position-center-left-out jl-position-center-left; mode: media; media:{% if particle.slidenav_outsite_breakpoint != 'always' %} @{{particle.slidenav_outsite_breakpoint|e}}{% endif %}"></a>
<a class="tm-slidenav{% if particle.slidenav_margin != 'none' %} jl-position-{{ particle.slidenav_margin|e }}{% endif %} jl-position-center-right" href="#" jl-slidenav-next jl-slider-item="next" jl-toggle="cls: jl-position-center-right-out jl-position-center-right; mode: media; media:{% if particle.slidenav_outsite_breakpoint != 'always' %} @{{particle.slidenav_outsite_breakpoint|e}}{% endif %}"></a>
</div>
{% else %}
<div class="jl-slidenav-container{% if particle.slidenav_margin != 'none' %} jl-position-{{ particle.slidenav_margin|e }}{% endif %} jl-position-{{ particle.slidenav_position|e }}{% if particle.slidenav_breakpoint != 'always' %} jl-visible@{{particle.slidenav_breakpoint|e}}{% endif %}">
<a class="tm-slidenav" href="#" jl-slidenav-previous jl-slider-item="previous"></a>
<a class="tm-slidenav" href="#" jl-slidenav-next jl-slider-item="next"></a>
</div>
{% endif %}
{% endif %}
{# End Slidenav #}

</div>

{# Navigation #}
{% if particle.navigation == 'enabled' %}
{% if particle.navigation_color == 'default' %}
{% else %}
<div class="jl-{{particle.navigation_color|e}}">
{% endif %}
<ul class="tm-nav jl-slider-nav jl-dotnav{% if particle.navigation_position %} jl-flex-{{ particle.navigation_position|e }}{% endif %}{% if particle.navigation_margin %} jl-margin-{{ particle.navigation_margin|e }}{% endif %}{% if particle.navigation_breakpoint != 'always' %} jl-visible@{{particle.navigation_breakpoint|e}}{% endif %}" jl-margin>
{% for item in particle.carouselitems %}
<li jl-slider-item="{{ loop.index0 }}">{% if item.image_alt %}<a href="#" jl-tooltip="{{ item.image_alt|raw }}"></a> {% else %} <a href="#"></a> {% endif %}</li>
{% endfor %}
</ul>
{% if particle.navigation_color == 'default' %}
{% else %}
</div>
{% endif %}
{% endif %}
{# End Navigation #}

</div>

{% else %}
<div id="{{ id }}" class="tm-content-{{id}} tm-intense-wrapper{{content_maxwidth}}{% if particle.class %} {{ particle.class }}{% endif %}{% if particle.grid_divider == '1' %} jl-grid-divider{% endif %}{% if particle.grid_gutter != 'default' %} jl-grid-{{ particle.grid_gutter|e }}{% endif %}{% if particle.phone_portrait %} jl-child-width-1-{{ particle.phone_portrait|e }}{% endif %}{% if particle.phone_landscape != 'inherit' %} jl-child-width-1-{{ particle.phone_landscape|e }}@s{% endif %}{% if particle.tablet_landscape != 'inherit' %} jl-child-width-1-{{ particle.tablet_landscape|e }}@m{% endif %}{% if particle.desktop != 'inherit' %} jl-child-width-1-{{ particle.desktop|e }}@l{% endif %}{% if particle.large_desktop != 'inherit' %} jl-child-width-1-{{ particle.large_desktop|e }}@xl{% endif %}{{particle_alignment}}{% if particle.margin == 'inherit' %}{% elseif particle.margin == 'default' %} jl-margin{% else %} jl-margin-{{particle.margin|e}}{% endif %}{% if particle.visibility != 'inherit' %} jl-visible@{{particle.visibility|e}}{% endif %}"{{animation}} jl-grid="{{grid_masonry}}{{grid_parallax}}">
{{itemcontent}}
</div>
{% endif %}
{{endparallaxbackground}}
{% endif %}
{% endblock %}
