{% extends '@nucleus/partials/particle.html.twig' %}

{% block stylesheets %}
<style>
{% if particle.particle_title_color or particle.particle_title_fontsize %}
#{{ id }}.g5-particle-title { {% if particle.particle_title_color %}color: {{ particle.particle_title_color }};{% endif %}{% if particle.particle_title_fontsize %}font-size: {{particle.particle_title_fontsize}}px;{% endif %} }
{% endif %}
{% for item in particle.items %}
{% if item.content_bgcolor != '' %}.tm-content-{{id}} .tm-member-id-{{loop.index}} .tm-member-wrapper .tm-content-inner {background-color: {{ item.content_bgcolor }};}{% endif %}
{% if item.background_blendmode != 'inherit' %}.tm-content-{{id}} .tm-member-id-{{loop.index}} .jl-background-primary {background-color: {{ item.bgcolor }};}{% endif %}
{% endfor %}
{% if particle.icon_color or particle.icon_fontsize %}#{{ id }} .tm-icon { {% if particle.icon_color %}color: {{particle.icon_color}}; {% endif %}{% if particle.icon_fontsize %}font-size: {{particle.icon_fontsize}}px;{% endif %} }{% endif %}
{% if particle.customize_title_color or particle.customize_title_fontsize %}#{{ id }} .tm-title { {% if particle.customize_title_color %}color: {{particle.customize_title_color}}; {% endif %}{% if particle.customize_title_fontsize %}font-size: {{particle.customize_title_fontsize}}px;{% endif %} }{% endif %}
{% if particle.customize_content_color or particle.customize_content_fontsize %}#{{ id }} .tm-content { {% if particle.customize_content_color %}color: {{particle.customize_content_color}};{% endif %}{% if particle.customize_content_fontsize %} font-size: {{particle.customize_content_fontsize}}px;{% endif %} }{% endif %}
{% if particle.meta_color or particle.meta_fontsize %}#{{ id }} .tm-meta { {% if particle.meta_color %}color: {{particle.meta_color}};{% endif %}{% if particle.meta_fontsize %} font-size: {{particle.meta_fontsize}}px;{% endif %} }{% endif %}
{% if particle.grid_parallax != '' and particle.grid_type == 'grid' %}.tm-content-{{id}} {box-sizing: content-box;}{% endif %}
#{{ id }} .jl-iconnav > * > a { text-align: center; line-height: 36px;}
</style>
{% endblock %}

{# set Viewport Height #}
{% set viewport_height %}
{% if particle.viewport_height == 'none' %}
{% elseif particle.viewport_height == 'full' %}
jl-height-viewport="offset-top: true"
{% elseif particle.viewport_height == 'percent' %}
jl-height-viewport="offset-top: true;offset-bottom: 20"
{% elseif particle.viewport_height == 'section' %}
jl-height-viewport="offset-top: true;offset-bottom: 50"
{% elseif particle.viewport_height == 'expand' %}
jl-height-viewport="expand: true"
{% endif %}
{% endset %}

{# Set Title Text Transform #}
{% set title_text_transform %}
{% if particle.title_text_transform %} jl-text-{{particle.title_text_transform|e}}{% endif %}
{% endset %}

{# Set Meta Text Transform #}
{% set meta_text_transform %}
{% if particle.meta_text_transform %} jl-text-{{particle.meta_text_transform|e}}{% endif %}
{% endset %}

{# Set Content Text Transform #}
{% set content_text_transform %}
{% if particle.content_text_transform %} jl-text-{{particle.content_text_transform|e}}{% endif %}
{% endset %}

{# set padding #}
{% set padding %}
{% if particle.viewport_height == 'full' %}
{% else %}
{% if particle.padding == 'default' %}{% else %} jl-section-{{particle.padding|e}}{% endif %}
{% endif %}
{% endset %}

{# set Container #}
{% set container %}
{% if particle.container == '1' %}
<div class="jl-container"><div class="g5-content g5-particle">{% endif %}
{% endset %}

{# set End Container #}
{% set endcontainer %}
{% if particle.container == '1' %}
</div></div>{% endif %}
{% endset %}

{# set Background color #}
{% set parallax_bg_color %}
{% if particle.parallax_bg_color %}
style="background-color: {{particle.parallax_bg_color}};"{% endif %}
{% endset %}

{# Set Max-Width Content #}
{% set content_maxwidth %}
{% if particle.g_maxwidth != 'inherit' %} jl-width-{{particle.g_maxwidth}}{% if particle.g_maxwidth_breakpoint != 'always' %}@{{particle.g_maxwidth_breakpoint}}{% endif %}{% if particle.g_maxwidth_alignment == 'left' %}{% elseif particle.g_maxwidth_alignment == 'center' %} jl-margin-auto{% else %} jl-margin-auto-left{% endif %}{% endif %}
{% endset %}

{# set Parallax Background #}
{% set parallaxbackground %}
{% if particle.parallax_image %}
<div data-src="{{ url(particle.parallax_image)|e }}" class="{{id}} jl-background-norepeat{{padding}}{{content_maxwidth}} jl-background-{{particle.background_image_position|e}}{% if particle.background_image_size != 'auto' %} jl-background-{{particle.background_image_size|e}}{% endif %}{% if particle.parallax_bg_visibility != 'always' %} jl-background-image@{{particle.parallax_bg_visibility|e}}{% endif %}{% if particle.vertical_alignment != 'none' %} jl-flex jl-flex-{{particle.vertical_alignment|e}}{% endif %}{% if particle.parallax_text_color != 'default' %} jl-{{particle.parallax_text_color|e}}{% endif %}{% if particle.blendmode != 'inherit' %} jl-background-blend-{{particle.blendmode|e}}{% endif %}" {{parallax_bg_color}}{% if particle.horizontal_start or particle.horizontal_end or particle.vertical_start or particle.vertical_end %} jl-parallax="{% if particle.horizontal_start or particle.horizontal_end %}bgx: {{particle.horizontal_start|e}},{{particle.horizontal_end|e}};{% endif %}{% if particle.vertical_start or particle.vertical_end %}bgy: {{particle.vertical_start|e}},{{particle.vertical_end|e}};{% endif %}{% if particle.parallax_bg_breakpoint != 'always' %} media: @{{particle.parallax_bg_breakpoint|e}}{% endif %}" {% endif %} jl-img {{viewport_height}}>
{{container}}
{% endif %}
{% endset %}

{# End Parallax Background #}
{% set endparallaxbackground %}
{% if particle.parallax_image %}
{{endcontainer}}
</div>
{% endif %}
{% endset %}

{# Set Horizontal #}
{% set pahorizontal %}
{% if particle.pa_horizontal_start or particle.pa_horizontal_end %}x: {% if particle.pa_horizontal_start == '' %}0{% else %}{{particle.pa_horizontal_start }}{% endif %},{% if particle.pa_horizontal_end == '' %}0{% else %}{{particle.pa_horizontal_end }}{% endif %};{% endif %}
{% endset %}

{# Set Vertical #}
{% set pavertical %}
{% if particle.pa_vertical_start or particle.pa_vertical_end %}y: {% if particle.pa_vertical_start == '' %}0{% else %}{{particle.pa_vertical_start }}{% endif %},{% if particle.pa_vertical_end == '' %}0{% else %}{{particle.pa_vertical_end }}{% endif %};{% endif %}
{% endset %}

{# Set Scale #}
{% set scale %}
{% if particle.scale_start or particle.scale_end %}scale: {% if particle.scale_start == '' %}1{% else %}{{particle.scale_start / 100 }}{% endif %},{% if particle.scale_end == '' %}1{% else %} {{particle.scale_end / 100 }}{% endif %};{% endif %}
{% endset %}

{# Set Rotate #}
{% set rotate %}{% if particle.rotate_start or particle.rotate_end %}
rotate: {% if particle.rotate_start == '' %}0{% else %}{{particle.rotate_start}}{% endif %},{% if particle.rotate_end == '' %}0{% else %}{{particle.rotate_end}}{% endif %};{% endif %}
{% endset %}

{# Set Opacity #}
{% set opacity %}
{% if particle.opacity_start or particle.opacity_end %}opacity: {% if particle.opacity_start == '' %}1{% else %}{{particle.opacity_start / 100 }}{% endif %},{% if particle.opacity_end == '' %}1{% else %}{{particle.opacity_end / 100 }}{% endif %};{% endif %}
{% endset %}

{# set Scrollspy Animation #}
{% set scrollspy_cls %}
{% if particle.delay_element_animations == '1' %} jl-scrollspy-class{% endif %}
{% endset %}

{# set Animation #}
{% set animation %}
{% if particle.animation == 'parallax' %}
{% if particle.pa_horizontal_start or particle.pa_horizontal_end or particle.pa_vertical_start or particle.pa_vertical_end or particle.scale_start or particle.scale_end or particle.rotate_start or particle.rotate_end or particle.opacity_start or particle.opacity_end or particle.easing or particle.pa_viewport or particle.pa_breakpoint %} jl-parallax="{{pahorizontal}}{{pavertical}}{{scale}}{{rotate}}{{opacity}}{% if particle.easing == '' %}{% else %}easing: {{ particle.easing / 100 }};{% endif %}{% if particle.pa_viewport != '' %}viewport:{{ particle.pa_viewport / 100 }};{% endif %}{% if particle.pa_breakpoint != 'always' %}media: @{{particle.pa_breakpoint|e}}{% endif %}"{% endif %}
{% else %}
{% if particle.animation != 'inherit' %}
{% if particle.delay_element_animations == '1' %} jl-scrollspy="target: [jl-scrollspy-class]; cls: jl-animation-{{particle.animation|e}};{% if particle.animation_repeat != 'disabled' %} repeat: true;{% endif %}{% if particle.animation_delay != '' %} delay: {{particle.animation_delay|e}};{% else %} delay: 200;{% endif %}"{% else %} jl-scrollspy="cls: jl-animation-{{particle.animation|e}};{% if particle.animation_repeat != 'disabled' %} repeat: true;{% endif %}{% if particle.animation_delay != '' %} delay: {{particle.animation_delay|e}};{% endif %}"{% endif %}
{% endif %}
{% endif %}
{% endset %}

{# Set Particle Alignment #}
{% set particle_alignment %}
{% if particle.align != 'inherit' %} jl-text-{{particle.align|e}}{% if particle.breakpoint != 'always' %}@{{particle.breakpoint|e}}{% endif %}{% endif %}{% if particle.align != 'inherit' and particle.breakpoint != 'always' %}{% if particle.fallback != 'inherit' %} jl-text-{{particle.fallback|e}}{% endif %}{% endif %}
{% endset %}

{# set Particle Title Style #}
{% set particle_title_style %}
{% if particle.particle_title %}
<{{particle.particle_title_element|e}} id="{{ id }}" class="g5-particle-title{% if particle.particle_title_align != 'inherit' %} jl-text-{{particle.particle_title_align|e}}{% endif %}{% if particle.particle_predefined_color != 'default' %} jl-text-{{particle.particle_predefined_color|e}}{% endif %}{% if particle.particle_title_style != 'default' %} jl-{{particle.particle_title_style|e}}{% endif %}{% if particle.particle_title_decoration != 'none' %} jl-heading-{{particle.particle_title_decoration|e}}{% endif %}">
{% if particle.particle_title_decoration == 'line' %} <span>{{particle.particle_title|raw}}</span>
{% else %} {{particle.particle_title|raw}}
{% endif %}
</{{particle.particle_title_element|e}}>
{% endif %}
{% endset %}

{% set slider_animation_set %}
{% if particle.slider_animation_set == 'enabled' %}
sets: true;{% endif %}
{% endset %}

{% set slider_animation_center %}
{% if particle.slider_animation_center == 'enabled' %}
center: true;{% endif %}
{% endset %}

{% set slider_animation_finite %}
{% if particle.slider_animation_finite == 'enabled' %}
finite: true;{% else %}{% endif %}
{% endset %}

{% set slider_animation_autoplay %}
{% if particle.slider_animation_autoplay == 'enabled' %}
autoplay: true;{% endif %}
{% endset %}

{% set slider_animation_interval %}
{% if particle.slider_animation_interval %}
autoplay-interval: {{ particle.slider_animation_interval * 1000 }};{% endif %}
{% endset %}

{% set imagewidth %}
		{% if particle.image_width != '' %}
    width = "{{particle.image_width}}"
    {% endif %}
{% endset %}

{% set imageheight %}
		{% if particle.image_height != '' %}
    height = "{{particle.image_height}}"
    {% endif %}
{% endset %}

{# Set Masonry #}
{% set grid_masonry %}
{% if particle.grid_masonry == '1' %}
masonry: true;{% endif %}
{% endset %}

{# Set Parallax #}
{% set grid_parallax %}
{% if particle.grid_parallax != '' %}
parallax: {{particle.grid_parallax}}{% endif %}
{% endset %}

{# Set Image Border Class #}
{% set image_border_cls %}
{% if particle.image_border != 'none' %} jl-border-{{particle.image_border|e}}{% endif %}
{% endset %}

{# Image Box Shadow #}
{% set image_boxshadow %}
{% if particle.box_shadow != 'none' %} jl-box-shadow-{{particle.box_shadow|e}}{% endif %}{% if particle.box_shadow_hover != 'none' %} jl-box-shadow-hover-{{particle.box_shadow_hover|e}}{% endif %}
{% endset %}

{# Set Card Max Width Class #}
{% set card_maxwidth_cls %}
{% if particle.card_maxwidth == 'none' %}{% else %} jl-margin-auto jl-width-{{ particle.card_maxwidth|e }}{% endif %}
{% endset %}

{# Set Image Margin Top Class #}
{% set image_top_cls %}
{% if particle.image_alignment == 'bottom' or particle.image_alignment == 'between' %}{% if particle.image_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.image_margin_top|e }}-top{% endif %}{% endif %}
{% endset %}


{# Set Item Content #}
{% set itemcontent %}
{% for item in particle.items %}

{% set linkscroll %}
{% if item.buttonlink|e matches '/#/' %} jl-scroll{% endif %}
{% endset %}

{# Set Item Meta #}
{% set item_meta %}
{% if item.memberrole %}
<div class="tm-meta{{meta_text_transform}}{% if particle.meta_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.meta_margin_top|e }}-top{% endif %}{% if particle.pre_meta_color != 'default' %} jl-text-{{ particle.pre_meta_color|e }}{% endif %}{% if particle.meta_style != 'default' %} jl-{{ particle.meta_style|e }}{% endif %}">
{{item.memberrole|raw}}
</div>
{% endif %}
{% endset %}

{# Set Item Image #}
{% set item_image %}
{% if item.memberimg %}<img class="tm-image{{image_top_cls}}{{image_border_cls}}{{image_boxshadow}}" {{imagewidth}} {{imageheight}} data-src="{{ url(item.memberimg)|e }}"{% if item.memberimgalt %} alt="{{item.memberimgalt}}"{% endif %} jl-img />{% endif %}
{% endset %}

{# Set Image Left/Right #}
{% set item_imagelr %}
{% if particle.cardstyle == 'blank' %}
<img class="tm-image{{image_border_cls}}{{image_boxshadow}}" data-src="{{ url(item.memberimg)|e }}"{% if item.memberimgalt %} alt="{{item.memberimgalt}}"{% endif %} jl-img>
{% else %}
{% if particle.image_padding == '1' %}
<img class="tm-image{{image_border_cls}}{{image_boxshadow}}" data-src="{{ url(item.memberimg)|e }}"{% if item.memberimgalt %} alt="{{item.memberimgalt}}"{% endif %} jl-img jl-cover>
<img {{imagewidth}} {{imageheight}} class="tm-image jl-invisible" data-src="{{ url(item.memberimg)|e }}"{% if item.memberimgalt %} alt="{{item.memberimgalt}}"{% endif %} jl-img>
{% else %}
<img {{imagewidth}} {{imageheight}} class="tm-image{{image_border_cls}}{{image_boxshadow}}" data-src="{{ url(item.memberimg)|e }}"{% if item.memberimgalt %} alt="{{item.memberimgalt}}"{% endif %} jl-img>
{% endif %}
{% endif %}
{% endset %}

{# Set Item Title #}
{% set item_title %}
{% if item.membername %}
<{{particle.title_element|e}} class="tm-title jl-margin-remove-bottom{{title_text_transform}}{% if particle.title_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.title_margin_top|e }}-top{% endif %}{% if particle.title_color != 'default' %} jl-text-{{particle.title_color|e}}{% endif %}{% if particle.title_style != 'default' %} jl-{{particle.title_style|e}}{% endif %}{% if particle.title_decoration != 'none' %} jl-heading-{{particle.title_decoration|e}}{% endif %}">
{% if particle.title_decoration == 'line' %} <span>{{ item.membername|raw }}</span>
{% else %}
	{{ item.membername|raw }}
{% endif %}
</{{particle.title_element|e}}>
{% endif %}
{% endset %}

{# Set Item Content #}
{% set item_content %}
{% if item.memberdescription %}
<div class="tm-content jl-panel{{content_text_transform}}{% if particle.content_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.content_margin_top|e }}-top{% endif %}{% if particle.content_style != 'default' %} jl-text-{{ particle.content_style|e }}{% endif %}{% if particle.content_text_color != 'default' %} jl-text-{{ particle.content_text_color|e }}{% endif %}">{{ item.memberdescription|raw }}</div>
{% endif %}
{% endset %}

{# Set Social Button #}
{% set item_social %}
{% if item.membericon %}
{% if particle.icon_style != 'default' %}
<div class="tm-social-share{% if particle.social_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.social_margin_top|e }}-top{% endif %}">
	<a href="#" class="jl-icon-button" jl-icon="icon:social"></a>
	<div class="jl-width-1-1@l" jl-drop="pos: {{particle.icon_hover_position}};{% if particle.icon_hover_animation != 'inherit' %}animation: jl-animation-{{particle.icon_hover_animation}}; duration: 1000;{% endif %}boundary: .tm-member-id-{{loop.index}}; mode: {% if particle.icon_style == "showall" %}hover{% else %}click{% endif %}">
		<ul class="jl-iconnav{% if particle.icon_vertical_button %} jl-iconnav-vertical{% endif %}">
			{% for icons in item.membericon %}
			<li class="tm-member-icon"><a target="{{ particle.icon_link_target|default('_self')|e }}" href="{{url(icons.link)}}" class="tm-social-icon jl-icon-button{% if icons.icon_css != '' %} {{icons.icon_css}}{% endif %}" jl-icon="icon: {{icons.icon}}"></a></li>
			{% endfor %}
		</ul>
	</div>
</div>
{% else %}
<ul class="jl-iconnav{% if particle.social_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.social_margin_top|e }}-top{% endif %}{% if particle.icon_vertical_button %} jl-iconnav-vertical{% endif %}" jl-margin>
	{% for icons in item.membericon %}
	<li class="tm-social-icon"><a target="{{ particle.icon_link_target|default('_self')|e }}" href="{{url(icons.link)}}" class="tm-social-icon jl-icon-button{% if icons.icon_css != '' %} {{icons.icon_css}}{% endif %}" jl-icon="icon: {{icons.icon}}"></a></li>
	{% endfor %}
</ul>
{% endif %}
{% endif %}
{% endset %}

{% if particle.grid_type == 'slider' %}
{% if item.content_bgcolor != '' %}
<li class="tm-member-id-{{loop.index}}{% if particle.phone_portrait %} jl-width-1-{{ particle.phone_portrait|e }}{% endif %}{% if particle.phone_landscape != 'inherit' %} jl-width-1-{{ particle.phone_landscape|e }}@s{% endif %}{% if particle.tablet_landscape != 'inherit' %} jl-width-1-{{ particle.tablet_landscape|e }}@m{% endif %}{% if particle.desktop != 'inherit' %} jl-width-1-{{ particle.desktop|e }}@l{% endif %}{% if particle.large_desktop != 'inherit' %} jl-width-1-{{ particle.large_desktop|e }}@xl{% endif %}">
{% else %}
<li class="tm-item{% if particle.phone_portrait %} jl-width-1-{{ particle.phone_portrait|e }}{% endif %}{% if particle.phone_landscape != 'inherit' %} jl-width-1-{{ particle.phone_landscape|e }}@s{% endif %}{% if particle.tablet_landscape != 'inherit' %} jl-width-1-{{ particle.tablet_landscape|e }}@m{% endif %}{% if particle.desktop != 'inherit' %} jl-width-1-{{ particle.desktop|e }}@l{% endif %}{% if particle.large_desktop != 'inherit' %} jl-width-1-{{ particle.large_desktop|e }}@xl{% endif %}">
{% endif %}

{% else %}

	{% if item.content_bgcolor != '' %}
	<div class="tm-member-id-{{loop.index}}{% if particle.phone_portrait %} jl-width-1-{{ particle.phone_portrait|e }}{% endif %}{% if particle.phone_landscape != 'inherit' %} jl-width-1-{{ particle.phone_landscape|e }}@s{% endif %}{% if particle.tablet_landscape != 'inherit' %} jl-width-1-{{ particle.tablet_landscape|e }}@m{% endif %}{% if particle.desktop != 'inherit' %} jl-width-1-{{ particle.desktop|e }}@l{% endif %}{% if particle.large_desktop != 'inherit' %} jl-width-1-{{ particle.large_desktop|e }}@xl{% endif %}">
		{% else %}
		<div class="tm-item{% if particle.phone_portrait %} jl-width-1-{{ particle.phone_portrait|e }}{% endif %}{% if particle.phone_landscape != 'inherit' %} jl-width-1-{{ particle.phone_landscape|e }}@s{% endif %}{% if particle.tablet_landscape != 'inherit' %} jl-width-1-{{ particle.tablet_landscape|e }}@m{% endif %}{% if particle.desktop != 'inherit' %} jl-width-1-{{ particle.desktop|e }}@l{% endif %}{% if particle.large_desktop != 'inherit' %} jl-width-1-{{ particle.large_desktop|e }}@xl{% endif %}">
	{% endif %}
{% endif %}

{% if particle.image_alignment == 'top' or particle.image_alignment == 'bottom' or particle.image_alignment == 'between' %}

{# Default Style #}

{% if particle.cardstyle == 'blank' %}

{# Card Blank #}
<div class="jl-panel jl-margin-remove-first-child{{card_maxwidth_cls}}"{{scrollspy_cls}}>

{% if particle.image_alignment == 'top' %}
{% if item.background_blendmode != 'inherit' %}
<div class="jl-inline">
	{{item_image}}
	<div class="{% if item.background_blendmode != 'inherit' %}jl-blend-{{item.background_blendmode}} jl-overlay jl-background-primary{% endif %} jl-position-cover"></div>
</div>
{% else %}
	{{item_image}}
{% endif %}
{% endif %}

{% if particle.meta_alignment == 'top' %}
{{item_meta}}
{% endif %}

{{item_title}}

{% if particle.meta_alignment == 'bottom' %}
{{item_meta}}
{% endif %}

{% if particle.image_alignment == 'between' %}
{% if item.background_blendmode != 'inherit' %}
<div class="jl-inline">
	{{item_image}}
	<div class="{% if item.background_blendmode != 'inherit' %}jl-blend-{{item.background_blendmode}} jl-overlay jl-background-primary{% endif %} jl-position-cover"></div>
</div>
{% else %}
	{{item_image}}
{% endif %}
{% endif %}

{{item_content}}

{% if particle.meta_alignment == 'content' %}
{{item_meta}}
{% endif %}

{{item_social}}

{% if particle.image_alignment == 'bottom' %}
{% if item.background_blendmode != 'inherit' %}
<div class="jl-inline">
	{{item_image}}
	<div class="{% if item.background_blendmode != 'inherit' %}jl-blend-{{item.background_blendmode}} jl-overlay jl-background-primary{% endif %} jl-position-cover"></div>
</div>
{% else %}
	{{item_image}}
{% endif %}
{% endif %}

</div>

{# End Card Blank #}

{% else %}

	{# Card styles #}

	{% if particle.image_padding == '1' %}
	<div class="jl-card jl-card-{{ particle.cardstyle }}{% if particle.cardsize != 'default' %} jl-card-{{ particle.cardsize }}{% endif %}{{card_maxwidth_cls}}"{{scrollspy_cls}}>

	{% if particle.image_alignment == 'top' %}
	{% if item.background_blendmode != 'inherit' %}
	<div class="jl-card-media-top">
		<div class="jl-inline">
			{{item_image}}
			<div class="{% if item.background_blendmode != 'inherit' %}jl-blend-{{item.background_blendmode}} jl-overlay jl-background-primary{% endif %} jl-position-cover"></div>
		</div>
	</div>
	{% else %}
	<div class="jl-card-media-top">
	{{item_image}}
</div>
{% endif %}

{% endif %}

<div class="jl-card-body jl-margin-remove-first-child">

{% if particle.meta_alignment == 'top' %}
{{item_meta}}
{% endif %}

{{item_title}}

{% if particle.meta_alignment == 'bottom' %}
{{item_meta}}
{% endif %}

{% if particle.image_alignment == 'between' %}
{% if item.background_blendmode != 'inherit' %}
<div class="jl-inline">
	{{item_image}}
	<div class="{% if item.background_blendmode != 'inherit' %}jl-blend-{{item.background_blendmode}} jl-overlay jl-background-primary{% endif %} jl-position-cover"></div>
</div>
{% else %}
	{{item_image}}
{% endif %}
{% endif %}

{{item_content}}

{% if particle.meta_alignment == 'content' %}
{{item_meta}}
{% endif %}

{{item_social}}
</div>

{% if particle.image_alignment == 'bottom' %}
{% if item.background_blendmode != 'inherit' %}
<div class="jl-card-media-bottom">
	<div class="jl-inline">
		{{item_image}}
		<div class="{% if item.background_blendmode != 'inherit' %}jl-blend-{{item.background_blendmode}} jl-overlay jl-background-primary{% endif %} jl-position-cover"></div>
	</div>
</div>
{% else %}
<div class="jl-card-media-bottom">
{{item_image}}
</div>
{% endif %}

{% endif %}

{% else %}

<div class="jl-card jl-card-{{ particle.cardstyle }} jl-card-body{% if particle.cardsize != 'default' %} jl-card-{{ particle.cardsize }}{% endif %} jl-margin-remove-first-child{{card_maxwidth_cls}}"{{scrollspy_cls}}>

{% if particle.image_alignment == 'top' %}
{% if item.background_blendmode != 'inherit' %}
<div class="jl-inline">
	{{item_image}}
	<div class="{% if item.background_blendmode != 'inherit' %}jl-blend-{{item.background_blendmode}} jl-overlay jl-background-primary{% endif %} jl-position-cover"></div>
</div>
{% else %}
	{{item_image}}
{% endif %}
{% endif %}

{% if particle.meta_alignment == 'top' %}
{{item_meta}}
{% endif %}

{{item_title}}

{% if particle.meta_alignment == 'bottom' %}
{{item_meta}}
{% endif %}

{% if particle.image_alignment == 'between' %}
{% if item.background_blendmode != 'inherit' %}
<div class="jl-inline">
	{{item_image}}
	<div class="{% if item.background_blendmode != 'inherit' %}jl-blend-{{item.background_blendmode}} jl-overlay jl-background-primary{% endif %} jl-position-cover"></div>
</div>
{% else %}
	{{item_image}}
{% endif %}
{% endif %}

{{item_content}}

{% if particle.meta_alignment == 'content' %}
{{item_meta}}
{% endif %}

{{item_social}}

{% if particle.image_alignment == 'bottom' %}
{% if item.background_blendmode != 'inherit' %}
<div class="jl-inline">
	{{item_image}}
	<div class="{% if item.background_blendmode != 'inherit' %}jl-blend-{{item.background_blendmode}} jl-overlay jl-background-primary{% endif %} jl-position-cover"></div>
</div>
{% else %}
	{{item_image}}
{% endif %}
{% endif %}

{% endif %}
</div>

{# End card style #}

{% endif %}

{# End Default Style #}

{% else %}

	{# Grid Style #}

	{% if particle.cardstyle == 'blank' %}

	{# Card Blank #}

	<div class="jl-panel{{card_maxwidth_cls}}"{{scrollspy_cls}}>
		<div class="jl-child-width-expand{% if particle.image_grid_gutter != 'default' %} jl-grid-{{ particle.image_grid_gutter|e }}{% endif %}{% if particle.image_vertical_alignment == '1' %} jl-flex-middle{% endif %}" jl-grid>
			<div class="jl-width-{{ particle.image_grid_width }}{% if particle.image_grid_breakpoint != 'default' %}@{{ particle.image_grid_breakpoint|e }}{% endif %}{% if particle.image_alignment == 'right' %} jl-flex-last{% if particle.image_grid_breakpoint != 'default' %}@{{ particle.image_grid_breakpoint|e }}{% endif %}{% endif %}">
				{% if item.memberimg %}{{item_imagelr}}{% endif %}
			</div>

			<div class="jl-margin-remove-first-child">

				{% if particle.meta_alignment == 'top' %}
				{{item_meta}}
				{% endif %}

				{{item_title}}

				{% if particle.meta_alignment == 'bottom' %}
				{{item_meta}}
				{% endif %}

				{{item_content}}

				{% if particle.meta_alignment == 'content' %}
				{{item_meta}}
				{% endif %}

				{{item_social}}

			</div>
		</div>

	</div>
	{# End Card Blank #}

	{% else %}

		{# Card styles #}

		{% if particle.image_padding == '1' %}
		<div class="jl-card jl-card-{{ particle.cardstyle }}{% if particle.cardsize != 'default' %} jl-card-{{ particle.cardsize }}{% endif %}{{card_maxwidth_cls}}"{{scrollspy_cls}}>
			{% if particle.image_padding == '1' %}
			<div class="jl-child-width-expand jl-grid-collapse jl-grid-match{% if particle.image_vertical_alignment == '1' %} jl-flex-middle{% endif %}" jl-grid>
				{% else %}
				<div class="jl-child-width-expand{% if particle.image_grid_gutter != 'default' %} jl-grid-{{ particle.image_grid_gutter|e }}{% endif %}{% if particle.image_vertical_alignment == '1' %} jl-flex-middle{% endif %}" jl-grid>
					{% endif %}
					<div class="jl-width-{{ particle.image_grid_width }}{% if particle.image_grid_breakpoint != 'default' %}@{{ particle.image_grid_breakpoint|e }}{% endif %}{% if particle.image_alignment == 'right' %} jl-flex-last{% if particle.image_grid_breakpoint != 'default' %}@{{ particle.image_grid_breakpoint|e }}{% endif %}{% endif %}">
						<div class="jl-cover-container{% if particle.image_alignment == 'right' %} jl-card-media-right{% else %} jl-card-media-left{% endif %}">
							{% if item.memberimg %}{{item_imagelr}}{% endif %}
						</div>
					</div>
					<div>
						<div class="jl-card-body jl-margin-remove-first-child">
							{% if particle.meta_alignment == 'top' %}
							{{item_meta}}
							{% endif %}
							{{item_title}}
							{% if particle.meta_alignment == 'bottom' %}
							{{item_meta}}
							{% endif %}
							{{item_content}}

							{% if particle.meta_alignment == 'content' %}
							{{item_meta}}
							{% endif %}

							{{item_social}}
						</div>
					</div>
				</div>
				{% else %}

				<div class="jl-card jl-card-{{ particle.cardstyle }} jl-card-body{% if particle.cardsize != 'default' %} jl-card-{{ particle.cardsize }}{% endif %}{{card_maxwidth_cls}}"{{scrollspy_cls}}>
					<div class="jl-child-width-expand{% if particle.image_grid_gutter != 'default' %} jl-grid-{{ particle.image_grid_gutter|e }}{% endif %}{% if particle.image_vertical_alignment == '1' %} jl-flex-middle{% endif %}" jl-grid>
						<div class="jl-width-{{ particle.image_grid_width }}{% if particle.image_grid_breakpoint != 'default' %}@{{ particle.image_grid_breakpoint|e }}{% endif %}{% if particle.image_alignment == 'right' %} jl-flex-last{% if particle.image_grid_breakpoint != 'default' %}@{{ particle.image_grid_breakpoint|e }}{% endif %}{% endif %}">
							{{item_image}}
						</div>

						<div class="jl-margin-remove-first-child">
							{% if particle.meta_alignment == 'top' %}
							{{item_meta}}
							{% endif %}
							{{item_title}}
							{% if particle.meta_alignment == 'bottom' %}
							{{item_meta}}
							{% endif %}
							{{item_content}}

							{% if particle.meta_alignment == 'content' %}
							{{item_meta}}
							{% endif %}

							{{item_social}}
						</div>

					</div>

				{% endif %}

			</div>

			{# End card style #}

		{% endif %}

		{# End Grid style #}

	{% endif %}

	{% if particle.grid_type == 'slider' %}
</li>
{% else %}
</div>
{% endif %}
{% endfor %}
{% endset %}

{% block particle %}
{% if particle.enabled %}
{{parallaxbackground}}
{{particle_title_style}}
{% if particle.grid_type == 'slider' %}
<div id="{{ id }}" class="tm-content-{{id}}{{content_maxwidth}}{% if particle.class %} {{ particle.class }}{% endif %}{{particle_alignment}}{% if particle.margin == 'inherit' %}{% elseif particle.margin == 'default' %} jl-margin{% else %} jl-margin-{{particle.margin|e}}{% endif %}{% if particle.visibility != 'inherit' %} jl-visible@{{particle.visibility|e}}{% endif %}" jl-slider="{{slider_animation_set}}{{slider_animation_center}}{{slider_animation_finite}}{{slider_animation_autoplay}}{{slider_animation_interval}}"{{animation}}>

	<div class="jl-position-relative">

	{# Load Outside container #}

	{% if particle.slidenav_position == 'outside' %}
	<div class="jl-slider-container">
{% endif %}

{# End outside #}

<ul class="jl-slider-items jl-grid jl-grid-match{% if particle.grid_divider == '1' %} jl-grid-divider{% endif %}{% if particle.grid_gutter != 'default' %} jl-grid-{{ particle.grid_gutter|e }}{% endif %}"{{slider_viewport}}>
{{itemcontent}}
</ul>

{% if particle.slidenav_position == 'outside' %}
</div>
{% endif %}

{# Slidenav #}
{% if particle.slidenav_position == 'none' %}
{% else %}
	{% if particle.slidenav_position == 'default' %}
	<div class="{% if particle.slidenav_breakpoint != 'always' %}jl-visible@{{particle.slidenav_breakpoint|e}}{% endif %}{% if particle.slidenav_color != 'default' %} jl-{{particle.slidenav_color|e}}{% endif %}">
		<a class="tm-slidenav{% if particle.slidenav_margin != 'none' %} jl-position-{{ particle.slidenav_margin|e }}{% endif %} jl-position-center-left" href="#" jl-slidenav-previous jl-slider-item="previous"></a>
		<a class="tm-slidenav{% if particle.slidenav_margin != 'none' %} jl-position-{{ particle.slidenav_margin|e }}{% endif %} jl-position-center-right" href="#" jl-slidenav-next jl-slider-item="next"></a>
	</div>
{% elseif particle.slidenav_position == 'outside' %}
<div class="{% if particle.slidenav_breakpoint != 'always' %}jl-visible@{{particle.slidenav_breakpoint|e}}{% endif %}{% if particle.slidenav_outside_color != 'default' %} jl-{{particle.slidenav_outside_color|e}}{% endif %}">
	<a class="tm-slidenav{% if particle.slidenav_margin != 'none' %} jl-position-{{ particle.slidenav_margin|e }}{% endif %} jl-position-center-left" href="#" jl-slidenav-previous jl-slider-item="previous" jl-toggle="cls: jl-position-center-left-out jl-position-center-left; mode: media; media:{% if particle.slidenav_outside_breakpoint != 'always' %} @{{particle.slidenav_outside_breakpoint|e}}{% endif %}"></a>
	<a class="tm-slidenav{% if particle.slidenav_margin != 'none' %} jl-position-{{ particle.slidenav_margin|e }}{% endif %} jl-position-center-right" href="#" jl-slidenav-next jl-slider-item="next" jl-toggle="cls: jl-position-center-right-out jl-position-center-right; mode: media; media:{% if particle.slidenav_outside_breakpoint != 'always' %} @{{particle.slidenav_outside_breakpoint|e}}{% endif %}"></a>
</div>
{% else %}
<div class="jl-slidenav-container{% if particle.slidenav_margin != 'none' %} jl-position-{{ particle.slidenav_margin|e }}{% endif %} jl-position-{{ particle.slidenav_position|e }}{% if particle.slidenav_breakpoint != 'always' %} jl-visible@{{particle.slidenav_breakpoint|e}}{% endif %}{% if particle.slidenav_color != 'default' %} jl-{{particle.slidenav_color|e}}{% endif %}">
	<a class="tm-slidenav" href="#" jl-slidenav-previous jl-slider-item="previous"></a>
	<a class="tm-slidenav" href="#" jl-slidenav-next jl-slider-item="next"></a>
</div>
{% endif %}
{% endif %}
{# End Slidenav #}

</div>

{# Navigation #}
{% if particle.navigation == 'enabled' %}
{% if particle.navigation_color == 'default' %}
{% else %}
<div class="jl-{{particle.navigation_color|e}}">
{% endif %}
<ul class="tm-nav jl-slider-nav jl-dotnav{% if particle.navigation_position %} jl-flex-{{ particle.navigation_position|e }}{% endif %}{% if particle.navigation_margin %} jl-margin-{{ particle.navigation_margin|e }}{% endif %}{% if particle.navigation_breakpoint != 'always' %} jl-visible@{{particle.navigation_breakpoint|e}}{% endif %}" jl-margin>
{% for item in particle.items %}
<li jl-slider-item="{{ loop.index0 }}"><a href="#"{% if particle.tooltip %} jl-tooltip="{{ item.memberimgalt|raw }}"{% endif %}></a></li>
{% endfor %}
</ul>
{% if particle.navigation_color == 'default' %}
{% else %}
</div>
{% endif %}
{% endif %}
{# End Navigation #}

</div>

{% else %}
<div id="{{ id }}" class="tm-content-{{id}}{{content_maxwidth}}{% if particle.class %} {{ particle.class }}{% endif %}{% if particle.grid_divider == '1' %} jl-grid-divider{% endif %}{% if particle.grid_gutter != 'default' %} jl-grid-{{ particle.grid_gutter|e }}{% endif %}{% if particle.phone_portrait %} jl-child-width-1-{{ particle.phone_portrait|e }}{% endif %}{% if particle.phone_landscape != 'inherit' %} jl-child-width-1-{{ particle.phone_landscape|e }}@s{% endif %}{% if particle.tablet_landscape != 'inherit' %} jl-child-width-1-{{ particle.tablet_landscape|e }}@m{% endif %}{% if particle.desktop != 'inherit' %} jl-child-width-1-{{ particle.desktop|e }}@l{% endif %}{% if particle.large_desktop != 'inherit' %} jl-child-width-1-{{ particle.large_desktop|e }}@xl{% endif %}{{particle_alignment}}{% if particle.margin == 'inherit' %}{% elseif particle.margin == 'default' %} jl-margin{% else %} jl-margin-{{particle.margin|e}}{% endif %}{% if particle.visibility != 'inherit' %} jl-visible@{{particle.visibility|e}}{% endif %}"{{animation}} jl-grid="{{grid_masonry}}{{grid_parallax}}">
{{itemcontent}}
</div>
{% endif %}
{{endparallaxbackground}}
{% endif %}
{% endblock %}
