{% extends '@nucleus/partials/particle.html.twig' %}

{% block stylesheets %}
{% if particle.particle_title_color or particle.particle_title_fontsize or particle.title_color or particle.title_fontsize or particle.subtitle_color or particle.subtitle_fontsize %}
<style>
{% if particle.particle_title_color or particle.particle_title_fontsize %}
#{{ id }}.g5-particle-title { {% if particle.particle_title_color %}color: {{ particle.particle_title_color }};{% endif %}{% if particle.particle_title_fontsize %}font-size: {{particle.particle_title_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.title_color or particle.title_fontsize %}
#{{ id }} .tm-title { {% if particle.title_color %}color: {{particle.title_color}}; {% endif %}{% if particle.title_fontsize %}font-size: {{particle.title_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.subtitle_color or particle.subtitle_fontsize %}
#{{ id }} .tm-description { {% if particle.subtitle_color %}color: {{particle.subtitle_color}}; {% endif %}{% if particle.subtitle_fontsize %}font-size: {{particle.subtitle_fontsize}}px;{% endif %} }
{% endif %}
</style>
{% endif %}
{% endblock %}

{% set linkscroll %}
{% if particle.title_link|e matches '/#/' %} jl-scroll{% endif %}
{% endset %}

{# Set Title Text Transform #}
{% set title_text_transform %}
{% if particle.title_text_transform %} jl-text-{{particle.title_text_transform|e}}{% endif %}
{% endset %}

{# Set Content Text Transform #}
{% set content_text_transform %}
{% if particle.content_text_transform %} jl-text-{{particle.content_text_transform|e}}{% endif %}
{% endset %}

{# set Title#}
{% set title %}
{% if particle.title %}
<{{particle.titletag|e}} class="tm-title jl-margin-remove-bottom{{title_text_transform}}{% if particle.heading_color %} jl-text-{{particle.heading_color|e}}{% endif %}{% if particle.decoration %} jl-heading-{{particle.decoration|e}}{% endif %}{% if particle.style != 'default' %} jl-{{particle.style|e}}{% endif %}">
{% if particle.decoration == 'line' %}<span>{{particle.title|raw}}</span>{% else %}{{particle.title|raw}}{% endif %}
</{{particle.titletag|e}}>
{% endif %}
{% endset %}

{# set Subtitle #}
{% set subtitle %}
{% if particle.subtitle %}
<div class="tm-description{{content_text_transform}}{% if particle.description_style != 'default' %} jl-{{ particle.description_style|e }}{% endif %}{% if particle.description_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.description_margin_top|e }}-top{% endif %}{% if particle.description_color != 'default' %} jl-text-{{ particle.description_color|e }}{% endif %}">
	{{particle.subtitle|raw}}
</div>
{% endif %}
{% endset %}

{# set Subtitle #}
{% set description %}
{% if particle.description %}
<div class="tm-description-below">
	{{particle.description|raw}}
</div>
{% endif %}
{% endset %}

{# set Viewport Height #}
{% set viewport_height %}
{% if particle.viewport_height == 'none' %}
{% elseif particle.viewport_height == 'full' %}
jl-height-viewport="offset-top: true"
{% elseif particle.viewport_height == 'percent' %}
jl-height-viewport="offset-top: true;offset-bottom: 20"
{% elseif particle.viewport_height == 'section' %}
jl-height-viewport="offset-top: true;offset-bottom: 50"
{% elseif particle.viewport_height == 'expand' %}
jl-height-viewport="expand: true"
{% endif %}
{% endset %}

{# set padding #}
{% set padding %}
{% if particle.viewport_height == 'full' %}
{% else %}
{% if particle.padding == 'default' %}{% else %} jl-section-{{particle.padding|e}}{% endif %}
{% endif %}
{% endset %}

{# set Container #}
{% set container %}
{% if particle.container == '1' %}
<div class="jl-container"><div class="g5-content g5-particle">{% endif %}
{% endset %}

{# set End Container #}
{% set endcontainer %}
{% if particle.container == '1' %}
</div></div>{% endif %}
{% endset %}

{# set Background color #}
{% set parallax_bg_color %}
{% if particle.parallax_bg_color %}
style="background-color: {{particle.parallax_bg_color}};"{% endif %}
{% endset %}

{# Set Max-Width Content #}
{% set content_maxwidth %}
{% if particle.g_maxwidth %} jl-width-{{particle.g_maxwidth}}{% if particle.g_maxwidth_breakpoint %}@{{particle.g_maxwidth_breakpoint}}{% endif %}{% if particle.g_maxwidth_alignment == 'left' %}{% elseif particle.g_maxwidth_alignment == 'center' %} jl-margin-auto{% else %} jl-margin-auto-left{% endif %}{% endif %}
{% endset %}

{# set Parallax Background #}
{% set parallaxbackground %}
{% if particle.parallax_image %}
<div data-src="{{ url(particle.parallax_image)|e }}" class="{{id}} jl-background-norepeat{{padding}}{{content_maxwidth}} jl-background-{{particle.background_image_position|e}}{% if particle.background_image_size != 'auto' %} jl-background-{{particle.background_image_size|e}}{% endif %}{% if particle.parallax_bg_visibility != 'always' %} jl-background-image@{{particle.parallax_bg_visibility|e}}{% endif %}{% if particle.vertical_alignment != 'none' %} jl-flex jl-flex-{{particle.vertical_alignment|e}}{% endif %}{% if particle.parallax_text_color != 'default' %} jl-{{particle.parallax_text_color|e}}{% endif %}{% if particle.blendmode != 'inherit' %} jl-background-blend-{{particle.blendmode|e}}{% endif %}" {{parallax_bg_color}}{% if particle.horizontal_start or particle.horizontal_end or particle.vertical_start or particle.vertical_end %} jl-parallax="{% if particle.horizontal_start or particle.horizontal_end %}bgx: {{particle.horizontal_start|e}},{{particle.horizontal_end|e}};{% endif %}{% if particle.vertical_start or particle.vertical_end %}bgy: {{particle.vertical_start|e}},{{particle.vertical_end|e}};{% endif %}{% if particle.parallax_bg_breakpoint != 'always' %} media: @{{particle.parallax_bg_breakpoint|e}}{% endif %}" {% endif %} jl-img {{viewport_height}}>
{{container}}
{% endif %}
{% endset %}

{# End Parallax Background #}
{% set endparallaxbackground %}
{% if particle.parallax_image %}
{{endcontainer}}
</div>
{% endif %}
{% endset %}

{# Set Horizontal #}
{% set pahorizontal %}
{% if particle.pa_horizontal_start or particle.pa_horizontal_end %}x: {% if particle.pa_horizontal_start == '' %}0{% else %}{{particle.pa_horizontal_start }}{% endif %},{% if particle.pa_horizontal_end == '' %}0{% else %}{{particle.pa_horizontal_end }}{% endif %};{% endif %}
{% endset %}

{# Set Vertical #}
{% set pavertical %}
{% if particle.pa_vertical_start or particle.pa_vertical_end %}y: {% if particle.pa_vertical_start == '' %}0{% else %}{{particle.pa_vertical_start }}{% endif %},{% if particle.pa_vertical_end == '' %}0{% else %}{{particle.pa_vertical_end }}{% endif %};{% endif %}
{% endset %}

{# Set Scale #}
{% set scale %}
{% if particle.scale_start or particle.scale_end %}scale: {% if particle.scale_start == '' %}1{% else %}{{particle.scale_start / 100 }}{% endif %},{% if particle.scale_end == '' %}1{% else %} {{particle.scale_end / 100 }}{% endif %};{% endif %}
{% endset %}

{# Set Rotate #}
{% set rotate %}{% if particle.rotate_start or particle.rotate_end %}
rotate: {% if particle.rotate_start == '' %}0{% else %}{{particle.rotate_start}}{% endif %},{% if particle.rotate_end == '' %}0{% else %}{{particle.rotate_end}}{% endif %};{% endif %}
{% endset %}

{# Set Opacity #}
{% set opacity %}
{% if particle.opacity_start or particle.opacity_end %}opacity: {% if particle.opacity_start == '' %}1{% else %}{{particle.opacity_start / 100 }}{% endif %},{% if particle.opacity_end == '' %}1{% else %}{{particle.opacity_end / 100 }}{% endif %};{% endif %}
{% endset %}

{# set Animation #}
{% set animation %}
{% if particle.animation == 'parallax' %}
{% if particle.pa_horizontal_start or particle.pa_horizontal_end or particle.pa_vertical_start or particle.pa_vertical_end or particle.scale_start or particle.scale_end or particle.rotate_start or particle.rotate_end or particle.opacity_start or particle.opacity_end or particle.easing or particle.pa_viewport or particle.pa_breakpoint %} jl-parallax="{{pahorizontal}}{{pavertical}}{{scale}}{{rotate}}{{opacity}}{% if particle.easing == '' %}{% else %}easing: {{ particle.easing / 100 }};{% endif %}{% if particle.pa_viewport != '' %}viewport:{{ particle.pa_viewport / 100 }};{% endif %}{% if particle.pa_breakpoint != 'always' %}media: @{{particle.pa_breakpoint|e}}{% endif %}"{% endif %}
{% else %}
{% if particle.animation %} jl-scrollspy="cls:jl-animation-{{particle.animation|e}}{% if particle.animation_repeat != 'disabled' %}; repeat: true{% endif %}{% if particle.animation_delay != '' %}; delay: {{particle.animation_delay|e}}{% endif %}"{% endif %}
{% endif %}
{% endset %}

{# Set Particle Alignment #}
{% set particle_alignment %}
{% if particle.align != 'inherit' %} jl-text-{{particle.align|e}}{% if particle.breakpoint != 'always' %}@{{particle.breakpoint|e}}{% endif %}{% endif %}{% if particle.align != 'inherit' and particle.breakpoint != 'always' %}{% if particle.fallback != 'inherit' %} jl-text-{{particle.fallback|e}}{% endif %}{% endif %}
{% endset %}

{# set Particle Title Style #}
{% set particle_title_style %}
{% if particle.particle_title %}
<{{particle.particle_title_element|e}} id="{{ id }}" class="g5-particle-title{% if particle.particle_title_align != 'inherit' %} jl-text-{{particle.particle_title_align|e}}{% endif %}{% if particle.particle_predefined_color != 'default' %} jl-text-{{particle.particle_predefined_color|e}}{% endif %}{% if particle.particle_title_style != 'default' %} jl-{{particle.particle_title_style|e}}{% endif %}{% if particle.particle_title_decoration != 'none' %} jl-heading-{{particle.particle_title_decoration|e}}{% endif %}">
{% if particle.particle_title_decoration == 'line' %} <span>{{particle.particle_title|raw}}</span>
{% else %} {{particle.particle_title|raw}}
{% endif %}
</{{particle.particle_title_element|e}}>
{% endif %}
{% endset %}

{% block particle %}
{% if particle.enabled %}
{{parallaxbackground}}
{{particle_title_style}}
<div id="{{ id }}" class="tm-content-wrapper{{content_maxwidth}}{% if particle.class %} {{ particle.class }}{% endif %}{{particle_alignment}}{% if particle.margin == 'inherit' %}{% elseif particle.margin == 'default' %} jl-margin{% else %} jl-margin-{{particle.margin|e}}{% endif %}{% if particle.visibility != 'inherit' %} jl-visible@{{particle.visibility|e}}{% endif %}"{{animation}}>
	{{title}}
	{{subtitle}}
	<div id="g-mpos-{{ id }}" class="g-module-position {% if particle.module_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.module_margin_top|e }}-top{% endif %}">
		{{ gantry.platform.displayModule(particle.module_id, {'style': particle.chrome|default('gantry'), 'position': 'particle'})|raw }}
	</div>
	{{description}}
</div>
{{endparallaxbackground}}
{% endif %}
{% endblock %}
