{% extends '@nucleus/partials/particle.html.twig' %}

{% block stylesheets %}
<style>
{% if particle.particle_title_color or particle.particle_title_fontsize %}
#{{ id }}.g5-particle-title { {% if particle.particle_title_color %}color: {{ particle.particle_title_color }};{% endif %}{% if particle.particle_title_fontsize %}font-size: {{particle.particle_title_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.title_color or particle.title_fontsize %}
#{{ id }} .tm-title { {% if particle.title_color %}color: {{particle.title_color}}; {% endif %}{% if particle.title_fontsize %}font-size: {{particle.title_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.title_backgroundcolor %}
#{{ id }} .tm-heading { {% if particle.title_backgroundcolor %}background-color: {{particle.title_backgroundcolor}}; {% endif %} }
#{{ id }} .tm-heading {position: relative; margin-right: 20px;}
#{{ id }} .tm-heading:after {
content: '';
position: absolute;
right: -20px;
border: 10px solid transparent;
border-left-color: {{particle.title_backgroundcolor}};
top: 50%;
transform: translateY(-50%);}
{% if particle.title_alignment == 'right' %}
#{{ id }} .tm-heading {position: relative; margin-right: 0px;}
#{{ id }} .tm-heading-right .tm-heading:after {
left: -20px;
right: 100%;
border: 10px solid transparent;
border-right-color: {{particle.title_backgroundcolor}};
transform: translateY(-50%);}
{% endif %}
{% endif %}
{% if particle.content_backgroundcolor %}
#{{ id }} .tm-content { {% if particle.content_backgroundcolor %}background-color: {{particle.content_backgroundcolor}}; {% endif %} }
{% endif %}
#{{ id }} .tm-content, .tm-heading { padding: {{particle.padding|default('10')|e}}px;}
#{{ id }} .tm-item p { margin: 0px; {% if particle.subtitle_color %}color: {{particle.subtitle_color}};{% endif %}{% if particle.subtitle_fontsize %} font-size: {{particle.subtitle_fontsize}}px;{% endif %} }
#{{ id }} .jl-slidenav.jl-icon { width: 30px;}
</style>
{% endblock %}

{# Set Title Text Transform #}
{% set title_text_transform %}
{% if particle.title_text_transform %} jl-text-{{particle.title_text_transform|e}}{% endif %}
{% endset %}

{# Set Content Text Transform #}
{% set content_text_transform %}
{% if particle.content_text_transform %} jl-text-{{particle.content_text_transform|e}}{% endif %}
{% endset %}

{% set slider_animation_set %}
{% if particle.slider_animation_set == 'enabled' %}
sets: true;{% endif %}
{% endset %}

{% set slider_animation_center %}
{% if particle.slider_animation_center == 'enabled' %}
center: true;{% endif %}
{% endset %}

{% set slider_animation_finite %}
{% if particle.slider_animation_finite == 'enabled' %}
finite: true;{% endif %}
{% endset %}

{% set slider_animation_autoplay %}
{% if particle.slider_animation_autoplay == 'enabled' %}
autoplay: true;{% endif %}
{% endset %}

{% set slider_animation_interval %}
{% if particle.slider_animation_interval %}
autoplay-interval: {{ particle.slider_animation_interval * 1000 }};{% endif %}
{% endset %}

{# set Animation #}
{% set animation %}
{% if particle.animation != 'inherit' %} jl-scrollspy="cls:jl-animation-{{particle.animation|e}}{% if particle.animation_repeat != 'disabled' %}; repeat: true{% endif %}{% if particle.animation_delay != '' %}; delay: {{particle.animation_delay|e}}{% endif %}"{% endif %}
{% endset %}

{# Set Max-Width Content #}
{% set content_maxwidth %}
{% if particle.g_maxwidth != 'inherit' %} jl-width-{{particle.g_maxwidth}}{% if particle.g_maxwidth_breakpoint != 'always' %}@{{particle.g_maxwidth_breakpoint}}{% endif %}{% if particle.g_maxwidth_alignment == 'left' %}{% elseif particle.g_maxwidth_alignment == 'center' %} jl-margin-auto{% else %} jl-margin-auto-left{% endif %}{% endif %}
{% endset %}

{# Set Particle Alignment #}
{% set particle_alignment %}
{% if particle.align != 'inherit' %} jl-text-{{particle.align|e}}{% if particle.breakpoint != 'always' %}@{{particle.breakpoint|e}}{% endif %}{% endif %}{% if particle.align != 'inherit' and particle.breakpoint != 'always' %}{% if particle.fallback != 'inherit' %} jl-text-{{particle.fallback|e}}{% endif %}{% endif %}
{% endset %}

{# set Particle Title Style #}
{% set particle_title_style %}
{% if particle.particle_title %}
<{{particle.particle_title_element|e}} id="{{ id }}" class="g5-particle-title{% if particle.particle_title_align != 'inherit' %} jl-text-{{particle.particle_title_align|e}}{% endif %}{% if particle.particle_predefined_color != 'default' %} jl-text-{{particle.particle_predefined_color|e}}{% endif %}{% if particle.particle_title_style != 'default' %} jl-{{particle.particle_title_style|e}}{% endif %}{% if particle.particle_title_decoration != 'none' %} jl-heading-{{particle.particle_title_decoration|e}}{% endif %}">
{% if particle.particle_title_decoration == 'line' %} <span>{{particle.particle_title|raw}}</span>
{% else %} {{particle.particle_title|raw}}
{% endif %}
</{{particle.particle_title_element|e}}>
{% endif %}
{% endset %}


{% block particle %}
{% if particle.enabled %}

{{particle_title_style}}
<div id="{{ id }}" class="g-news-ticker{{content_maxwidth}}{% if particle.class %} {{ particle.class }}{% endif %}{{particle_alignment}}{% if particle.margin == 'inherit' %}{% elseif particle.margin == 'default' %} jl-margin{% else %} jl-margin-{{particle.margin|e}}{% endif %}{% if particle.visibility != 'inherit' %} jl-visible@{{particle.visibility|e}}{% endif %}{% if particle.extra_shadow == '1' %} jl-box-shadow-bottom jl-width-1-1{% endif %}"{{animation}} {{- attr_extra|raw }}>

<div class="jl-child-width-expand{% if particle.title_grid_gutter != 'default' %} jl-grid-{{ particle.title_grid_gutter|e }}{% endif %}{% if particle.title_vertical_alignment == '1' %} jl-flex-middle{% endif %}{% if particle.box_shadow != 'none' %} jl-box-shadow-{{particle.box_shadow|e}}{% endif %}{% if particle.box_shadow_hover != 'none' %} jl-box-shadow-hover-{{particle.box_shadow_hover|e}}{% endif %}{% if particle.card_style != 'blank' %} jl-card jl-card-{{ particle.card_style }}{% if particle.cardsize != 'default' %} jl-card-{{ particle.cardsize }}{% endif %}{% endif %}" jl-grid>

{% if particle.title_text is not empty %}
<div class="jl-width-{{ particle.title_grid_width }}{% if particle.title_grid_breakpoint != 'default' %}@{{ particle.title_grid_breakpoint|e }}{% endif %}{% if particle.title_alignment == 'right' %} tm-heading-right jl-flex-last{% if particle.title_grid_breakpoint != 'default' %}@{{ particle.title_grid_breakpoint|e }}{% endif %}{% endif %}">
<div class="jl-card tm-heading">
<div class="tm-title{{title_text_transform}}">
{{ particle.title_text|raw }}
</div>
</div>
</div>
{% endif %}

<div jl-slider="{{slider_animation_set}}{{slider_animation_center}}{{slider_animation_finite}}{{slider_animation_autoplay}}{{slider_animation_interval}}clsActivated: jl-transition-active; velocity: 0">

<div class="tm-content jl-panel">

<div class="jl-position-relative{% if particle.slidenav_hover == 'enabled' %} jl-visible-toggle{% endif %}">
<ul class="jl-slider-items jl-grid{% if particle.slider_divider == 'enabled' %} jl-grid-divider{% endif %}{% if particle.slider_gutter != 'default' %} jl-grid-{{ particle.slider_gutter|e }}{% endif %}">
{# Load Content From Joomla #}
{% set category_options = particle.joomla.categories ? {id: [particle.joomla.categories|split(','), 0]} : {} %}
{% set categories_finder = joomla.finder('category', category_options).published(1).language().find() %}
{% set article_finder = joomla.finder('content').category(categories_finder).published(1).featured(false).language() %}
{% set items = article_finder.order('publish_up', 'ASC').limit(particle.joomla.articles|default('1')).start(0).find() %}
{% for item in items %}
<li class="tm-item{% if particle.phone_portrait %} jl-width-{{ particle.phone_portrait|e }}{% endif %}{% if particle.phone_landscape != 'inherit' %} jl-width-{{ particle.phone_landscape|e }}@s{% endif %}{% if particle.tablet_landscape != 'inherit' %} jl-width-{{ particle.tablet_landscape|e }}@m{% endif %}{% if particle.desktop != 'inherit' %} jl-width-{{ particle.desktop|e }}@l{% endif %}{% if particle.large_desktop != 'inherit' %} jl-width-{{ particle.large_desktop|e }}@xl{% endif %}">

<div class="jl-transition-{{particle.content_transition}}{{content_text_transform}}">

{% if particle.article.display.title.enabled %}
<a href="{{ item.route|e }}">
{{ particle.article.display.title.limit ? item.title|truncate_text(particle.article.display.title.limit) : item.title }}
</a>
{% endif %}

{% if particle.joomla.link == 'enabled' and item.route %}<a target="{{ particle.joomla.linktarget|default('_self')|e }}" href="{{ item.route|e }}" title="{{ item.title|e }}">{% endif %}

{% if particle.joomla.introtext == 'enabled' and item.introtext %}
<p>
{{ item.introtext|truncate_text(particle.joomla.text.limit)|raw }}
</p>
{% endif %}

{% if particle.joomla.link == 'enabled' and item.route %}</a>{% endif %}


{% if particle.joomla.date.enabled %}
<span class="jl-label jl-label-danger">
{% if particle.joomla.date.enabled == 'published' %}
<i class="fa fa-clock-o jl-margin-small-right" aria-hidden="true"></i>{{ item.publish_up|date(particle.joomla.date.format) }}
{% elseif particle.joomla.date.enabled == 'modified' %}
<i class="fa fa-clock-o jl-margin-small-right" aria-hidden="true"></i>{{ item.modified|date(particle.joomla.date.format) }}
{% else %}
<i class="fa fa-clock-o jl-margin-small-right" aria-hidden="true"></i>{{ item.created|date(particle.joomla.date.format) }}
{% endif %}
</span>
{% endif %}

</div>
</li>
{% endfor %}
</ul>

{# Slidenav #}
{% if particle.slidenav_position != 'none' %}
{% if particle.slidenav_position == 'default' %}
<div class="{% if particle.slidenav_breakpoint != 'always' %}jl-visible@{{particle.slidenav_breakpoint|e}}{% endif %}{% if particle.slidenav_hover == 'enabled' %} jl-hidden-hover jl-hidden-touch{% endif %}{% if particle.slidenav_color != 'default' %} jl-{{particle.slidenav_color|e}}{% endif %}">
<a class="tm-slidenav{% if particle.slidenav_margin != 'none' %} jl-position-{{ particle.slidenav_margin|e }}{% endif %} jl-position-center-left" jl-slidenav-previous href="#" jl-slider-item="previous"></a>
<a class="tm-slidenav{% if particle.slidenav_margin != 'none' %} jl-position-{{ particle.slidenav_margin|e }}{% endif %} jl-position-center-right" jl-slidenav-next href="#" jl-slider-item="next"></a>
</div>
{% else %}
<div class="jl-slidenav-container{% if particle.slidenav_margin != 'none' %} jl-position-{{ particle.slidenav_margin|e }}{% endif %} jl-position-{{ particle.slidenav_position|e }}{% if particle.slidenav_breakpoint != 'always' %} jl-visible@{{particle.slidenav_breakpoint|e}}{% endif %}{% if particle.slidenav_hover == 'enabled' %} jl-hidden-hover jl-hidden-touch{% endif %}{% if particle.slidenav_color != 'default' %} jl-{{particle.slidenav_color|e}}{% endif %}">
<a class="tm-slidenav" jl-slidenav-previous href="#" jl-slider-item="previous"></a>
<a class="tm-slidenav" jl-slidenav-next href="#" jl-slider-item="next"></a>
</div>
{% endif %}
{% endif %}
{# End Slidenav #}

</div>

</div>

</div>


</div>

</div>
{% endif %}
{% endblock %}
