{% extends '@nucleus/partials/particle.html.twig' %}

{% block stylesheets %}
{% if particle.particle_title_color or particle.particle_title_fontsize or particle.title_color or particle.title_fontsize or particle.customize_content_color or particle.customize_content_fontsize or particle.meta_color or particle.meta_fontsize %}
<style>
{% if particle.particle_title_color or particle.particle_title_fontsize %}
#{{ id }}.g5-particle-title { {% if particle.particle_title_color %}color: {{ particle.particle_title_color }};{% endif %}{% if particle.particle_title_fontsize %}font-size: {{particle.particle_title_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.title_color or particle.title_fontsize %}
#{{ id }} .tm-title { {% if particle.title_color %}color: {{particle.title_color}} !important; {% endif %}{% if particle.title_fontsize %}font-size: {{particle.title_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.customize_content_color or particle.customize_content_fontsize %}
#{{ id }} .tm-content { {% if particle.customize_content_color %}color: {{particle.customize_content_color}} !important;{% endif %}{% if particle.customize_content_fontsize %} font-size: {{particle.customize_content_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.meta_color or particle.meta_fontsize %}
#{{ id }} .tm-meta { {% if particle.meta_color %}color: {{particle.meta_color}};{% endif %}{% if particle.meta_fontsize %} font-size: {{particle.meta_fontsize}}px;{% endif %} }
{% endif %}
</style>
{% endif %}
{% endblock %}

{% set linkscroll %}
{% if particle.link|e matches '/#/' %} jl-scroll{% endif %}
{% endset %}

{# set Viewport Height #}
{% set viewport_height %}
{% if particle.viewport_height == 'none' %}
{% elseif particle.viewport_height == 'full' %}
jl-height-viewport="offset-top: true"
{% elseif particle.viewport_height == 'percent' %}
jl-height-viewport="offset-top: true;offset-bottom: 20"
{% elseif particle.viewport_height == 'section' %}
jl-height-viewport="offset-top: true;offset-bottom: 50"
{% elseif particle.viewport_height == 'expand' %}
jl-height-viewport="expand: true"
{% endif %}
{% endset %}

{# Set Title Text Transform #}
{% set title_text_transform %}
{% if particle.title_text_transform %} jl-text-{{particle.title_text_transform|e}}{% endif %}
{% endset %}

{# Set Meta Text Transform #}
{% set meta_text_transform %}
{% if particle.meta_text_transform %} jl-text-{{particle.meta_text_transform|e}}{% endif %}
{% endset %}

{# Set Content Text Transform #}
{% set content_text_transform %}
{% if particle.content_text_transform %} jl-text-{{particle.content_text_transform|e}}{% endif %}
{% endset %}

{# set padding #}
{% set padding %}
{% if particle.viewport_height == 'full' %}
{% else %}
{% if particle.padding == 'default' %}{% else %} jl-section-{{particle.padding|e}}{% endif %}
{% endif %}
{% endset %}

{# set Container #}
{% set container %}
{% if particle.container == '1' %}
<div class="jl-container"><div class="g5-content g5-particle">{% endif %}
{% endset %}

{# set End Container #}
{% set endcontainer %}
{% if particle.container == '1' %}
</div></div>{% endif %}
{% endset %}

{# set Background color #}
{% set parallax_bg_color %}
{% if particle.parallax_bg_color %}
style="background-color: {{particle.parallax_bg_color}};"{% endif %}
{% endset %}

{# Set Max-Width Content #}
{% set content_maxwidth %}
{% if particle.g_maxwidth != 'inherit' %} jl-width-{{particle.g_maxwidth}}{% if particle.g_maxwidth_breakpoint != 'always' %}@{{particle.g_maxwidth_breakpoint}}{% endif %}{% if particle.g_maxwidth_alignment == 'left' %}{% elseif particle.g_maxwidth_alignment == 'center' %} jl-margin-auto{% else %} jl-margin-auto-left{% endif %}{% endif %}
{% endset %}

{# set Parallax Background #}
{% set parallaxbackground %}
{% if particle.parallax_image %}
<div data-src="{{ url(particle.parallax_image)|e }}" class="{{id}} jl-background-norepeat{{padding}}{{content_maxwidth}} jl-background-{{particle.background_image_position|e}}{% if particle.background_image_size != 'auto' %} jl-background-{{particle.background_image_size|e}}{% endif %}{% if particle.parallax_bg_visibility != 'always' %} jl-background-image@{{particle.parallax_bg_visibility|e}}{% endif %}{% if particle.vertical_alignment != 'none' %} jl-flex jl-flex-{{particle.vertical_alignment|e}}{% endif %}{% if particle.parallax_text_color != 'default' %} jl-{{particle.parallax_text_color|e}}{% endif %}{% if particle.blendmode != 'inherit' %} jl-background-blend-{{particle.blendmode|e}}{% endif %}" {{parallax_bg_color}}{% if particle.horizontal_start or particle.horizontal_end or particle.vertical_start or particle.vertical_end %} jl-parallax="{% if particle.horizontal_start or particle.horizontal_end %}bgx: {{particle.horizontal_start|e}},{{particle.horizontal_end|e}};{% endif %}{% if particle.vertical_start or particle.vertical_end %}bgy: {{particle.vertical_start|e}},{{particle.vertical_end|e}};{% endif %}{% if particle.parallax_bg_breakpoint != 'always' %} media: @{{particle.parallax_bg_breakpoint|e}}{% endif %}" {% endif %} jl-img {{viewport_height}}>
{{container}}
{% endif %}
{% endset %}

{# End Parallax Background #}
{% set endparallaxbackground %}
{% if particle.parallax_image %}
{{endcontainer}}
</div>
{% endif %}
{% endset %}

{# Set Horizontal #}
{% set pahorizontal %}
{% if particle.pa_horizontal_start or particle.pa_horizontal_end %}x: {% if particle.pa_horizontal_start == '' %}0{% else %}{{particle.pa_horizontal_start }}{% endif %},{% if particle.pa_horizontal_end == '' %}0{% else %}{{particle.pa_horizontal_end }}{% endif %};{% endif %}
{% endset %}

{# Set Vertical #}
{% set pavertical %}
{% if particle.pa_vertical_start or particle.pa_vertical_end %}y: {% if particle.pa_vertical_start == '' %}0{% else %}{{particle.pa_vertical_start }}{% endif %},{% if particle.pa_vertical_end == '' %}0{% else %}{{particle.pa_vertical_end }}{% endif %};{% endif %}
{% endset %}

{# Set Scale #}
{% set scale %}
{% if particle.scale_start or particle.scale_end %}scale: {% if particle.scale_start == '' %}1{% else %}{{particle.scale_start / 100 }}{% endif %},{% if particle.scale_end == '' %}1{% else %} {{particle.scale_end / 100 }}{% endif %};{% endif %}
{% endset %}

{# Set Rotate #}
{% set rotate %}{% if particle.rotate_start or particle.rotate_end %}
rotate: {% if particle.rotate_start == '' %}0{% else %}{{particle.rotate_start}}{% endif %},{% if particle.rotate_end == '' %}0{% else %}{{particle.rotate_end}}{% endif %};{% endif %}
{% endset %}

{# Set Opacity #}
{% set opacity %}
{% if particle.opacity_start or particle.opacity_end %}opacity: {% if particle.opacity_start == '' %}1{% else %}{{particle.opacity_start / 100 }}{% endif %},{% if particle.opacity_end == '' %}1{% else %}{{particle.opacity_end / 100 }}{% endif %};{% endif %}
{% endset %}

{# set Animation #}
{% set animation %}
{% if particle.animation == 'parallax' %}
{% if particle.pa_horizontal_start or particle.pa_horizontal_end or particle.pa_vertical_start or particle.pa_vertical_end or particle.scale_start or particle.scale_end or particle.rotate_start or particle.rotate_end or particle.opacity_start or particle.opacity_end or particle.easing or particle.pa_viewport or particle.pa_breakpoint %} jl-parallax="{{pahorizontal}}{{pavertical}}{{scale}}{{rotate}}{{opacity}}{% if particle.easing == '' %}{% else %}easing: {{ particle.easing / 100 }};{% endif %}{% if particle.pa_viewport != '' %}viewport:{{ particle.pa_viewport / 100 }};{% endif %}{% if particle.pa_breakpoint != 'always' %}media: @{{particle.pa_breakpoint|e}}{% endif %}"{% endif %}
{% else %}
{% if particle.animation != 'inherit' %} jl-scrollspy="cls:jl-animation-{{particle.animation|e}}{% if particle.animation_repeat != 'disabled' %}; repeat: true{% endif %}{% if particle.animation_delay != '' %}; delay: {{particle.animation_delay|e}}{% endif %}"{% endif %}
{% endif %}
{% endset %}

{# Title Transition #}
{% set title_transition %}
{% if particle.overlay_hover == '1' %}
{% if particle.title_transition != 'none' %} jl-transition-{{ particle.title_transition|e }}{% endif %}
{% endif %}
{% endset %}

{# Meta Transition #}
{% set meta_transition %}
{% if particle.overlay_hover == '1' %}
{% if particle.meta_transition != 'none' %} jl-transition-{{ particle.meta_transition|e }}{% endif %}
{% endif %}
{% endset %}

{# Content Transition #}
{% set content_transition %}
{% if particle.overlay_hover == '1' %}
{% if particle.content_transition != 'none' %} jl-transition-{{ particle.content_transition|e }}{% endif %}
{% endif %}
{% endset %}

{# Link Transition #}
{% set link_transition %}
{% if particle.overlay_hover == '1' %}
{% if particle.link_transition != 'none' %} jl-transition-{{ particle.link_transition|e }}{% endif %}
{% endif %}
{% endset %}

{# Overlay Transition #}
{% set overlay_transition %}
{% if particle.overlay_hover == '1' %} jl-transition-{{ particle.overlay_transition|e }}{% endif %}
{% endset %}

{# Image Transition #}
{% set image_transition %}
{% if particle.image_transition %} jl-transition-{{ particle.image_transition|e }} jl-transition-opaque{% endif %}
{% endset %}

{# Image Hover Transition #}
{% set image_hover_transition %}
{% if particle.image_transition == 'none' %} jl-transition-fade{% else %} jl-transition-{{ particle.image_transition|e }}{% endif %}
{% endset %}

{# Image Box Shadow #}
{% set image_boxshadow %}
{% if particle.box_shadow != 'none' %} jl-box-shadow-{{particle.box_shadow|e}}{% endif %}{% if particle.box_shadow_hover != 'none' %} jl-box-shadow-hover-{{particle.box_shadow_hover|e}}{% endif %}
{% endset %}

{# Set Particle Alignment #}
{% set particle_alignment %}
{% if particle.align != 'inherit' %} jl-text-{{particle.align|e}}{% if particle.breakpoint != 'always' %}@{{particle.breakpoint|e}}{% endif %}{% endif %}{% if particle.align != 'inherit' and particle.breakpoint != 'always' %}{% if particle.fallback != 'inherit' %} jl-text-{{particle.fallback|e}}{% endif %}{% endif %}
{% endset %}

{# set Particle Title Style #}
{% set particle_title_style %}
{% if particle.particle_title %}
<{{particle.particle_title_element|e}} id="{{ id }}" class="g5-particle-title{% if particle.particle_title_align != 'inherit' %} jl-text-{{particle.particle_title_align|e}}{% endif %}{% if particle.particle_predefined_color != 'default' %} jl-text-{{particle.particle_predefined_color|e}}{% endif %}{% if particle.particle_title_style != 'default' %} jl-{{particle.particle_title_style|e}}{% endif %}{% if particle.particle_title_decoration != 'none' %} jl-heading-{{particle.particle_title_decoration|e}}{% endif %}">
{% if particle.particle_title_decoration == 'line' %} <span>{{particle.particle_title|raw}}</span>
{% else %} {{particle.particle_title|raw}}
{% endif %}
</{{particle.particle_title_element|e}}>
{% endif %}
{% endset %}

{# Set Button Class #}
{% set button_cls %}
{% if particle.buttonclass == 'link' %}jl-link{% elseif particle.buttonclass == 'link-muted' or particle.buttonclass == 'link-text' %}jl-{{particle.buttonclass|e}}{% else %}jl-button jl-button-{{particle.buttonclass|e}}{% endif %}
{% endset %}

{# Set Button Size #}
{% set button_size %}
{% if particle.buttonclass == 'link' or particle.buttonclass == 'link-muted' or particle.buttonclass == 'link-text' or particle.buttonclass == 'text' %}{% else %}{% if particle.link_button_size != 'default' %} jl-button-{{particle.link_button_size|e}}{% endif %}{% endif %}
{% endset %}

{# Set Button #}
{% set button %}
{% if particle.buttontext %}
<div class="{% if particle.link_margin_top == 'default' %}jl-margin-top{% else %}jl-margin-{{ particle.link_margin_top|e }}-top{% endif %}{{link_transition}}"><a class="{{button_cls}}{{button_size}}" href="{{ particle.link|e }}" title="{{ particle.buttontext|e }}" target="{{ particle.target|default('_self')|e }}"{{linkscroll}}>{{ particle.buttontext|e }}</a></div>
{% endif %}
{% endset %}

{% block particle %}
{% if particle.enabled %}
{{parallaxbackground}}
{{particle_title_style}}
<div id="{{ id }}" class="tm-overlay-wrapper{{content_maxwidth}}{% if particle.class %} {{ particle.class }}{% endif %}{{particle_alignment}}{% if particle.margin == 'inherit' %}{% elseif particle.margin == 'default' %} jl-margin{% else %} jl-margin-{{particle.margin|e}}{% endif %}{% if particle.visibility != 'inherit' %} jl-visible@{{particle.visibility|e}}{% endif %}"{{animation}}>

{% if particle.overlay_hover == '1' or particle.hover_image != '' or particle.image_transition != 'none' %}

{% if particle.link_type == 'element' %}
<a class="tm-item jl-inline-clip jl-transition-toggle jl-link-reset{{image_boxshadow}}" href="{{ particle.link|e }}" title="{{ particle.buttontext|e }}" target="{{ particle.target|default('_self')|e }}"tabindex="0"{{linkscroll}}>
{% else %}
<div class="tm-item jl-inline-clip jl-transition-toggle{% if particle.overlay_color != 'default' %} jl-{{ particle.overlay_color|e }}{% endif %}{{image_boxshadow}}" tabindex="0">
{% endif %}

{% else %}

{% if particle.link_type == 'element' %}
<a class="tm-item jl-inline-clip jl-link-reset{{image_boxshadow}}" href="{{ particle.link|e }}" title="{{ particle.buttontext|e }}" target="{{ particle.target|default('_self')|e }}"{{linkscroll}}>
{% else %}
<div class="tm-item jl-inline-clip{{image_boxshadow}}">
{% endif %}

{% endif %}

{% if particle.hover_image != '' %}
{% if particle.image %}
<img class="tm-image" data-src="{{ url(particle.image)|e }}"{% if particle.image_alt %} alt="{{particle.image_alt|e}}"{% endif %} jl-img>
{% endif %}

{% if particle.hover_image %}
<div class="jl-position-cover{{image_hover_transition}}">
<img class="tm-image" data-src="{{ url(particle.hover_image)|e }}"{% if particle.image_alt %} alt="{{particle.image_alt|e}}"{% endif %} jl-img jl-cover>
</div>
{% endif %}

{% else %}
{% if particle.image %}
<img class="tm-image{{image_transition}}" data-src="{{ url(particle.image)|e }}"{% if particle.image_alt %} alt="{{particle.image_alt|e}}"{% endif %} jl-img>
{% endif %}
{% endif %}

{# Load Overlay Style #}
{% if particle.title or particle.meta or particle.content %}

{% if particle.overlay_style == 'none' %}
<div class="{% if particle.overlay_position %}jl-position-{{ particle.overlay_position|e }}{% endif %}">

<div class="jl-panel{% if particle.overlay_padding == 'default' %} jl-padding{% else %} jl-padding-{{ particle.overlay_padding|e }}{% endif %}{% if particle.overlay_maxwidth != 'none' %} jl-width-{{ particle.overlay_maxwidth|e }}{% endif %}{{overlay_transition}}{% if particle.overlay_color != 'default' %} jl-{{ particle.overlay_color|e }}{% endif %} jl-margin-remove-first-child">

{% else %}

{% if particle.overlay_mode == 'cover' %}
<div class="jl-position-cover{% if particle.overlay_margin != 'none' %} jl-position-{{ particle.overlay_margin|e }}{% endif %}{% if particle.overlay_style %} {{ particle.overlay_style|e }}{% endif %}{{overlay_transition}}"></div>
{% endif %}

<div class="{% if particle.overlay_position %}jl-position-{{ particle.overlay_position|e }}{% endif %}{% if particle.overlay_margin != 'none' %} jl-position-{{ particle.overlay_margin|e }}{% endif %}">

{% if particle.overlay_mode == 'cover' %}
<div class="jl-overlay{% if particle.overlay_color != 'default' %} jl-{{ particle.overlay_color|e }}{% endif %} jl-margin-remove-first-child{% if particle.overlay_padding != 'default' %} jl-padding-{{ particle.overlay_padding|e }}{% endif %}{% if particle.overlay_maxwidth != 'none' %} jl-width-{{ particle.overlay_maxwidth|e }}{% endif %}{{overlay_transition}}">
{% else %}
<div class="jl-overlay{% if particle.overlay_color != 'default' %} jl-{{ particle.overlay_color|e }}{% endif %} jl-margin-remove-first-child{% if particle.overlay_padding != 'default' %} jl-padding-{{ particle.overlay_padding|e }}{% endif %}{% if particle.overlay_maxwidth != 'none' %} jl-width-{{ particle.overlay_maxwidth|e }}{% endif %}{% if particle.overlay_style %} {{ particle.overlay_style|e }}{% endif %}{{overlay_transition}}">
{% endif %}

{% endif %}

{% if particle.meta_alignment == 'top' %}
{% if particle.meta %}
<div class="tm-meta{{meta_text_transform}}{% if particle.meta_margin == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.meta_margin|e }}-top{% endif %}{% if particle.pre_meta_color != 'default' %} jl-text-{{ particle.pre_meta_color|e }}{% endif %}{% if particle.meta_style != 'default' %} jl-{{ particle.meta_style|e }}{% endif %}{{meta_transition}}">
{{particle.meta|raw}}
</div>
{% endif %}
{% endif %}

{% if particle.title %}
<{{particle.title_element|e}} class="tm-title jl-margin-remove-bottom{{title_text_transform}}{% if particle.title_margin == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.title_margin|e }}-top{% endif %}{% if particle.title_style != 'default' %} jl-{{ particle.title_style|e }}{% endif %}{% if particle.predefined_title_color != 'default' %} jl-text-{{ particle.predefined_title_color|e }}{% endif %}{% if particle.title_decoration != 'none' %} jl-heading-{{particle.title_decoration|e}}{% endif %}{{title_transition}}">
{% if particle.title_decoration == 'line' %} <span>{% if particle.link_type == 'content' %}<a class="jl-link-reset" href="{{ particle.buttonlink|e }}" title="{{ particle.buttontext|e }}" target="{{ particle.buttontarget|default('_self')|e }}"{{linkscroll}}>{% endif %}{{ particle.title|raw }}{% if particle.link_type == 'content' %}</a>{% endif %}</span>
{% else %}
{% if particle.link_type == 'content' %}<a class="jl-link-reset" href="{{ particle.buttonlink|e }}" title="{{ particle.buttontext|e }}" target="{{ particle.buttontarget|default('_self')|e }}"{{linkscroll}}>{% endif %}{{ particle.title|raw }}{% if particle.link_type == 'content' %}</a>{% endif %}
{% endif %}
</{{particle.title_element|e}}>
{% endif %}

{% if particle.meta_alignment == 'bottom' %}
{% if particle.meta %}
<div class="tm-meta{{meta_text_transform}}{% if particle.meta_margin == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.meta_margin|e }}-top{% endif %}{% if particle.pre_meta_color != 'default' %} jl-text-{{ particle.pre_meta_color|e }}{% endif %}{% if particle.meta_style != 'default' %} jl-{{ particle.meta_style|e }}{% endif %}{{meta_transition}}">
{{particle.meta|raw}}
</div>
{% endif %}
{% endif %}

{% if particle.content %}
<div class="tm-content jl-panel{{content_text_transform}}{% if particle.content_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.content_margin_top|e }}-top{% endif %}{% if particle.content_style != 'default' %} jl-text-{{ particle.content_style|e }}{% endif %}{% if particle.content_text_color != 'default' %} jl-text-{{ particle.content_text_color|e }}{% endif %}{{content_transition}}">
{{particle.content|raw}}
</div>
{% endif %}

{% if particle.meta_alignment == 'content' %}
{% if particle.meta %}
<div class="tm-meta{{meta_text_transform}}{% if particle.meta_margin == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.meta_margin|e }}-top{% endif %}{% if particle.pre_meta_color != 'default' %} jl-text-{{ particle.pre_meta_color|e }}{% endif %}{% if particle.meta_style != 'default' %} jl-{{ particle.meta_style|e }}{% endif %}{{meta_transition}}">
{{particle.meta|raw}}
</div>
{% endif %}
{% endif %}

{% if particle.link_type == 'button' %}
{{button}}
{% endif %}

</div>
</div>
{% endif %}


{# End Overlay Style #}

{% if particle.link_type == 'element' %}
</a>
{% else %}
</div>
{% endif %}

</div>

{{endparallaxbackground}}
{% endif %}
{% endblock %}
