{% extends '@nucleus/partials/particle.html.twig' %}

{% block stylesheets %}
{% if particle.particle_title_color or particle.particle_title_fontsize or particle.customize_title_color or particle.customize_title_fontsize or particle.customize_content_color or particle.customize_content_fontsize or particle.meta_color or particle.meta_fontsize %}
<style>
{% if particle.particle_title_color or particle.particle_title_fontsize %}
#{{ id }}.g5-particle-title { {% if particle.particle_title_color %}color: {{ particle.particle_title_color }};{% endif %}{% if particle.particle_title_fontsize %}font-size: {{particle.particle_title_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.customize_title_color or particle.customize_title_fontsize %}
#{{ id }} .jl-card-title { {% if particle.customize_title_color %}color: {{particle.customize_title_color}}; {% endif %}{% if particle.customize_title_fontsize %}font-size: {{particle.customize_title_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.customize_content_color or particle.customize_content_fontsize %}
#{{ id }} .tm-content { {% if particle.customize_content_color %}color: {{particle.customize_content_color}};{% endif %}{% if particle.customize_content_fontsize %} font-size: {{particle.customize_content_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.meta_color or particle.meta_fontsize %}
#{{ id }} .tm-meta { {% if particle.meta_color %}color: {{particle.meta_color}};{% endif %}{% if particle.meta_fontsize %} font-size: {{particle.meta_fontsize}}px;{% endif %} }
{% endif %}
</style>
{% endif %}
{% endblock %}

{# set Viewport Height #}
{% set viewport_height %}
{% if particle.viewport_height == 'none' %}
{% elseif particle.viewport_height == 'full' %}
jl-height-viewport="offset-top: true"
{% elseif particle.viewport_height == 'percent' %}
jl-height-viewport="offset-top: true;offset-bottom: 20"
{% elseif particle.viewport_height == 'section' %}
jl-height-viewport="offset-top: true;offset-bottom: 50"
{% elseif particle.viewport_height == 'expand' %}
jl-height-viewport="expand: true"
{% endif %}
{% endset %}

{# Set Title Text Transform #}
{% set title_text_transform %}
{% if particle.title_text_transform %} jl-text-{{particle.title_text_transform|e}}{% endif %}
{% endset %}

{# Set Meta Text Transform #}
{% set meta_text_transform %}
{% if particle.meta_text_transform %} jl-text-{{particle.meta_text_transform|e}}{% endif %}
{% endset %}

{# Set Content Text Transform #}
{% set content_text_transform %}
{% if particle.content_text_transform %} jl-text-{{particle.content_text_transform|e}}{% endif %}
{% endset %}

{# set padding #}
{% set padding %}
{% if particle.viewport_height == 'full' %}
{% else %}
{% if particle.padding == 'default' %}{% else %} jl-section-{{particle.padding|e}}{% endif %}
{% endif %}
{% endset %}

{# set Container #}
{% set container %}
{% if particle.container == '1' %}
<div class="jl-container"><div class="g5-content g5-particle">{% endif %}
{% endset %}

{# set End Container #}
{% set endcontainer %}
{% if particle.container == '1' %}
</div></div>{% endif %}
{% endset %}

{# set Background color #}
{% set parallax_bg_color %}
{% if particle.parallax_bg_color %}
style="background-color: {{particle.parallax_bg_color}};"{% endif %}
{% endset %}

{# Set Max-Width Content #}
{% set content_maxwidth %}
{% if particle.g_maxwidth != 'inherit' %} jl-width-{{particle.g_maxwidth}}{% if particle.g_maxwidth_breakpoint != 'always' %}@{{particle.g_maxwidth_breakpoint}}{% endif %}{% if particle.g_maxwidth_alignment == 'left' %}{% elseif particle.g_maxwidth_alignment == 'center' %} jl-margin-auto{% else %} jl-margin-auto-left{% endif %}{% endif %}
{% endset %}

{# set Parallax Background #}
{% set parallaxbackground %}
{% if particle.parallax_image %}
<div data-src="{{ url(particle.parallax_image)|e }}" class="{{id}} jl-background-norepeat{{padding}}{{content_maxwidth}} jl-background-{{particle.background_image_position|e}}{% if particle.background_image_size != 'auto' %} jl-background-{{particle.background_image_size|e}}{% endif %}{% if particle.parallax_bg_visibility != 'always' %} jl-background-image@{{particle.parallax_bg_visibility|e}}{% endif %}{% if particle.vertical_alignment != 'none' %} jl-flex jl-flex-{{particle.vertical_alignment|e}}{% endif %}{% if particle.parallax_text_color != 'default' %} jl-{{particle.parallax_text_color|e}}{% endif %}{% if particle.blendmode != 'inherit' %} jl-background-blend-{{particle.blendmode|e}}{% endif %}" {{parallax_bg_color}}{% if particle.horizontal_start or particle.horizontal_end or particle.vertical_start or particle.vertical_end %} jl-parallax="{% if particle.horizontal_start or particle.horizontal_end %}bgx: {{particle.horizontal_start|e}},{{particle.horizontal_end|e}};{% endif %}{% if particle.vertical_start or particle.vertical_end %}bgy: {{particle.vertical_start|e}},{{particle.vertical_end|e}};{% endif %}{% if particle.parallax_bg_breakpoint != 'always' %} media: @{{particle.parallax_bg_breakpoint|e}}{% endif %}" {% endif %} jl-img {{viewport_height}}>
{{container}}
{% endif %}
{% endset %}

{# End Parallax Background #}
{% set endparallaxbackground %}
{% if particle.parallax_image %}
{{endcontainer}}
</div>
{% endif %}
{% endset %}

{# Set Horizontal #}
{% set pahorizontal %}
{% if particle.pa_horizontal_start or particle.pa_horizontal_end %}x: {% if particle.pa_horizontal_start == '' %}0{% else %}{{particle.pa_horizontal_start }}{% endif %},{% if particle.pa_horizontal_end == '' %}0{% else %}{{particle.pa_horizontal_end }}{% endif %};{% endif %}
{% endset %}

{# Set Vertical #}
{% set pavertical %}
{% if particle.pa_vertical_start or particle.pa_vertical_end %}y: {% if particle.pa_vertical_start == '' %}0{% else %}{{particle.pa_vertical_start }}{% endif %},{% if particle.pa_vertical_end == '' %}0{% else %}{{particle.pa_vertical_end }}{% endif %};{% endif %}
{% endset %}

{# Set Scale #}
{% set scale %}
{% if particle.scale_start or particle.scale_end %}scale: {% if particle.scale_start == '' %}1{% else %}{{particle.scale_start / 100 }}{% endif %},{% if particle.scale_end == '' %}1{% else %} {{particle.scale_end / 100 }}{% endif %};{% endif %}
{% endset %}

{# Set Rotate #}
{% set rotate %}{% if particle.rotate_start or particle.rotate_end %}
rotate: {% if particle.rotate_start == '' %}0{% else %}{{particle.rotate_start}}{% endif %},{% if particle.rotate_end == '' %}0{% else %}{{particle.rotate_end}}{% endif %};{% endif %}
{% endset %}

{# Set Opacity #}
{% set opacity %}
{% if particle.opacity_start or particle.opacity_end %}opacity: {% if particle.opacity_start == '' %}1{% else %}{{particle.opacity_start / 100 }}{% endif %},{% if particle.opacity_end == '' %}1{% else %}{{particle.opacity_end / 100 }}{% endif %};{% endif %}
{% endset %}

{# set Animation #}
{% set animation %}
{% if particle.animation == 'parallax' %}
{% if particle.pa_horizontal_start or particle.pa_horizontal_end or particle.pa_vertical_start or particle.pa_vertical_end or particle.scale_start or particle.scale_end or particle.rotate_start or particle.rotate_end or particle.opacity_start or particle.opacity_end or particle.easing or particle.pa_viewport or particle.pa_breakpoint %} jl-parallax="{{pahorizontal}}{{pavertical}}{{scale}}{{rotate}}{{opacity}}{% if particle.easing == '' %}{% else %}easing: {{ particle.easing / 100 }};{% endif %}{% if particle.pa_viewport != '' %}viewport:{{ particle.pa_viewport / 100 }};{% endif %}{% if particle.pa_breakpoint != 'always' %}media: @{{particle.pa_breakpoint|e}}{% endif %}"{% endif %}
{% else %}
{% if particle.animation == 'inherit' %}{% else %} jl-scrollspy="cls:jl-animation-{{particle.animation|e}}{% if particle.animation_repeat == 'disabled' %}{% else %}; repeat: true{% endif %}{% if particle.animation_delay == '0' or particle.animation_delay == '' %}{% else %}; delay: {{particle.animation_delay|e}}{% endif %}"{% endif %}
{% endif %}
{% endset %}

{# Set Particle Alignment #}
{% set particle_alignment %}
{% if particle.align != 'inherit' %} jl-text-{{particle.align|e}}{% if particle.breakpoint != 'always' %}@{{particle.breakpoint|e}}{% endif %}{% endif %}{% if particle.align != 'inherit' and particle.breakpoint != 'always' %}{% if particle.fallback != 'inherit' %} jl-text-{{particle.fallback|e}}{% endif %}{% endif %}
{% endset %}

{# set Particle Title Style #}
{% set particle_title_style %}
{% if particle.particle_title %}
<{{particle.particle_title_element|e}} id="{{ id }}" class="g5-particle-title{% if particle.particle_title_align != 'inherit' %} jl-text-{{particle.particle_title_align|e}}{% endif %}{% if particle.particle_predefined_color != 'default' %} jl-text-{{particle.particle_predefined_color|e}}{% endif %}{% if particle.particle_title_style != 'default' %} jl-{{particle.particle_title_style|e}}{% endif %}{% if particle.particle_title_decoration != 'none' %} jl-heading-{{particle.particle_title_decoration|e}}{% endif %}">
{% if particle.particle_title_decoration == 'line' %} <span>{{particle.particle_title|raw}}</span>
{% else %} {{particle.particle_title|raw}}
{% endif %}
</{{particle.particle_title_element|e}}>
{% endif %}
{% endset %}

{% set imagewidth %}
{% if particle.image_width != '' %} width = "{{particle.image_width}}"{% endif %}
{% endset %}

{% set imageheight %}
{% if particle.image_height != '' %} height = "{{particle.image_height}}"{% endif %}
{% endset %}

{% set popover_image_width %}
{% if particle.popover_image_width != '' %} width = "{{particle.popover_image_width}}"{% endif %}
{% endset %}

{% set popover_image_height %}
{% if particle.popover_image_height != '' %} height = "{{particle.popover_image_height}}"{% endif %}
{% endset %}

{# Set Item Content #}
{% set itemmaker %}

{% for item in particle.items %}

{% set linkscroll %}
{% if item.link|e matches '/#/' %} jl-scroll{% endif %}
{% endset %}

{# Set Title Content #}
{% set item_title %}
{% if item.title %}
<{{particle.title_element|e}} class="jl-card-title jl-margin-remove-bottom{{title_text_transform}}{% if particle.title_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.title_margin_top|e }}-top{% endif %}{% if particle.title_color != 'default' %} jl-text-{{particle.title_color|e}}{% endif %}{% if particle.title_style != 'default' %} jl-{{particle.title_style|e}}{% endif %}{% if particle.title_decoration != 'none' %} jl-heading-{{particle.title_decoration|e}}{% endif %}">
{% if particle.title_decoration == 'line' %} <span>{% if particle.link_type == 'content' %}<a target="{{ item.link_target|default('_self')|e }}" href="{{ item.link|e }}" class="jl-link-reset"{{linkscroll}}>{% endif %}{{ item.title|raw }}{% if particle.link_type == 'content' %}</a>{% endif %}</span>
{% else %}
{% if particle.link_type == 'content' %}<a target="{{ item.link_target|default('_self')|e }}" href="{{ item.link|e }}" class="jl-link-reset"{{linkscroll}}>{% endif %}{{ item.title|raw }}{% if particle.link_type == 'content' %}</a>{% endif %}
{% endif %}
</{{particle.title_element|e}}>
{% endif %}
{% endset %}

{# Set Meta Content #}
{% set item_meta %}
{% if item.meta %}
<div class="tm-meta{{meta_text_transform}}{% if particle.meta_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.meta_margin_top|e }}-top{% endif %}{% if particle.meta_predefined_color != 'default' %} jl-text-{{particle.meta_predefined_color|e}}{% endif %}{% if particle.meta_style != 'default' %} jl-{{ particle.meta_style|e }}{% endif %}">
{{item.meta|raw}}
</div>
{% endif %}
{% endset %}

<a class="tm-marker jl-position-absolute jl-transform-center jl-marker jl-icon" jl-marker style="{% if item.item_left == '' %}left: 50%{% else %}left: {{item.item_left}}%{% endif %}; {% if item.item_top == '' %}top: 50%;{% else %}top: {{item.item_top}}%{% endif %}" href="#"></a>

<div jl-drop="pos: {% if item.item_position == 'default' %}{{particle.popover_position}}{% else %}{{item.item_position}}{% endif %}; mode: {{particle.popover_mode}};{% if particle.drop_animation != 'inherit' %} animation: jl-animation-{{particle.drop_animation}}; duration: 500{% endif %}" style="width: {% if particle.popover_width == '' %}300px{% else %}{{ particle.popover_width }}{% endif %};">

{% if particle.image_padding == '1' %}

{% if particle.link_type == 'element' %}
<a target="{{ item.link_target|default('_self')|e }}" href="{{ item.link|e }}" title="{{ item.link_text|e }}" class="tm-item jl-card{% if particle.popover_styles == 'default' %} jl-card-default{% else %} jl-card-{{ particle.popover_styles }}{% endif %}{% if particle.popover_size != 'default' %} jl-card-{{ particle.popover_size }}{% endif %} jl-display-block jl-link-reset jl-card-hover"{{linkscroll}}>
{% else %}
<div class="tm-item jl-card{% if particle.popover_styles == 'default' %} jl-card-default{% else %} jl-card-{{ particle.popover_styles }}{% endif %}{% if particle.popover_size != 'default' %} jl-card-{{ particle.popover_size }}{% endif %}">
{% endif %}

{% if item.item_image %}
{% if particle.link_type == 'content' %}<a target="{{ item.link_target|default('_self')|e }}" href="{{ item.link|e }}"{{linkscroll}}>{% endif %}
<img data-src="{{ url(item.item_image)|e }}" alt="{{ item.item_image_alt|e }}" class="tm-image jl-display-block jl-margin-auto" jl-img="target: !.tm-popover-items" />
{% if particle.link_type == 'content' %}</a>{% endif %}
{% endif %}
<div class="jl-card-body jl-margin-remove-first-child">

{% else %}

{% if particle.link_type == 'element' %}
<a target="{{ item.link_target|default('_self')|e }}" href="{{ item.link|e }}" title="{{ item.link_text|e }}" class="tm-item jl-card{% if particle.popover_styles == 'default' %} jl-card-default{% else %} jl-card-{{ particle.popover_styles }}{% endif %} jl-card-body jl-margin-remove-first-child{% if particle.popover_size != 'default' %} jl-card-{{ particle.popover_size }}{% endif %} jl-display-block jl-link-reset jl-card-hover"{{linkscroll}}>
{% else %}
<div class="tm-item jl-card{% if particle.popover_styles == 'default' %} jl-card-default{% else %} jl-card-{{ particle.popover_styles }}{% endif %} jl-card-body jl-margin-remove-first-child{% if particle.popover_size != 'default' %} jl-card-{{ particle.popover_size }}{% endif %}">
{% endif %}


{% if item.item_image %}
{% if particle.link_type == 'content' %}<a target="{{ item.link_target|default('_self')|e }}" href="{{ item.link|e }}"{{linkscroll}}>{% endif %}
<img{{imagewidth}}{{imageheight}} data-src="{{ url(item.item_image)|e }}" alt="{{ item.item_image_alt|e }}" class="tm-image jl-display-block jl-margin-auto{% if particle.image_border != 'default' %} jl-border-{{particle.image_border}}{% endif %}{% if particle.box_shadow != 'none' %} jl-box-shadow-{{particle.box_shadow|e}}{% endif %}" jl-img="target: !.tm-popover-items" />
{% if particle.link_type == 'content' %}</a>{% endif %}
{% endif %}

{% endif %}

{% if particle.meta_alignment == 'top' %}
{{item_meta}}
{% endif %}

{{item_title}}

{% if particle.meta_alignment == 'bottom' %}
{{item_meta}}
{% endif %}

{% if item.content %}
<div class="tm-content jl-panel{{content_text_transform}}{% if particle.content_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.content_margin_top|e }}-top{% endif %}{% if particle.content_style != 'default' %} jl-text-{{ particle.content_style|e }}{% endif %}{% if particle.content_text_color != 'default' %} jl-text-{{ particle.content_text_color|e }}{% endif %}">{{ item.content|raw }}</div>
{% endif %}

{% if particle.meta_alignment == 'content' %}
{{item_meta}}
{% endif %}

{% if particle.link_type == 'button' %}
{% if item.link_text != '' %}
<div class="{% if particle.link_margin_top == 'default' %}jl-margin-top{% else %}jl-margin-{{ particle.link_margin_top|e }}-top{% endif %}">
<a target="{{ item.link_target|default('_self')|e }}" href="{{ item.link|e }}" class="{% if particle.link_style == 'default' or particle.link_style == 'primary' or particle.link_style == 'secondary' or particle.link_style == 'danger' %}jl-button jl-button-{{particle.link_style}}{% else %}jl-link-{{particle.link_style|e}}{% endif %}"{{linkscroll}}>{{item.link_text|raw}}</a>
</div>
{% endif %}
{% endif %}

{% if particle.image_padding == '1' %}
</div>
{% if particle.link_type == 'element' %}
</a>
{% else %}
</div>
{% endif %}
{% else %}
{% if particle.link_type == 'element' %}
</a>
{% else %}
</div>
{% endif %}
{% endif %}

</div>
{% endfor %}
{% endset %}


{# Set Switcher Content #}
{% set itemswitcher %}

<ul id="js-{{id}}" class="jl-switcher">
{% for item in particle.items %}

{% set linkscroll %}
{% if item.link|e matches '/#/' %} jl-scroll{% endif %}
{% endset %}

{# Set Title Content #}
{% set item_title %}
{% if item.title %}
<{{particle.title_element|e}} class="jl-card-title jl-margin-remove-adjacent{{title_text_transform}}{% if particle.title_color != 'default' %} jl-text-{{particle.title_color|e}}{% endif %}{% if particle.title_style != 'default' %} jl-{{particle.title_style|e}}{% endif %}{% if particle.title_decoration != 'none' %} jl-heading-{{particle.title_decoration|e}}{% endif %}">
{% if particle.title_decoration == 'line' %} <span>{% if particle.link_type == 'content' %}<a target="{{ item.link_target|default('_self')|e }}" href="{{ item.link|e }}" class="jl-link-reset"{{linkscroll}}>{% endif %}{{ item.title|raw }}{% if particle.link_type == 'content' %}</a>{% endif %}</span>
{% else %}
{% if particle.link_type == 'content' %}<a target="{{ item.link_target|default('_self')|e }}" href="{{ item.link|e }}" class="jl-link-reset"{{linkscroll}}>{% endif %}{{ item.title|raw }}{% if particle.link_type == 'content' %}</a>{% endif %}
{% endif %}
</{{particle.title_element|e}}>
{% endif %}
{% endset %}

{# Set Meta Content #}
{% set item_meta %}
{% if item.meta %}
<div class="tm-meta{{meta_text_transform}}{% if particle.meta_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.meta_margin_top|e }}-top{% endif %}{% if particle.meta_predefined_color != 'default' %} jl-text-{{particle.meta_predefined_color|e}}{% endif %}{% if particle.meta_style != 'default' %} jl-{{ particle.meta_style|e }}{% endif %}">
{{item.meta|raw}}
</div>
{% endif %}
{% endset %}

<li>

{% if particle.image_padding == '1' %}

{% if particle.link_type == 'element' %}
<a target="{{ item.link_target|default('_self')|e }}" href="{{ item.link|e }}" title="{{ item.link_text|e }}" class="tm-item jl-card{% if particle.popover_styles == 'default' %} jl-card-default{% else %} jl-card-{{ particle.popover_styles }}{% endif %}{% if particle.popover_size != 'default' %} jl-card-{{ particle.popover_size }}{% endif %} jl-display-block jl-link-reset jl-card-hover"{{linkscroll}}>
{% else %}
<div class="tm-item jl-card{% if particle.popover_styles == 'default' %} jl-card-default{% else %} jl-card-{{ particle.popover_styles }}{% endif %}{% if particle.popover_size != 'default' %} jl-card-{{ particle.popover_size }}{% endif %}">
{% endif %}


{% if item.item_image %}
{% if particle.link_type == 'content' %}<a target="{{ item.link_target|default('_self')|e }}" href="{{ item.link|e }}"{{linkscroll}}>{% endif %}
<img data-src="{{ url(item.item_image)|e }}" alt="{{ item.item_image_alt|e }}" class="tm-image jl-display-block jl-margin-auto" jl-img />
{% if particle.link_type == 'content' %}</a>{% endif %}
{% endif %}

<div class="jl-card-body jl-margin-remove-first-child">
{% else %}

{% if particle.link_type == 'element' %}
<a target="{{ item.link_target|default('_self')|e }}" href="{{ item.link|e }}" title="{{ item.link_text|e }}" class="tm-item jl-card{% if particle.popover_styles == 'default' %} jl-card-default{% else %} jl-card-{{ particle.popover_styles }}{% endif %} jl-card-body jl-margin-remove-first-child{% if particle.popover_size != 'default' %} jl-card-{{ particle.popover_size }}{% endif %} jl-display-block jl-link-reset jl-card-hover"{{linkscroll}}>
{% else %}
<div class="tm-item jl-card{% if particle.popover_styles == 'default' %} jl-card-default{% else %} jl-card-{{ particle.popover_styles }}{% endif %} jl-card-body jl-margin-remove-first-child{% if particle.popover_size != 'default' %} jl-card-{{ particle.popover_size }}{% endif %}">
{% endif %}

{% if item.item_image %}
{% if particle.link_type == 'content' %}<a target="{{ item.link_target|default('_self')|e }}" href="{{ item.link|e }}"{{linkscroll}}>{% endif %}
<img{{imagewidth}}{{imageheight}} data-src="{{ url(item.item_image)|e }}" alt="{{ item.item_image_alt|e }}" class="tm-image jl-display-block jl-margin-auto{% if particle.image_border != 'default' %} jl-border-{{particle.image_border}}{% endif %}{% if particle.box_shadow != 'none' %} jl-box-shadow-{{particle.box_shadow|e}}{% endif %}" jl-img />
{% if particle.link_type == 'content' %}</a>{% endif %}
{% endif %}
{% endif %}

{% if particle.meta_alignment == 'top' %}
{{item_meta}}
{% endif %}

{{item_title}}

{% if particle.meta_alignment == 'bottom' %}
{{item_meta}}
{% endif %}

{% if item.content %}
<div class="tm-content jl-panel{{content_text_transform}}{% if particle.content_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.content_margin_top|e }}-top{% endif %}{% if particle.content_style != 'default' %} jl-text-{{ particle.content_style|e }}{% endif %}{% if particle.content_text_color != 'default' %} jl-text-{{ particle.content_text_color|e }}{% endif %}">{{ item.content|raw }}</div>
{% endif %}

{% if particle.meta_alignment == 'content' %}
{{item_meta}}
{% endif %}


{% if particle.link_type == 'button' %}
{% if item.link_text != '' %}
<div class="{% if particle.link_margin_top == 'default' %}jl-margin-top{% else %}jl-margin-{{ particle.link_margin_top|e }}-top{% endif %}">
<a target="{{ item.link_target|default('_self')|e }}" href="{{ item.link|e }}" class="{% if particle.link_style == 'default' or particle.link_style == 'primary' or particle.link_style == 'secondary' or particle.link_style == 'danger' %}jl-button jl-button-{{particle.link_style}}{% else %}jl-link-{{particle.link_style|e}}{% endif %}"{{linkscroll}}>{{item.link_text|raw}}</a>
</div>
{% endif %}
{% endif %}

{% if particle.image_padding == '1' %}
</div>
{% if particle.link_type == 'element' %}
</a>
{% else %}
</div>
{% endif %}
{% else %}
{% if particle.link_type == 'element' %}
</a>
{% else %}
</div>
{% endif %}
{% endif %}

</li>
{% endfor %}
</ul>

<ul jl-switcher="connect: #js-{{id}}; animation: jl-animation-fade" class="jl-dotnav jl-flex-center jl-margin">
{% for item in particle.items %}
<li><a href="#"></a></li>
{% endfor %}
</ul>
{% endset %}

{% block particle %}
{% if particle.enabled %}
{{parallaxbackground}}
{{particle_title_style}}
<div id="{{ id }}" class="tm-content-wrapper{{content_maxwidth}}{% if particle.class %} {{ particle.class }}{% endif %}{{particle_alignment}}{% if particle.margin == 'inherit' %}{% elseif particle.margin == 'default' %} jl-margin{% else %} jl-margin-{{particle.margin|e}}{% endif %}{% if particle.visibility != 'inherit' %} jl-visible@{{particle.visibility|e}}{% endif %}"{{animation}}>
<div class="jl-inline">
<img {{popover_image_width}}{{popover_image_height}} data-src="{{ url(particle.image)|e }}" alt="{{ particle.image_alt|e }}" class="tm-image" jl-img />
<div class="tm-popover-items jl-visible@s">
{{itemmaker}}
</div>
</div>
<div class="tm-popover-items jl-margin jl-hidden@s">
{{itemswitcher}}
</div>
</div>
{{endparallaxbackground}}
{% endif %}
{% endblock %}
