{% extends '@nucleus/partials/particle.html.twig' %}

{% block stylesheets %}
<style>{% if particle.particle_title_color or particle.particle_title_fontsize %}
#{{ id }}.g5-particle-title { {% if particle.particle_title_color %}color: {{ particle.particle_title_color }};{% endif %}{% if particle.particle_title_fontsize %}font-size: {{particle.particle_title_fontsize}}px;{% endif %} }
{% endif %}
{% for item in particle.items %}
{% if item.bgcolor != '' %}.tm-content-{{id}} .tm-pricing-table-{{loop.index}} .tm-price-header {background-color: {{ item.bgcolor }};}{% endif %}
{% if item.body_color != '' %}.tm-content-{{id}} .tm-pricing-table-{{loop.index}} .tm-pricing-body {background-color: {{ item.body_color }};}{% endif %}
{% if item.bgimage and item.background_blendmode != 'inherit' %}.tm-content-{{id}} .tm-pricing-table-{{loop.index}} .jl-background-primary {background-color: {{ item.bgcolor }};}{% endif %}
{% if item.featured_bgcolor != '' or item.featured_color != '' %}.f-{{loop.index}} .tm-price-table_featured-inner { background-color: {{ item.featured_bgcolor }}; color: {{ item.featured_color }}; }{% endif %}
{% endfor %}
.tm-pricing-symbol { font-size: {{particle.symbol_fontsize|default('24')|e}}px;vertical-align: top;{% if particle.symbol_color %}color: {{particle.symbol_color}}; {% endif %} }
{% if particle.header_padding_top or particle.header_padding_bottom or particle.header_padding_left or particle.header_padding_right %}#{{ id }} .tm-price-header{ {% if particle.header_padding_top %} padding-top: {{particle.header_padding_top|e}}px;{% endif %} {% if particle.header_padding_right %} padding-right: {{particle.header_padding_right|e}}px;{% endif %}{% if particle.header_padding_bottom %} padding-bottom: {{particle.header_padding_bottom|e}}px;{% endif %}{% if particle.header_padding_left %} padding-left: {{particle.header_padding_left|e}}px;{% endif %} }{% endif %}
{% if particle.body_padding_top or particle.body_padding_bottom or particle.body_padding_left or particle.body_padding_right %}#{{ id }} .tm-feature-list{ {% if particle.body_padding_top %} padding-top: {{particle.body_padding_top|e}}px;{% endif %} {% if particle.body_padding_right %} padding-right: {{particle.body_padding_right|e}}px;{% endif %}{% if particle.body_padding_bottom %} padding-bottom: {{particle.body_padding_bottom|e}}px;{% endif %}{% if particle.body_padding_left %} padding-left: {{particle.body_padding_left|e}}px;{% endif %} }{% endif %}
{% if particle.button_padding_top or particle.button_padding_bottom or particle.button_padding_left or particle.button_padding_right %}#{{ id }} .tm-price-button{ {% if particle.button_padding_top %} padding-top: {{particle.button_padding_top|e}}px;{% endif %} {% if particle.button_padding_right %} padding-right: {{particle.button_padding_right|e}}px;{% endif %}{% if particle.button_padding_bottom %} padding-bottom: {{particle.button_padding_bottom|e}}px;{% endif %}{% if particle.button_padding_left %} padding-left: {{particle.button_padding_left|e}}px;{% endif %} }{% endif %}
{% if particle.customize_title_color or particle.customize_title_fontsize %}#{{ id }} .tm-title { {% if particle.customize_title_color %}color: {{particle.customize_title_color}}; {% endif %}{% if particle.customize_title_fontsize %}font-size: {{particle.customize_title_fontsize}}px;{% endif %} }{% endif %}
{% if particle.price_title_color or particle.price_title_fontsize %}#{{ id }} .tm-price { {% if particle.price_title_color %}color: {{particle.price_title_color}}; {% endif %}{% if particle.price_title_fontsize %}font-size: {{particle.price_title_fontsize}}px;{% endif %} }{% endif %}
{% if particle.customize_content_color or particle.customize_content_fontsize %}#{{ id }} .tm-content { {% if particle.customize_content_color %}color: {{particle.customize_content_color}};{% endif %}{% if particle.customize_content_fontsize %} font-size: {{particle.customize_content_fontsize}}px;{% endif %} }{% endif %}
{% if particle.meta_color or particle.meta_fontsize %}#{{ id }} .tm-meta { {% if particle.meta_color %}color: {{particle.meta_color}};{% endif %}{% if particle.meta_fontsize %} font-size: {{particle.meta_fontsize}}px;{% endif %} }{% endif %}
{% if particle.grid_parallax != '' and particle.grid_type == 'grid' %}.tm-content-{{id}} {box-sizing: content-box;}{% endif %}
</style>
{% endblock %}

{# set Viewport Height #}
{% set viewport_height %}
{% if particle.viewport_height == 'none' %}
{% elseif particle.viewport_height == 'full' %}
jl-height-viewport="offset-top: true"
{% elseif particle.viewport_height == 'percent' %}
jl-height-viewport="offset-top: true;offset-bottom: 20"
{% elseif particle.viewport_height == 'section' %}
jl-height-viewport="offset-top: true;offset-bottom: 50"
{% elseif particle.viewport_height == 'expand' %}
jl-height-viewport="expand: true"
{% endif %}
{% endset %}

{# Set Title Text Transform #}
{% set title_text_transform %}
{% if particle.title_text_transform %} jl-text-{{particle.title_text_transform|e}}{% endif %}
{% endset %}

{# Set Meta Text Transform #}
{% set meta_text_transform %}
{% if particle.meta_text_transform %} jl-text-{{particle.meta_text_transform|e}}{% endif %}
{% endset %}

{# Set Content Text Transform #}
{% set content_text_transform %}
{% if particle.content_text_transform %} jl-text-{{particle.content_text_transform|e}}{% endif %}
{% endset %}

{# set padding #}
{% set padding %}
{% if particle.viewport_height == 'full' %}
{% else %}
{% if particle.padding == 'default' %}{% else %} jl-section-{{particle.padding|e}}{% endif %}
{% endif %}
{% endset %}

{# set Container #}
{% set container %}
{% if particle.container == '1' %}
<div class="jl-container"><div class="g5-content g5-particle">{% endif %}
{% endset %}

{# set End Container #}
{% set endcontainer %}
{% if particle.container == '1' %}
</div></div>{% endif %}
{% endset %}

{# set Background color #}
{% set parallax_bg_color %}
{% if particle.parallax_bg_color %}
style="background-color: {{particle.parallax_bg_color}};"{% endif %}
{% endset %}

{# Set Max-Width Content #}
{% set content_maxwidth %}
{% if particle.g_maxwidth != 'inherit' %} jl-width-{{particle.g_maxwidth}}{% if particle.g_maxwidth_breakpoint != 'always' %}@{{particle.g_maxwidth_breakpoint}}{% endif %}{% if particle.g_maxwidth_alignment == 'left' %}{% elseif particle.g_maxwidth_alignment == 'center' %} jl-margin-auto{% else %} jl-margin-auto-left{% endif %}{% endif %}
{% endset %}

{# set Parallax Background #}
{% set parallaxbackground %}
{% if particle.parallax_image %}
<div data-src="{{ url(particle.parallax_image)|e }}" class="{{id}} jl-background-norepeat{{padding}}{{content_maxwidth}} jl-background-{{particle.background_image_position|e}}{% if particle.background_image_size != 'auto' %} jl-background-{{particle.background_image_size|e}}{% endif %}{% if particle.parallax_bg_visibility != 'always' %} jl-background-image@{{particle.parallax_bg_visibility|e}}{% endif %}{% if particle.vertical_alignment != 'none' %} jl-flex jl-flex-{{particle.vertical_alignment|e}}{% endif %}{% if particle.parallax_text_color != 'default' %} jl-{{particle.parallax_text_color|e}}{% endif %}{% if particle.blendmode != 'inherit' %} jl-background-blend-{{particle.blendmode|e}}{% endif %}" {{parallax_bg_color}}{% if particle.horizontal_start or particle.horizontal_end or particle.vertical_start or particle.vertical_end %} jl-parallax="{% if particle.horizontal_start or particle.horizontal_end %}bgx: {{particle.horizontal_start|e}},{{particle.horizontal_end|e}};{% endif %}{% if particle.vertical_start or particle.vertical_end %}bgy: {{particle.vertical_start|e}},{{particle.vertical_end|e}};{% endif %}{% if particle.parallax_bg_breakpoint != 'always' %} media: @{{particle.parallax_bg_breakpoint|e}}{% endif %}" {% endif %} jl-img {{viewport_height}}>
{{container}}
{% endif %}
{% endset %}

{# End Parallax Background #}
{% set endparallaxbackground %}
{% if particle.parallax_image %}
{{endcontainer}}
</div>
{% endif %}
{% endset %}

{# Set Horizontal #}
{% set pahorizontal %}
{% if particle.pa_horizontal_start or particle.pa_horizontal_end %}x: {% if particle.pa_horizontal_start == '' %}0{% else %}{{particle.pa_horizontal_start }}{% endif %},{% if particle.pa_horizontal_end == '' %}0{% else %}{{particle.pa_horizontal_end }}{% endif %};{% endif %}
{% endset %}

{# Set Vertical #}
{% set pavertical %}
{% if particle.pa_vertical_start or particle.pa_vertical_end %}y: {% if particle.pa_vertical_start == '' %}0{% else %}{{particle.pa_vertical_start }}{% endif %},{% if particle.pa_vertical_end == '' %}0{% else %}{{particle.pa_vertical_end }}{% endif %};{% endif %}
{% endset %}

{# Set Scale #}
{% set scale %}
{% if particle.scale_start or particle.scale_end %}scale: {% if particle.scale_start == '' %}1{% else %}{{particle.scale_start / 100 }}{% endif %},{% if particle.scale_end == '' %}1{% else %} {{particle.scale_end / 100 }}{% endif %};{% endif %}
{% endset %}

{# Set Rotate #}
{% set rotate %}{% if particle.rotate_start or particle.rotate_end %}
rotate: {% if particle.rotate_start == '' %}0{% else %}{{particle.rotate_start}}{% endif %},{% if particle.rotate_end == '' %}0{% else %}{{particle.rotate_end}}{% endif %};{% endif %}
{% endset %}

{# Set Opacity #}
{% set opacity %}
{% if particle.opacity_start or particle.opacity_end %}opacity: {% if particle.opacity_start == '' %}1{% else %}{{particle.opacity_start / 100 }}{% endif %},{% if particle.opacity_end == '' %}1{% else %}{{particle.opacity_end / 100 }}{% endif %};{% endif %}
{% endset %}

{# set Scrollspy Animation #}
{% set scrollspy_cls %}
{% if particle.delay_element_animations == '1' %} jl-scrollspy-class{% endif %}
{% endset %}

{# set Animation #}
{% set animation %}
{% if particle.animation == 'parallax' %}
{% if particle.pa_horizontal_start or particle.pa_horizontal_end or particle.pa_vertical_start or particle.pa_vertical_end or particle.scale_start or particle.scale_end or particle.rotate_start or particle.rotate_end or particle.opacity_start or particle.opacity_end or particle.easing or particle.pa_viewport or particle.pa_breakpoint %} jl-parallax="{{pahorizontal}}{{pavertical}}{{scale}}{{rotate}}{{opacity}}{% if particle.easing == '' %}{% else %}easing: {{ particle.easing / 100 }};{% endif %}{% if particle.pa_viewport != '' %}viewport:{{ particle.pa_viewport / 100 }};{% endif %}{% if particle.pa_breakpoint != 'always' %}media: @{{particle.pa_breakpoint|e}}{% endif %}"{% endif %}
{% else %}
{% if particle.animation != 'inherit' %}
{% if particle.delay_element_animations == '1' %} jl-scrollspy="target: [jl-scrollspy-class]; cls: jl-animation-{{particle.animation|e}};{% if particle.animation_repeat != 'disabled' %} repeat: true;{% endif %}{% if particle.animation_delay != '' %} delay: {{particle.animation_delay|e}};{% else %} delay: 200;{% endif %}"{% else %} jl-scrollspy="cls: jl-animation-{{particle.animation|e}};{% if particle.animation_repeat != 'disabled' %} repeat: true;{% endif %}{% if particle.animation_delay != '' %} delay: {{particle.animation_delay|e}};{% endif %}"{% endif %}
{% endif %}
{% endif %}
{% endset %}

{# Set Particle Alignment #}
{% set particle_alignment %}
{% if particle.align != 'inherit' %} jl-text-{{particle.align|e}}{% if particle.breakpoint != 'always' %}@{{particle.breakpoint|e}}{% endif %}{% endif %}{% if particle.align != 'inherit' and particle.breakpoint != 'always' %}{% if particle.fallback != 'inherit' %} jl-text-{{particle.fallback|e}}{% endif %}{% endif %}
{% endset %}

{# set Particle Title Style #}
{% set particle_title_style %}
{% if particle.particle_title %}
<{{particle.particle_title_element|e}} id="{{ id }}" class="g5-particle-title{% if particle.particle_title_align != 'inherit' %} jl-text-{{particle.particle_title_align|e}}{% endif %}{% if particle.particle_predefined_color != 'default' %} jl-text-{{particle.particle_predefined_color|e}}{% endif %}{% if particle.particle_title_style != 'default' %} jl-{{particle.particle_title_style|e}}{% endif %}{% if particle.particle_title_decoration != 'none' %} jl-heading-{{particle.particle_title_decoration|e}}{% endif %}">
{% if particle.particle_title_decoration == 'line' %} <span>{{particle.particle_title|raw}}</span>
{% else %} {{particle.particle_title|raw}}
{% endif %}
</{{particle.particle_title_element|e}}>
{% endif %}
{% endset %}

{% set slider_animation_set %}
{% if particle.slider_animation_set == 'enabled' %}
sets: true;{% endif %}
{% endset %}

{% set slider_animation_center %}
{% if particle.slider_animation_center == 'enabled' %}
center: true;{% endif %}
{% endset %}

{% set slider_animation_finite %}
{% if particle.slider_animation_finite == 'enabled' %}
finite: true;{% else %}{% endif %}
{% endset %}

{% set slider_animation_autoplay %}
{% if particle.slider_animation_autoplay == 'enabled' %}
autoplay: true;{% endif %}
{% endset %}

{% set slider_animation_interval %}
{% if particle.slider_animation_interval %}
autoplay-interval: {{ particle.slider_animation_interval * 1000 }};{% endif %}
{% endset %}

{% set imagewidth %}
		{% if particle.image_width != '' %}
    width = "{{particle.image_width}}"
    {% endif %}
{% endset %}

{% set imageheight %}
		{% if particle.image_height != '' %}
    height = "{{particle.image_height}}"
    {% endif %}
{% endset %}

{# Set Masonry #}
{% set grid_masonry %}
{% if particle.grid_masonry == '1' %}
masonry: true;{% endif %}
{% endset %}

{# Set Parallax #}
{% set grid_parallax %}
{% if particle.grid_parallax != '' %}
parallax: {{particle.grid_parallax}}{% endif %}
{% endset %}


{# Set Item Content #}
{% set itemcontent %}
{% for item in particle.items %}
{% set linkscroll %}
{% if item.buttonlink|e matches '/#/' %} jl-scroll{% endif %}
{% endset %}

{# Set Button Class #}
{% set button_cls %}
{% if item.buttonclass == 'link' %}jl-link{% elseif item.buttonclass == 'link-muted' or item.buttonclass == 'link-text' %}jl-{{item.buttonclass|e}}{% else %}jl-button jl-button-{{item.buttonclass|e}}{% endif %}
{% endset %}

{# Set Button Size #}
{% set button_size %}
{% if item.buttonclass == 'link' or item.buttonclass == 'link-muted' or item.buttonclass == 'link-text' or item.buttonclass == 'text' %}{% else %}{% if particle.link_button_size != 'default' %} jl-button-{{particle.link_button_size|e}}{% endif %}{% endif %}
{% endset %}

{% if particle.grid_type == 'slider' %}

{% if item.bgcolor != '' %}
<li class="tm-pricing-table-{{loop.index}}{% if particle.phone_portrait %} jl-width-1-{{ particle.phone_portrait|e }}{% endif %}{% if particle.phone_landscape != 'inherit' %} jl-width-1-{{ particle.phone_landscape|e }}@s{% endif %}{% if particle.tablet_landscape != 'inherit' %} jl-width-1-{{ particle.tablet_landscape|e }}@m{% endif %}{% if particle.desktop != 'inherit' %} jl-width-1-{{ particle.desktop|e }}@l{% endif %}{% if particle.large_desktop != 'inherit' %} jl-width-1-{{ particle.large_desktop|e }}@xl{% endif %}">
{% else %}
<li class="tm-item{% if particle.phone_portrait %} jl-width-1-{{ particle.phone_portrait|e }}{% endif %}{% if particle.phone_landscape != 'inherit' %} jl-width-1-{{ particle.phone_landscape|e }}@s{% endif %}{% if particle.tablet_landscape != 'inherit' %} jl-width-1-{{ particle.tablet_landscape|e }}@m{% endif %}{% if particle.desktop != 'inherit' %} jl-width-1-{{ particle.desktop|e }}@l{% endif %}{% if particle.large_desktop != 'inherit' %} jl-width-1-{{ particle.large_desktop|e }}@xl{% endif %}">
{% endif %}

{% else %}

{% if item.bgcolor != '' %}
<div class="tm-pricing-table-{{loop.index}}{% if particle.phone_portrait %} jl-width-1-{{ particle.phone_portrait|e }}{% endif %}{% if particle.phone_landscape != 'inherit' %} jl-width-1-{{ particle.phone_landscape|e }}@s{% endif %}{% if particle.tablet_landscape != 'inherit' %} jl-width-1-{{ particle.tablet_landscape|e }}@m{% endif %}{% if particle.desktop != 'inherit' %} jl-width-1-{{ particle.desktop|e }}@l{% endif %}{% if particle.large_desktop != 'inherit' %} jl-width-1-{{ particle.large_desktop|e }}@xl{% endif %}">
	{% else %}
	<div class="tm-item{% if particle.phone_portrait %} jl-width-1-{{ particle.phone_portrait|e }}{% endif %}{% if particle.phone_landscape != 'inherit' %} jl-width-1-{{ particle.phone_landscape|e }}@s{% endif %}{% if particle.tablet_landscape != 'inherit' %} jl-width-1-{{ particle.tablet_landscape|e }}@m{% endif %}{% if particle.desktop != 'inherit' %} jl-width-1-{{ particle.desktop|e }}@l{% endif %}{% if particle.large_desktop != 'inherit' %} jl-width-1-{{ particle.large_desktop|e }}@xl{% endif %}">
{% endif %}

{% endif %}

<div class="tm-item-inner jl-card jl-card-default"{{scrollspy_cls}}>

	<div class="tm-price-header{% if item.bgimage or item.bgcolor %}{% if item.inverse != 'default' %} jl-{{item.inverse}}{% endif %}{% endif %}{% if item.bgimage %}{% if item.background_blendmode != 'inherit' %} jl-background-blend-{{item.background_blendmode}} jl-background-primary jl-background-cover{% endif %}{% if item.background_position != 'auto' %} jl-background-{{item.background_position}}{% endif %}{% endif %}"{% if item.bgimage %} style="background-image: url('{{ url(item.bgimage) }}');"{% endif %}>

		{% if item.title %}
		<{{particle.title_element|e}} class="tm-title jl-margin-remove-bottom{{title_text_transform}}{% if particle.title_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.title_margin_top|e }}-top{% endif %}{% if particle.title_color != 'default' %} jl-text-{{particle.title_color|e}}{% endif %}{% if particle.title_style != 'default' %} jl-{{particle.title_style|e}}{% endif %}{% if particle.title_decoration != 'none' %} jl-heading-{{particle.title_decoration|e}}{% endif %}">
		{% if particle.title_decoration == 'line' %} <span>{{ item.title|raw }}</span>
		{% else %}
		{{ item.title|raw }}
		{% endif %}
		</{{particle.title_element|e}}>
	{% endif %}

	{% if item.meta %}
	<div class="tm-meta{{meta_text_transform}}{% if particle.meta_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.meta_margin_top|e }}-top{% endif %}{% if particle.pre_meta_color != 'default' %} jl-text-{{ particle.pre_meta_color|e }}{% endif %}{% if particle.meta_style != 'default' %} jl-{{ particle.meta_style|e }}{% endif %}">
	{{item.meta|raw}}
</div>
{% endif %}

{% if item.price %}
<{{particle.price_element|e}} class="tm-price jl-margin-remove-adjacent{% if particle.price_color != 'default' %} jl-text-{{particle.price_color|e}}{% endif %}{% if particle.price_style != 'default' %} jl-{{particle.price_style|e}}{% endif %}{% if particle.price_margin == 'default' %} jl-margin{% else %} jl-margin-{{ particle.price_margin|e }}{% endif %}">
{{ item.price|raw }}<span class="tm-pricing-symbol">{{item.price_symbol|e}}</span>
</{{particle.price_element|e}}>
{% endif %}
{% if item.subtitle %}
<div class="tm-content jl-panel{{content_text_transform}}{% if particle.content_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.content_margin_top|e }}-top{% endif %}{% if particle.content_style != 'default' %} jl-text-{{ particle.content_style|e }}{% endif %}{% if particle.content_text_color != 'default' %} jl-text-{{ particle.content_text_color|e }}{% endif %}">{{ item.subtitle|raw }}</div>
{% endif %}
</div>

<div class="tm-pricing-body jl-margin-remove-first-child{% if item.body_inverse != 'default' %} jl-{{item.body_inverse|e}}{% endif %}">
<ul class="tm-feature-list{% if particle.feature_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.feature_margin_top|e }}-top{% endif %} jl-list{% if particle.list_style != 'default' %} jl-list-{{particle.list_style|e}}{% endif %}{% if particle.large_padding == '1' %} jl-list-large{% endif %}">
{% for detail in item.details %}
<li class="tm-feature-item">
{% if detail.icon %}<span jl-icon="icon: {{ detail.icon }}"></span><span class="jl-text-middle">{{detail.text|raw}}</span>{% else %}{{detail.text|raw}}{% endif %}
</li>
{% endfor %}
</ul>

<div class="tm-price-button{% if particle.button_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.button_margin_top|e }}-top{% endif %}">
{% if item.buttontext != '' %}
<a target="{{ item.buttontarget|default('_self')|e }}" href="{{ item.buttonlink|e }}" class="{{button_cls}}{{button_size}}{% if particle.fullwidth == '1' %} jl-width-1-1{% endif %}"{{linkscroll}}>{{item.buttontext|raw}}</a>
{% endif %}
</div>

</div>

{% if item.featured_text %}

<div class="tm-price-table_featured f-{{loop.index}}">
	<div class="tm-price-table_featured-inner">{{ item.featured_text }}</div>
</div>
{% endif %}

</div>

{% if particle.grid_type == 'slider' %}
</li>
{% else %}
</div>
{% endif %}
{% endfor %}
{% endset %}

{% block particle %}
{% if particle.enabled %}
{{parallaxbackground}}
{{particle_title_style}}
{% if particle.grid_type == 'slider' %}
<div id="{{ id }}" class="tm-content-{{id}}{{content_maxwidth}}{% if particle.class %} {{ particle.class }}{% endif %}{{particle_alignment}}{% if particle.margin == 'inherit' %}{% elseif particle.margin == 'default' %} jl-margin{% else %} jl-margin-{{particle.margin|e}}{% endif %}{% if particle.visibility != 'inherit' %} jl-visible@{{particle.visibility|e}}{% endif %}" jl-slider="{{slider_animation_set}}{{slider_animation_center}}{{slider_animation_finite}}{{slider_animation_autoplay}}{{slider_animation_interval}}"{{animation}}{% if particle.toggle_hidden %} hidden{% endif %}>

	<div class="jl-position-relative">

	{# Load Outside container #}

	{% if particle.slidenav_position == 'outside' %}
	<div class="jl-slider-container">
{% endif %}

{# End outside #}

<ul class="jl-slider-items jl-grid jl-grid-match{% if particle.grid_divider == '1' %} jl-grid-divider{% endif %}{% if particle.grid_gutter != 'default' %} jl-grid-{{ particle.grid_gutter|e }}{% endif %}"{{slider_viewport}}>
{{itemcontent}}
</ul>

{% if particle.slidenav_position == 'outside' %}
</div>
{% endif %}

{# Slidenav #}
{% if particle.slidenav_position == 'none' %}
{% else %}
	{% if particle.slidenav_position == 'default' %}
	<div class="{% if particle.slidenav_breakpoint != 'always' %}jl-visible@{{particle.slidenav_breakpoint|e}}{% endif %}">
		<a class="tm-slidenav{% if particle.slidenav_margin != 'none' %} jl-position-{{ particle.slidenav_margin|e }}{% endif %} jl-position-center-left" href="#" jl-slidenav-previous jl-slider-item="previous"></a>
		<a class="tm-slidenav{% if particle.slidenav_margin != 'none' %} jl-position-{{ particle.slidenav_margin|e }}{% endif %} jl-position-center-right" jl-slidenav-next href="#" jl-slider-item="next"></a>
	</div>
{% elseif particle.slidenav_position == 'outside' %}
<div class="{% if particle.slidenav_breakpoint != 'always' %}jl-visible@{{particle.slidenav_breakpoint|e}}{% endif %}">
	<a class="tm-slidenav{% if particle.slidenav_margin != 'none' %} jl-position-{{ particle.slidenav_margin|e }}{% endif %} jl-position-center-left" href="#" jl-slidenav-previous jl-slider-item="previous" jl-toggle="cls: jl-position-center-left-out jl-position-center-left; mode: media; media:{% if particle.slidenav_outsite_breakpoint != 'always' %} @{{particle.slidenav_outsite_breakpoint|e}}{% endif %}"></a>
	<a class="tm-slidenav{% if particle.slidenav_margin != 'none' %} jl-position-{{ particle.slidenav_margin|e }}{% endif %} jl-position-center-right" href="#" jl-slidenav-next jl-slider-item="next" jl-toggle="cls: jl-position-center-right-out jl-position-center-right; mode: media; media:{% if particle.slidenav_outsite_breakpoint != 'always' %} @{{particle.slidenav_outsite_breakpoint|e}}{% endif %}"></a>
</div>
{% else %}
<div class="jl-slidenav-container{% if particle.slidenav_margin != 'none' %} jl-position-{{ particle.slidenav_margin|e }}{% endif %} jl-position-{{ particle.slidenav_position|e }}{% if particle.slidenav_breakpoint != 'always' %} jl-visible@{{particle.slidenav_breakpoint|e}}{% endif %}">
	<a class="tm-slidenav" href="#" jl-slidenav-previous jl-slider-item="previous"></a>
	<a class="tm-slidenav" href="#" jl-slidenav-next jl-slider-item="next"></a>
</div>
{% endif %}
{% endif %}
{# End Slidenav #}

</div>

{# Navigation #}
{% if particle.navigation == 'enabled' %}
{% if particle.navigation_color == 'default' %}
{% else %}
<div class="jl-{{particle.navigation_color|e}}">
{% endif %}
<ul class="tm-nav jl-slider-nav jl-dotnav{% if particle.navigation_position %} jl-flex-{{ particle.navigation_position|e }}{% endif %}{% if particle.navigation_margin %} jl-margin-{{ particle.navigation_margin|e }}{% endif %}{% if particle.navigation_breakpoint != 'always' %} jl-visible@{{particle.navigation_breakpoint|e}}{% endif %}" jl-margin>
{% for item in particle.carouselitems %}
<li jl-slider-item="{{ loop.index0 }}">{% if item.image_alt %}<a href="#" jl-tooltip="{{ item.image_alt|raw }}"></a> {% else %} <a href="#"></a> {% endif %}</li>
{% endfor %}
</ul>
{% if particle.navigation_color == 'default' %}
{% else %}
</div>
{% endif %}
{% endif %}
{# End Navigation #}

</div>

{% else %}
<div id="{{ id }}" class="tm-content-{{id}}{{content_maxwidth}}{% if particle.class %} {{ particle.class }}{% endif %}{% if particle.grid_divider == '1' %} jl-grid-divider{% endif %}{% if particle.grid_gutter != 'default' %} jl-grid-{{ particle.grid_gutter|e }}{% endif %}{% if particle.phone_portrait %} jl-child-width-1-{{ particle.phone_portrait|e }}{% endif %}{% if particle.phone_landscape != 'inherit' %} jl-child-width-1-{{ particle.phone_landscape|e }}@s{% endif %}{% if particle.tablet_landscape != 'inherit' %} jl-child-width-1-{{ particle.tablet_landscape|e }}@m{% endif %}{% if particle.desktop != 'inherit' %} jl-child-width-1-{{ particle.desktop|e }}@l{% endif %}{% if particle.large_desktop != 'inherit' %} jl-child-width-1-{{ particle.large_desktop|e }}@xl{% endif %}{% if particle.align != 'inherit' %} jl-text-{{particle.align|e}}{% if particle.breakpoint != 'always' %}@{{particle.breakpoint|e}}{% endif %}{% endif %}{% if particle.fallback != 'inherit' %} jl-text-{{particle.fallback|e}}{% endif %}{% if particle.margin == 'inherit' %}{% elseif particle.margin == 'default' %} jl-margin{% else %} jl-margin-{{particle.margin|e}}{% endif %}{% if particle.visibility != 'inherit' %} jl-visible@{{particle.visibility|e}}{% endif %}{% if particle.grid_type == 'grid' %} jl-grid-match{% endif %}"{{animation}} jl-grid="{{grid_masonry}}{{grid_parallax}}"{% if particle.toggle_hidden %} hidden{% endif %}>
{{itemcontent}}
</div>
{% endif %}
{{endparallaxbackground}}
{% endif %}
{% endblock %}
