{% extends '@nucleus/partials/particle.html.twig' %}

{% block stylesheets %}
{% if particle.particle_title_color or particle.particle_title_fontsize or particle.title_color or particle.title_fontsize or particle.customize_content_color or particle.customize_content_fontsize or particle.meta_color or particle.meta_fontsize %}
<style>
{% if particle.particle_title_color or particle.particle_title_fontsize %}
#{{ id }}.g5-particle-title { {% if particle.particle_title_color %}color: {{ particle.particle_title_color }};{% endif %}{% if particle.particle_title_fontsize %}font-size: {{particle.particle_title_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.title_color or particle.title_fontsize %}
#{{ id }} .tm-title { {% if particle.title_color %}color: {{particle.title_color}}; {% endif %}{% if particle.title_fontsize %}font-size: {{particle.title_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.customize_content_color or particle.customize_content_fontsize %}
#{{ id }} .tm-content { {% if particle.customize_content_color %}color: {{particle.customize_content_color}};{% endif %}{% if particle.customize_content_fontsize %} font-size: {{particle.customize_content_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.meta_color or particle.meta_fontsize %}
#{{ id }} .tm-meta { {% if particle.meta_color %}color: {{particle.meta_color}};{% endif %}{% if particle.meta_fontsize %} font-size: {{particle.meta_fontsize}}px;{% endif %} }
{% endif %}
</style>
{% endif %}
{% endblock %}

{% set attr_extra = particle.extra|attribute_array %}
{% set article_settings = particle.article %}
{% set filter = article_settings.filter %}
{% set sort = article_settings.sort %}
{% set limit = article_settings.limit %}
{% set display = article_settings.display %}

{# Category Finder #}
{% set category_options = filter.categories ? {id: [filter.categories|split(','), 0]} : {} %}
{% set categories = joomla.finder('category', category_options).published(1).language().limit(0).find() %}

{# Content Finder #}
{% if filter.articles %}
{% set article_options = filter.articles ? {id: [filter.articles|replace(' ', '')|split(',')]} : {} %}
{% set article_finder = joomla.finder('content', article_options).published(1).language() %}
{% else %}
{% set article_finder = joomla.finder('content').category(categories).published(1).language() %}
{% endif %}

{% set featured = filter.featured|default('include') %}
{% if featured == 'exclude' %}
{% do article_finder.featured(false) %}
{% elseif featured == 'only' %}
{% do article_finder.featured(true) %}
{% endif %}

{% set start = limit.start + max(0, ajax.start|int) %}
{% do article_finder.order(sort.orderby, sort.ordering).limit(limit.total).start(start) %}
{% set total = article_finder.count() %}
{% set articles = article_finder.find() %}

{% set slideshow_min_height %}
{% if particle.slideshow_min_height != '' %}minHeight: {{particle.slideshow_min_height}};{% endif %}
{% endset %}

{% set slideshow_max_height %}
{% if particle.slideshow_max_height != '' %}maxHeight: {{particle.slideshow_max_height}};{% endif %}
{% endset %}

{# set Viewport Slideshow #}
{% set slideshow_height %}
{% if particle.slideshow_height == 'auto' %}
{% elseif particle.slideshow_height == 'full' %}
jl-height-viewport="offset-top: true;{{slideshow_min_height}}"
{% elseif particle.slideshow_height == 'percent' %}
jl-height-viewport="offset-top: true;offset-bottom: 20;{{slideshow_min_height}}"
{% elseif particle.slideshow_height == 'section' %}
jl-height-viewport="offset-top: true;offset-bottom: !section +;{{slideshow_min_height}}"
{% endif %}
{% endset %}

{# Set Ratio #}
{% set slideshow_ratio %}
{% if particle.slideshow_ratio != '' %}ratio: {{particle.slideshow_ratio}};{% endif %}
{% endset %}

{# Set Global Slideshow Color #}
{% set slideshow_text_color %}
{% if particle.overlay_style == 'none' %}
{% if particle.slideshow_text_color != 'default' %} jl-{{particle.slideshow_text_color}}{% endif %}
{% endif %}
{% endset %}

{# Set Title Text Transform #}
{% set title_text_transform %}
{% if particle.title_text_transform %} jl-text-{{particle.title_text_transform|e}}{% endif %}
{% endset %}

{# Set Meta Text Transform #}
{% set meta_text_transform %}
{% if particle.meta_text_transform %} jl-text-{{particle.meta_text_transform|e}}{% endif %}
{% endset %}

{# Set Content Text Transform #}
{% set content_text_transform %}
{% if particle.content_text_transform %} jl-text-{{particle.content_text_transform|e}}{% endif %}
{% endset %}

{# Set Global Animation #}
{% set pahorizontal %}
{% if particle.pa_horizontal_start or particle.pa_horizontal_end %}x: {% if particle.pa_horizontal_start == '' %}0{% else %}{{particle.pa_horizontal_start }}{% endif %},{% if particle.pa_horizontal_end == '' %}0{% else %}{{particle.pa_horizontal_end }}{% endif %};{% endif %}
{% endset %}

{# Set Vertical #}
{% set pavertical %}
{% if particle.pa_vertical_start or particle.pa_vertical_end %}y: {% if particle.pa_vertical_start == '' %}0{% else %}{{particle.pa_vertical_start }}{% endif %},{% if particle.pa_vertical_end == '' %}0{% else %}{{particle.pa_vertical_end }}{% endif %};{% endif %}
{% endset %}

{# Set Scale #}
{% set scale %}
{% if particle.scale_start or particle.scale_end %}scale: {% if particle.scale_start == '' %}1{% else %}{{particle.scale_start / 100 }}{% endif %},{% if particle.scale_end == '' %}1{% else %} {{particle.scale_end / 100 }}{% endif %};{% endif %}
{% endset %}

{# Set Rotate #}
{% set rotate %}{% if particle.rotate_start or particle.rotate_end %}
rotate: {% if particle.rotate_start == '' %}0{% else %}{{particle.rotate_start}}{% endif %},{% if particle.rotate_end == '' %}0{% else %}{{particle.rotate_end}}{% endif %};{% endif %}
{% endset %}

{# Set Opacity #}
{% set opacity %}
{% if particle.opacity_start or particle.opacity_end %}opacity: {% if particle.opacity_start == '' %}1{% else %}{{particle.opacity_start / 100 }}{% endif %},{% if particle.opacity_end == '' %}1{% else %}{{particle.opacity_end / 100 }}{% endif %};{% endif %}
{% endset %}

{# set Animation #}
{% set animation %}
{% if particle.animation == 'parallax' %}
{% if particle.pa_horizontal_start or particle.pa_horizontal_end or particle.pa_vertical_start or particle.pa_vertical_end or particle.scale_start or particle.scale_end or particle.rotate_start or particle.rotate_end or particle.opacity_start or particle.opacity_end or particle.easing or particle.pa_viewport or particle.pa_breakpoint %} jl-parallax="{{pahorizontal}}{{pavertical}}{{scale}}{{rotate}}{{opacity}}{% if particle.easing == '' %}{% else %}easing: {{ particle.easing / 100 }};{% endif %}{% if particle.pa_viewport != '' %}viewport:{{ particle.pa_viewport / 100 }};{% endif %}{% if particle.pa_breakpoint != 'always' %}media: @{{particle.pa_breakpoint|e}}{% endif %}"{% endif %}
{% else %}
{% if particle.animation != 'inherit' %} jl-scrollspy="cls:jl-animation-{{particle.animation|e}}{% if particle.animation_repeat != 'disabled' %}; repeat: true{% endif %}{% if particle.animation_delay != '' %}; delay: {{particle.animation_delay|e}}{% endif %}"{% endif %}
{% endif %}
{% endset %}

{# Set Max-Width Content #}
{% set content_maxwidth %}
{% if particle.g_maxwidth != 'inherit' %} jl-width-{{particle.g_maxwidth}}{% if particle.g_maxwidth_breakpoint != 'always' %}@{{particle.g_maxwidth_breakpoint}}{% endif %}{% if particle.g_maxwidth_alignment == 'left' %}{% elseif particle.g_maxwidth_alignment == 'center' %} jl-margin-auto{% else %} jl-margin-auto-left{% endif %}{% endif %}
{% endset %}

{# Set Particle Alignment #}
{% set particle_alignment %}
{% if particle.align != 'inherit' %} jl-text-{{particle.align|e}}{% if particle.breakpoint != 'always' %}@{{particle.breakpoint|e}}{% endif %}{% endif %}{% if particle.align != 'inherit' and particle.breakpoint != 'always' %}{% if particle.fallback != 'inherit' %} jl-text-{{particle.fallback|e}}{% endif %}{% endif %}
{% endset %}

{# set Particle Title Style #}
{% set particle_title_style %}
{% if particle.particle_title %}
<{{particle.particle_title_element|e}} id="{{ id }}" class="g5-particle-title{% if particle.particle_title_align != 'inherit' %} jl-text-{{particle.particle_title_align|e}}{% endif %}{% if particle.particle_predefined_color != 'default' %} jl-text-{{particle.particle_predefined_color|e}}{% endif %}{% if particle.particle_title_style != 'default' %} jl-{{particle.particle_title_style|e}}{% endif %}{% if particle.particle_title_decoration != 'none' %} jl-heading-{{particle.particle_title_decoration|e}}{% endif %}">
{% if particle.particle_title_decoration == 'line' %} <span>{{particle.particle_title|raw}}</span>
{% else %} {{particle.particle_title|raw}}
{% endif %}
</{{particle.particle_title_element|e}}>
{% endif %}
{% endset %}

{# Set Horizontal #}
{% set pa_overlay_horizontal %}
{% if particle.pa_overlay_horizontal_start or particle.pa_overlay_horizontal_end %}x: {% if particle.pa_overlay_horizontal_start == '' %}0{% else %}{{particle.pa_overlay_horizontal_start|e }}{% endif %},0,{% if particle.pa_overlay_horizontal_end == '' %}0{% else %}{{particle.pa_overlay_horizontal_end|e }}{% endif %};{% endif %}
{% endset %}

{# Set Vertical #}
{% set pa_overlay_vertical %}
{% if particle.pa_overlay_vertical_start or particle.pa_overlay_vertical_end %}y: {% if particle.pa_overlay_vertical_start == '' %}0{% else %}{{particle.pa_overlay_vertical_start|e }}{% endif %},0,{% if particle.pa_overlay_vertical_end == '' %}0{% else %}{{particle.pa_overlay_vertical_end|e }}{% endif %};{% endif %}
{% endset %}

{# Set Scale #}
{% set pa_overlay_scale %}
{% if particle.pa_overlay_scale_start or particle.pa_overlay_scale_end %}scale: {% if particle.pa_overlay_scale_start == '' %}1{% else %}{{particle.pa_overlay_scale_start|e / 100 }}{% endif %},1,{% if particle.pa_overlay_scale_end == '' %}1{% else %}{{particle.pa_overlay_scale_end|e / 100 }}{% endif %};{% endif %}
{% endset %}

{# Set Rotate #}
{% set pa_overlay_rotate %}{% if particle.pa_overlay_rotate_start or particle.pa_overlay_rotate_end %}
rotate: {% if particle.pa_overlay_rotate_start == '' %}0{% else %}{{particle.pa_overlay_rotate_start|e}}{% endif %},0,{% if particle.pa_overlay_rotate_end == '' %}0{% else %}{{particle.pa_overlay_rotate_end|e}}{% endif %};{% endif %}
{% endset %}

{# Set Opacity #}
{% set overlay_opacity %}
{% if particle.pa_overlay_opacity_start or particle.pa_overlay_opacity_end %}opacity: {% if particle.pa_overlay_opacity_start == '' %}1{% else %}{{particle.pa_overlay_opacity_start|e / 100 }}{% endif %},1,{% if particle.pa_overlay_opacity_end == '' %}1{% else %}{{particle.pa_overlay_opacity_end|e / 100 }}{% endif %};{% endif %}
{% endset %}

{# set Overlay Parallax Animation #}
{% set overlay_parallax_animation %}
{% if particle.overlay_transition == 'parallax' %}
{% if particle.pa_overlay_horizontal_start or particle.pa_overlay_horizontal_end or particle.pa_overlay_vertical_start or particle.pa_overlay_vertical_end or particle.pa_overlay_scale_start or particle.pa_overlay_scale_end or particle.pa_overlay_rotate_start or particle.pa_overlay_rotate_end or particle.pa_overlay_opacity_start or particle.pa_overlay_opacity_end %} jl-slideshow-parallax="{{pa_overlay_horizontal}}{{pa_overlay_vertical}}{{pa_overlay_scale}}{{pa_overlay_rotate}}{{overlay_opacity}}" {% endif %}
{% endif %}
{% endset %}

{# set Overlay Animation #}
{% set overlay_animation %}
{% if particle.overlay_transition != 'parallax' %} jl-transition-{{particle.overlay_transition}}{% endif %}
{% endset %}


{# Set Title Animation #}
{% set pa_title_horizontal %}
{% if particle.pa_title_horizontal_start or particle.pa_title_horizontal_end %}x: {% if particle.pa_title_horizontal_start == '' %}0{% else %}{{particle.pa_title_horizontal_start|e }}{% endif %},0,{% if particle.pa_title_horizontal_end == '' %}0{% else %}{{particle.pa_title_horizontal_end|e }}{% endif %};{% endif %}
{% endset %}

{# Set Vertical #}
{% set pa_title_vertical %}
{% if particle.pa_title_vertical_start or particle.pa_title_vertical_end %}y: {% if particle.pa_title_vertical_start == '' %}0{% else %}{{particle.pa_title_vertical_start|e }}{% endif %},0,{% if particle.pa_title_vertical_end == '' %}0{% else %}{{particle.pa_title_vertical_end|e }}{% endif %};{% endif %}
{% endset %}

{# Set Scale #}
{% set pa_title_scale %}
{% if particle.pa_title_scale_start or particle.pa_title_scale_end %}scale: {% if particle.pa_title_scale_start == '' %}1{% else %}{{particle.pa_title_scale_start|e / 100 }}{% endif %},1,{% if particle.pa_title_scale_end == '' %}1{% else %}{{particle.pa_title_scale_end|e / 100 }}{% endif %};{% endif %}
{% endset %}

{# Set Rotate #}
{% set pa_title_rotate %}{% if particle.pa_title_rotate_start or particle.pa_title_rotate_end %}
rotate: {% if particle.pa_title_rotate_start == '' %}0{% else %}{{particle.pa_title_rotate_start|e}}{% endif %},0,{% if particle.pa_title_rotate_end == '' %}0{% else %}{{particle.pa_title_rotate_end|e}}{% endif %};{% endif %}
{% endset %}

{# Set Opacity #}
{% set title_opacity %}
{% if particle.pa_title_opacity_start or particle.pa_title_opacity_end %}opacity: {% if particle.pa_title_opacity_start == '' %}1{% else %}{{particle.pa_title_opacity_start|e / 100 }}{% endif %},1,{% if particle.pa_title_opacity_end == '' %}1{% else %}{{particle.pa_title_opacity_end|e / 100 }}{% endif %};{% endif %}
{% endset %}

{# set Title Animation #}
{% set title_animation %}
{% if particle.title_parallax == '1' and particle.overlay_transition == 'parallax' %}
{% if particle.pa_title_horizontal_start or particle.pa_title_horizontal_end or particle.pa_title_vertical_start or particle.pa_title_vertical_end or particle.pa_title_scale_start or particle.pa_title_scale_end or particle.pa_title_rotate_start or particle.pa_title_rotate_end or particle.pa_title_opacity_start or particle.pa_title_opacity_end %} jl-slideshow-parallax="{{pa_title_horizontal}}{{pa_title_vertical}}{{pa_title_scale}}{{pa_title_rotate}}{{title_opacity}}" {% endif %}{% endif %}
{% endset %}

{# Set Horizontal #}
{% set pa_meta_horizontal %}
{% if particle.pa_meta_horizontal_start or particle.pa_meta_horizontal_end %}x: {% if particle.pa_meta_horizontal_start == '' %}0{% else %}{{particle.pa_meta_horizontal_start|e }}{% endif %},0,{% if particle.pa_meta_horizontal_end == '' %}0{% else %}{{particle.pa_meta_horizontal_end|e }}{% endif %};{% endif %}
{% endset %}

{# Set Vertical #}
{% set pa_meta_vertical %}
{% if particle.pa_meta_vertical_start or particle.pa_meta_vertical_end %}y: {% if particle.pa_meta_vertical_start == '' %}0{% else %}{{particle.pa_meta_vertical_start|e }}{% endif %},0,{% if particle.pa_meta_vertical_end == '' %}0{% else %}{{particle.pa_meta_vertical_end|e }}{% endif %};{% endif %}
{% endset %}

{# Set Scale #}
{% set pa_meta_scale %}
{% if particle.pa_meta_scale_start or particle.pa_meta_scale_end %}scale: {% if particle.pa_meta_scale_start == '' %}1{% else %}{{particle.pa_meta_scale_start|e / 100 }}{% endif %},1,{% if particle.pa_meta_scale_end == '' %}1{% else %}{{particle.pa_meta_scale_end|e / 100 }}{% endif %};{% endif %}
{% endset %}

{# Set Rotate #}
{% set pa_meta_rotate %}{% if particle.pa_meta_rotate_start or particle.pa_meta_rotate_end %}
rotate: {% if particle.pa_meta_rotate_start == '' %}0{% else %}{{particle.pa_meta_rotate_start|e}}{% endif %},0,{% if particle.pa_meta_rotate_end == '' %}0{% else %}{{particle.pa_meta_rotate_end|e}}{% endif %};{% endif %}
{% endset %}

{# Set Opacity #}
{% set meta_opacity %}
{% if particle.pa_meta_opacity_start or particle.pa_meta_opacity_end %}opacity: {% if particle.pa_meta_opacity_start == '' %}1{% else %}{{particle.pa_meta_opacity_start|e / 100 }}{% endif %},1,{% if particle.pa_meta_opacity_end == '' %}1{% else %}{{particle.pa_meta_opacity_end|e / 100 }}{% endif %};{% endif %}
{% endset %}

{# set Meta Animation #}
{% set meta_animation %}
{% if particle.meta_parallax == '1' and particle.overlay_transition == 'parallax' %}
{% if particle.pa_meta_horizontal_start or particle.pa_meta_horizontal_end or particle.pa_meta_vertical_start or particle.pa_meta_vertical_end or particle.pa_meta_scale_start or particle.pa_meta_scale_end or particle.pa_meta_rotate_start or particle.pa_meta_rotate_end or particle.pa_meta_opacity_start or particle.pa_meta_opacity_end %} jl-slideshow-parallax="{{pa_meta_horizontal}}{{pa_meta_vertical}}{{pa_meta_scale}}{{pa_meta_rotate}}{{meta_opacity}}" {% endif %}{% endif %}
{% endset %}

{# Set Horizontal #}
{% set pa_content_horizontal %}
{% if particle.pa_content_horizontal_start or particle.pa_content_horizontal_end %}x: {% if particle.pa_content_horizontal_start == '' %}0{% else %}{{particle.pa_content_horizontal_start|e }}{% endif %},0,{% if particle.pa_content_horizontal_end == '' %}0{% else %}{{particle.pa_content_horizontal_end|e }}{% endif %};{% endif %}
{% endset %}

{# Set Vertical #}
{% set pa_content_vertical %}
{% if particle.pa_content_vertical_start or particle.pa_content_vertical_end %}y: {% if particle.pa_content_vertical_start == '' %}0{% else %}{{particle.pa_content_vertical_start|e }}{% endif %},0,{% if particle.pa_content_vertical_end == '' %}0{% else %}{{particle.pa_content_vertical_end|e }}{% endif %};{% endif %}
{% endset %}

{# Set Scale #}
{% set pa_content_scale %}
{% if particle.pa_content_scale_start or particle.pa_content_scale_end %}scale: {% if particle.pa_content_scale_start == '' %}1{% else %}{{particle.pa_content_scale_start|e / 100 }}{% endif %},1,{% if particle.pa_content_scale_end == '' %}1{% else %}{{particle.pa_content_scale_end|e / 100 }}{% endif %};{% endif %}
{% endset %}

{# Set Rotate #}
{% set pa_content_rotate %}{% if particle.pa_content_rotate_start or particle.pa_content_rotate_end %}
rotate: {% if particle.pa_content_rotate_start == '' %}0{% else %}{{particle.pa_content_rotate_start|e}}{% endif %},0,{% if particle.pa_content_rotate_end == '' %}0{% else %}{{particle.pa_content_rotate_end|e}}{% endif %};{% endif %}
{% endset %}

{# Set Opacity #}
{% set content_opacity %}
{% if particle.pa_content_opacity_start or particle.pa_content_opacity_end %}opacity: {% if particle.pa_content_opacity_start == '' %}1{% else %}{{particle.pa_content_opacity_start|e / 100 }}{% endif %},1,{% if particle.pa_content_opacity_end == '' %}1{% else %}{{particle.pa_content_opacity_end|e / 100 }}{% endif %};{% endif %}
{% endset %}

{# set Content Animation #}
{% set content_animation %}
{% if particle.content_parallax == '1' and particle.overlay_transition == 'parallax' %}
{% if particle.pa_content_horizontal_start or particle.pa_content_horizontal_end or particle.pa_content_vertical_start or particle.pa_content_vertical_end or particle.pa_content_scale_start or particle.pa_content_scale_end or particle.pa_content_rotate_start or particle.pa_content_rotate_end or particle.pa_content_opacity_start or particle.pa_content_opacity_end %} jl-slideshow-parallax="{{pa_content_horizontal}}{{pa_content_vertical}}{{pa_content_scale}}{{pa_content_rotate}}{{content_opacity}}" {% endif %}{% endif %}
{% endset %}

{# Set Horizontal #}
{% set pa_link_horizontal %}
{% if particle.pa_link_horizontal_start or particle.pa_link_horizontal_end %}x: {% if particle.pa_link_horizontal_start == '' %}0{% else %}{{particle.pa_link_horizontal_start|e }}{% endif %},0,{% if particle.pa_link_horizontal_end == '' %}0{% else %}{{particle.pa_link_horizontal_end|e }}{% endif %};{% endif %}
{% endset %}

{# Set Vertical #}
{% set pa_link_vertical %}
{% if particle.pa_link_vertical_start or particle.pa_link_vertical_end %}y: {% if particle.pa_link_vertical_start == '' %}0{% else %}{{particle.pa_link_vertical_start|e }}{% endif %},0,{% if particle.pa_link_vertical_end == '' %}0{% else %}{{particle.pa_link_vertical_end|e }}{% endif %};{% endif %}
{% endset %}

{# Set Scale #}
{% set pa_link_scale %}
{% if particle.pa_link_scale_start or particle.pa_link_scale_end %}scale: {% if particle.pa_link_scale_start == '' %}1{% else %}{{particle.pa_link_scale_start|e / 100 }}{% endif %},1,{% if particle.pa_link_scale_end == '' %}1{% else %}{{particle.pa_link_scale_end|e / 100 }}{% endif %};{% endif %}
{% endset %}

{# Set Rotate #}
{% set pa_link_rotate %}{% if particle.pa_link_rotate_start or particle.pa_link_rotate_end %}
rotate: {% if particle.pa_link_rotate_start == '' %}0{% else %}{{particle.pa_link_rotate_start|e}}{% endif %},0,{% if particle.pa_link_rotate_end == '' %}0{% else %}{{particle.pa_link_rotate_end|e}}{% endif %};{% endif %}
{% endset %}

{# Set Opacity #}
{% set link_opacity %}
{% if particle.pa_link_opacity_start or particle.pa_link_opacity_end %}opacity: {% if particle.pa_link_opacity_start == '' %}1{% else %}{{particle.pa_link_opacity_start|e / 100 }}{% endif %},1,{% if particle.pa_link_opacity_end == '' %}1{% else %}{{particle.pa_link_opacity_end|e / 100 }}{% endif %};{% endif %}
{% endset %}

{# set Button Animation #}
{% set link_animation %}
{% if particle.link_parallax == '1' and particle.overlay_transition == 'parallax' %}
{% if particle.pa_link_horizontal_start or particle.pa_link_horizontal_end or particle.pa_link_vertical_start or particle.pa_link_vertical_end or particle.pa_link_scale_start or particle.pa_link_scale_end or particle.pa_link_rotate_start or particle.pa_link_rotate_end or particle.pa_link_opacity_start or particle.pa_link_opacity_end %} jl-slideshow-parallax="{{pa_link_horizontal}}{{pa_link_vertical}}{{pa_link_scale}}{{pa_link_rotate}}{{link_opacity}}" {% endif %}{% endif %}
{% endset %}

{% set thumbnail_width %}
{% if particle.thumbnail_width != '' %}width = "{{particle.thumbnail_width}}"{% endif %}
{% endset %}

{% set thumbnail_height %}
{% if particle.thumbnail_height != '' %}height = "{{particle.thumbnail_height}}"{% endif %}
{% endset %}

{% set image_transition %}
{% if particle.image_transition != 'default' %}animation: {{particle.image_transition}};{% endif %}
{% endset %}

{% set velocity %}
{% if particle.velocity != '' %}velocity: {{particle.velocity / 100}};{% endif %}
{% endset %}

{% set slideshow_autoplay %}
{% if particle.slideshow_autoplay == '1' %}autoplay: true;{% endif %}
{% endset %}

{% set slideshow_interval %}
{% if particle.slideshow_interval != '' %}autoplay-interval: {{ particle.slideshow_interval * 1000 }};{% endif %}
{% endset %}

{% set slideshow_pause_onhover %}
{% if particle.slideshow_pause_onhover == 'disabled' %}pauseOnHover: false;{% endif %}
{% endset %}

{% set image_kenburns_duration %}
{% if particle.image_kenburns_duration != '' %} style="-webkit-animation-duration: {{ particle.image_kenburns_duration }}s; animation-duration: {{ particle.image_kenburns_duration }}s;"{% endif %}
{% endset %}

{# Set Overlay Container #}
{% set overlay_container_cls %}
{% if particle.overlay_container_width != 'none' %}
{% if particle.overlay_container_width == 'default' %} jl-container{% else %} jl-container jl-container-{{ particle.overlay_container_width|e }}{% endif %}
{% endif %}
{% endset %}

{# Set Overlay Padding #}
{% set overlay_container_padding_cls %}
{% if particle.overlay_container_width != 'none' %}
{% if particle.overlay_container_padding == 'default' %} jl-section{% else %} jl-section-{{ particle.overlay_container_padding|e }}{% endif %}
{% endif %}
{% endset %}

{# Set Overlay Margin #}
{% set overlay_margin_cls %}
{% if particle.overlay_container_width == 'none' %}
{% if particle.overlay_margin == 'none' %}{% elseif particle.overlay_margin == 'default' %} jl-padding{% else %} jl-padding-{{ particle.overlay_margin|e }}{% endif %}
{% endif %}
{% endset %}

{# Set Navigation #}
{% set navigation %}
  {% if particle.navigation == 'none' %}
  {% elseif particle.navigation == 'dotnav' %}
  {% for article in articles %}
  <li jl-slideshow-item="{{loop.index0}}">
  <a href="#"></a>
  </li>
  {% endfor %}
  {% endif %}
{% endset %}

{# Set overlay_position #}
{% set overlay_position %}
{% if particle.overlay_position == 'top' or particle.overlay_position == 'bottom' or particle.overlay_position == 'left' or particle.overlay_position == 'right' %}
jl-flex jl-flex-{{particle.overlay_position}}{% elseif particle.overlay_position == 'top-left' %}
jl-flex jl-flex-top jl-flex-left{% elseif particle.overlay_position == 'top-center' %}
jl-flex jl-flex-top jl-flex-center{% elseif particle.overlay_position == 'top-right' %}
jl-flex jl-flex-top jl-flex-right{% elseif particle.overlay_position == 'bottom-left' %}
jl-flex jl-flex-bottom jl-flex-left{% elseif particle.overlay_position == 'bottom-center' %}
jl-flex jl-flex-bottom jl-flex-center{% elseif particle.overlay_position == 'bottom-right' %}
jl-flex jl-flex-bottom jl-flex-right{% elseif particle.overlay_position == 'center' %}
jl-flex jl-flex-center jl-flex-middle{% elseif particle.overlay_position == 'center-left' %}
jl-flex jl-flex-left jl-flex-middle{% elseif particle.overlay_position == 'center-right' %}
jl-flex jl-flex-right jl-flex-middle{% endif %}
{% endset %}

{# Set Slidenav #}
{% set slidenav %}
{% if particle.slidenav_position != 'none' %}
{% if particle.slidenav_position == 'default' %}
<div class="{% if particle.slidenav_breakpoint != 'always' %}jl-visible@{{particle.slidenav_breakpoint|e}}{% endif %}{% if particle.slidenav_hover == '1' %} jl-hidden-hover jl-hidden-touch{% endif %}{{slideshow_text_color}}">
<a class="tm-slidenav{% if particle.slidenav_large_style == '1' %} jl-slidenav-large{% endif %}{% if particle.slidenav_margin != 'none' %} jl-position-{{ particle.slidenav_margin|e }}{% endif %} jl-position-center-left" href="#" jl-slidenav-previous jl-slideshow-item="previous"></a>
<a class="tm-slidenav{% if particle.slidenav_large_style == '1' %} jl-slidenav-large{% endif %}{% if particle.slidenav_margin != 'none' %} jl-position-{{ particle.slidenav_margin|e }}{% endif %} jl-position-center-right" href="#" jl-slidenav-next jl-slideshow-item="next"></a>
</div>
{% elseif particle.slidenav_position == 'outside' %}
<div class="{% if particle.slidenav_breakpoint != 'always' %}jl-visible@{{particle.slidenav_breakpoint|e}}{% endif %}{{slideshow_text_color}}{% if particle.slidenav_outside_color != 'default' %} jl-{{particle.slidenav_outside_color|e}}{% endif %}">
<a class="tm-slidenav{% if particle.slidenav_large_style == '1' %} jl-slidenav-large{% endif %}{% if particle.slidenav_margin != 'none' %} jl-position-{{ particle.slidenav_margin|e }}{% endif %} jl-position-center-left" href="#" jl-slidenav-previous jl-slideshow-item="previous" jl-toggle="cls: jl-position-center-left-out jl-position-center-left; mode: media; media:{% if particle.slidenav_outside_breakpoint != 'always' %} @{{particle.slidenav_outside_breakpoint|e}}{% endif %}"></a>
<a class="tm-slidenav{% if particle.slidenav_large_style == '1' %} jl-slidenav-large{% endif %}{% if particle.slidenav_margin != 'none' %} jl-position-{{ particle.slidenav_margin|e }}{% endif %} jl-position-center-right" href="#" jl-slidenav-next jl-slideshow-item="next" jl-toggle="cls: jl-position-center-right-out jl-position-center-right; mode: media; media:{% if particle.slidenav_outside_breakpoint != 'always' %} @{{particle.slidenav_outside_breakpoint|e}}{% endif %}"></a>
</div>
{% else %}
<div class="jl-slidenav-container{% if particle.slidenav_margin != 'none' %} jl-position-{{ particle.slidenav_margin|e }}{% endif %} jl-position-{{ particle.slidenav_position|e }}{% if particle.slidenav_breakpoint != 'always' %} jl-visible@{{particle.slidenav_breakpoint|e}}{% endif %}{% if particle.slidenav_hover == '1' %} jl-hidden-hover jl-hidden-touch{% endif %}{{slideshow_text_color}}">
<a class="tm-slidenav{% if particle.slidenav_large_style == '1' %} jl-slidenav-large{% endif %}" href="#" jl-slidenav-previous jl-slideshow-item="previous"></a>
<a class="tm-slidenav{% if particle.slidenav_large_style == '1' %} jl-slidenav-large{% endif %}" href="#" jl-slidenav-next jl-slideshow-item="next"></a>
</div>
{% endif %}
{% endif %}
{% endset %}

{# Set Button Class #}
{% set button_cls %}
{% if particle.link_style == 'link' %}jl-link{% elseif particle.link_style == 'link-muted' or particle.link_style == 'link-text' %}jl-{{particle.link_style|e}}{% else %}jl-button jl-button-{{particle.link_style|e}}{% endif %}
{% endset %}

{# Set Button Size #}
{% set button_size %}
{% if particle.link_style == 'link' or particle.link_style == 'link-muted' or particle.link_style == 'link-text' or particle.link_style == 'text' %}{% else %}{% if particle.link_button_size != 'default' %} jl-button-{{particle.link_button_size|e}}{% endif %}{% endif %}
{% endset %}

{# Set Item Content #}
{% set itemcontent %}

{% for article in articles %}

{# Set Meta Content #}
{% set item_meta %}
{% if display.date.enabled or display.author.enabled or display.category.enabled or display.hits.enabled %}
<ul class="tm-meta{{meta_text_transform}}{% if particle.meta_subnav_style == 'default' %} jl-subnav{% else %} jl-subnav jl-subnav-{{particle.meta_subnav_style|e}}{% endif %}{% if particle.pre_meta_color != 'default' %} jl-text-{{particle.pre_meta_color|e}}{% endif %}{% if particle.meta_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.meta_margin_top|e }}-top{% endif %}{% if particle.meta_style != 'default' %} jl-{{ particle.meta_style|e }}{% endif %}"{{meta_animation}}>
{% if display.date.enabled %}
<li class="g-array-item-date">
  <span>
  {% if display.date.enabled == 'published' %}
  {{ article.publish_up|date(display.date.format) }}
{% elseif display.date.enabled == 'modified' %}
{{ article.modified|date(display.date.format) }}
{% else %}
  {{ article.created|date(display.date.format) }}
{% endif %}
</span>
</li>
{% endif %}

{% if display.author.enabled %}
<li class="g-array-item-author">
  <span>{{ article.author.name }}</span>
</li>
{% endif %}

{% if display.category.enabled %}
{% set category_link = display.category.enabled == 'link' %}
<li class="g-array-item-category">
{% set cat = article.categories|last %}
{% if category_link %}
<a href="{{ cat.route }}">
{{ cat.title }}
</a>
{% else %}
  {{ cat.title }}
{% endif %}
</li>
{% endif %}

{% if display.hits.enabled %}
<li class="g-array-item-hits">
  <span><i class="fa fa-eye" aria-hidden="true"></i>{{ article.hits }}</span>
</li>
{% endif %}
</ul>
{% endif %}
{% endset %}

<li class="tm-item">
{% if particle.image_kenburns == 'none' %}

{% if display.image.enabled and article.images.image_intro or article.images.image_fulltext %}
{% if article.images.image_intro and display.image.enabled == 'intro' or display.image.enabled == 'show' %}
<img class="tm-image" data-src="{{ url(article.images.image_intro) }}"{% if article.images.image_intro_alt %} alt="{{article.images.image_intro_alt}}"{% else %} alt="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}"{% endif %} jl-img="target: !.jl-slideshow-items" jl-cover>
{% elseif article.images.image_fulltext and display.image.enabled == 'full' %}
<img class="tm-image" data-src="{{ url(article.images.image_fulltext) }}"{% if article.images.image_fulltext_alt %} alt="{{article.images.image_fulltext_alt}}"{% else %} alt="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}"{% endif %} jl-img="target: !.jl-slideshow-items" jl-cover>
{% endif %}
{% endif %}

{% else %}
<div class="jl-position-cover jl-animation-kenburns jl-animation-reverse jl-transform-origin-{{particle.image_kenburns}}"{{image_kenburns_duration}}>

{% if display.image.enabled and article.images.image_intro or article.images.image_fulltext %}
{% if article.images.image_intro and display.image.enabled == 'intro' or display.image.enabled == 'show' %}
<img class="tm-image" data-src="{{ url(article.images.image_intro) }}"{% if article.images.image_intro_alt %} alt="{{article.images.image_intro_alt}}"{% else %} alt="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}"{% endif %} jl-img="target: !.jl-slideshow-items" jl-cover>
{% elseif article.images.image_fulltext and display.image.enabled == 'full' %}
<img class="tm-image" data-src="{{ url(article.images.image_fulltext) }}"{% if article.images.image_fulltext_alt %} alt="{{article.images.image_fulltext_alt}}"{% else %} alt="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}"{% endif %} jl-img="target: !.jl-slideshow-items" jl-cover>
{% endif %}
{% endif %}

</div>
{% endif %}

{# Load Overlay Style #}

{% if particle.overlay_style == 'none' %}
<div class="jl-position-cover {{overlay_position}}{{overlay_container_cls}}{{overlay_container_padding_cls}}{{overlay_margin_cls}}">
<div class="jl-panel{% if particle.overlay_width != 'none' %} jl-width-{{ particle.overlay_width|e }}{% endif %}{{overlay_animation}}{{slideshow_text_color}} jl-margin-remove-first-child" {{overlay_parallax_animation}}>
{% else %}
<div class="jl-position-cover {{overlay_position}}{{overlay_container_cls}}{{overlay_container_padding_cls}}{{overlay_margin_cls}}">
<div class="jl-overlay{% if particle.overlay_padding != 'default' %} jl-padding-{{ particle.overlay_padding|e }}{% endif %}{% if particle.overlay_style %} {{ particle.overlay_style|e }}{% endif %}{% if particle.overlay_width != 'none' %} jl-width-{{ particle.overlay_width|e }}{% endif %}{{overlay_animation}}{{slideshow_text_color}} jl-margin-remove-first-child" {{overlay_parallax_animation}}>
{% endif %}

{% if particle.meta_alignment == 'top' %}
{{item_meta}}
{% endif %}

{% if display.title.enabled %}
<{{particle.title_element|e}} class="tm-title jl-margin-remove-bottom{{title_text_transform}}{% if particle.title_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.title_margin_top|e }}-top{% endif %}{% if particle.title_style != 'default' %} jl-{{ particle.title_style|e }}{% endif %}{% if particle.pre_title_color != 'default' %} jl-text-{{ particle.pre_title_color|e }}{% endif %}{% if particle.title_decoration != 'none' %} jl-heading-{{particle.title_decoration|e}}{% endif %}"{{title_animation}}>
{% if particle.title_decoration == 'line' %} <span><a class="jl-link-reset" href="{{ article.route }}">
{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}
</a></span>
{% else %}
<a class="jl-link-reset" href="{{ article.route }}">{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}</a>
{% endif %}
</{{particle.title_element|e}}>
{% endif %}

{% if particle.meta_alignment == 'bottom' %}
{{item_meta}}
{% endif %}

{% if display.text.type %}
{% set article_text = display.text.type == 'intro' ? article.introtext : article.text %}
<div class="tm-content jl-panel{{content_text_transform}}{% if particle.content_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.content_margin_top|e }}-top{% endif %}{% if particle.content_style != 'default' %} jl-text-{{ particle.content_style|e }}{% endif %}{% if particle.content_text_color != 'default' %} jl-text-{{ particle.content_text_color|e }}{% endif %}"{{content_animation}}>
{% if display.text.formatting == 'text' %}
{{ article_text|truncate_text(display.text.limit)|raw }}
{% else %}
  {{ article_text|truncate_html(display.text.limit)|raw }}
{% endif %}
</div>
{% endif %}

{% if particle.meta_alignment == 'content' %}
{{item_meta}}
{% endif %}

{% if display.read_more.enabled %}
<div class="tm-button{% if particle.link_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.link_margin_top|e }}-top{% endif %}{% if particle.button_visibility != 'inherit' %} jl-visible@{{particle.button_visibility|e}}{% endif %}"{{link_animation}}>
  <a class="{{button_cls}}{{button_size}}" href="{{ article.route }}" target="{{ particle.buttontarget|e }}" title="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}">{{ display.read_more.label|default('Read More...') }}</a>
</div>
{% endif %}

</div>
</div>

{# End Overlay Style #}

</li>
{% endfor %}
{% endset %}

{% block particle %}
{% if particle.enabled %}
{{particle_title_style}}

<div id="{{ id }}" class="tm-slideshow-wrapper{{content_maxwidth}}{% if particle.class %} {{ particle.class }}{% endif %}{{particle_alignment}}{% if particle.margin == 'inherit' %}{% elseif particle.margin == 'default' %} jl-margin{% else %} jl-margin-{{particle.margin|e}}{% endif %}{% if particle.visibility != 'inherit' %} jl-visible@{{particle.visibility|e}}{% endif %}"{{animation}}jl-slideshow="{{slideshow_ratio}}{{slideshow_min_height}}{{slideshow_max_height}}{{image_transition}}{{velocity}}{{slideshow_autoplay}}{{slideshow_interval}}{{slideshow_pause_onhover}}" {{- attr_extra|raw }}>
  <div class="jl-position-relative{% if particle.slidenav_hover == '1' %} jl-visible-toggle{% endif %}">
    {% if particle.extra_shadow == '1' %}
    <div class="jl-box-shadow-bottom jl-display-block">
      {% endif %}
      <ul class="jl-slideshow-items{% if particle.box_shadow != 'none' %} jl-box-shadow-{{particle.box_shadow}}{% endif %}"{{slideshow_height}}>
        {{itemcontent}}
      </ul>
      {% if particle.extra_shadow == '1' %}
    </div>
    {% endif %}
    {{slidenav}}
    {% if particle.navigation != 'none' %}
    {% if particle.navigation_below == '0' %}
    <div class="jl-position-{{particle.navigation_position|e}}{% if particle.navigation_margin != 'none' %} jl-position-{{particle.navigation_margin|e}}{% endif %}{% if particle.navigation_breakpoint != 'always' %} jl-visible@{{particle.navigation_breakpoint|e}}{% endif %}{{slideshow_text_color}}">
      <ul class="tm-nav jl-dotnav{% if particle.vertical_navigation == '1' %} jl-dotnav-vertical{% endif %}" jl-margin>
        {{navigation}}
      </ul>
    </div>
    {% endif %}
    {% endif %}
  </div>

  {% if particle.navigation != 'none' %}
  {% if particle.navigation_below == '1' %}
  {% if particle.navigation_color == 'default' %}
  <ul class="tm-nav jl-dotnav{% if particle.navigation_color != 'default' %} jl-{{particle.navigation_color|e}}{% endif %}{% if particle.navigation_breakpoint != 'always' %} jl-visible@{{particle.navigation_breakpoint|e}}{% endif %} jl-flex-{{particle.navigation_position_below|e}}{% if particle.navigation_margin_below == 'default' %} jl-margin-top{% else %} jl-margin-{{particle.navigation_margin_below|e}}-top{% endif %}">
    {{navigation}}
  </ul>
  {% else %}
  <div class="jl-{{particle.navigation_color|e}}{% if particle.navigation_breakpoint != 'always' %} jl-visible@{{particle.navigation_breakpoint|e}}{% endif %}{% if particle.navigation_margin_below == 'default' %} jl-margin-top{% else %} jl-margin-{{particle.navigation_margin_below|e}}-top{% endif %}{{slideshow_text_color}}">
    <ul class="tm-nav jl-dotnav jl-flex-{{particle.navigation_position_below|e}}">
      {{navigation}}
    </ul>
  </div>
  {% endif %}
  {% endif %}
  {% endif %}
</div>
{% endif %}
{% endblock %}
