{% extends '@nucleus/partials/particle.html.twig' %}

{% block stylesheets %}
{% if particle.particle_title_color or particle.particle_title_fontsize or particle.title_color or particle.title_fontsize or particle.customize_content_color or particle.customize_content_fontsize or particle.meta_color or particle.meta_fontsize or particle.head_color or particle.head_fontsize or particle.headbg_color or particle.rowbg_color or particle.row_color %}
<style>
{% if particle.particle_title_color or particle.particle_title_fontsize %}
#{{ id }}.g5-particle-title { {% if particle.particle_title_color %}color: {{ particle.particle_title_color }};{% endif %}{% if particle.particle_title_fontsize %}font-size: {{particle.particle_title_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.title_color or particle.title_fontsize %}
#{{ id }} .tm-title { {% if particle.title_color %}color: {{particle.title_color}}; {% endif %}{% if particle.title_fontsize %}font-size: {{particle.title_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.customize_content_color or particle.customize_content_fontsize %}
#{{ id }} .tm-content { {% if particle.customize_content_color %}color: {{particle.customize_content_color}};{% endif %}{% if particle.customize_content_fontsize %} font-size: {{particle.customize_content_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.meta_color or particle.meta_fontsize %}
#{{ id }} .tm-meta { {% if particle.meta_color %}color: {{particle.meta_color}};{% endif %}{% if particle.meta_fontsize %} font-size: {{particle.meta_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.head_color or particle.head_fontsize %}
#{{ id }} .jl-table th { {% if particle.head_color %}color: {{particle.head_color}};{% endif %}{% if particle.head_fontsize %} font-size: {{particle.head_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.headbg_color %}
#{{ id }} .jl-table thead { {% if particle.headbg_color %}background-color: {{particle.headbg_color}};{% endif %} }
{% endif %}
{% if particle.rowbg_color or particle.row_color %}
#{{ id }} .jl-table tbody tr { {% if particle.rowbg_color %}background-color: {{particle.rowbg_color}};{% endif %}{% if particle.row_color %}color: {{particle.row_color}};{% endif %} }
{% endif %}
</style>
{% endif %}
{% endblock %}

{# set Viewport Height #}
{% set viewport_height %}
{% if particle.viewport_height == 'none' %}
{% elseif particle.viewport_height == 'full' %}
jl-height-viewport="offset-top: true"
{% elseif particle.viewport_height == 'percent' %}
jl-height-viewport="offset-top: true;offset-bottom: 20"
{% elseif particle.viewport_height == 'section' %}
jl-height-viewport="offset-top: true;offset-bottom: 50"
{% elseif particle.viewport_height == 'expand' %}
jl-height-viewport="expand: true"
{% endif %}
{% endset %}

{# Set Title Text Transform #}
{% set title_text_transform %}
{% if particle.title_text_transform %} jl-text-{{particle.title_text_transform|e}}{% endif %}
{% endset %}

{# Set Meta Text Transform #}
{% set meta_text_transform %}
{% if particle.meta_text_transform %} jl-text-{{particle.meta_text_transform|e}}{% endif %}
{% endset %}

{# Set Content Text Transform #}
{% set content_text_transform %}
{% if particle.content_text_transform %} jl-text-{{particle.content_text_transform|e}}{% endif %}
{% endset %}

{# set padding #}
{% set padding %}
{% if particle.viewport_height == 'full' %}
{% else %}
{% if particle.padding == 'default' %}{% else %} jl-section-{{particle.padding|e}}{% endif %}
{% endif %}
{% endset %}

{# set Container #}
{% set container %}
{% if particle.container == '1' %}
<div class="jl-container"><div class="g5-content g5-particle">{% endif %}
{% endset %}

{# set End Container #}
{% set endcontainer %}
{% if particle.container == '1' %}
</div></div>{% endif %}
{% endset %}

{# set Background color #}
{% set parallax_bg_color %}
{% if particle.parallax_bg_color %}
style="background-color: {{particle.parallax_bg_color}};"{% endif %}
{% endset %}

{# Set Max-Width Content #}
{% set content_maxwidth %}
{% if particle.g_maxwidth != 'inherit' %} jl-width-{{particle.g_maxwidth}}{% if particle.g_maxwidth_breakpoint != 'always' %}@{{particle.g_maxwidth_breakpoint}}{% endif %}{% if particle.g_maxwidth_alignment == 'left' %}{% elseif particle.g_maxwidth_alignment == 'center' %} jl-margin-auto{% else %} jl-margin-auto-left{% endif %}{% endif %}
{% endset %}

{# set Parallax Background #}
{% set parallaxbackground %}
{% if particle.parallax_image %}
<div data-src="{{ url(particle.parallax_image)|e }}" class="{{id}} jl-background-norepeat{{padding}}{{content_maxwidth}} jl-background-{{particle.background_image_position|e}}{% if particle.background_image_size != 'auto' %} jl-background-{{particle.background_image_size|e}}{% endif %}{% if particle.parallax_bg_visibility != 'always' %} jl-background-image@{{particle.parallax_bg_visibility|e}}{% endif %}{% if particle.vertical_alignment != 'none' %} jl-flex jl-flex-{{particle.vertical_alignment|e}}{% endif %}{% if particle.parallax_text_color != 'default' %} jl-{{particle.parallax_text_color|e}}{% endif %}{% if particle.blendmode != 'inherit' %} jl-background-blend-{{particle.blendmode|e}}{% endif %}" {{parallax_bg_color}}{% if particle.horizontal_start or particle.horizontal_end or particle.vertical_start or particle.vertical_end %} jl-parallax="{% if particle.horizontal_start or particle.horizontal_end %}bgx: {{particle.horizontal_start|e}},{{particle.horizontal_end|e}};{% endif %}{% if particle.vertical_start or particle.vertical_end %}bgy: {{particle.vertical_start|e}},{{particle.vertical_end|e}};{% endif %}{% if particle.parallax_bg_breakpoint != 'always' %} media: @{{particle.parallax_bg_breakpoint|e}}{% endif %}" {% endif %} jl-img {{viewport_height}}>
{{container}}
{% endif %}
{% endset %}

{# End Parallax Background #}
{% set endparallaxbackground %}
{% if particle.parallax_image %}
{{endcontainer}}
</div>
{% endif %}
{% endset %}

{# Set Horizontal #}
{% set pahorizontal %}
{% if particle.pa_horizontal_start or particle.pa_horizontal_end %}x: {% if particle.pa_horizontal_start == '' %}0{% else %}{{particle.pa_horizontal_start }}{% endif %},{% if particle.pa_horizontal_end == '' %}0{% else %}{{particle.pa_horizontal_end }}{% endif %};{% endif %}
{% endset %}

{# Set Vertical #}
{% set pavertical %}
{% if particle.pa_vertical_start or particle.pa_vertical_end %}y: {% if particle.pa_vertical_start == '' %}0{% else %}{{particle.pa_vertical_start }}{% endif %},{% if particle.pa_vertical_end == '' %}0{% else %}{{particle.pa_vertical_end }}{% endif %};{% endif %}
{% endset %}

{# Set Scale #}
{% set scale %}
{% if particle.scale_start or particle.scale_end %}scale: {% if particle.scale_start == '' %}1{% else %}{{particle.scale_start / 100 }}{% endif %},{% if particle.scale_end == '' %}1{% else %} {{particle.scale_end / 100 }}{% endif %};{% endif %}
{% endset %}

{# Set Rotate #}
{% set rotate %}{% if particle.rotate_start or particle.rotate_end %}
rotate: {% if particle.rotate_start == '' %}0{% else %}{{particle.rotate_start}}{% endif %},{% if particle.rotate_end == '' %}0{% else %}{{particle.rotate_end}}{% endif %};{% endif %}
{% endset %}

{# Set Opacity #}
{% set opacity %}
{% if particle.opacity_start or particle.opacity_end %}opacity: {% if particle.opacity_start == '' %}1{% else %}{{particle.opacity_start / 100 }}{% endif %},{% if particle.opacity_end == '' %}1{% else %}{{particle.opacity_end / 100 }}{% endif %};{% endif %}
{% endset %}

{# set Scrollspy Animation #}
{% set scrollspy_cls %}
{% if particle.delay_element_animations == '1' %} jl-scrollspy-class{% endif %}
{% endset %}

{# set Animation #}
{% set animation %}
{% if particle.animation == 'parallax' %}
{% if particle.pa_horizontal_start or particle.pa_horizontal_end or particle.pa_vertical_start or particle.pa_vertical_end or particle.scale_start or particle.scale_end or particle.rotate_start or particle.rotate_end or particle.opacity_start or particle.opacity_end or particle.easing or particle.pa_viewport or particle.pa_breakpoint %} jl-parallax="{{pahorizontal}}{{pavertical}}{{scale}}{{rotate}}{{opacity}}{% if particle.easing == '' %}{% else %}easing: {{ particle.easing / 100 }};{% endif %}{% if particle.pa_viewport != '' %}viewport:{{ particle.pa_viewport / 100 }};{% endif %}{% if particle.pa_breakpoint != 'always' %}media: @{{particle.pa_breakpoint|e}}{% endif %}"{% endif %}
{% else %}
{% if particle.animation != 'inherit' %}
{% if particle.delay_element_animations == '1' %} jl-scrollspy="target: [jl-scrollspy-class]; cls: jl-animation-{{particle.animation|e}};{% if particle.animation_repeat != 'disabled' %} repeat: true;{% endif %}{% if particle.animation_delay != '' %} delay: {{particle.animation_delay|e}};{% else %} delay: 200;{% endif %}"{% else %} jl-scrollspy="cls: jl-animation-{{particle.animation|e}};{% if particle.animation_repeat != 'disabled' %} repeat: true;{% endif %}{% if particle.animation_delay != '' %} delay: {{particle.animation_delay|e}};{% endif %}"{% endif %}
{% endif %}
{% endif %}
{% endset %}

{# Set Particle Alignment #}
{% set particle_alignment %}
{% if particle.align != 'inherit' %} jl-text-{{particle.align|e}}{% if particle.breakpoint != 'always' %}@{{particle.breakpoint|e}}{% endif %}{% endif %}{% if particle.align != 'inherit' and particle.breakpoint != 'always' %}{% if particle.fallback != 'inherit' %} jl-text-{{particle.fallback|e}}{% endif %}{% endif %}
{% endset %}

{# set Particle Title Style #}
{% set particle_title_style %}
{% if particle.particle_title %}
<{{particle.particle_title_element|e}} id="{{ id }}" class="g5-particle-title{% if particle.particle_title_align != 'inherit' %} jl-text-{{particle.particle_title_align|e}}{% endif %}{% if particle.particle_predefined_color != 'default' %} jl-text-{{particle.particle_predefined_color|e}}{% endif %}{% if particle.particle_title_style != 'default' %} jl-{{particle.particle_title_style|e}}{% endif %}{% if particle.particle_title_decoration != 'none' %} jl-heading-{{particle.particle_title_decoration|e}}{% endif %}">
{% if particle.particle_title_decoration == 'line' %} <span>{{particle.particle_title|raw}}</span>
{% else %} {{particle.particle_title|raw}}
{% endif %}
</{{particle.particle_title_element|e}}>
{% endif %}
{% endset %}

{% set itemimagewidth %}
		{% if particle.image_width != '' %}
    width = "{{particle.image_width}}"
    {% endif %}
{% endset %}

{% set itemimageheight %}
		{% if particle.image_height != '' %}
    height = "{{particle.image_height}}"
    {% endif %}
{% endset %}

{% block particle %}
{% if particle.enabled %}
{{parallaxbackground}}
{{particle_title_style}}
<div id="{{ id }}" class="tm-content-wrapper{{content_maxwidth}}{% if particle.class %} {{ particle.class }}{% endif %}{{particle_alignment}}{% if particle.margin == 'inherit' %}{% elseif particle.margin == 'default' %} jl-margin{% else %} jl-margin-{{particle.margin|e}}{% endif %}{% if particle.visibility != 'inherit' %} jl-visible@{{particle.visibility|e}}{% endif %}"{{animation}}>

{% if particle.table_responsive == 'overflow' %}<div class="jl-overflow-auto">{% endif %}
<table class="jl-table{% if particle.table_styles != 'default' %} jl-table-{{particle.table_styles}}{% endif %}{% if particle.highlight_row == '1' %} jl-table-hover{% endif %}{% if particle.remove_padding == '1' %} jl-table-justify{% endif %}{% if particle.table_size != 'default' %} jl-table-{{particle.table_size}}{% endif %}{% if particle.table_vertical_alignment == '1' %} jl-table-middle{% endif %}{% if particle.table_responsive != 'overflow' %} jl-table-{{particle.table_responsive}}{% endif %}">

{% if particle.head_title or particle.head_meta or particle.head_content or particle.head_image or particle.head_link %}
<thead>
  <tr>
  {% set head_title %}
  <th{% if particle.table_title_width == 'shrink' %} class="jl-text-nowrap"{% elseif particle.table_title_width == 'default' %}{% else %}{% endif %}>
  {{particle.head_title|raw}}
  </th>
  {% endset %}

  {% set head_meta %}
  <th{% if particle.table_meta_width == 'shrink' %} class="jl-text-nowrap"{% elseif particle.table_meta_width == 'default' %}{% else %}{% endif %}>
  {{particle.head_meta|raw}}
  </th>
  {% endset %}

  {% set head_content %}
  <th{% if particle.table_content_width == 'shrink' %} class="jl-text-nowrap"{% elseif particle.table_content_width == 'default' %}{% else %}{% endif %}>
  {{particle.head_content|raw}}
  </th>
  {% endset %}

  {% set head_image %}
  <th>
  {{particle.head_image|raw}}
  </th>
  {% endset %}

  {% set head_link %}
  <th>
  {{particle.head_link|raw}}
  </th>
  {% endset %}

  {% if particle.table_order == '1' %}
  {% if particle.show_meta == '1' %}{% if particle.head_meta %}{{head_meta}}{% else %}<th></th>{% endif %}{% endif %}
  {% if particle.show_image == '1' %}{% if particle.head_image %}{{head_image}}{% else %}<th></th>{% endif %}{% endif %}
  {% if particle.show_title == '1' %}{% if particle.head_title %}{{head_title}}{% else %}<th></th>{% endif %}{% endif %}
  {% if particle.show_content == '1' %}{% if particle.head_content %}{{head_content}}{% else %}<th></th>{% endif %}{% endif %}
  {% if particle.show_link == '1' %}{% if particle.head_link %}{{head_link}}{% else %}<th></th>{% endif %}{% endif %}
  {% endif %}

  {% if particle.table_order == '2' %}
  {% if particle.show_title == '1' %}{% if particle.head_title %}{{head_title}}{% else %}<th></th>{% endif %}{% endif %}
  {% if particle.show_image == '1' %}{% if particle.head_image %}{{head_image}}{% else %}<th></th>{% endif %}{% endif %}
  {% if particle.show_meta == '1' %}{% if particle.head_meta %}{{head_meta}}{% else %}<th></th>{% endif %}{% endif %}
  {% if particle.show_content == '1' %}{% if particle.head_content %}{{head_content}}{% else %}<th></th>{% endif %}{% endif %}
  {% if particle.show_link == '1' %}{% if particle.head_link %}{{head_link}}{% else %}<th></th>{% endif %}{% endif %}
  {% endif %}

  {% if particle.table_order == '3' %}
  {% if particle.show_image == '1' %}{% if particle.head_image %}{{head_image}}{% else %}<th></th>{% endif %}{% endif %}
  {% if particle.show_title == '1' %}{% if particle.head_title %}{{head_title}}{% else %}<th></th>{% endif %}{% endif %}
  {% if particle.show_content == '1' %}{% if particle.head_content %}{{head_content}}{% else %}<th></th>{% endif %}{% endif %}
  {% if particle.show_meta == '1' %}{% if particle.head_meta %}{{head_meta}}{% else %}<th></th>{% endif %}{% endif %}
  {% if particle.show_link == '1' %}{% if particle.head_link %}{{head_link}}{% else %}<th></th>{% endif %}{% endif %}
  {% endif %}

  {% if particle.table_order == '4' %}
  {% if particle.show_image == '1' %}{% if particle.head_image %}{{head_image}}{% else %}<th></th>{% endif %}{% endif %}
  {% if particle.show_title == '1' %}{% if particle.head_title %}{{head_title}}{% else %}<th></th>{% endif %}{% endif %}
  {% if particle.show_meta == '1' %}{% if particle.head_meta %}{{head_meta}}{% else %}<th></th>{% endif %}{% endif %}
  {% if particle.show_content == '1' %}{% if particle.head_content %}{{head_content}}{% else %}<th></th>{% endif %}{% endif %}
  {% if particle.show_link == '1' %}{% if particle.head_link %}{{head_link}}{% else %}<th></th>{% endif %}{% endif %}
  {% endif %}

  {% if particle.table_order == '5' %}
  {% if particle.show_title == '1' %}{% if particle.head_title %}{{head_title}}{% else %}<th></th>{% endif %}{% endif %}
  {% if particle.show_meta == '1' %}{% if particle.head_meta %}{{head_meta}}{% else %}<th></th>{% endif %}{% endif %}
  {% if particle.show_content == '1' %}{% if particle.head_content %}{{head_content}}{% else %}<th></th>{% endif %}{% endif %}
  {% if particle.show_link == '1' %}{% if particle.head_link %}{{head_link}}{% else %}<th></th>{% endif %}{% endif %}
  {% if particle.show_image == '1' %}{% if particle.head_image %}{{head_image}}{% else %}<th></th>{% endif %}{% endif %}
  {% endif %}

  {% if particle.table_order == '6' %}
  {% if particle.show_meta == '1' %}{% if particle.head_meta %}{{head_meta}}{% else %}<th></th>{% endif %}{% endif %}
  {% if particle.show_title == '1' %}{% if particle.head_title %}{{head_title}}{% else %}<th></th>{% endif %}{% endif %}
  {% if particle.show_content == '1' %}{% if particle.head_content %}{{head_content}}{% else %}<th></th>{% endif %}{% endif %}
  {% if particle.show_link == '1' %}{% if particle.head_link %}{{head_link}}{% else %}<th></th>{% endif %}{% endif %}
  {% if particle.show_image == '1' %}{% if particle.head_image %}{{head_image}}{% else %}<th></th>{% endif %}{% endif %}
  {% endif %}
</tr>
</thead>
{% endif %}

<tbody>


{% for item in particle.items %}

<tr class="tm-item"{{scrollspy_cls}}>
{% set itemmeta %}
  <td{% if particle.table_meta_width == 'shrink' %} class="jl-text-nowrap jl-table-shrink"{% elseif particle.table_meta_width != 'default' %} class="jl-width-{{particle.table_meta_width}}"{% endif %}>
  <div class="tm-meta{{meta_text_transform}}{% if particle.pre_meta_color != 'default' %} jl-text-{{ particle.pre_meta_color|e }}{% endif %}{% if particle.meta_style != 'default' %} jl-{{ particle.meta_style|e }}{% endif %}">
  {{item.meta|raw}}
  </div>
  </td>
{% endset %}

{% set itemimage %}
<td class="jl-table-shrink">
<img {{itemimagewidth}} {{itemimageheight}} class="jl-preserve-width{% if particle.border != 'none' %} jl-border-{{particle.border|e}}{% endif %}{% if particle.box_shadow != 'none' %} jl-box-shadow-{{particle.box_shadow|e}}{% endif %}" data-src="{{ url(item.image)|e }}"{% if item.image_alt %} alt="{{item.image_alt|e}}"{% endif %} jl-img>
</td>
{% endset %}


{% set itemtitle %}
<td{% if particle.table_title_width == 'shrink' %} class="jl-text-nowrap jl-table-shrink"{% elseif particle.table_title_width != 'default' %} class="jl-width-{{particle.table_title_width}}"{% endif %}>
<div class="tm-title{{title_text_transform}}{% if particle.title_style != 'default' %} jl-{{ particle.title_style|e }}{% endif %}{% if particle.predefined_title_color != 'default' %} jl-text-{{ particle.predefined_title_color|e }}{% endif %}">
{{ item.title|raw }}
</div>
</td>
{% endset %}


{% set itemcontent %}
<td{% if particle.table_content_width == 'shrink' %} class="jl-text-nowrap jl-table-shrink"{% elseif particle.table_content_width != 'default' %} class="jl-width-{{particle.table_content_width}}"{% endif %}>
<div class="tm-content jl-panel{{content_text_transform}}{% if particle.content_style != 'default' %} jl-text-{{ particle.content_style|e }}{% endif %}{% if particle.content_text_color != 'default' %} jl-text-{{ particle.content_text_color|e }}{% endif %}">
{{item.content|raw}}
</div>
</td>
{% endset %}

{% set linkscroll %}
{% if item.link|e matches '/#/' %} jl-scroll{% endif %}
{% endset %}
{% set itemlink %}
<td class="jl-text-nowrap jl-table-shrink">
<a target="{{ item.link_target|default('_self')|e }}" href="{{ item.link|e }}" title="{{ item.link_text|e }}" class="{% if item.link_style == 'link' %}jl-link{% else %}jl-button jl-button-{{particle.link_style|e}}{% endif %}{% if particle.link_button_size != 'default' %} jl-button-{{ particle.link_button_size|e }}{% endif %}{% if particle.link_expand_width == '1' %} jl-width-auto jl-width-1-1@m{% endif %}"{{linkscroll}}>{{ item.link_text|e }}</a>
</td>
{% endset %}

{% if particle.table_order == '1' %}
{% if particle.show_meta == '1' %}{% if item.meta %}{{itemmeta}}{% else %}<td></td>{% endif %}{% endif %}
{% if particle.show_image == '1' %}{% if item.image %}{{itemimage}}{% else %}<td></td>{% endif %}{% endif %}
{% if particle.show_title == '1' %}{% if item.title %}{{itemtitle}}{% else %}<td></td>{% endif %}{% endif %}
{% if particle.show_content == '1' %}{% if item.content %}{{itemcontent}}{% else %}<td></td>{% endif %}{% endif %}
{% if particle.show_link == '1' %}{% if item.link %}{{itemlink}}{% else %}<td></td>{% endif %}{% endif %}
{% endif %}

{% if particle.table_order == '2' %}
{% if particle.show_title == '1' %}{% if item.title %}{{itemtitle}}{% else %}<td></td>{% endif %}{% endif %}
{% if particle.show_image == '1' %}{% if item.image %}{{itemimage}}{% else %}<td></td>{% endif %}{% endif %}
{% if particle.show_meta == '1' %}{% if item.meta %}{{itemmeta}}{% else %}<td></td>{% endif %}{% endif %}
{% if particle.show_content == '1' %}{% if item.content %}{{itemcontent}}{% else %}<td></td>{% endif %}{% endif %}
{% if particle.show_link == '1' %}{% if item.link %}{{itemlink}}{% else %}<td></td>{% endif %}{% endif %}
{% endif %}

{% if particle.table_order == '3' %}
{% if particle.show_image == '1' %}{% if item.image %}{{itemimage}}{% else %}<td></td>{% endif %}{% endif %}
{% if particle.show_title == '1' %}{% if item.title %}{{itemtitle}}{% else %}<td></td>{% endif %}{% endif %}
{% if particle.show_content == '1' %}{% if item.content %}{{itemcontent}}{% else %}<td></td>{% endif %}{% endif %}
{% if particle.show_meta == '1' %}{% if item.meta %}{{itemmeta}}{% else %}<td></td>{% endif %}{% endif %}
{% if particle.show_link == '1' %}{% if item.link %}{{itemlink}}{% else %}<td></td>{% endif %}{% endif %}
{% endif %}

{% if particle.table_order == '4' %}
{% if particle.show_image == '1' %}{% if item.image %}{{itemimage}}{% else %}<td></td>{% endif %}{% endif %}
{% if particle.show_title == '1' %}{% if item.title %}{{itemtitle}}{% else %}<td></td>{% endif %}{% endif %}
{% if particle.show_meta == '1' %}{% if item.meta %}{{itemmeta}}{% else %}<td></td>{% endif %}{% endif %}
{% if particle.show_content == '1' %}{% if item.content %}{{itemcontent}}{% else %}<td></td>{% endif %}{% endif %}
{% if particle.show_link == '1' %}{% if item.link %}{{itemlink}}{% else %}<td></td>{% endif %}{% endif %}
{% endif %}

{% if particle.table_order == '5' %}
{% if particle.show_title == '1' %}{% if item.title %}{{itemtitle}}{% else %}<td></td>{% endif %}{% endif %}
{% if particle.show_meta == '1' %}{% if item.meta %}{{itemmeta}}{% else %}<td></td>{% endif %}{% endif %}
{% if particle.show_content == '1' %}{% if item.content %}{{itemcontent}}{% else %}<td></td>{% endif %}{% endif %}
{% if particle.show_link == '1' %}{% if item.link %}{{itemlink}}{% else %}<td></td>{% endif %}{% endif %}
{% if particle.show_image == '1' %}{% if item.image %}{{itemimage}}{% else %}<td></td>{% endif %}{% endif %}
{% endif %}

{% if particle.table_order == '6' %}
{% if particle.show_meta == '1' %}{% if item.meta %}{{itemmeta}}{% else %}<td></td>{% endif %}{% endif %}
{% if particle.show_title == '1' %}{% if item.title %}{{itemtitle}}{% else %}<td></td>{% endif %}{% endif %}
{% if particle.show_content == '1' %}{% if item.content %}{{itemcontent}}{% else %}<td></td>{% endif %}{% endif %}
{% if particle.show_link == '1' %}{% if item.link %}{{itemlink}}{% else %}<td></td>{% endif %}{% endif %}
{% if particle.show_image == '1' %}{% if item.image %}{{itemimage}}{% else %}<td></td>{% endif %}{% endif %}
{% endif %}
</tr>
{% endfor %}
</tbody>
</table>
{% if particle.table_responsive == 'overflow' %}</div>{% endif %}
</div>
{{endparallaxbackground}}
{% endif %}
{% endblock %}
