{% extends '@nucleus/partials/particle.html.twig' %}

{% block stylesheets %}
<style>
{% if particle.particle_title_color or particle.particle_title_fontsize %}
#{{ id }}.g5-particle-title { {% if particle.particle_title_color %}color: {{ particle.particle_title_color }};{% endif %}{% if particle.particle_title_fontsize %} font-size: {{particle.particle_title_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.customize_title_color or particle.customize_title_fontsize %}
#{{ id }} .tm-title { {% if particle.customize_title_color %}color: {{particle.customize_title_color}};{% endif %}{% if particle.customize_title_fontsize %} font-size: {{particle.customize_title_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.customize_content_color or particle.customize_content_fontsize %}
#{{ id }} .tm-content { {% if particle.customize_content_color %}color: {{particle.customize_content_color}};{% endif %}{% if particle.customize_content_fontsize %} font-size: {{particle.customize_content_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.customize_meta_color or particle.customize_meta_fontsize %}
#{{ id }} .tm-meta { {% if particle.customize_meta_color %}color: {{particle.customize_meta_color}};{% endif %}{% if particle.customize_meta_fontsize %} font-size: {{particle.customize_meta_fontsize}}px;{% endif %} }
{% endif %}
{% for item in particle.items %}
{% if item.customize_arrow_color %}
#{{ id }} .tm-timeline-{{loop.index}} .tm-timeline-arrow { {% if item.customize_arrow_color %}background-color: {{item.customize_arrow_color}};{% endif %} }
{% endif %}
{% if item.customize_bg_color %}
#{{ id }} .tm-timeline-{{loop.index}} .tm-timeline-item-main { {% if item.customize_bg_color %}background-color: {{item.customize_bg_color}};{% endif %} }
{% endif %}
{% endfor %}
{% if particle.customize_date_color %}
#{{ id }} .tm-timeline-date > span { {% if particle.customize_date_color %}color: {{particle.customize_date_color}};{% endif %} }
{% endif %}
{% if particle.icon_color %}
#{{ id }} .tm-timeline-icon span svg { {% if particle.icon_color %}color: {{particle.icon_color}};{% endif %} }
{% endif %}
{% if particle.predefined_date_style == 'default' %}
#{{ id }}.tm-timeline .tm-timeline-date > span { background-color: {{particle.customize_date_background|default('#f7f7f7')|e}}; }
{% endif %}
#{{ id }}.tm-timeline .jl-label { border-radius: 0; }
</style>
{% endblock %}

{# set Viewport Height #}
{% set viewport_height %}
{% if particle.viewport_height == 'none' %}
{% elseif particle.viewport_height == 'full' %}
jl-height-viewport="offset-top: true"
{% elseif particle.viewport_height == 'percent' %}
jl-height-viewport="offset-top: true;offset-bottom: 20"
{% elseif particle.viewport_height == 'section' %}
jl-height-viewport="offset-top: true;offset-bottom: 50"
{% elseif particle.viewport_height == 'expand' %}
jl-height-viewport="expand: true"
{% endif %}
{% endset %}

{# Set Title Text Transform #}
{% set title_text_transform %}
{% if particle.title_text_transform %} jl-text-{{particle.title_text_transform|e}}{% endif %}
{% endset %}

{# Set Meta Text Transform #}
{% set meta_text_transform %}
{% if particle.meta_text_transform %} jl-text-{{particle.meta_text_transform|e}}{% endif %}
{% endset %}

{# Set Content Text Transform #}
{% set content_text_transform %}
{% if particle.content_text_transform %} jl-text-{{particle.content_text_transform|e}}{% endif %}
{% endset %}

{# set padding #}
{% set padding %}
{% if particle.viewport_height == 'full' %}
{% else %}
{% if particle.padding == 'default' %}{% else %} jl-section-{{particle.padding|e}}{% endif %}
{% endif %}
{% endset %}

{# set Container #}
{% set container %}
{% if particle.container == '1' %}
<div class="jl-container"><div class="g5-content g5-particle">{% endif %}
{% endset %}

{# set End Container #}
{% set endcontainer %}
{% if particle.container == '1' %}
</div></div>{% endif %}
{% endset %}

{# set Background color #}
{% set parallax_bg_color %}
{% if particle.parallax_bg_color %}
style="background-color: {{particle.parallax_bg_color}};"{% endif %}
{% endset %}

{# Set Max-Width Content #}
{% set content_maxwidth %}
{% if particle.g_maxwidth != 'inherit' %} jl-width-{{particle.g_maxwidth}}{% if particle.g_maxwidth_breakpoint != 'always' %}@{{particle.g_maxwidth_breakpoint}}{% endif %}{% if particle.g_maxwidth_alignment == 'left' %}{% elseif particle.g_maxwidth_alignment == 'center' %} jl-margin-auto{% else %} jl-margin-auto-left{% endif %}{% endif %}
{% endset %}

{# set Parallax Background #}
{% set parallaxbackground %}
{% if particle.parallax_image %}
<div data-src="{{ url(particle.parallax_image)|e }}" class="{{id}} jl-background-norepeat{{padding}}{{content_maxwidth}} jl-background-{{particle.background_image_position|e}}{% if particle.background_image_size != 'auto' %} jl-background-{{particle.background_image_size|e}}{% endif %}{% if particle.parallax_bg_visibility != 'always' %} jl-background-image@{{particle.parallax_bg_visibility|e}}{% endif %}{% if particle.vertical_alignment != 'none' %} jl-flex jl-flex-{{particle.vertical_alignment|e}}{% endif %}{% if particle.parallax_text_color != 'default' %} jl-{{particle.parallax_text_color|e}}{% endif %}{% if particle.blendmode != 'inherit' %} jl-background-blend-{{particle.blendmode|e}}{% endif %}" {{parallax_bg_color}}{% if particle.horizontal_start or particle.horizontal_end or particle.vertical_start or particle.vertical_end %} jl-parallax="{% if particle.horizontal_start or particle.horizontal_end %}bgx: {{particle.horizontal_start|e}},{{particle.horizontal_end|e}};{% endif %}{% if particle.vertical_start or particle.vertical_end %}bgy: {{particle.vertical_start|e}},{{particle.vertical_end|e}};{% endif %}{% if particle.parallax_bg_breakpoint != 'always' %} media: @{{particle.parallax_bg_breakpoint|e}}{% endif %}" {% endif %} jl-img {{viewport_height}}>
{{container}}
{% endif %}
{% endset %}

{# End Parallax Background #}
{% set endparallaxbackground %}
{% if particle.parallax_image %}
{{endcontainer}}
</div>
{% endif %}
{% endset %}

{# Set Horizontal #}
{% set pahorizontal %}
{% if particle.pa_horizontal_start or particle.pa_horizontal_end %}x: {% if particle.pa_horizontal_start == '' %}0{% else %}{{particle.pa_horizontal_start }}{% endif %},{% if particle.pa_horizontal_end == '' %}0{% else %}{{particle.pa_horizontal_end }}{% endif %};{% endif %}
{% endset %}

{# Set Vertical #}
{% set pavertical %}
{% if particle.pa_vertical_start or particle.pa_vertical_end %}y: {% if particle.pa_vertical_start == '' %}0{% else %}{{particle.pa_vertical_start }}{% endif %},{% if particle.pa_vertical_end == '' %}0{% else %}{{particle.pa_vertical_end }}{% endif %};{% endif %}
{% endset %}

{# Set Scale #}
{% set scale %}
{% if particle.scale_start or particle.scale_end %}scale: {% if particle.scale_start == '' %}1{% else %}{{particle.scale_start / 100 }}{% endif %},{% if particle.scale_end == '' %}1{% else %} {{particle.scale_end / 100 }}{% endif %};{% endif %}
{% endset %}

{# Set Rotate #}
{% set rotate %}{% if particle.rotate_start or particle.rotate_end %}
rotate: {% if particle.rotate_start == '' %}0{% else %}{{particle.rotate_start}}{% endif %},{% if particle.rotate_end == '' %}0{% else %}{{particle.rotate_end}}{% endif %};{% endif %}
{% endset %}

{# Set Opacity #}
{% set opacity %}
{% if particle.opacity_start or particle.opacity_end %}opacity: {% if particle.opacity_start == '' %}1{% else %}{{particle.opacity_start / 100 }}{% endif %},{% if particle.opacity_end == '' %}1{% else %}{{particle.opacity_end / 100 }}{% endif %};{% endif %}
{% endset %}

{# set Scrollspy Animation #}
{% set scrollspy_cls %}
{% if particle.delay_element_animations == '1' %} jl-scrollspy-class{% endif %}
{% endset %}

{# set Animation #}
{% set animation %}
{% if particle.animation == 'parallax' %}
{% if particle.pa_horizontal_start or particle.pa_horizontal_end or particle.pa_vertical_start or particle.pa_vertical_end or particle.scale_start or particle.scale_end or particle.rotate_start or particle.rotate_end or particle.opacity_start or particle.opacity_end or particle.easing or particle.pa_viewport or particle.pa_breakpoint %} jl-parallax="{{pahorizontal}}{{pavertical}}{{scale}}{{rotate}}{{opacity}}{% if particle.easing == '' %}{% else %}easing: {{ particle.easing / 100 }};{% endif %}{% if particle.pa_viewport != '' %}viewport:{{ particle.pa_viewport / 100 }};{% endif %}{% if particle.pa_breakpoint != 'always' %}media: @{{particle.pa_breakpoint|e}}{% endif %}"{% endif %}
{% else %}
{% if particle.animation != 'inherit' %}
{% if particle.delay_element_animations == '1' %} jl-scrollspy="target: [jl-scrollspy-class]; cls: jl-animation-{{particle.animation|e}};{% if particle.animation_repeat != 'disabled' %} repeat: true;{% endif %}{% if particle.animation_delay != '' %} delay: {{particle.animation_delay|e}};{% else %} delay: 200;{% endif %}"{% else %} jl-scrollspy="cls: jl-animation-{{particle.animation|e}};{% if particle.animation_repeat != 'disabled' %} repeat: true;{% endif %}{% if particle.animation_delay != '' %} delay: {{particle.animation_delay|e}};{% endif %}"{% endif %}
{% endif %}
{% endif %}
{% endset %}

{# Set Particle Alignment #}
{% set particle_alignment %}
{% if particle.align != 'inherit' %} jl-text-{{particle.align|e}}{% if particle.breakpoint != 'always' %}@{{particle.breakpoint|e}}{% endif %}{% endif %}{% if particle.align != 'inherit' and particle.breakpoint != 'always' %}{% if particle.fallback != 'inherit' %} jl-text-{{particle.fallback|e}}{% endif %}{% endif %}
{% endset %}

{# Set Max-Width Timeline Content #}
{% set c_maxwidth %}
jl-width-{{particle.c_maxwidth}}{% if particle.c_maxwidth_breakpoint != 'always' %}@{{particle.c_maxwidth_breakpoint}}{% endif %}
{% endset %}

{# set Particle Title Style #}
{% set particle_title_style %}
{% if particle.particle_title %}
<{{particle.particle_title_element|e}} id="{{ id }}" class="g5-particle-title{% if particle.particle_title_align != 'inherit' %} jl-text-{{particle.particle_title_align|e}}{% endif %}{% if particle.particle_predefined_color != 'default' %} jl-text-{{particle.particle_predefined_color|e}}{% endif %}{% if particle.particle_title_style != 'default' %} jl-{{particle.particle_title_style|e}}{% endif %}{% if particle.particle_title_decoration != 'none' %} jl-heading-{{particle.particle_title_decoration|e}}{% endif %}">
{% if particle.particle_title_decoration == 'line' %} <span>{{particle.particle_title|raw}}</span>
{% else %} {{particle.particle_title|raw}}
{% endif %}
</{{particle.particle_title_element|e}}>
{% endif %}
{% endset %}

{% set imagewidth %}
{% if particle.image_width != '' %} width = "{{particle.image_width}}"{% endif %}
{% endset %}

{% set imageheight %}
{% if particle.image_height != '' %} height = "{{particle.image_height}}"{% endif %}
{% endset %}

{# Image Transition #}
{% set image_transition %}
{% if particle.image_transition %} jl-transition-{{ particle.image_transition|e }} jl-transition-opaque{% endif %}
{% endset %}

{# Image Box Shadow #}
{% set image_boxshadow %}
{% if particle.box_shadow != 'none' %} jl-box-shadow-{{particle.box_shadow|e}}{% endif %}{% if particle.box_shadow_hover != 'none' %} jl-box-shadow-hover-{{particle.box_shadow_hover|e}}{% endif %}
{% endset %}

{# Set Image Border Class #}
{% set image_border_cls %}
{% if particle.image_border != 'none' %} jl-border-{{particle.image_border|e}}{% endif %}
{% endset %}

{# Set Button Class #}
{% set button_cls %}
{% if particle.buttonclass == 'link' %}jl-link{% elseif particle.buttonclass == 'link-muted' or particle.buttonclass == 'link-text' %}jl-{{particle.buttonclass|e}}{% else %}jl-button jl-button-{{particle.buttonclass|e}}{% endif %}
{% endset %}

{# Set Button Size #}
{% set button_size %}
{% if particle.buttonclass == 'link' or particle.buttonclass == 'link-muted' or particle.buttonclass == 'link-text' or particle.buttonclass == 'text' %}{% else %}{% if particle.link_button_size != 'default' %} jl-button-{{particle.link_button_size|e}}{% endif %}{% endif %}
{% endset %}

{# Set Image Margin Top Class #}
{% set image_top_cls %}
{% if particle.image_alignment == 'bottom' or particle.image_alignment == 'between' %}{% if particle.image_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.image_margin_top|e }}-top{% endif %}{% endif %}
{% endset %}

{# Set Image Margin Top Class #}
{% set image_top_cls2 %}
{% if particle.image_alignment == 'bottom' or particle.image_alignment == 'between' %}{% if particle.image_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.image_margin_top|e }}-top{% endif %}{% endif %}
{% endset %}

{# Set Image Margin Top Transition #}
{% set image_top_cls_transition %}
{% if particle.image_transition != '' %}{% else %}{{image_top_cls}}{% endif %}
{% endset %}

{# Set Item Switcher #}
{% set item_switcher %}

<div class="tm-items-switcher jl-margin jl-hidden@s">

<ul id="timeline-{{id}}" class="jl-switcher">
{% for item in particle.items %}

{% set linkscroll %}
{% if item.buttonlink|e matches '/#/' %} jl-scroll{% endif %}
{% endset %}

{# Set Item Image #}
{% set item_image %}
{% if item.image %}
{% if particle.link_type == 'content' %}<a href="{{ item.buttonlink|e }}" target="{{ particle.buttontarget|default('_self')|e }}" title="{{ item.buttontext|e }}"{{linkscroll}}>{% endif %}
{% if particle.image_transition %}<div class="jl-inline-clip jl-transition-toggle{{image_top_cls2}}" tabindex="0">{% endif %}
<img{{imagewidth}}{{imageheight}} class="tm-image{{image_top_cls_transition}}{{image_transition}}{{image_border_cls}}{{image_boxshadow}}" data-src="{{ url(item.image)|e }}"{% if item.image_alt %} alt="{{item.image_alt|e}}"{% endif %} jl-img>
{% if particle.image_transition %}</div>{% endif %}
{% if particle.link_type == 'content' %}</a>{% endif %}
{% endif %}
{% endset %}

{# Set Item Meta #}
{% set item_meta %}
{% if item.meta %}
<div class="tm-meta{{meta_text_transform}}{% if particle.meta_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.meta_margin_top|e }}-top{% endif %}{% if particle.pre_meta_color == 'default' %}{% else %} jl-text-{{ particle.pre_meta_color|e }}{% endif %}{% if particle.meta_style != 'default' %} jl-{{ particle.meta_style|e }}{% endif %}">
{{item.meta|raw}}
</div>
{% endif %}
{% endset %}

{# Set Item Title #}
{% set item_title %}
{% if item.title %}
<{{particle.title_element|e}} class="tm-title jl-margin-remove-bottom{{title_text_transform}}{% if particle.title_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.title_margin_top|e }}-top{% endif %}{% if particle.title_color != 'default' %} jl-text-{{particle.title_color|e}}{% endif %}{% if particle.title_style != 'default' %} jl-{{particle.title_style|e}}{% endif %}{% if particle.title_decoration != 'none' %} jl-heading-{{particle.title_decoration|e}}{% endif %}">
{% if particle.title_decoration == 'line' %} <span>
{% if particle.link_type == 'content' %}<a href="{{ item.buttonlink|e }}" target="{{ particle.buttontarget|default('_self')|e }}" title="{{ item.buttontext|e }}"{{linkscroll}}>{% endif %}
{{ item.title|raw }}
{% if particle.link_type == 'content' %}</a>{% endif %}
</span>
{% else %}
{% if particle.link_type == 'content' %}<a href="{{ item.buttonlink|e }}" target="{{ particle.buttontarget|default('_self')|e }}" title="{{ item.buttontext|e }}"{{linkscroll}}>{% endif %}
{{ item.title|raw }}
{% if particle.link_type == 'content' %}</a>{% endif %}
{% endif %}
</{{particle.title_element|e}}>
{% endif %}
{% endset %}

{# Set Item Content #}
{% set item_content %}
{% if item.content %}
<div class="tm-content jl-panel{{content_text_transform}}{% if particle.content_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.content_margin_top|e }}-top{% endif %}{% if particle.content_style != 'default' %} jl-text-{{ particle.content_style|e }}{% endif %}{% if particle.content_text_color != 'default' %} jl-text-{{ particle.content_text_color|e }}{% endif %}">{{ item.content|raw }}</div>
{% endif %}
{% endset %}

{# Set Item Button #}
{% set item_button %}
{% if item.buttontext %}
<div class="{% if particle.link_margin_top == 'default' %}jl-margin-top{% else %}jl-margin-{{ particle.link_margin_top|e }}-top{% endif %}">
<a class="{{button_cls}}{{button_size}}" href="{{ item.buttonlink|e }}" target="{{ particle.buttontarget|default('_self')|e }}" title="{{ item.buttontext|e }}"{{linkscroll}}>{{ item.buttontext|e }}</a>
</div>
{% endif %}
{% endset %}

<li>

{# Default Style #}

{% if item.card_style == 'blank' %}

{# Card Blank #}


{% if particle.link_type == 'element' %}
<a class="jl-panel jl-margin-remove-first-child jl-display-block jl-link-reset" href="{{ item.buttonlink|e }}" target="{{ particle.buttontarget|default('_self')|e }}" title="{{ item.buttontext|e }}"{{linkscroll}}>
{% else %}
<div class="jl-panel jl-margin-remove-first-child">
{% endif %}


{% if particle.show_date %}<div class="jl-card-badge jl-label jl-position-top-right">{{ item.year|date(particle.date_format) }}</div>{% endif %}

{% if particle.image_alignment == 'top' or particle.image_alignment == 'left' or particle.image_alignment == 'right' %}
{{item_image}}
{% endif %}

{% if particle.meta_alignment == 'top' %}
{{item_meta}}
{% endif %}

{{item_title}}

{% if particle.meta_alignment == 'bottom' %}
{{item_meta}}
{% endif %}

{% if particle.image_alignment == 'between' %}
{{item_image}}
{% endif %}

{{item_content}}

{% if particle.meta_alignment == 'content' %}
{{item_meta}}
{% endif %}

{% if particle.link_type == 'button' %}
{{item_button}}
{% endif %}

{% if particle.image_alignment == 'bottom' %}
{{item_image}}
{% endif %}

{% if particle.link_type == 'element' %}
</a>
{% else %}
</div>
{% endif %}

{# End Card Blank #}

{% else %}

{# Card styles #}

{% if particle.image_padding == '1' %}

{% if particle.link_type == 'element' %}
<a class="jl-card jl-card-{{ item.card_style }}{% if item.cardsize != 'default' %} jl-card-{{ item.cardsize }}{% endif %} jl-display-block jl-link-reset{% if item.card_style != 'hover' %} jl-card-hover{% endif %}" href="{{ item.buttonlink|e }}" target="{{ particle.buttontarget|default('_self')|e }}" title="{{ item.buttontext|e }}"{{linkscroll}}>
{% else %}
<div class="jl-card jl-card-{{ item.card_style }}{% if item.cardsize != 'default' %} jl-card-{{ item.cardsize }}{% endif %}">
{% endif %}

{% if particle.image_alignment == 'top' or particle.image_alignment == 'left' or particle.image_alignment == 'right' %}
<div class="jl-card-media-top">
{{item_image}}
</div>
{% endif %}

{% if particle.show_date %}<div class="jl-card-badge jl-label jl-position-top-right">{{ item.year|date(particle.date_format) }}</div>{% endif %}

<div class="jl-card-body jl-margin-remove-first-child">

{% if particle.meta_alignment == 'top' %}
{{item_meta}}
{% endif %}

{{item_title}}

{% if particle.meta_alignment == 'bottom' %}
{{item_meta}}
{% endif %}

{% if particle.image_alignment == 'between' %}
{{item_image}}
{% endif %}

{{item_content}}

{% if particle.meta_alignment == 'content' %}
{{item_meta}}
{% endif %}

{% if particle.link_type == 'button' %}
{{item_button}}
{% endif %}

</div>

{% if particle.image_alignment == 'bottom' %}
<div class="jl-card-media-bottom">
{{item_image}}
</div>
{% endif %}

{% if particle.link_type == 'element' %}
</a>
{% else %}
</div>
{% endif %}

{% else %}

{% if particle.link_type == 'element' %}
<a class="jl-card jl-card-{{ item.card_style }} jl-card-body{% if item.cardsize != 'default' %} jl-card-{{ item.cardsize }}{% endif %} jl-margin-remove-first-child jl-display-block jl-link-reset{% if item.card_style != 'hover' %} jl-card-hover{% endif %}" href="{{ item.buttonlink|e }}" target="{{ particle.buttontarget|default('_self')|e }}" title="{{ item.buttontext|e }}"{{linkscroll}}>
{% else %}
<div class="jl-card jl-card-{{ item.card_style }} jl-card-body{% if item.cardsize != 'default' %} jl-card-{{ item.cardsize }}{% endif %} jl-margin-remove-first-child">
{% endif %}

{% if particle.show_date %}<div class="jl-card-badge jl-label">{{ item.year|date(particle.date_format) }}</div>{% endif %}

{% if particle.image_alignment == 'top' or particle.image_alignment == 'left' or particle.image_alignment == 'right' %}
{{item_image}}
{% endif %}

{% if particle.meta_alignment == 'top' %}
{{item_meta}}
{% endif %}

{{item_title}}

{% if particle.meta_alignment == 'bottom' %}
{{item_meta}}
{% endif %}

{% if particle.image_alignment == 'between' %}
{{item_image}}
{% endif %}

{{item_content}}

{% if particle.meta_alignment == 'content' %}
{{item_meta}}
{% endif %}

{% if particle.link_type == 'button' %}
{{item_button}}
{% endif %}

{% if particle.image_alignment == 'bottom' %}
{{item_image}}
{% endif %}

{% if particle.link_type == 'element' %}
</a>
{% else %}
</div>
{% endif %}

{% endif %}


{# End card style #}

{% endif %}

</li>
{% endfor %}
</ul>

<ul class="jl-dotnav jl-flex-center jl-margin" jl-switcher="connect: #timeline-{{id}}; animation: jl-animation-fade;">
{% for item in particle.items %}
<li><a href="#" aria-expanded="true" jl-switcher-item="{{loop.index}}"></a></li>
{% endfor %}
</ul>

</div>

{% endset %}


{# Set Item Timeline #}
{% set item_timeline %}

<div class="jl-grid jl-grid-collapse jl-flex-{{particle.c_maxwidth_alignment}} jl-visible@s" jl-grid>

{% for item in particle.items %}

{% set linkscroll %}
{% if item.buttonlink|e matches '/#/' %} jl-scroll{% endif %}
{% endset %}

{# Set Item Image #}
{% set item_image %}
{% if item.image %}
{% if particle.link_type == 'content' %}<a href="{{ item.buttonlink|e }}" target="{{ particle.buttontarget|default('_self')|e }}" title="{{ item.buttontext|e }}"{{linkscroll}}>{% endif %}
{% if particle.image_transition %}<div class="jl-inline-clip jl-transition-toggle{{image_top_cls2}}" tabindex="0">{% endif %}
<img{{imagewidth}}{{imageheight}} class="tm-image{{image_top_cls_transition}}{{image_transition}}{{image_border_cls}}{{image_boxshadow}}" data-src="{{ url(item.image)|e }}"{% if item.image_alt %} alt="{{item.image_alt|e}}"{% endif %} jl-img>
{% if particle.image_transition %}</div>{% endif %}
{% if particle.link_type == 'content' %}</a>{% endif %}
{% endif %}
{% endset %}

{# Set Item Image Cover #}
{% set item_image_cover %}
{% if item.image %}<img class="tm-image" data-src="{{ url(item.image)|e }}"{% if item.image_alt %} alt="{{item.image_alt|e}}"{% endif %} jl-img jl-cover>{% endif %}
{% endset %}

{# Set Item Image #}
{% set item_image_invisible %}
{% if item.image %}
{% if particle.image_transition %}<div class="jl-inline-clip jl-transition-toggle{{image_top_cls2}}" tabindex="0">{% endif %}
<img{{imagewidth}}{{imageheight}} class="tm-image jl-invisible{{image_top_cls_transition}}{{image_transition}}{{image_border_cls}}{{image_boxshadow}}" data-src="{{ url(item.image)|e }}"{% if item.image_alt %} alt="{{item.image_alt|e}}"{% endif %} jl-img>
{% if particle.image_transition %}</div>{% endif %}
{% endif %}
{% endset %}

{# Set Item Meta #}
{% set item_meta %}
{% if item.meta %}
<div class="tm-meta{{meta_text_transform}}{% if particle.meta_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.meta_margin_top|e }}-top{% endif %}{% if particle.pre_meta_color == 'default' %}{% else %} jl-text-{{ particle.pre_meta_color|e }}{% endif %}{% if particle.meta_style != 'default' %} jl-{{ particle.meta_style|e }}{% endif %}">
{{item.meta|raw}}
</div>
{% endif %}
{% endset %}

{# Set Item Title #}
{% set item_title %}
{% if item.title %}
<{{particle.title_element|e}} class="tm-title jl-margin-remove-bottom{{title_text_transform}}{% if particle.title_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.title_margin_top|e }}-top{% endif %}{% if particle.title_color != 'default' %} jl-text-{{particle.title_color|e}}{% endif %}{% if particle.title_style != 'default' %} jl-{{particle.title_style|e}}{% endif %}{% if particle.title_decoration != 'none' %} jl-heading-{{particle.title_decoration|e}}{% endif %}">
{% if particle.title_decoration == 'line' %} <span>{% if particle.link_type == 'content' %}<a class="jl-link-reset" href="{{ item.buttonlink|e }}" target="{{ particle.buttontarget|default('_self')|e }}" title="{{ item.buttontext|e }}"{{linkscroll}}>{% endif %}{{ item.title|raw }}{% if particle.link_type == 'content' %}</a>{% endif %}</span>
{% else %}
{% if particle.link_type == 'content' %}<a class="jl-link-reset" href="{{ item.buttonlink|e }}" target="{{ particle.buttontarget|default('_self')|e }}" title="{{ item.buttontext|e }}"{{linkscroll}}>{% endif %}{{ item.title|raw }}{% if particle.link_type == 'content' %}</a>{% endif %}
{% endif %}
</{{particle.title_element|e}}>
{% endif %}
{% endset %}

{# Set Item Content #}
{% set item_content %}
{% if item.content %}
<div class="tm-content jl-panel{{content_text_transform}}{% if particle.content_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.content_margin_top|e }}-top{% endif %}{% if particle.content_style != 'default' %} jl-text-{{ particle.content_style|e }}{% endif %}{% if particle.content_text_color != 'default' %} jl-text-{{ particle.content_text_color|e }}{% endif %}">{{ item.content|raw }}</div>
{% endif %}
{% endset %}

{# Set Item Button #}
{% set item_button %}
{% if item.buttontext %}
<div class="{% if particle.link_margin_top == 'default' %}jl-margin-top{% else %}jl-margin-{{ particle.link_margin_top|e }}-top{% endif %}">
<a class="{{button_cls}}{{button_size}}" href="{{ item.buttonlink|e }}" target="{{ particle.buttontarget|default('_self')|e }}" title="{{ item.buttontext|e }}"{{linkscroll}}>{{ item.buttontext|e }}</a>
</div>
{% endif %}
{% endset %}

{% if particle.c_maxwidth == 'large' %}

{% if item.card_alignment == 'right' %}

<div class="tm-timeline-item {{c_maxwidth}} jl-visible@m">
{% if item.year %}<div class="tm-timeline-date jl-text-right"{{scrollspy_cls}}><span class="tm-date{% if particle.predefined_date_style != 'default' %} jl-label-{{particle.predefined_date_style}}{% endif %}"><i jl-icon="calendar"></i> <span class="jl-text-middle">{{ item.year|date(particle.date_format) }}</span></span></div>{% endif %}
</div>
{% endif %}

{% endif %}

{% if particle.c_maxwidth == 'large' %}
<div class="{{c_maxwidth}} tm-timeline-item{% if item.card_alignment == 'right' %} right-part{% else %} left-part{% endif %}">
{% else %}
<div class="{{c_maxwidth}} tm-timeline-item left-part tm-large-container">
{% endif %}

<div class="tm-timeline-item-main-wrapper">

{% if loop.last %}
{% else %}
<div id="timeline-parallax-{{id}}" class="tm-timeline-line"><span jl-parallax="target: timeline-parallax-{{id}}; opacity: 1; viewport: 0.5;easing: 0.5; background-color: {{particle.customize_line_background|default('#f2f2f2')|e}},{{particle.customize_line_background_scroll|default('#5cb85c')|e}}"></span></div>
{% endif %}
<div class="tm-timeline-item-main-container tm-timeline-{{loop.index}}">
<div id="icon-parallax-{{id}}" class="tm-timeline-icon">
<span jl-icon="{{item.icon}}" jl-parallax="target: icon-parallax-{{id}}; opacity: 1; viewport: 0.5; easing: 0.5;border-color: {{particle.customize_line_background|default('#f2f2f2')|e}},{{particle.customize_line_background_scroll|default('#5cb85c')|e}}"></span>
</div>

{% if particle.image_alignment == 'top' or particle.image_alignment == 'bottom' or particle.image_alignment == 'between' %}

{# Default Style #}

{% if item.card_style == 'blank' %}

{# Card Blank #}

{% if particle.link_type == 'element' %}
<a class="jl-panel jl-margin-remove-first-child jl-display-block jl-link-reset" href="{{ item.buttonlink|e }}" target="{{ particle.buttontarget|default('_self')|e }}" title="{{ item.buttontext|e }}"{{linkscroll}}{{scrollspy_cls}}>
{% else %}
<div class="jl-panel jl-margin-remove-first-child"{{scrollspy_cls}}>
{% endif %}

<span class="tm-timeline-arrow"></span>
{% if particle.show_date %}
{% if particle.c_maxwidth != 'large' %}
<div class="jl-card-badge jl-label jl-visible@s jl-position-top-right">
{% else %}
<div class="jl-card-badge jl-label jl-hidden@m jl-position-top-right">
{% endif %}
{% if item.year %}<span><i jl-icon="calendar"></i> {{ item.year|date(particle.date_format) }}</span>{% endif %}
</div>
{% endif %}

{% if particle.image_alignment == 'top' %}
{{item_image}}
{% endif %}

{% if particle.meta_alignment == 'top' %}
{{item_meta}}
{% endif %}

{{item_title}}

{% if particle.meta_alignment == 'bottom' %}
{{item_meta}}
{% endif %}

{% if particle.image_alignment == 'between' %}
{{item_image}}
{% endif %}

{{item_content}}

{% if particle.meta_alignment == 'content' %}
{{item_meta}}
{% endif %}

{% if particle.link_type == 'button' %}
{{item_button}}
{% endif %}

{% if particle.image_alignment == 'bottom' %}
{{item_image}}
{% endif %}

{% if particle.link_type == 'element' %}
</a>
{% else %}
</div>
{% endif %}

{# End Card Blank #}

{% else %}

{# Card styles #}

{% if particle.image_padding == '1' %}

{% if particle.link_type == 'element' %}
<a class="tm-timeline-item-main jl-card jl-card-{{ item.card_style }}{% if item.cardsize != 'default' %} jl-card-{{ item.cardsize }}{% endif %} jl-display-block jl-link-reset{% if item.card_style != 'hover' %} jl-card-hover{% endif %}" href="{{ item.buttonlink|e }}" target="{{ particle.buttontarget|default('_self')|e }}" title="{{ item.buttontext|e }}"{{linkscroll}}{{scrollspy_cls}}>
{% else %}
<div class="tm-timeline-item-main jl-card jl-card-{{ item.card_style }}{% if item.cardsize != 'default' %} jl-card-{{ item.cardsize }}{% endif %}"{{scrollspy_cls}}>
{% endif %}

<span class="tm-timeline-arrow"></span>

{% if particle.image_alignment == 'top' %}
{{item_image}}
{% endif %}

<div class="jl-card-body jl-margin-remove-first-child">

{% if particle.show_date %}
{% if particle.c_maxwidth != 'large' %}
<div class="jl-card-badge jl-label jl-visible@s jl-position-top-right">
{% else %}
<div class="jl-card-badge jl-label jl-hidden@m jl-position-top-right">
{% endif %}
{% if item.year %}<span><i jl-icon="calendar"></i> {{ item.year|date(particle.date_format) }}</span>{% endif %}
</div>
{% endif %}


{% if particle.meta_alignment == 'top' %}
{{item_meta}}
{% endif %}

{{item_title}}

{% if particle.meta_alignment == 'bottom' %}
{{item_meta}}
{% endif %}

{% if particle.image_alignment == 'between' %}
{{item_image}}
{% endif %}

{{item_content}}

{% if particle.meta_alignment == 'content' %}
{{item_meta}}
{% endif %}

{% if particle.link_type == 'button' %}
{{item_button}}
{% endif %}

</div>

{% if particle.image_alignment == 'bottom' %}
{{item_image}}
{% endif %}

{% if particle.link_type == 'element' %}
</a>
{% else %}
</div>
{% endif %}

{% else %}

{% if particle.link_type == 'element' %}
<a class="tm-timeline-item-main jl-card jl-card-{{ item.card_style }} jl-card-body{% if item.cardsize != 'default' %} jl-card-{{ item.cardsize }}{% endif %} jl-margin-remove-first-child jl-display-block jl-link-reset{% if item.card_style != 'hover' %} jl-card-hover{% endif %}" href="{{ item.buttonlink|e }}" target="{{ particle.buttontarget|default('_self')|e }}" title="{{ item.buttontext|e }}"{{linkscroll}}{{scrollspy_cls}}>
{% else %}
<div class="tm-timeline-item-main jl-card jl-card-{{ item.card_style }} jl-card-body{% if item.cardsize != 'default' %} jl-card-{{ item.cardsize }}{% endif %} jl-margin-remove-first-child"{{scrollspy_cls}}>
{% endif %}


{% if particle.show_date %}
{% if particle.c_maxwidth != 'large' %}
<div class="jl-card-badge jl-label jl-visible@s">
{% else %}
<div class="jl-card-badge jl-label jl-hidden@m">
{% endif %}
{% if item.year %}<span><i jl-icon="calendar"></i> {{ item.year|date(particle.date_format) }}</span>{% endif %}
</div>
{% endif %}

<span class="tm-timeline-arrow"></span>

{% if particle.image_alignment == 'top' %}
{{item_image}}
{% endif %}

{% if particle.meta_alignment == 'top' %}
{{item_meta}}
{% endif %}

{{item_title}}

{% if particle.meta_alignment == 'bottom' %}
{{item_meta}}
{% endif %}

{% if particle.image_alignment == 'between' %}
{{item_image}}
{% endif %}

{{item_content}}

{% if particle.meta_alignment == 'content' %}
{{item_meta}}
{% endif %}

{% if particle.link_type == 'button' %}
{{item_button}}
{% endif %}

{% if particle.image_alignment == 'bottom' %}
{{item_image}}
{% endif %}

{% if particle.link_type == 'element' %}
</a>
{% else %}
</div>
{% endif %}

{% endif %}


{# End card style #}

{% endif %}

{# End Default Style #}

{% else %}

{# Grid Style #}

{% if item.card_style == 'blank' %}

{# Card Blank #}



{% if particle.link_type == 'element' %}
<a class="jl-panel jl-display-block jl-link-reset" href="{{ item.buttonlink|e }}" target="{{ particle.buttontarget|default('_self')|e }}" title="{{ item.buttontext|e }}"{{linkscroll}}{{scrollspy_cls}}>
{% else %}
<div class="jl-panel"{{scrollspy_cls}}>
{% endif %}

<div class="jl-child-width-expand{% if particle.image_grid_gutter != 'default' %} jl-grid-{{ particle.image_grid_gutter|e }}{% endif %}{% if particle.image_vertical_alignment == '1' %} jl-flex-middle{% endif %}" jl-grid>
<div class="jl-width-{{ particle.image_grid_width }}{% if particle.image_grid_breakpoint != 'default' %}@{{ particle.image_grid_breakpoint|e }}{% endif %}{% if particle.image_alignment == 'right' %} jl-flex-last{% if particle.image_grid_breakpoint != 'default' %}@{{ particle.image_grid_breakpoint|e }}{% endif %}{% endif %}">

{{item_image}}
{% if particle.c_maxwidth != 'large' %}
{% if item.year %}<div class="jl-card-badge jl-label jl-visible@s jl-position-top-right"><span>{{ item.year|date(particle.date_format) }}</span></div>{% endif %}
{% endif %}
</div>

<div class="jl-margin-remove-first-child">

{% if particle.meta_alignment == 'top' %}
{{item_meta}}
{% endif %}

{{item_title}}

{% if particle.meta_alignment == 'bottom' %}
{{item_meta}}
{% endif %}

{{item_content}}

{% if particle.meta_alignment == 'content' %}
{{item_meta}}
{% endif %}

{% if particle.link_type == 'button' %}
{{item_button}}
{% endif %}

</div>
</div>

{% if particle.link_type == 'element' %}
</a>
{% else %}
</div>
{% endif %}

{# End Card Blank #}

{% else %}

{# Card styles #}

{% if particle.image_padding == '1' %}

{% if particle.link_type == 'element' %}
<a class="tm-timeline-item-main jl-card jl-card-{{ item.card_style }}{% if item.cardsize != 'default' %} jl-card-{{ item.cardsize }}{% endif %} jl-display-block jl-link-reset{% if item.card_style != 'hover' %} jl-card-hover{% endif %}" href="{{ item.buttonlink|e }}" target="{{ particle.buttontarget|default('_self')|e }}" title="{{ item.buttontext|e }}"{{linkscroll}}{{scrollspy_cls}}>
{% else %}
<div class="tm-timeline-item-main jl-card jl-card-{{ item.card_style }}{% if item.cardsize != 'default' %} jl-card-{{ item.cardsize }}{% endif %}"{{scrollspy_cls}}>
{% endif %}

<span class="tm-timeline-arrow"></span>

{% if particle.image_padding == '1' %}
<div class="jl-child-width-expand jl-grid-collapse jl-grid-match{% if particle.image_vertical_alignment == '1' %} jl-flex-middle{% endif %}" jl-grid>
{% else %}
<div class="jl-child-width-expand{% if particle.image_grid_gutter != 'default' %} jl-grid-{{ particle.image_grid_gutter|e }}{% endif %}{% if particle.image_vertical_alignment == '1' %} jl-flex-middle{% endif %}" jl-grid>
{% endif %}
<div class="jl-width-{{ particle.image_grid_width }}{% if particle.image_grid_breakpoint != 'default' %}@{{ particle.image_grid_breakpoint|e }}{% endif %}{% if particle.image_alignment == 'right' %} jl-flex-last{% if particle.image_grid_breakpoint != 'default' %}@{{ particle.image_grid_breakpoint|e }}{% endif %}{% endif %}">
<div class="jl-cover-container{% if particle.image_alignment == 'right' %} jl-card-media-right{% else %} jl-card-media-left{% endif %}">

{% if particle.image_padding == '1' %}
{% if particle.link_type == 'content' %}<a href="{{ item.buttonlink|e }}" target="{{ particle.buttontarget|default('_self')|e }}" title="{{ item.buttontext|e }}"{{linkscroll}}>{% endif %}
{{item_image_cover}}
{{item_image_invisible}}
{% if particle.link_type == 'content' %}</a>{% endif %}
{% else %}

{{item_image}}

{% endif %}

</div>
</div>

<div>
<div class="jl-card-body jl-margin-remove-first-child">

{% if particle.show_date %}
{% if particle.c_maxwidth != 'large' %}
<div class="jl-card-badge jl-label jl-visible@s jl-position-top-right">
{% else %}
<div class="jl-card-badge jl-label jl-hidden@m jl-position-top-right">
{% endif %}
{% if item.year %}<span><i jl-icon="calendar"></i> {{ item.year|date(particle.date_format) }}</span>{% endif %}
</div>
{% endif %}

{% if particle.meta_alignment == 'top' %}
{{item_meta}}
{% endif %}

{{item_title}}

{% if particle.meta_alignment == 'bottom' %}
{{item_meta}}
{% endif %}

{{item_content}}

{% if particle.meta_alignment == 'content' %}
{{item_meta}}
{% endif %}

{% if particle.link_type == 'button' %}
{{item_button}}
{% endif %}

</div>
</div>
</div>

{% if particle.link_type == 'element' %}
</a>
{% else %}
</div>
{% endif %}

{% else %}

{% if particle.link_type == 'element' %}
<a class="tm-timeline-item-main jl-card jl-card-{{ item.card_style }} jl-card-body{% if item.cardsize != 'default' %} jl-card-{{ item.cardsize }}{% endif %} jl-display-block jl-link-reset{% if item.card_style != 'hover' %} jl-card-hover{% endif %}" href="{{ item.buttonlink|e }}" target="{{ particle.buttontarget|default('_self')|e }}" title="{{ item.buttontext|e }}"{{linkscroll}}{{scrollspy_cls}}>
{% else %}
<div class="tm-timeline-item-main jl-card jl-card-{{ item.card_style }} jl-card-body{% if item.cardsize != 'default' %} jl-card-{{ item.cardsize }}{% endif %}"{{scrollspy_cls}}>
{% endif %}

{% if particle.show_date %}
{% if particle.c_maxwidth != 'large' %}
<div class="jl-card-badge jl-label jl-visible@s jl-position-top-right">
{% else %}
<div class="jl-card-badge jl-label jl-hidden@m">
{% endif %}
{% if item.year %}<span><i jl-icon="calendar"></i> {{ item.year|date(particle.date_format) }}</span>{% endif %}
</div>
{% endif %}

<span class="tm-timeline-arrow"></span>
<div class="jl-child-width-expand{% if particle.image_grid_gutter != 'default' %} jl-grid-{{ particle.image_grid_gutter|e }}{% endif %}{% if particle.image_vertical_alignment == '1' %} jl-flex-middle{% endif %}" jl-grid>
<div class="jl-width-{{ particle.image_grid_width }}{% if particle.image_grid_breakpoint != 'default' %}@{{ particle.image_grid_breakpoint|e }}{% endif %}{% if particle.image_alignment == 'right' %} jl-flex-last{% if particle.image_grid_breakpoint != 'default' %}@{{ particle.image_grid_breakpoint|e }}{% endif %}{% endif %}">
{{item_image}}
</div>

<div class="jl-margin-remove-first-child">
{% if particle.meta_alignment == 'top' %}
{{item_meta}}
{% endif %}

{{item_title}}

{% if particle.meta_alignment == 'bottom' %}
{{item_meta}}
{% endif %}

{{item_content}}

{% if particle.meta_alignment == 'content' %}
{{item_meta}}
{% endif %}

{% if particle.link_type == 'button' %}
{{item_button}}
{% endif %}

</div>

</div>

{% if particle.link_type == 'element' %}
</a>
{% else %}
</div>
{% endif %}

{% endif %}

{# End card style #}

{% endif %}

{# End Grid style #}

{% endif %}

</div>
</div>

</div>

{% if particle.c_maxwidth == 'large' %}

{% if item.card_alignment == 'left' %}
<div class="tm-timeline-item {{c_maxwidth}} jl-visible@m">
{% if item.year %}<div class="tm-timeline-date"{{scrollspy_cls}}><span class="tm-date{% if particle.predefined_date_style != 'default' %} jl-label-{{particle.predefined_date_style}}{% endif %}"><i jl-icon="calendar"></i> <span class="jl-text-middle">{{ item.year|date(particle.date_format) }}</span></span></div>{% endif %}
</div>
{% endif %}

{% endif %}

{% endfor %}
</div>

{% endset %}

{% block particle %}
{% if particle.enabled %}
{{parallaxbackground}}
{{particle_title_style}}
<div id="{{ id }}" class="tm-timeline tm-timeline-center{{content_maxwidth}}{% if particle.class %} {{ particle.class }}{% endif %}{{particle_alignment}}{% if particle.margin == 'inherit' %}{% elseif particle.margin == 'default' %} jl-margin{% else %} jl-margin-{{particle.margin|e}}{% endif %}{% if particle.visibility != 'inherit' %} jl-visible@{{particle.visibility|e}}{% endif %}"{{animation}}>

{{item_timeline}}

{{item_switcher}}

</div>

{{endparallaxbackground}}
{% endif %}
{% endblock %}
