{% extends '@nucleus/partials/particle.html.twig' %}

{% block stylesheets %}
{% if particle.particle_title_color or particle.particle_title_fontsize or particle.title_color or particle.title_fontsize or particle.customize_content_color or particle.customize_content_fontsize or particle.meta_color or particle.meta_fontsize %}
<style>
{% if particle.particle_title_color or particle.particle_title_fontsize %}
#{{ id }}.g5-particle-title { {% if particle.particle_title_color %}color: {{ particle.particle_title_color }};{% endif %}{% if particle.particle_title_fontsize %}font-size: {{particle.particle_title_fontsize}}px;{% endif %} }
{% endif %}
</style>
{% endif %}
{% endblock %}

{# set Viewport Height #}
{% set viewport_height %}
{% if particle.viewport_height == 'none' %}
{% elseif particle.viewport_height == 'full' %}
jl-height-viewport="offset-top: true"
{% elseif particle.viewport_height == 'percent' %}
jl-height-viewport="offset-top: true;offset-bottom: 20"
{% elseif particle.viewport_height == 'section' %}
jl-height-viewport="offset-top: true;offset-bottom: 50"
{% elseif particle.viewport_height == 'expand' %}
jl-height-viewport="expand: true"
{% endif %}
{% endset %}

{# set padding #}
{% set padding %}
{% if particle.viewport_height == 'full' %}
{% else %}
{% if particle.padding == 'default' %}{% else %} jl-section-{{particle.padding|e}}{% endif %}
{% endif %}
{% endset %}

{# set Container #}
{% set container %}
{% if particle.container == '1' %}
<div class="jl-container"><div class="g5-content g5-particle">{% endif %}
{% endset %}

{# set End Container #}
{% set endcontainer %}
{% if particle.container == '1' %}
</div></div>{% endif %}
{% endset %}

{# set Background color #}
{% set parallax_bg_color %}
{% if particle.parallax_bg_color %}
style="background-color: {{particle.parallax_bg_color}};"{% endif %}
{% endset %}

{# Set Max-Width Content #}
{% set content_maxwidth %}
{% if particle.g_maxwidth != 'inherit' %} jl-width-{{particle.g_maxwidth}}{% if particle.g_maxwidth_breakpoint != 'always' %}@{{particle.g_maxwidth_breakpoint}}{% endif %}{% if particle.g_maxwidth_alignment == 'left' %}{% elseif particle.g_maxwidth_alignment == 'center' %} jl-margin-auto{% else %} jl-margin-auto-left{% endif %}{% endif %}
{% endset %}

{# set Parallax Background #}
{% set parallaxbackground %}
{% if particle.parallax_image %}
<div data-src="{{ url(particle.parallax_image)|e }}" class="{{id}} jl-background-norepeat{{padding}}{{content_maxwidth}} jl-background-{{particle.background_image_position|e}}{% if particle.background_image_size != 'auto' %} jl-background-{{particle.background_image_size|e}}{% endif %}{% if particle.parallax_bg_visibility != 'always' %} jl-background-image@{{particle.parallax_bg_visibility|e}}{% endif %}{% if particle.vertical_alignment != 'none' %} jl-flex jl-flex-{{particle.vertical_alignment|e}}{% endif %}{% if particle.parallax_text_color != 'default' %} jl-{{particle.parallax_text_color|e}}{% endif %}{% if particle.blendmode != 'inherit' %} jl-background-blend-{{particle.blendmode|e}}{% endif %}" {{parallax_bg_color}}{% if particle.horizontal_start or particle.horizontal_end or particle.vertical_start or particle.vertical_end %} jl-parallax="{% if particle.horizontal_start or particle.horizontal_end %}bgx: {{particle.horizontal_start|e}},{{particle.horizontal_end|e}};{% endif %}{% if particle.vertical_start or particle.vertical_end %}bgy: {{particle.vertical_start|e}},{{particle.vertical_end|e}};{% endif %}{% if particle.parallax_bg_breakpoint != 'always' %} media: @{{particle.parallax_bg_breakpoint|e}}{% endif %}" {% endif %} jl-img {{viewport_height}}>
{{container}}
{% endif %}
{% endset %}

{# End Parallax Background #}
{% set endparallaxbackground %}
{% if particle.parallax_image %}
{{endcontainer}}
</div>
{% endif %}
{% endset %}

{# Set Horizontal #}
{% set pahorizontal %}
{% if particle.pa_horizontal_start or particle.pa_horizontal_end %}x: {% if particle.pa_horizontal_start == '' %}0{% else %}{{particle.pa_horizontal_start }}{% endif %},{% if particle.pa_horizontal_end == '' %}0{% else %}{{particle.pa_horizontal_end }}{% endif %};{% endif %}
{% endset %}

{# Set Vertical #}
{% set pavertical %}
{% if particle.pa_vertical_start or particle.pa_vertical_end %}y: {% if particle.pa_vertical_start == '' %}0{% else %}{{particle.pa_vertical_start }}{% endif %},{% if particle.pa_vertical_end == '' %}0{% else %}{{particle.pa_vertical_end }}{% endif %};{% endif %}
{% endset %}

{# Set Scale #}
{% set scale %}
{% if particle.scale_start or particle.scale_end %}scale: {% if particle.scale_start == '' %}1{% else %}{{particle.scale_start / 100 }}{% endif %},{% if particle.scale_end == '' %}1{% else %} {{particle.scale_end / 100 }}{% endif %};{% endif %}
{% endset %}

{# Set Rotate #}
{% set rotate %}{% if particle.rotate_start or particle.rotate_end %}
rotate: {% if particle.rotate_start == '' %}0{% else %}{{particle.rotate_start}}{% endif %},{% if particle.rotate_end == '' %}0{% else %}{{particle.rotate_end}}{% endif %};{% endif %}
{% endset %}

{# Set Opacity #}
{% set opacity %}
{% if particle.opacity_start or particle.opacity_end %}opacity: {% if particle.opacity_start == '' %}1{% else %}{{particle.opacity_start / 100 }}{% endif %},{% if particle.opacity_end == '' %}1{% else %}{{particle.opacity_end / 100 }}{% endif %};{% endif %}
{% endset %}

{# set Animation #}
{% set animation %}
{% if particle.animation == 'parallax' %}
{% if particle.pa_horizontal_start or particle.pa_horizontal_end or particle.pa_vertical_start or particle.pa_vertical_end or particle.scale_start or particle.scale_end or particle.rotate_start or particle.rotate_end or particle.opacity_start or particle.opacity_end or particle.easing or particle.pa_viewport or particle.pa_breakpoint %} jl-parallax="{{pahorizontal}}{{pavertical}}{{scale}}{{rotate}}{{opacity}}{% if particle.easing == '' %}{% else %}easing: {{ particle.easing / 100 }};{% endif %}{% if particle.pa_viewport != '' %}viewport:{{ particle.pa_viewport / 100 }};{% endif %}{% if particle.pa_breakpoint != 'always' %}media: @{{particle.pa_breakpoint|e}}{% endif %}"{% endif %}
{% else %}
{% if particle.animation != 'inherit' %} jl-scrollspy="cls:jl-animation-{{particle.animation|e}}{% if particle.animation_repeat != 'disabled' %}; repeat: true{% endif %}{% if particle.animation_delay != '' %}; delay: {{particle.animation_delay|e}}{% endif %}"{% endif %}
{% endif %}
{% endset %}

{# Set Particle Alignment #}
{% set particle_alignment %}
{% if particle.align != 'inherit' %} jl-text-{{particle.align|e}}{% if particle.breakpoint != 'always' %}@{{particle.breakpoint|e}}{% endif %}{% endif %}{% if particle.align != 'inherit' and particle.breakpoint != 'always' %}{% if particle.fallback != 'inherit' %} jl-text-{{particle.fallback|e}}{% endif %}{% endif %}
{% endset %}

{# set Particle Title Style #}
{% set particle_title_style %}
{% if particle.particle_title %}
<{{particle.particle_title_element|e}} id="{{ id }}" class="g5-particle-title{% if particle.particle_title_align != 'inherit' %} jl-text-{{particle.particle_title_align|e}}{% endif %}{% if particle.particle_predefined_color != 'default' %} jl-text-{{particle.particle_predefined_color|e}}{% endif %}{% if particle.particle_title_style != 'default' %} jl-{{particle.particle_title_style|e}}{% endif %}{% if particle.particle_title_decoration != 'none' %} jl-heading-{{particle.particle_title_decoration|e}}{% endif %}">
{% if particle.particle_title_decoration == 'line' %} <span>{{particle.particle_title|raw}}</span>
{% else %} {{particle.particle_title|raw}}
{% endif %}
</{{particle.particle_title_element|e}}>
{% endif %}
{% endset %}

{% set imagewidth %}
		{% if particle.image_width != '' %}
    width = "{{particle.image_width}}"
    {% endif %}
{% endset %}

{% set imageheight %}
		{% if particle.image_height != '' %}
    height = "{{particle.image_height}}"
    {% endif %}
{% endset %}

{% set videowidth %}
		{% if particle.video_frame_width != '' %}
    width = "{{particle.video_frame_width}}"
    {% endif %}
{% endset %}

{% set videoheight %}
		{% if particle.video_frame_height != '' %}
    height = "{{particle.video_frame_height}}"
    {% endif %}
{% endset %}

{% set controls %}
{% if particle.controls == 'enabled' %} controls{% endif %}
{% endset %}

{% set loop %}
{% if particle.loop == 'enabled' %} loop{% endif %}
{% endset %}

{% set muted %}
{% if particle.muted == 'enabled' %} muted{% endif %}
{% endset %}

{% set play_inline %}
{% if particle.play_inline == 'enabled' %} playsinline{% endif %}
{% endset %}

{% set lazy_video %}
{% if particle.lazy_video == 'enabled' %} preload="none"{% endif %}
{% endset %}

{% set video_autoplay %}
{% if particle.autoplay == 'off' %}{% elseif particle.autoplay == 'true' %} autoplay{% else %} jl-video="inview"{% endif %}
{% endset %}

{# Set Image Border Class #}
{% set image_border_cls %}
{% if particle.border != 'none' %} jl-border-{{particle.border|e}}{% endif %}
{% endset %}

{# Image Box Shadow #}
{% set image_boxshadow %}
{% if particle.box_shadow != 'none' %} jl-box-shadow-{{particle.box_shadow|e}}{% endif %}{% if particle.box_shadow_hover != 'none' %} jl-box-shadow-hover-{{particle.box_shadow_hover|e}}{% endif %}
{% endset %}

{# Video Box Shadow #}
{% set video_boxshadow %}
{% if particle.video_box_shadow != 'none' %}jl-box-shadow-{{particle.video_box_shadow|e}}{% endif %}
{% endset %}

{% block particle %}
{% if particle.enabled %}
{{parallaxbackground}}
{{particle_title_style}}

<div id="{{ id }}" class="tm-video-wrapper{{content_maxwidth}}{% if particle.class %} {{ particle.class }}{% endif %}{{particle_alignment}}{% if particle.margin == 'inherit' %}{% elseif particle.margin == 'default' %} jl-margin{% else %} jl-margin-{{particle.margin|e}}{% endif %}{% if particle.visibility != 'inherit' %} jl-visible@{{particle.visibility|e}}{% endif %}"{{animation}}>

{% if particle.source == 'vimeo' %}
{% if particle.posterimage != '' %}
<a class="jl-link" href="#modal-video-{{id}}" jl-toggle>
<img {{imagewidth}} {{imageheight}} data-src="{{ url(particle.posterimage)|e }}" class="tm-image{{image_border_cls}}{{image_boxshadow}}" jl-img />
</a>

<div id="modal-video-{{id}}" class="jl-flex-top" jl-modal>
<div class="jl-modal-dialog jl-width-auto{% if particle.centermodal %} jl-margin-auto-vertical{% endif %}">
<button class="jl-modal-close-{{particle.close}}" type="button" jl-close></button>
<iframe class="{{video_boxshadow}}" {{videowidth}} {{videoheight}} src="https://player.vimeo.com/video/{{ particle.video|replace({'https://vimeo.com/': '', 'https://vimeo.com/ondemand/': '', 'https://vimeo.com/channels/staffpicks/': '', 'https://player.vimeo.com/video/':''}) }}{% if particle.autoplay != 'off' %}?autoplay=1&muted=1{% endif %}" frameborder="0" allowfullscreen jl-responsive{{video_autoplay}}></iframe>
</div>
</div>
{% else %}
<iframe class="{{video_boxshadow}}" {{videowidth}} {{videoheight}} src="https://player.vimeo.com/video/{{ particle.video|replace({'https://vimeo.com/': '', 'https://vimeo.com/ondemand/': '', 'https://vimeo.com/channels/staffpicks/': '', 'https://player.vimeo.com/video/':''}) }}{% if particle.autoplay != 'off' %}?autoplay=1&muted=1{% endif %}" frameborder="0" allowfullscreen jl-responsive{{video_autoplay}}></iframe>
{% endif %}

{% endif %}

{% if particle.source == 'youtube' %}
{% if particle.posterimage != '' %}
<a class="jl-link" href="#modal-video-{{id}}" jl-toggle>
<img {{imagewidth}} {{imageheight}} data-src="{{ url(particle.posterimage)|e }}" class="tm-image{{image_border_cls}}{{image_boxshadow}}" jl-img />
</a>

<div id="modal-video-{{id}}" class="jl-flex-top" jl-modal>
<div class="jl-modal-dialog jl-width-auto{% if particle.centermodal %} jl-margin-auto-vertical{% endif %}">
<button class="jl-modal-close-{{particle.close}}" type="button" jl-close></button>
<iframe {{videowidth}} {{videoheight}} src="https://www.youtube.com/embed/{{ particle.video|replace({'https://www.youtube.com/watch?v=': '', 'http://www.youtube.com/watch?v=' : '', 'https://youtu.be/': '', 'http://youtu.be/': '', 'https://www.youtube.com/watch?time_continue=3&v=': ''}) }}{% if particle.autoplay != 'off' %}?rel=0;&autoplay=1&mute=1{% endif %}" frameborder="0" allowfullscreen jl-responsive{{muted}}{{video_autoplay}} jl-video></iframe>
</div>
</div>
{% else %}
<iframe class="{{video_boxshadow}}" {{videowidth}} {{videoheight}} src="https://www.youtube.com/embed/{{ particle.video|replace({'https://www.youtube.com/watch?v=': '', 'http://www.youtube.com/watch?v=' : '', 'https://youtu.be/': '', 'http://youtu.be/': '', 'https://www.youtube.com/watch?time_continue=3&v=': '', 'https://www.youtube-nocookie.com/embed/': ''}) }}{% if particle.autoplay != 'off' %}?rel=0;&autoplay=1&mute=1{% endif %}" frameborder="0" allowfullscreen jl-responsive{{muted}}{{video_autoplay}}></iframe>
{% endif %}

{% endif %}

{% if particle.source == 'local' %}
{% if particle.posterimage != '' %}
<a class="jl-link" href="#modal-video-{{id}}" jl-toggle>
<img {{imagewidth}} {{imageheight}} data-src="{{ url(particle.posterimage)|e }}" class="tm-image{{image_border_cls}}{{image_boxshadow}}" jl-img />
</a>

<div id="modal-video-{{id}}" class="jl-flex-top" jl-modal>
<div class="jl-modal-dialog jl-width-auto{% if particle.centermodal %} jl-margin-auto-vertical{% endif %}">
<button class="jl-modal-close-{{particle.close}}" type="button" jl-close></button>
<video src="{{ url(particle.local_video)|e }}" {{videowidth}} {{videoheight}}{{controls}}{{loop}}{{muted}}{{play_inline}}{{lazy_video}}{{video_autoplay}}></video>
</div>
</div>
{% else %}
<video src="{{ url(particle.local_video)|e }}" {{videowidth}} {{videoheight}}{{controls}}{{loop}}{{muted}}{{play_inline}}{{lazy_video}}{{video_autoplay}}></video>
{% endif %}
{% endif %}
</div>
{{endparallaxbackground}}
{% endif %}
{% endblock %}
