{% extends '@nucleus/partials/particle.html.twig' %}

{% set start_date = particle.date.start|trim in ['now', ''] ? 'now'|date('Y') : particle.date.start|e %}
{% set end_date = particle.date.end|trim in ['now', ''] ? 'now'|date('Y') : particle.date.end|e %}

{% block particle %}
<p>
    &copy; {{ particle.owner }}, {% if (start_date != end_date) %}{{ start_date|e }} - {% endif %}{{ end_date|e }}
</p>
<p>
{{particle.text|raw}}
</p>	
    
{% endblock %}
