{% extends '@nucleus/partials/particle.html.twig' %}

{% block stylesheets %}
{% if particle.particle_title_color or particle.particle_title_fontsize or particle.customize_title_color or particle.customize_title_fontsize or particle.customize_content_color or particle.customize_content_fontsize or particle.customize_meta_color or particle.customize_meta_fontsize %}
<style>
{% if particle.particle_title_color or particle.particle_title_fontsize %}
#{{ id }}.g5-particle-title { {% if particle.particle_title_color %}color: {{ particle.particle_title_color }};{% endif %}{% if particle.particle_title_fontsize %} font-size: {{particle.particle_title_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.customize_title_color or particle.customize_title_fontsize %}
#{{ id }} .tm-title { {% if particle.customize_title_color %}color: {{particle.customize_title_color}};{% endif %}{% if particle.customize_title_fontsize %} font-size: {{particle.customize_title_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.customize_content_color or particle.customize_content_fontsize %}
#{{ id }} .tm-content { {% if particle.customize_content_color %}color: {{particle.customize_content_color}};{% endif %}{% if particle.customize_content_fontsize %} font-size: {{particle.customize_content_fontsize}}px;{% endif %} }
{% endif %}
{% if particle.customize_meta_color or particle.customize_meta_fontsize %}
#{{ id }} .tm-meta { {% if particle.customize_meta_color %}color: {{particle.customize_meta_color}};{% endif %}{% if particle.customize_meta_fontsize %} font-size: {{particle.customize_meta_fontsize}}px;{% endif %} }
{% endif %}
</style>
{% endif %}
{% endblock %}

{# set Joomla Current Article #}
{% set request = gantry.request.request %}
{% if request['option'] == 'com_content' and request['view'] == 'article' and request['id'] %}
{% set article = joomla.finder('content').id([request['id']]).language().find()|first %}
{% endif %}	
{% set display = particle.article.display %}	

{###### set articleJCFields #}
{% if article.id %}
{% set articleFields =gantry.jcfields_helper.getFields(article.id) %}
{% set articleJCF_advantages = articleFields['adv'].value %}
{% set articleJCF_advantages_array = articleJCF_advantages|split(',') %}
{% set articleJCF_price_title =articleFields['price'].title %}
{% set articleJCF_price = articleFields['price'].value|number_format %}
{% set articleJCF_buttoncta =articleFields['buttoncta'].value %}
{% set articleJCF_client =articleFields['client'].value %}
{% set articleJCF_client_title =articleFields['client'].title~':' %}
{% set articleJCF_work =articleFields['work'].value %}
{% set articleJCF_work_title =articleFields['work'].title~':' %}
{% endif %}

{# set Viewport Height #}
{% set viewport_height %}
{% if particle.viewport_height == 'none' %}
{% elseif particle.viewport_height == 'full' %}
jl-height-viewport="offset-top: true"
{% elseif particle.viewport_height == 'percent' %}
jl-height-viewport="offset-top: true;offset-bottom: 20"
{% elseif particle.viewport_height == 'section' %}
jl-height-viewport="offset-top: true;offset-bottom: 50"
{% elseif particle.viewport_height == 'expand' %}
jl-height-viewport="expand: true"
{% endif %}
{% endset %}

{# Set Title Text Transform #}
{% set title_text_transform %}
{% if particle.title_text_transform %} jl-text-{{particle.title_text_transform|e}}{% endif %}
{% endset %}

{# Set Meta Text Transform #}
{% set meta_text_transform %}
{% if particle.meta_text_transform %} jl-text-{{particle.meta_text_transform|e}}{% endif %}
{% endset %}

{# Set Content Text Transform #}
{% set content_text_transform %}
{% if particle.content_text_transform %} jl-text-{{particle.content_text_transform|e}}{% endif %}
{% endset %}

{# set padding #}
{% set padding %}
{% if particle.viewport_height == 'full' %}
{% else %}
{% if particle.padding == 'default' %}{% else %} jl-section-{{particle.padding|e}}{% endif %}
{% endif %}
{% endset %}

{# set Container #}
{% set container %}
{% if particle.container == '1' %}
<div class="jl-container"><div class="g5-content g5-particle">{% endif %}
{% endset %}

{# set End Container #}
{% set endcontainer %}
{% if particle.container == '1' %}
</div></div>{% endif %}
{% endset %}

{# set Background color #}
{% set parallax_bg_color %}
{% if particle.parallax_bg_color %}
style="background-color: {{particle.parallax_bg_color}};"{% endif %}
{% endset %}

{# Set Max-Width Content #}
{% set content_maxwidth %}
{% if particle.g_maxwidth != 'inherit' %} jl-width-{{particle.g_maxwidth}}{% if particle.g_maxwidth_breakpoint != 'always' %}@{{particle.g_maxwidth_breakpoint}}{% endif %}{% if particle.g_maxwidth_alignment == 'left' %}{% elseif particle.g_maxwidth_alignment == 'center' %} jl-margin-auto{% else %} jl-margin-auto-left{% endif %}{% endif %}
{% endset %}

{# set Parallax Background #}
{% set parallaxbackground %}
{% if particle.parallax_image %}
<div data-src="{{ url(particle.parallax_image)|e }}" class="{{id}} jl-background-norepeat{{padding}}{{content_maxwidth}} jl-background-{{particle.background_image_position|e}}{% if particle.background_image_size != 'auto' %} jl-background-{{particle.background_image_size|e}}{% endif %}{% if particle.parallax_bg_visibility != 'always' %} jl-background-image@{{particle.parallax_bg_visibility|e}}{% endif %}{% if particle.vertical_alignment != 'none' %} jl-flex jl-flex-{{particle.vertical_alignment|e}}{% endif %}{% if particle.parallax_text_color != 'default' %} jl-{{particle.parallax_text_color|e}}{% endif %}{% if particle.blendmode != 'inherit' %} jl-background-blend-{{particle.blendmode|e}}{% endif %}" {{parallax_bg_color}}{% if particle.horizontal_start or particle.horizontal_end or particle.vertical_start or particle.vertical_end %} jl-parallax="{% if particle.horizontal_start or particle.horizontal_end %}bgx: {{particle.horizontal_start|e}},{{particle.horizontal_end|e}};{% endif %}{% if particle.vertical_start or particle.vertical_end %}bgy: {{particle.vertical_start|e}},{{particle.vertical_end|e}};{% endif %}{% if particle.parallax_bg_breakpoint != 'always' %} media: @{{particle.parallax_bg_breakpoint|e}}{% endif %}" {% endif %} jl-img {{viewport_height}}>
{{container}}
{% endif %}
{% endset %}

{# End Parallax Background #}
{% set endparallaxbackground %}
{% if particle.parallax_image %}
{{endcontainer}}
</div>
{% endif %}
{% endset %}

{# Set Horizontal #}
{% set pahorizontal %}
{% if particle.pa_horizontal_start or particle.pa_horizontal_end %}x: {% if particle.pa_horizontal_start == '' %}0{% else %}{{particle.pa_horizontal_start }}{% endif %},{% if particle.pa_horizontal_end == '' %}0{% else %}{{particle.pa_horizontal_end }}{% endif %};{% endif %}
{% endset %}

{# Set Vertical #}
{% set pavertical %}
{% if particle.pa_vertical_start or particle.pa_vertical_end %}y: {% if particle.pa_vertical_start == '' %}0{% else %}{{particle.pa_vertical_start }}{% endif %},{% if particle.pa_vertical_end == '' %}0{% else %}{{particle.pa_vertical_end }}{% endif %};{% endif %}
{% endset %}

{# Set Scale #}
{% set scale %}
{% if particle.scale_start or particle.scale_end %}scale: {% if particle.scale_start == '' %}1{% else %}{{particle.scale_start / 100 }}{% endif %},{% if particle.scale_end == '' %}1{% else %} {{particle.scale_end / 100 }}{% endif %};{% endif %}
{% endset %}

{# Set Rotate #}
{% set rotate %}{% if particle.rotate_start or particle.rotate_end %}
rotate: {% if particle.rotate_start == '' %}0{% else %}{{particle.rotate_start}}{% endif %},{% if particle.rotate_end == '' %}0{% else %}{{particle.rotate_end}}{% endif %};{% endif %}
{% endset %}

{# Set Opacity #}
{% set opacity %}
{% if particle.opacity_start or particle.opacity_end %}opacity: {% if particle.opacity_start == '' %}1{% else %}{{particle.opacity_start / 100 }}{% endif %},{% if particle.opacity_end == '' %}1{% else %}{{particle.opacity_end / 100 }}{% endif %};{% endif %}
{% endset %}

{# set Animation #}
{% set animation %}
{% if particle.animation == 'parallax' %}
{% if particle.pa_horizontal_start or particle.pa_horizontal_end or particle.pa_vertical_start or particle.pa_vertical_end or particle.scale_start or particle.scale_end or particle.rotate_start or particle.rotate_end or particle.opacity_start or particle.opacity_end or particle.easing or particle.pa_viewport or particle.pa_breakpoint %} jl-parallax="{{pahorizontal}}{{pavertical}}{{scale}}{{rotate}}{{opacity}}{% if particle.easing == '' %}{% else %}easing: {{ particle.easing / 100 }};{% endif %}{% if particle.pa_viewport != '' %}viewport:{{ particle.pa_viewport / 100 }};{% endif %}{% if particle.pa_breakpoint != 'always' %}media: @{{particle.pa_breakpoint|e}}{% endif %}"{% endif %}
{% else %}
{% if particle.animation != 'inherit' %} jl-scrollspy="cls:jl-animation-{{particle.animation|e}}{% if particle.animation_repeat != 'disabled' %}; repeat: true{% endif %}{% if particle.animation_delay != '' %}; delay: {{particle.animation_delay|e}}{% endif %}"{% endif %}
{% endif %}
{% endset %}

{# set Particle Title Style #}
{% set particle_title_style %}
{% if particle.particle_title %}
<{{particle.particle_title_element|e}} id="{{ id }}" class="g5-particle-title{% if particle.particle_title_align != 'inherit' %} jl-text-{{particle.particle_title_align|e}}{% endif %}{% if particle.particle_predefined_color != 'default' %} jl-text-{{particle.particle_predefined_color|e}}{% endif %}{% if particle.particle_title_style != 'default' %} jl-{{particle.particle_title_style|e}}{% endif %}{% if particle.particle_title_decoration != 'none' %} jl-heading-{{particle.particle_title_decoration|e}}{% endif %}">
{% if particle.particle_title_decoration == 'line' %} <span>{{particle.particle_title|raw}}</span>
{% else %} {{particle.particle_title|raw}}
{% endif %}
</{{particle.particle_title_element|e}}>
{% endif %}
{% endset %}

{% set imagewidth %}
{% if particle.image_width != '' %}width = "{{particle.image_width}}"{% endif %}
{% endset %}

{% set imageheight %}
{% if particle.image_height != '' %}height = "{{particle.image_height}}"{% endif %}
{% endset %}

{% set cover %}
{% if particle.image_alignment == 'left' or particle.image_alignment == 'right' %}
{% if particle.image_padding == '1' and particle.style != 'blank' %} jl-cover{% endif %}
{% endif %}
{% endset %}

{% set linkscroll %}
{% if particle.buttonlink|e matches '/#/' %} jl-scroll{% endif %}
{% endset %}

{# Set Image Margin Top Class #}
{% set image_top_cls %}
{% if particle.image_alignment == 'bottom' or particle.image_alignment == 'between' %}{% if particle.image_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.image_margin_top|e }}-top{% endif %}{% endif %}
{% endset %}

{# Set Image Border Class #}
{% set image_border_cls %}
{% if particle.image_border != 'none' %} jl-border-{{particle.image_border|e}}{% endif %}
{% endset %}

{# Image Box Shadow #}
{% set image_boxshadow %}
{% if particle.box_shadow != 'none' %} jl-box-shadow-{{particle.box_shadow|e}}{% endif %}{% if particle.box_shadow_hover != 'none' %} jl-box-shadow-hover-{{particle.box_shadow_hover|e}}{% endif %}
{% endset %}

{# Set Image Left/Right #}
{% set imagelr %}

{% if particle.style == 'blank' %}
{% if particle.link_type == 'content' %}<a href="{{ particle.buttonlink|e }}" title="{{ particle.buttontext|e }}" target="{{ particle.buttontarget|default('_self')|e }}"{{linkscroll}}>{% endif %}
	<div class="jl-flex jl-flex-center jl-flex-middle jl-background-cover jl-light tm-image{{image_border_cls}}{{image_boxshadow}}" data-src="{{ url(particle.image)|e }}" jl-img>&nbsp;</div>
	{#<img {{imagewidth}} {{imageheight}} class="tm-image{{image_border_cls}}{{image_boxshadow}}" data-src="{{ url(particle.image)|e }}"{% if particle.image_alt %} alt="{{particle.image_alt|e}}"{% endif %} jl-img>#}
{% if particle.link_type == 'content' %}</a>{% endif %}
{% else %}

{% if particle.image_padding == '1' %}
{% if particle.link_type == 'content' %}<a class="jl-position-cover" href="{{ particle.buttonlink|e }}" title="{{ particle.buttontext|e }}" target="{{ particle.buttontarget|default('_self')|e }}"{{linkscroll}}>{% endif %}
	<img class="tm-image" data-src="{{ url(particle.image)|e }}"{% if particle.image_alt %} alt="{{particle.image_alt|e}}"{% endif %} jl-cover jl-img>
	<img class="tm-image jl-invisible" data-src="{{ url(particle.image)|e }}"{% if particle.image_alt %} alt="{{particle.image_alt|e}}"{% endif %} jl-img>
{% if particle.link_type == 'content' %}</a>{% endif %}
{% else %}
{% if particle.link_type == 'content' %}<a href="{{ particle.buttonlink|e }}" title="{{ particle.buttontext|e }}" target="{{ particle.buttontarget|default('_self')|e }}"{{linkscroll}}>{% endif %}
	<img {{imagewidth}} {{imageheight}} class="tm-image{{image_border_cls}}" data-src="{{ url(particle.image)|e }}"{% if particle.image_alt %} alt="{{particle.image_alt|e}}"{% endif %} jl-img>
{% if particle.link_type == 'content' %}</a>{% endif %}
{% endif %}
{% endif %}

{% endset %}

{# Set Image Content #}
{% set imagecontent %}
{% if particle.link_type == 'content' %}<a href="{{ particle.buttonlink|e }}" title="{{ particle.buttontext|e }}" target="{{ particle.buttontarget|default('_self')|e }}"{{linkscroll}}>{% endif %}
{% if particle.style == 'blank' %}
<img {{imagewidth}} {{imageheight}} class="tm-image{{image_top_cls}}{{image_border_cls}}{{image_boxshadow}}" data-src="{{ url(particle.image)|e }}"{% if particle.image_alt %} alt="{{particle.image_alt|e}}"{% endif %} jl-img>
{% else %}
<img {{imagewidth}} {{imageheight}} class="tm-image{{image_top_cls}}{{image_border_cls}}" data-src="{{ url(particle.image)|e }}"{% if particle.image_alt %} alt="{{particle.image_alt|e}}"{% endif %} jl-img>
{% endif %}
{% if particle.link_type == 'content' %}</a>{% endif %}
{% endset %}

{# Set Button Class #}
{% set button_cls %}
{% if particle.buttonclass == 'link' %}jl-link{% elseif particle.buttonclass == 'link-muted' or particle.buttonclass == 'link-text' %}jl-{{particle.buttonclass|e}}{% else %}jl-button jl-button-{{particle.buttonclass|e}}{% endif %}
{% endset %}

{# Set Button Size #}
{% set button_size %}
{% if particle.buttonclass == 'link' or particle.buttonclass == 'link-muted' or particle.buttonclass == 'link-text' or particle.buttonclass == 'text' %}{% else %}{% if particle.link_button_size != 'default' %} jl-button-{{particle.link_button_size|e}}{% endif %}{% endif %}
{% endset %}

{# Set Button #}
{% set button %}
{% if particle.buttontext and articleJCF_buttoncta == "Да" and particle.link_type == 'button' %}
<div class="{% if particle.link_margin_top == 'default' %}jl-margin-top{% else %}jl-margin-{{ particle.link_margin_top|e }}-top{% endif %}">

	{% if 'form' in particle.buttonlink %}
	<a class="{{button_cls}}{{button_size}}" href="{{ particle.buttonlink|e }}" title="{{ particle.buttontext|e }}" target="{{ particle.buttontarget|default('_self')|e }}"{{linkscroll}} jl-toggle>
	{{ particle.buttontext|e }}</a>
	{% elseif particle.buttonlink %}
	<a class="{{button_cls}}{{button_size}} jl-margin-right jl-margin-bottom" href="{{ particle.buttonlink|e }}" title="{{ particle.buttontext|e }}" target="{{ particle.buttontarget|default('_self')|e }}"{{linkscroll}}>
	{{ particle.buttontext|e }}</a>
{% endif %}

</div>
{% endif %}
{% endset %}

{# Set Title Content #}
{% set titlecontent %}
{% if article.title %}
<{{particle.title_element|e}} class="tm-title jl-margin-remove-bottom{{title_text_transform}}{% if particle.title_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.title_margin_top|e }}-top{% endif %}{% if particle.title_color != 'default' %} jl-text-{{particle.title_color|e}}{% endif %}{% if particle.title_style != 'default' %} jl-{{particle.title_style|e}}{% endif %}{% if particle.title_decoration != 'none' %} jl-heading-{{particle.title_decoration|e}}{% endif %}">
{% if particle.title_decoration == 'line' %} <span>{% if particle.link_type == 'content' %}<a class="jl-link-reset" href="{{ particle.buttonlink|e }}" title="{{ particle.buttontext|e }}" target="{{ particle.buttontarget|default('_self')|e }}"{{linkscroll}}>{% endif %}{{article.title|raw}}{% if particle.link_type == 'content' %}</a>{% endif %}</span>
{% else %}
{% if particle.link_type == 'content' %}<a class="jl-link-reset" href="{{ particle.buttonlink|e }}" title="{{ particle.buttontext|e }}" target="{{ particle.buttontarget|default('_self')|e }}"{{linkscroll}}>{% endif %}{{article.title|raw}}{% if particle.link_type == 'content' %}</a>{% endif %}
{% endif %}
</{{particle.title_element|e}}>
{% endif %}
{% endset %}

{# Set Meta Content #}
{% set metacontent %}
{% if article.introtext %}
<div class="tm-meta{{meta_text_transform}}{% if particle.meta_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.meta_margin_top|e }}-top{% endif %}{% if particle.meta_color != 'default' %} jl-text-{{ particle.meta_color|e }}{% endif %}{% if particle.meta_style != 'default' %} jl-{{ particle.meta_style|e }}{% endif %} jl-width-3-5@m">
	{{article.introtext|raw}}
</div>
{% endif %}
{% endset %}

{# Set Price #}
{% set price %}
{% if articleJCF_price %}
	<div class="tm-item">
		<span class="tm-icon" jl-icon="icon: tag"></span>
		<span class="tm-content jl-text-bold">
			{{articleJCF_price_title}} <span class="jl-text-primary jl-h3">{{articleJCF_price}}</span> ₽
		</span>
	</div>
{% endif %}
{% endset %}


{# Set Content #}
{% set content %}
{#% if particle.content %}
<div class="tm-content jl-panel{{content_text_transform}}{% if particle.content_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.content_margin_top|e }}-top{% endif %}{% if particle.content_style != 'default' %} jl-text-{{ particle.content_style|e }}{% endif %}{% if particle.content_text_color != 'default' %} jl-text-{{ particle.content_text_color|e }}{% endif %}">{{ particle.content|raw }}</div>
{% endif %#}

{% if articleJCF_advantages %}
<div class="jl-flex jl-flex-right@m jl-width-2-5@m">
	<div class="tm-content {{content_text_transform}}{% if particle.content_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.content_margin_top|e }}-top{% endif %}{% if particle.content_style != 'default' %} jl-text-{{ particle.content_style|e }}{% endif %}{% if particle.content_text_color != 'default' %} jl-text-{{ particle.content_text_color|e }}{% endif %}">

	{% if articleJCF_advantages %}
	<ul class="jl-list jl-list-large jl-visible@m">
	{% for adv in articleJCF_advantages_array %}
		<li class="tm-item">
			<span class="tm-icon" jl-icon="icon: check"></span>
			<span class="tm-content">
				{{ adv|replace({'{title}': '<b>', '{/title}':'</b></br>','_':'&nbsp;'})|raw }}
			</span>
		</li>
	{% endfor %}
	</ul>
	{% endif %}
	
	{{price}}
	
	</div>
</div>
{% endif %}

{### Project Page start ###}
{% if display.image.enabled and article.images.image_intro or article.images.image_fulltext %}
<div class="jl-width-2-5@s jl-flex-last@s jl-margin-top jl-flex jl-flex-center@s">
{% if article.images.image_intro and display.image.enabled == 'intro' %}
<div>
<img{{imagewidth}}{{imageheight}} class="tm-image{{image_border_cls}}{{image_boxshadow}}{{image_transition}}" src="{{ url(article.images.image_intro) }}"{% if article.images.image_intro_alt %} alt="{{article.images.image_intro_alt}}"{% else %} alt="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}"{% endif %}>
</div>
{% elseif article.images.image_fulltext and display.image.enabled == 'full' %}
<div>
<img{{imagewidth}}{{imageheight}} class="tm-image{{image_border_cls}}{{image_boxshadow}}{{image_transition}}" src="{{ url(article.images.image_fulltext) }}"{% if article.images.image_fulltext_alt %} alt="{{article.images.image_fulltext_alt}}"{% else %} alt="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}"{% endif %}>
</div>
{% endif %}
</div>
{% endif %}


{% if articleJCF_client or articleJCF_work %}
<div class="jl-width-3-5@s jl-margin-remove">
{% if articleJCF_client %}
<div class="tm-content {{content_text_transform}}{% if particle.content_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.content_margin_top|e }}-top{% endif %}{% if particle.content_style != 'default' %} jl-text-{{ particle.content_style|e }}{% endif %}{% if particle.content_text_color != 'default' %} jl-text-{{ particle.content_text_color|e }}{% endif %}">
<span class="jl-text-muted">{{ articleJCF_client_title }}</span><br>{{ articleJCF_client|raw }}
</div>
{% endif %}
{% if articleJCF_work %}
<div class="tm-content {{content_text_transform}}{% if particle.content_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.content_margin_top|e }}-top{% endif %}{% if particle.content_style != 'default' %} jl-text-{{ particle.content_style|e }}{% endif %}{% if particle.content_text_color != 'default' %} jl-text-{{ particle.content_text_color|e }}{% endif %}">
<span class="jl-text-muted">{{ articleJCF_work_title }}</span><br>{{ articleJCF_work|raw }}
</div>
{% endif %}
</div>
{% endif %}
{### Project Page end ###}

{% endset %}


{# Set Particle Alignment #}
{% set particle_alignment %}
{% if particle.align != 'inherit' %} jl-text-{{particle.align|e}}{% if particle.breakpoint != 'always' %}@{{particle.breakpoint|e}}{% endif %}{% endif %}{% if particle.align != 'inherit' and particle.breakpoint != 'always' %}{% if particle.fallback != 'inherit' %} jl-text-{{particle.fallback|e}}{% endif %}{% endif %}
{% endset %}

{% block particle %}
{% if particle.enabled %}
{{parallaxbackground}}
{{particle_title_style}}
<div id="{{ id }}" class="tm-content-wrapper{{content_maxwidth}}{% if particle.class %} {{ particle.class }}{% endif %}{{particle_alignment}}{% if particle.margin == 'inherit' %}{% elseif particle.margin == 'default' %} jl-margin{% else %} jl-margin-{{particle.margin|e}}{% endif %}{% if particle.visibility != 'inherit' %} jl-visible@{{particle.visibility|e}}{% endif %}"{{animation}}>

{% if particle.image_alignment == 'top' or particle.image_alignment == 'bottom' or particle.image_alignment == 'between' %}

{# Default Style #}

{% if particle.style == 'blank' %}

{# Card Blank #}

{#% if particle.link_type == 'element' %}
<a class="jl-panel jl-margin-remove-first-child jl-display-block jl-link-reset" href="{{ particle.buttonlink|e }}" title="{{ particle.buttontext|e }}" target="{{ particle.buttontarget|default('_self')|e }}"{{linkscroll}}>
{% else %}
<div class="jl-panel jl-margin-remove-first-child">
{% endif %#}

{% if particle.image_alignment == 'top' %}
{% if particle.image %} {{imagecontent}} {% endif %}
{% endif %}

{{titlecontent}}

{% if articleJCF_advantages or articleJCF_client or articleJCF_work %}
<div class="jl-grid-large" jl-grid >
{#% if particle.meta_alignment == 'top' %#}
{{metacontent}}
{#% endif %#}

{#% if particle.meta_alignment == 'bottom' %}
{{metacontent}}
{% endif %#}

{#% if particle.image_alignment == 'between' %}
{% if particle.image %} {{imagecontent}} {% endif %}
{% endif %#}

{#% if particle.meta_alignment == 'content' %}
{{metacontent}}
{% endif %#}
{{content}}
</div>
{% else %}
{{metacontent}}
{{price}}
{% endif %}

{{button}}

{% if particle.image_alignment == 'bottom' %}
{% if particle.image %} {{imagecontent}} {% endif %}
{% endif %}





{#% if particle.link_type == 'element' %}
</a>
{% else %}
</div>
{% endif %#}

{# End Card Blank #}

{% else %}

{# Card styles #}

{% if particle.image_padding == '1' %}

{% if particle.link_type == 'element' %}
<a class="jl-card jl-card-{{ particle.style }}{% if particle.cardsize != 'default' %} jl-card-{{ particle.cardsize }}{% endif %} jl-display-block jl-link-reset{% if particle.style == 'hover' %}{% else %} jl-card-hover{% endif %}" href="{{ particle.buttonlink|e }}" title="{{ particle.buttontext|e }}" target="{{ particle.buttontarget|default('_self')|e }}"{{linkscroll}}>
{% else %}
<div class="jl-card jl-card-{{ particle.style }}{% if particle.cardsize != 'default' %} jl-card-{{ particle.cardsize }}{% endif %}">
{% endif %}

{% if particle.image_alignment == 'top' %}
{% if particle.image %}
<div class="jl-card-media-top">
{{imagecontent}}
</div>
{% endif %}
{% endif %}

<div class="jl-card-body jl-margin-remove-first-child">

{% if particle.meta_alignment == 'top' %}
{{metacontent}}
{% endif %}

{{titlecontent}}

{% if particle.meta_alignment == 'bottom' %}
{{metacontent}}
{% endif %}

{% if particle.image_alignment == 'between' %}
{% if particle.image %}
{{imagecontent}}
{% endif %}

{% endif %}
{{content}}

{% if particle.meta_alignment == 'content' %}
{{metacontent}}
{% endif %}

{% if particle.link_type == 'button' %}
{{button}}
{% endif %}

</div>

{% if particle.image_alignment == 'bottom' %}
{% if particle.image %}
<div class="jl-card-media-bottom">
{{imagecontent}}
</div>
{% endif %}
{% endif %}

{% if particle.link_type == 'element' %}
</a>
{% else %}
</div>
{% endif %}

{% else %}

{% if particle.link_type == 'element' %}
<a class="jl-card jl-card-{{ particle.style }} jl-card-body{% if particle.cardsize != 'default' %} jl-card-{{ particle.cardsize }}{% endif %} jl-margin-remove-first-child jl-display-block jl-link-reset{% if particle.style == 'hover' %}{% else %} jl-card-hover{% endif %}" href="{{ particle.buttonlink|e }}" title="{{ particle.buttontext|e }}" target="{{ particle.buttontarget|default('_self')|e }}"{{linkscroll}}>
{% else %}
<div class="jl-card jl-card-{{ particle.style }} jl-card-body{% if particle.cardsize != 'default' %} jl-card-{{ particle.cardsize }}{% endif %} jl-margin-remove-first-child">
{% endif %}

{% if particle.image_alignment == 'top' %}
{% if particle.image %}
{{imagecontent}}
{% endif %}
{% endif %}

{% if particle.meta_alignment == 'top' %}
{{metacontent}}
{% endif %}

{{titlecontent}}

{% if particle.meta_alignment == 'bottom' %}
{{metacontent}}
{% endif %}

{% if particle.image_alignment == 'between' %}
{% if particle.image %}
{{imagecontent}}
{% endif %}
{% endif %}

{{content}}

{% if particle.meta_alignment == 'content' %}
{{metacontent}}
{% endif %}

{% if particle.link_type == 'button' %}
{{button}}
{% endif %}

{% if particle.image_alignment == 'bottom' %}
{% if particle.image %}
{{imagecontent}}
{% endif %}
{% endif %}

{% if particle.link_type == 'element' %}
</a>
{% else %}
</div>
{% endif %}

{% endif %}

{# End image padding #}


{# End card style #}

{% endif %}

{# End Default Style #}

{% else %}

{# Grid Style #}

{% if particle.style == 'blank' %}

{# Card Blank #}

{% if particle.image %}

{% if particle.link_type == 'element' %}
<a class="jl-panel jl-margin-remove-first-child jl-display-block jl-link-reset" href="{{ particle.buttonlink|e }}" title="{{ particle.buttontext|e }}" target="{{ particle.buttontarget|default('_self')|e }}"{{linkscroll}}>
{% else %}
<div class="jl-panel jl-margin-remove-first-child">
{% endif %}

<div class="jl-child-width-expand{% if particle.image_grid_gutter != 'default' %} jl-grid-{{ particle.image_grid_gutter|e }}{% endif %}{% if particle.image_vertical_alignment == '1' %} jl-flex-middle{% endif %}" jl-grid>
<div class="jl-width-{{ particle.image_grid_width }}{% if particle.image_grid_breakpoint != 'default' %}@{{ particle.image_grid_breakpoint|e }}{% endif %}{% if particle.image_alignment == 'right' %} jl-flex-last{% if particle.image_grid_breakpoint != 'default' %}@{{ particle.image_grid_breakpoint|e }}{% endif %}{% endif %}">
{% if particle.image %}{{imagelr}}{% endif %}
</div>

<div class="jl-margin-remove-first-child">

{% if particle.meta_alignment == 'top' %}
{{metacontent}}
{% endif %}

{{titlecontent}}

{% if particle.meta_alignment == 'bottom' %}
{{metacontent}}
{% endif %}

{{content}}

{% if particle.meta_alignment == 'content' %}
{{metacontent}}
{% endif %}

{% if particle.link_type == 'button' %}
{{button}}
{% endif %}

</div>
</div>

{% if particle.link_type == 'element' %}
</a>
{% else %}
</div>
{% endif %}

{% else %}

{# Card Blank #}
{% if particle.link_type == 'element' %}
<a class="jl-panel jl-margin-remove-first-child jl-display-block jl-link-reset" href="{{ particle.buttonlink|e }}" title="{{ particle.buttontext|e }}" target="{{ particle.buttontarget|default('_self')|e }}"{{linkscroll}}>
{% else %}
<div class="jl-panel jl-margin-remove-first-child">
{% endif %}

{% if particle.meta_alignment == 'top' %}
{{metacontent}}
{% endif %}

{{titlecontent}}

{% if particle.meta_alignment == 'bottom' %}
{{metacontent}}
{% endif %}

{{content}}

{% if particle.meta_alignment == 'content' %}
{{metacontent}}
{% endif %}

{% if particle.link_type == 'button' %}
{{button}}
{% endif %}

{% if particle.link_type == 'element' %}
</a>
{% else %}
</div>
{% endif %}

{# End Card Blank #}

{% endif %}

{# End Card Blank #}

{% else %}

{% if particle.image %}

{# Card styles #}

{% if particle.image_padding == '1' %}

{% if particle.link_type == 'element' %}
<a class="jl-card jl-card-{{ particle.style }}{% if particle.cardsize != 'default' %} jl-card-{{ particle.cardsize }}{% endif %} jl-display-block jl-link-reset{% if particle.style == 'hover' %}{% else %} jl-card-hover{% endif %}" href="{{ particle.buttonlink|e }}" title="{{ particle.buttontext|e }}" target="{{ particle.buttontarget|default('_self')|e }}"{{linkscroll}}>
{% else %}
<div class="jl-card jl-card-{{ particle.style }}{% if particle.cardsize != 'default' %} jl-card-{{ particle.cardsize }}{% endif %}">
{% endif %}

{% if particle.image_padding == '1' %}
<div class="jl-child-width-expand jl-grid-collapse jl-grid-match{% if particle.image_vertical_alignment == '1' %} jl-flex-middle{% endif %}" jl-grid>
{% else %}
<div class="jl-child-width-expand{% if particle.image_grid_gutter != 'default' %} jl-grid-{{ particle.image_grid_gutter|e }}{% endif %}{% if particle.image_vertical_alignment == '1' %} jl-flex-middle{% endif %}" jl-grid>
{% endif %}

<div class="jl-width-{{ particle.image_grid_width }}{% if particle.image_grid_breakpoint != 'default' %}@{{ particle.image_grid_breakpoint|e }}{% endif %}{% if particle.image_alignment == 'right' %} jl-flex-last{% if particle.image_grid_breakpoint != 'default' %}@{{ particle.image_grid_breakpoint|e }}{% endif %}{% endif %}">
<div class="jl-cover-container{% if particle.image_alignment == 'right' %} jl-card-media-right{% else %} jl-card-media-left{% endif %}">
{% if particle.image %}{{imagelr}}{% endif %}
</div>
</div>
<div>
<div class="jl-card-body jl-margin-remove-first-child">

{% if particle.meta_alignment == 'top' %}
{{metacontent}}
{% endif %}

{{titlecontent}}

{% if particle.meta_alignment == 'bottom' %}
{{metacontent}}
{% endif %}

{{content}}

{% if particle.meta_alignment == 'content' %}
{{metacontent}}
{% endif %}

{% if particle.link_type == 'button' %}
{{button}}
{% endif %}

</div>
</div>
</div>

{% if particle.link_type == 'element' %}
</a>
{% else %}
</div>
{% endif %}

{% else %}


{% if particle.link_type == 'element' %}
<a class="jl-card jl-card-{{ particle.style }} jl-card-body{% if particle.cardsize != 'default' %} jl-card-{{ particle.cardsize }}{% endif %} jl-display-block jl-link-reset{% if particle.style == 'hover' %}{% else %} jl-card-hover{% endif %}" href="{{ particle.buttonlink|e }}" title="{{ particle.buttontext|e }}" target="{{ particle.buttontarget|default('_self')|e }}"{{linkscroll}}>
{% else %}
<div class="jl-card jl-card-{{ particle.style }} jl-card-body{% if particle.cardsize != 'default' %} jl-card-{{ particle.cardsize }}{% endif %}">
{% endif %}

<div class="jl-child-width-expand{% if particle.image_grid_gutter != 'default' %} jl-grid-{{ particle.image_grid_gutter|e }}{% endif %}{% if particle.image_vertical_alignment == '1' %} jl-flex-middle{% endif %}" jl-grid>
<div class="jl-width-{{ particle.image_grid_width }}{% if particle.image_grid_breakpoint != 'default' %}@{{ particle.image_grid_breakpoint|e }}{% endif %}{% if particle.image_alignment == 'right' %} jl-flex-last{% if particle.image_grid_breakpoint != 'default' %}@{{ particle.image_grid_breakpoint|e }}{% endif %}{% endif %}">
{{imagecontent}}
</div>

<div class="jl-margin-remove-first-child">

{% if particle.meta_alignment == 'top' %}
{{metacontent}}
{% endif %}

{{titlecontent}}

{% if particle.meta_alignment == 'bottom' %}
{{metacontent}}
{% endif %}

{{content}}

{% if particle.meta_alignment == 'content' %}
{{metacontent}}
{% endif %}

{% if particle.link_type == 'button' %}
{{button}}
{% endif %}

</div>

</div>

{% if particle.link_type == 'element' %}
</a>
{% else %}
</div>
{% endif %}

{% endif %}

{# End card style #}

{% else %}

{% if particle.link_type == 'element' %}
<a class="jl-card jl-card-{{ particle.style }} jl-card-body{% if particle.cardsize != 'default' %} jl-card-{{ particle.cardsize }}{% endif %} jl-margin-remove-first-child jl-display-block jl-link-reset{% if particle.style == 'hover' %}{% else %} jl-card-hover{% endif %}" href="{{ particle.buttonlink|e }}" title="{{ particle.buttontext|e }}" target="{{ particle.buttontarget|default('_self')|e }}"{{linkscroll}}>
{% else %}
<div class="jl-card jl-card-{{ particle.style }} jl-card-body{% if particle.cardsize != 'default' %} jl-card-{{ particle.cardsize }}{% endif %} jl-margin-remove-first-child">
{% endif %}

{% if particle.meta_alignment == 'top' %}
{{metacontent}}
{% endif %}

{{titlecontent}}

{% if particle.meta_alignment == 'bottom' %}
{{metacontent}}
{% endif %}

{{content}}

{% if particle.meta_alignment == 'content' %}
{{metacontent}}
{% endif %}

{% if particle.link_type == 'button' %}
{{button}}
{% endif %}

{% if particle.link_type == 'element' %}
</a>
{% else %}
</div>
{% endif %}

{% endif %}

{% endif %}

{# End Grid style #}

{% endif %}

{{endparallaxbackground}}
{% endif %}
{% endblock %}
