{% extends '@nucleus/partials/particle.html.twig' %}

{% block stylesheets %}
{% if particle.particle_title_color or particle.particle_title_fontsize %}
<style>
{% if particle.particle_title_color or particle.particle_title_fontsize %}
#{{ id }}.g5-particle-title { {% if particle.particle_title_color %}color: {{ particle.particle_title_color }};{% endif %}{% if particle.particle_title_fontsize %}font-size: {{particle.particle_title_fontsize}}px;{% endif %} }
{% endif %}
</style>
{% endif %}
{% endblock %}

{# set Animation #}
{% set animation %}
{% if particle.animation != 'inherit' %} jl-scrollspy="cls:jl-animation-{{particle.animation|e}}{% if particle.animation_repeat != 'disabled' %}; repeat: true{% endif %}{% if particle.animation_delay != '' %}; delay: {{particle.animation_delay|e}}{% endif %}"{% endif %}
{% endset %}

{# Set Max-Width Content #}
{% set content_maxwidth %}
{% if particle.g_maxwidth != 'inherit' %} jl-width-{{particle.g_maxwidth}}{% if particle.g_maxwidth_breakpoint != 'always' %}@{{particle.g_maxwidth_breakpoint}}{% endif %}{% if particle.g_maxwidth_alignment == 'left' %}{% elseif particle.g_maxwidth_alignment == 'center' %} jl-margin-auto{% else %} jl-margin-auto-left{% endif %}{% endif %}
{% endset %}

{# Set Particle Alignment #}
{% set particle_alignment %}
{% if particle.align != 'inherit' %} jl-text-{{particle.align|e}}{% if particle.breakpoint != 'always' %}@{{particle.breakpoint|e}}{% endif %}{% endif %}{% if particle.align != 'inherit' and particle.breakpoint != 'always' %} {% if particle.fallback != 'inherit' %} jl-text-{{particle.fallback|e}}{% endif %}{% endif %}
{% endset %}

{# Set Particle Subnav Alignment #}
{% set subnav_alignment %}
{% if particle.particle_block_align != 'inherit' %} jl-flex-{{particle.particle_block_align|e}}{% if particle.breakpoint != 'always' %}@{{particle.breakpoint|e}}{% endif %}{% endif %}{% if particle.align != 'inherit' and particle.breakpoint != 'always' %} {% if particle.fallback != 'inherit' %} jl-flex-{{particle.fallback|e}}{% endif %}{% endif %}
{% endset %}

{# Set Title Text Transform #}
{% set title_text_transform %}
{% if particle.title_text_transform %} jl-text-{{particle.title_text_transform|e}}{% endif %}
{% endset %}

{# set Particle Title Style #}
{% set particle_title_style %}
{% if particle.particle_title %}
<{{particle.particle_title_element|e}} id="{{ id }}" class="g5-particle-title{% if particle.particle_title_align != 'inherit' %} jl-text-{{particle.particle_title_align|e}}{% endif %}{% if particle.particle_predefined_color != 'default' %} jl-text-{{particle.particle_predefined_color|e}}{% endif %}{% if particle.particle_title_style != 'default' %} jl-{{particle.particle_title_style|e}}{% endif %}{% if particle.particle_title_decoration != 'none' %} jl-heading-{{particle.particle_title_decoration|e}}{% endif %}">
{% if particle.particle_title_decoration == 'line' %} <span>{{particle.particle_title|raw}}</span>
{% else %} {{particle.particle_title|raw}}
{% endif %}
</{{particle.particle_title_element|e}}>
{% endif %}
{% endset %}

{# Set Item Content #}
{% set itemcontent %}
<ul class="jl-subnav jl-margin-remove-vertical{{title_text_transform}}{% if particle.subnav_style != 'default' %} jl-subnav-{{particle.subnav_style}}{% endif %}{{subnav_alignment}}" {#jl-margin#}>
{% for item in particle.items %}
<li class="tm-item{% if item.class %} {{ item.class }}{% endif %}">
{% if item.link != '' %}
	<a target="{{ item.link_target|default('_self')|e }}" href="{{ item.link|e }}" class="tm-link">
	{% if item.icon %}
	<span class="jl-margin-small-right" jl-icon="icon: {{item.icon}}"></span>
	{% endif %}
	<span class="jl-text-middle">{{item.title|raw}}</span></a>
{% else %}
<span class="tm-content">
	{% if item.icon %}
	<span class="jl-margin-small-right jl-text-primary" jl-icon="icon: {{item.icon}}"></span>
	{% endif %}
	<span class="jl-text-middle">{{item.title|raw}}</span></span>
	{% endif %}
</li>
{% endfor %}
</ul>
{% endset %}

{% block particle %}
{% if particle.enabled %}
{{particle_title_style}}
<div id="{{ id }}" class="subnav-wrapper{{content_maxwidth}}{% if particle.class %} {{ particle.class }}{% endif %}{{particle_alignment}}{% if particle.margin == 'inherit' %}{% elseif particle.margin == 'default' %} jl-margin{% else %} jl-margin-{{particle.margin|e}}{% endif %}{% if particle.visibility != 'inherit' %} jl-visible@{{particle.visibility|e}}{% endif %}"{{animation}}>
{{itemcontent}}
</div>
{% endif %}
{% endblock %}
