{% extends '@nucleus/partials/particle.html.twig' %}

{% block stylesheets %}
<style>
{% if particle.particle_title_color or particle.particle_title_fontsize %}
#{{ id }}.g5-particle-title { {% if particle.particle_title_color %}color: {{ particle.particle_title_color }};{% endif %}{% if particle.particle_title_fontsize %}font-size: {{particle.particle_title_fontsize}}px;{% endif %} }
{% endif %}
{% for item in particle.items %}
{% if item.bgcolor != '' %}.tm-content-{{id}} .tm-item-fb-{{loop.index}} .tm-item-inner {background-color: {{ item.bgcolor }};}{% endif %}
{% if item.bgimage and item.background_blendmode != 'inherit' %}.tm-content-{{id}} .tm-item-fb-{{loop.index}} .jl-background-primary {background-color: {{ item.bgcolor }};}{% endif %}
{% endfor %}
{% if particle.icon_color or particle.icon_fontsize %}#{{ id }} .tm-icon { {% if particle.icon_color %}color: {{particle.icon_color}}; {% endif %}{% if particle.icon_fontsize %}font-size: {{particle.icon_fontsize}}px;{% endif %} }{% endif %}
{% if particle.customize_title_color or particle.customize_title_fontsize %}#{{ id }} .tm-title { {% if particle.customize_title_color %}color: {{particle.customize_title_color}}; {% endif %}{% if particle.customize_title_fontsize %}font-size: {{particle.customize_title_fontsize}}px;{% endif %} }{% endif %}
{% if particle.customize_content_color or particle.customize_content_fontsize %}#{{ id }} .tm-content { {% if particle.customize_content_color %}color: {{particle.customize_content_color}};{% endif %}{% if particle.customize_content_fontsize %} font-size: {{particle.customize_content_fontsize}}px;{% endif %} }{% endif %}
{% if particle.meta_color or particle.meta_fontsize %}#{{ id }} .tm-meta { {% if particle.meta_color %}color: {{particle.meta_color}};{% endif %}{% if particle.meta_fontsize %} font-size: {{particle.meta_fontsize}}px;{% endif %} }{% endif %}
{% if particle.grid_parallax != '' and particle.grid_type == 'grid' %}.tm-content-{{id}} {box-sizing: content-box;}{% endif %}
</style>
{% endblock %}

{# set Viewport Height #}
{% set viewport_height %}
{% if particle.viewport_height == 'none' %}
{% elseif particle.viewport_height == 'full' %}
jl-height-viewport="offset-top: true"
{% elseif particle.viewport_height == 'percent' %}
jl-height-viewport="offset-top: true;offset-bottom: 20"
{% elseif particle.viewport_height == 'section' %}
jl-height-viewport="offset-top: true;offset-bottom: 50"
{% elseif particle.viewport_height == 'expand' %}
jl-height-viewport="expand: true"
{% endif %}
{% endset %}

{# Set Title Text Transform #}
{% set title_text_transform %}
{% if particle.title_text_transform %} jl-text-{{particle.title_text_transform|e}}{% endif %}
{% endset %}

{# Set Meta Text Transform #}
{% set meta_text_transform %}
{% if particle.meta_text_transform %} jl-text-{{particle.meta_text_transform|e}}{% endif %}
{% endset %}

{# Set Content Text Transform #}
{% set content_text_transform %}
{% if particle.content_text_transform %} jl-text-{{particle.content_text_transform|e}}{% endif %}
{% endset %}

{#--Custom Changes--#}
{% set attr_extra = particle.extra|attribute_array %}
{% set article_settings = particle.article %}
{% set filter = article_settings.filter %}
{% set sort = article_settings.sort %}
{% set limit = article_settings.limit %}
{% set display = article_settings.display %}

{# Category Finder #}
{% set category_options = filter.categories ? {id: [filter.categories|split(','), 0]} : {} %}
{% set categories = joomla.finder('category', category_options).published(1).language().limit(0).find() %}

{# Content Finder #}
{% if filter.articles %}
{% set article_options = filter.articles ? {id: [filter.articles|replace(' ', '')|split(',')]} : {} %}
{% set article_finder = joomla.finder('content', article_options).published(1).language() %}
{% else %}
{% set article_finder = joomla.finder('content').category(categories).published(1).language() %}
{% endif %}

{% set featured = filter.featured|default('include') %}
{% if featured == 'exclude' %}
{% do article_finder.featured(false) %}
{% elseif featured == 'only' %}
{% do article_finder.featured(true) %}
{% endif %}

{% set start = limit.start + max(0, ajax.start|int) %}
{% do article_finder.order(sort.orderby, sort.ordering).limit(limit.total).start(start) %}
{% set total = article_finder.count() %}
{% set articles = article_finder.find() %}
{#--/Custom Changes--#}

				  
{# set padding #}
{% set padding %}
{% if particle.viewport_height == 'full' %}
{% else %}
{% if particle.padding == 'default' %}{% else %} jl-section-{{particle.padding|e}}{% endif %}
{% endif %}
{% endset %}

{# set Container #}
{% set container %}
{% if particle.container == '1' %}
<div class="jl-container"><div class="g5-content g5-particle">{% endif %}
{% endset %}

{# set End Container #}
{% set endcontainer %}
{% if particle.container == '1' %}
</div></div>{% endif %}
{% endset %}

{# set Background color #}
{% set parallax_bg_color %}
{% if particle.parallax_bg_color %}
style="background-color: {{particle.parallax_bg_color}};"{% endif %}
{% endset %}

{# Set Max-Width Content #}
{% set content_maxwidth %}
{% if particle.g_maxwidth != 'inherit' %} jl-width-{{particle.g_maxwidth}}{% if particle.g_maxwidth_breakpoint != 'always' %}@{{particle.g_maxwidth_breakpoint}}{% endif %}{% if particle.g_maxwidth_alignment == 'left' %}{% elseif particle.g_maxwidth_alignment == 'center' %} jl-margin-auto{% else %} jl-margin-auto-left{% endif %}{% endif %}
{% endset %}

{# set Parallax Background #}
{% set parallaxbackground %}
{% if particle.parallax_image %}
<div data-src="{{ url(particle.parallax_image)|e }}" class="{{id}} jl-background-norepeat{{padding}}{{content_maxwidth}} jl-background-{{particle.background_image_position|e}}{% if particle.background_image_size != 'auto' %} jl-background-{{particle.background_image_size|e}}{% endif %}{% if particle.parallax_bg_visibility != 'always' %} jl-background-image@{{particle.parallax_bg_visibility|e}}{% endif %}{% if particle.vertical_alignment != 'none' %} jl-flex jl-flex-{{particle.vertical_alignment|e}}{% endif %}{% if particle.parallax_text_color != 'default' %} jl-{{particle.parallax_text_color|e}}{% endif %}{% if particle.blendmode != 'inherit' %} jl-background-blend-{{particle.blendmode|e}}{% endif %}" {{parallax_bg_color}}{% if particle.horizontal_start or particle.horizontal_end or particle.vertical_start or particle.vertical_end %} jl-parallax="{% if particle.horizontal_start or particle.horizontal_end %}bgx: {{particle.horizontal_start|e}},{{particle.horizontal_end|e}};{% endif %}{% if particle.vertical_start or particle.vertical_end %}bgy: {{particle.vertical_start|e}},{{particle.vertical_end|e}};{% endif %}{% if particle.parallax_bg_breakpoint != 'always' %} media: @{{particle.parallax_bg_breakpoint|e}}{% endif %}" {% endif %} jl-img {{viewport_height}}>
{{container}}
{% endif %}
{% endset %}

{# End Parallax Background #}
{% set endparallaxbackground %}
{% if particle.parallax_image %}
{{endcontainer}}
</div>
{% endif %}
{% endset %}

{# Set Horizontal #}
{% set pahorizontal %}
{% if particle.pa_horizontal_start or particle.pa_horizontal_end %}x: {% if particle.pa_horizontal_start == '' %}0{% else %}{{particle.pa_horizontal_start }}{% endif %},{% if particle.pa_horizontal_end == '' %}0{% else %}{{particle.pa_horizontal_end }}{% endif %};{% endif %}
{% endset %}

{# Set Vertical #}
{% set pavertical %}
{% if particle.pa_vertical_start or particle.pa_vertical_end %}y: {% if particle.pa_vertical_start == '' %}0{% else %}{{particle.pa_vertical_start }}{% endif %},{% if particle.pa_vertical_end == '' %}0{% else %}{{particle.pa_vertical_end }}{% endif %};{% endif %}
{% endset %}

{# Set Scale #}
{% set scale %}
{% if particle.scale_start or particle.scale_end %}scale: {% if particle.scale_start == '' %}1{% else %}{{particle.scale_start / 100 }}{% endif %},{% if particle.scale_end == '' %}1{% else %} {{particle.scale_end / 100 }}{% endif %};{% endif %}
{% endset %}

{# Set Rotate #}
{% set rotate %}{% if particle.rotate_start or particle.rotate_end %}
rotate: {% if particle.rotate_start == '' %}0{% else %}{{particle.rotate_start}}{% endif %},{% if particle.rotate_end == '' %}0{% else %}{{particle.rotate_end}}{% endif %};{% endif %}
{% endset %}

{# Set Opacity #}
{% set opacity %}
{% if particle.opacity_start or particle.opacity_end %}opacity: {% if particle.opacity_start == '' %}1{% else %}{{particle.opacity_start / 100 }}{% endif %},{% if particle.opacity_end == '' %}1{% else %}{{particle.opacity_end / 100 }}{% endif %};{% endif %}
{% endset %}

{# set Scrollspy Animation #}
{% set scrollspy_cls %}
{% if particle.delay_element_animations == '1' %} jl-scrollspy-class{% endif %}
{% endset %}

{# set Animation #}
{% set animation %}
{% if particle.animation == 'parallax' %}
{% if particle.pa_horizontal_start or particle.pa_horizontal_end or particle.pa_vertical_start or particle.pa_vertical_end or particle.scale_start or particle.scale_end or particle.rotate_start or particle.rotate_end or particle.opacity_start or particle.opacity_end or particle.easing or particle.pa_viewport or particle.pa_breakpoint %} jl-parallax="{{pahorizontal}}{{pavertical}}{{scale}}{{rotate}}{{opacity}}{% if particle.easing == '' %}{% else %}easing: {{ particle.easing / 100 }};{% endif %}{% if particle.pa_viewport != '' %}viewport:{{ particle.pa_viewport / 100 }};{% endif %}{% if particle.pa_breakpoint != 'always' %}media: @{{particle.pa_breakpoint|e}}{% endif %}"{% endif %}
{% else %}
{% if particle.animation != 'inherit' %}
{% if particle.delay_element_animations == '1' %} jl-scrollspy="target: [jl-scrollspy-class]; cls: jl-animation-{{particle.animation|e}};{% if particle.animation_repeat != 'disabled' %} repeat: true;{% endif %}{% if particle.animation_delay != '' %} delay: {{particle.animation_delay|e}};{% else %} delay: 200;{% endif %}"{% else %} jl-scrollspy="cls: jl-animation-{{particle.animation|e}};{% if particle.animation_repeat != 'disabled' %} repeat: true;{% endif %}{% if particle.animation_delay != '' %} delay: {{particle.animation_delay|e}};{% endif %}"{% endif %}
{% endif %}
{% endif %}
{% endset %}

{# Set Particle Alignment #}
{% set particle_alignment %}
{% if particle.align != 'inherit' %} jl-text-{{particle.align|e}}{% if particle.breakpoint != 'always' %}@{{particle.breakpoint|e}}{% endif %}{% endif %}{% if particle.align != 'inherit' and particle.breakpoint != 'always' %}{% if particle.fallback != 'inherit' %} jl-text-{{particle.fallback|e}}{% endif %}{% endif %}
{% endset %}

{# set Particle Title Style #}
{% set particle_title_style %}
{% if particle.particle_title %}
<{{particle.particle_title_element|e}} id="{{ id }}" class="g5-particle-title{% if particle.particle_title_align != 'inherit' %} jl-text-{{particle.particle_title_align|e}}{% endif %}{% if particle.particle_predefined_color != 'default' %} jl-text-{{particle.particle_predefined_color|e}}{% endif %}{% if particle.particle_title_style != 'default' %} jl-{{particle.particle_title_style|e}}{% endif %}{% if particle.particle_title_decoration != 'none' %} jl-heading-{{particle.particle_title_decoration|e}}{% endif %}">
{% if particle.particle_title_decoration == 'line' %} <span>{{particle.particle_title|raw}}</span>
{% else %} {{particle.particle_title|raw}}
{% endif %}
</{{particle.particle_title_element|e}}>
{% endif %}
{% endset %}

{% set slider_animation_set %}
{% if particle.slider_animation_set == 'enabled' %}sets: true;{% endif %}
{% endset %}

{% set slider_animation_center %}
{% if particle.slider_animation_center == 'enabled' %}center: true;{% endif %}
{% endset %}

{% set slider_animation_finite %}
{% if particle.slider_animation_finite == 'enabled' %}finite: true;{% else %}{% endif %}
{% endset %}

{% set slider_animation_autoplay %}
{% if particle.slider_animation_autoplay == 'enabled' %}autoplay: true;{% endif %}
{% endset %}

{% set slider_animation_interval %}
{% if particle.slider_animation_interval %}autoplay-interval: {{ particle.slider_animation_interval * 1000 }};{% endif %}
{% endset %}

{% set imagewidth %}
{% if particle.image_width != '' %} width = "{{particle.image_width}}"{% endif %}
{% endset %}

{% set imageheight %}
{% if particle.image_height != '' %} height = "{{particle.image_height}}"{% endif %}
{% endset %}

{# Set Masonry #}
{% set grid_masonry %}
{% if particle.grid_masonry == '1' %}masonry: true;{% endif %}
{% endset %}

{# Set Parallax #}
{% set grid_parallax %}
{% if particle.grid_parallax != '' %}parallax: {{particle.grid_parallax}}{% endif %}
{% endset %}

{# Set Button Class #}
{% set button_cls %}
{% if particle.buttonclass == 'link' %}jl-link{% elseif particle.buttonclass == 'link-muted' or particle.buttonclass == 'link-text' %}jl-{{particle.buttonclass|e}}{% else %}jl-button jl-button-{{particle.buttonclass|e}}{% endif %}
{% endset %}

{# Set Button Size #}
{% set button_size %}
{% if particle.buttonclass == 'link' or particle.buttonclass == 'link-muted' or particle.buttonclass == 'link-text' or particle.buttonclass == 'text' %}{% else %}{% if particle.link_button_size != 'default' %} jl-button-{{particle.link_button_size|e}}{% endif %}{% endif %}
{% endset %}

{# Set Image Margin Top Class #}
{% set image_top_cls %}
{% if particle.ic_alignment == 'bottom' or particle.ic_alignment == 'between' %}{% if particle.image_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.image_margin_top|e }}-top{% endif %}{% endif %}
{% endset %}

{# Set Card Max Width Class #}
{% set card_maxwidth_cls %}
{% if particle.card_maxwidth == 'none' %}{% else %} jl-margin-auto jl-width-{{ particle.card_maxwidth|e }}{% endif %}
{% endset %}

{#--Custom changes--#}
{#--Set Lightbox--#}
{% set image_lightbox %}
jl-lightbox="toggle: a[data-type]"
{% endset %}
{#--/Custom changes--#}

{# Set Item Content #}
{% set itemcontent %}
{% for article in articles %}

{#--Custom changes--#}
{# Set Joomla Custom Fields #}
{% set articleFields=gantry.jcfields_helper.getFields(article.id) %}
{% set articleJCF_icon=articleFields['icon'].value %}
{% set articleJCF_title=articleFields['jcftitle'].value %}
{% set articleJCF_intro=articleFields['jcfintro'].value %}
{% set articleJCF_desc =articleFields['desc'].value %}
{% set articleJCF_square = articleFields['square'].value|number_format %}
{% set articleJCF_square_title =articleFields['square'].title~':' %}
{% set articleJCF_projprice = articleFields['projprice'].value|number_format %}
{% set articleJCF_projprice_title =articleFields['projprice'].title~':' %}
{% set articleJCF_name =articleFields['name'].value %}
{% set articleJCF_job =articleFields['job'].value %}
{#% set articleJCF_client =articleFields['client'].value %#}
{#% set articleJCF_client_title =articleFields['client'].title~':' %#}
{% set articleJCF_work =articleFields['work'].value %}
{% set articleJCF_work_title =articleFields['work'].title~':' %}

{#--item.title to item_title--#}
{% set item_title %}
{% if display.title.enabled == "show" %}
	{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}
{% elseif display.title.enabled == 'jcf_title' and articleJCF_title  %}
	{{ display.title.limit ? articleJCF_title|truncate_text(display.title.limit) : articleJCF_title }}
{% endif %}
{% endset %}

{#--item.buttonlink to item_buttonlink--#}
{% set item_buttonlink %}
{{ article.route }}
{% endset %}	   

{#--item.meta to item_meta--#}
{% set item_meta %}
{% if display.date.enabled or display.author.enabled or display.category.enabled or display.hits.enabled or articleJCF_name or articleJCF_job %}
<div class="tm-meta{{meta_text_transform}}{% if particle.meta_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.meta_margin_top|e }}-top{% endif %}{% if particle.pre_meta_color != 'default' %} jl-text-{{ particle.pre_meta_color|e }}{% endif %}{% if particle.meta_style != 'default' %} jl-{{ particle.meta_style|e }}{% endif %}">

{% if display.date.enabled or display.author.enabled or display.category.enabled or display.hits.enabled %}
<ul class="tm-meta{{meta_text_transform}}{% if particle.meta_subnav_style == 'default' %} jl-subnav{% else %} jl-subnav jl-subnav-{{particle.meta_subnav_style|e}}{% endif %}{% if particle.pre_meta_color != 'default' %} jl-text-{{particle.pre_meta_color|e}}{% endif %}{% if particle.meta_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.meta_margin_top|e }}-top{% endif %}{% if particle.meta_style != 'default' %} jl-{{ particle.meta_style|e }}{% endif %}">
	{% if display.date.enabled %}
		<li class="g-array-item-date">
		<span>
		{% if display.date.enabled == 'published' %}
		{{ article.publish_up|date(display.date.format) }}
		{% elseif display.date.enabled == 'modified' %}
		{{ article.modified|date(display.date.format) }}
		{% else %} 
		{{ article.created|date(display.date.format) }}
		{% endif %}
		</span>
		</li>
	{% endif %}

	{% if display.author.enabled %}
		<li class="g-array-item-author">
		<span>{{ article.author.name }}</span>
		</li>
	{% endif %}

	{% if display.category.enabled %}
		{% set category_link = display.category.enabled == 'link' %}
		<li class="g-array-item-category">
		{% set cat = article.categories|last %}
		{% if category_link %}
		<a href="{{ cat.route }}">
		{{ cat.title }}
		</a>
		{% else %}
		{{ cat.title }}
		{% endif %}
		</li>
	{% endif %}

	{% if display.hits.enabled %}
		<li class="g-array-item-hits">
		<span><i class="fa fa-eye" aria-hidden="true"></i>{{ article.hits }}</span>
		</li>
	{% endif %}
</ul>
{% endif %}

{% if articleJCF_name %}
	<div class="tm-name jl-text-bold jl-margin-small-bottom">{{ articleJCF_name }}</div>
	{% endif %}
{% if articleJCF_job %}
	<div class="tm-job jl-text-bullet jl-text-meta">{{ articleJCF_job|raw }}</div>
{% endif %}
<hr class="jl-divider-small">	
</div>		
{% endif %}


{% endset %}

{#--item.subtitle to item_subtitle--#}
{% set item_subtitle %}
{% if display.text.type == 'intro' or display.text.type == 'full' %}
	{% set article_text = display.text.type == 'intro' ? article.introtext : article.text %}
	{% if display.text.formatting == 'text' %}
	{{ article_text|truncate_text(display.text.limit)|raw }}
	{% else %}
	{{ article_text|truncate_html(display.text.limit)|raw }}
	{% endif %}
{% elseif display.text.type == 'jcfintro' and articleJCF_intro %}
	{% if display.text.formatting == 'text' %}
	{{ articleJCF_intro|truncate_text(display.text.limit)|raw }}
	{% else %}
	{{ articleJCF_intro|truncate_html(display.text.limit)|raw }}
	{% endif %}
{% endif %}
{% endset %}

{#--item.icon to item_icon--#}
{% set item_icon %}
{% if articleJCF_icon and display.image.enabled == 'jcf_icon' %}
{{articleJCF_icon}}{% endif %}
{% endset %}

{#--item.image to item_image--#}
{% set item_image %}
{% if display.image.enabled %}
		{% if article.images.image_intro and display.image.enabled == 'intro' %}
			{{ article.images.image_intro }}
		{% elseif article.images.image_fulltext and display.image.enabled == 'full' %}
			{{ article.images.image_fulltext }}
		{% endif %}
{% endif %}
{% endset %}

{#--add item_media (icon or image)--#}
{% set item_media %}
{% if item_icon != '' %}
	{% if particle.link_type == 'content' %}<a class="" target="{{ particle.buttontarget|default('_self')|e }}" href="{{ item_buttonlink|e }}"{{linkscroll}}>{% endif %}
	<span class="tm-icon"></span>
	{% if particle.link_type == 'content' %}</a>{% endif %}
{% else %}
	{% if item_image %}
		{% if particle.image_lightbox == '1' %}
		<a href="{{ url(item_image)|e }}" data-type="image">
		{% else %}
			{% if particle.link_type == 'content' %}
			<a class="" target="{{ particle.buttontarget|default('_self')|e }}" href="{{ item_buttonlink|e }}"{{linkscroll}}>
			{% endif %}
		{% endif %}	
		<img{{imagewidth}}{{imageheight}} data-src="{{ url(item_image)|e }}" alt="{{ item_image_alt|e }}" class="tm-image{{image_top_cls}}{% if particle.image_border != 'default' %} jl-border-{{particle.image_border}}{% endif %}" jl-img />
		{% if particle.image_lightbox == '1' or particle.link_type == 'content' %}</a>{% endif %}
	{% endif %}
{% endif %}
{% endset %}
							  
{#--add item_details for projects--#}
{% set item_details %}
{#% if articleJCF_desc or articleJCF_client or articleJCF_work or articleJCF_square or articleJCF_projprice %#}
{% if articleJCF_work %}
<div class="tm-details jl-margin-small-bottom" jl-grid>
	{#% if articleJCF_desc or articleJCF_client or articleJFC_work %#}
	<div class="tm-desc jl-width-1-1 jl-margin-top">
		
		{#% if articleJCF_desc %}<span class="jl-text-square">{{articleJCF_desc}}</span>{% endif %}
		{% if articleJCF_client %}<p><span class="jl-text-muted">{{articleJCF_client_title}}</span></br>{{articleJCF_client|raw}}</p>{% endif %#}
		{% if articleJCF_work %}<p><span class="jl-text-muted">{{articleJCF_work_title}}</span></br>{{articleJCF_work|raw}}</p>{% endif %}
	</div>
	{#% endif %#}
	{#% if articleJCF_square %}
	<div class="tm-details-item jl-margin-small-top">
		<div class="tm-details-label jl-text-small jl-text-bold">
		{{articleJCF_square_title}}
		</div>
		<div class="tm-details-value">
		{{articleJCF_square}}&nbsp;м.кв
		</div>
	</div>
	{% endif %}
	{% if articleJCF_projprice %}
	<div class="tm-details-item jl-margin-small-top">
		<div class="tm-details-label jl-text-small jl-text-bold">
		{{articleJCF_projprice_title}}
		</div>
		<div class="tm-details-value">
		{{articleJCF_projprice}}&nbsp;₽
		</div>
	</div>
	{% endif %#}
</div>
{% endif %}

{% endset %}
{#--/Custom changes--#}
					
{% set linkscroll %}
{% if item_buttonlink|e matches '/#/' %} jl-scroll{% endif %}
{% endset %}


{% if particle.grid_type == 'slider' %} {#-->slider-start#}

	{% if item.bgcolor != '' %}
	<li class="tm-item-fb-{{loop.index}}{% if particle.phone_portrait %} jl-width-1-{{ particle.phone_portrait|e }}{% endif %}{% if particle.phone_landscape != 'inherit' %} jl-width-1-{{ particle.phone_landscape|e }}@s{% endif %}{% if particle.tablet_landscape != 'inherit' %} jl-width-1-{{ particle.tablet_landscape|e }}@m{% endif %}{% if particle.desktop != 'inherit' %} jl-width-1-{{ particle.desktop|e }}@l{% endif %}{% if particle.large_desktop != 'inherit' %} jl-width-1-{{ particle.large_desktop|e }}@xl{% endif %}">
	{% else %}
	<li class="tm-item{% if particle.phone_portrait %} jl-width-1-{{ particle.phone_portrait|e }}{% endif %}{% if particle.phone_landscape != 'inherit' %} jl-width-1-{{ particle.phone_landscape|e }}@s{% endif %}{% if particle.tablet_landscape != 'inherit' %} jl-width-1-{{ particle.tablet_landscape|e }}@m{% endif %}{% if particle.desktop != 'inherit' %} jl-width-1-{{ particle.desktop|e }}@l{% endif %}{% if particle.large_desktop != 'inherit' %} jl-width-1-{{ particle.large_desktop|e }}@xl{% endif %}">
	{% endif %}

{% else %} {#-->grid-start#}

	{% if item.bgcolor != '' %}
	<div class="tm-item-fb-{{loop.index}}{% if particle.phone_portrait %} jl-width-1-{{ particle.phone_portrait|e }}{% endif %}{% if particle.phone_landscape != 'inherit' %} jl-width-1-{{ particle.phone_landscape|e }}@s{% endif %}{% if particle.tablet_landscape != 'inherit' %} jl-width-1-{{ particle.tablet_landscape|e }}@m{% endif %}{% if particle.desktop != 'inherit' %} jl-width-1-{{ particle.desktop|e }}@l{% endif %}{% if particle.large_desktop != 'inherit' %} jl-width-1-{{ particle.large_desktop|e }}@xl{% endif %}">
	{% else %}
	<div class="tm-item{% if particle.phone_portrait %} jl-width-1-{{ particle.phone_portrait|e }}{% endif %}{% if particle.phone_landscape != 'inherit' %} jl-width-1-{{ particle.phone_landscape|e }}@s{% endif %}{% if particle.tablet_landscape != 'inherit' %} jl-width-1-{{ particle.tablet_landscape|e }}@m{% endif %}{% if particle.desktop != 'inherit' %} jl-width-1-{{ particle.desktop|e }}@l{% endif %}{% if particle.large_desktop != 'inherit' %} jl-width-1-{{ particle.large_desktop|e }}@xl{% endif %}">
	{% endif %}

{% endif %} {#-->/slide or grid-start#}

{% if particle.card_style == 'blank' %} {#-->card_blank-start#}

	{% if particle.link_type == 'element' %}
	<a target="{{ particle.buttontarget|default('_self')|e }}" href="{{ item_buttonlink|e }}" class="tm-item-inner jl-panel{% if item.bgimage or item.bgcolor %}{% if item.inverse != 'default' %} jl-{{item.inverse}}{% endif %}{% endif %}{{card_maxwidth_cls}} jl-display-block"{{linkscroll}}{{scrollspy_cls}}>
	{% else %}
	<div class="tm-item-inner jl-panel{% if item.bgimage or item.bgcolor %}{% if item.inverse != 'default' %} jl-{{item.inverse}}{% endif %}{% endif %}{{card_maxwidth_cls}}"{{scrollspy_cls}}>
	{% endif %}

	<div class="item-wrapper{% if item.bgimage %}{% if item.background_blendmode != 'inherit' %} jl-background-blend-{{item.background_blendmode}} jl-background-primary jl-background-cover{% endif %}{% if item.background_position != 'auto' %} jl-background-{{item.background_position}}{% endif %}{% endif %}"{% if item.bgimage %} style="background-image: url('{{ url(item.bgimage) }}');"{% endif %}>

{% else %} {#-->card_not blank-start#}

	{% if particle.link_type == 'element' %}
	<a target="{{ particle.buttontarget|default('_self')|e }}" href="{{ item_buttonlink|e }}" class="tm-item-inner jl-card jl-card-{{ particle.card_style }}{% if particle.cardsize != 'default' %} jl-card-{{ particle.cardsize }}{% endif %}{% if item.bgimage or item.bgcolor %}{% if item.inverse != 'default' %} jl-{{item.inverse}}{% endif %}{% endif %}{{card_maxwidth_cls}} jl-display-block {% if particle.card_style == 'hover' %}{% else %} jl-card-hover{% endif %}"{{linkscroll}}{{scrollspy_cls}}>
	{% else %}
	<div class="tm-item-inner jl-card jl-card-{{ particle.card_style }}{% if particle.cardsize != 'default' %} jl-card-{{ particle.cardsize }}{% endif %}{% if item.bgimage or item.bgcolor %}{% if item.inverse != 'default' %} jl-{{item.inverse}}{% endif %}{% endif %}{{card_maxwidth_cls}}"{{scrollspy_cls}}>
	{% endif %}
	<div class="jl-card-body{% if item.bgimage %}{% if item.background_blendmode != 'inherit' %} jl-background-blend-{{item.background_blendmode}} jl-background-primary jl-background-cover{% endif %}{% if item.background_position != 'auto' %} jl-background-{{item.background_position}}{% endif %}{% endif %} jl-margin-remove-first-child {{item_icon}}"{% if item.bgimage %} style="background-image: url('{{ url(item.bgimage) }}');"{% endif %}>

{% endif %} {#-->/card-start#}

{% if particle.ic_alignment == 'top' or particle.ic_alignment == 'bottom' or particle.ic_alignment == 'between' %}

	{% if particle.ic_alignment == 'top' and item_media %}
	<div class="jl-card-media {% if particle.ic_vertical_alignment == '1' %}jl-flex jl-flex-middle jl-flex-center{% endif %}">
	{{ item_media }}
	</div>
	{% endif %}

	{% if particle.meta_alignment == 'top' %}
	{{item_meta}}
	{% endif %}

	{% if item_title %}
	<{{particle.title_element|e}} class="tm-title jl-margin-remove-bottom{{title_text_transform}}{% if particle.title_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.title_margin_top|e }}-top{% endif %}{% if particle.title_color != 'default' %} jl-text-{{particle.title_color|e}}{% endif %}{% if particle.title_style != 'default' %} jl-{{particle.title_style|e}}{% endif %}{% if particle.title_decoration != 'none' %} jl-heading-{{particle.title_decoration|e}}{% endif %}">
	{% if particle.title_decoration == 'line' %} <span>{% if particle.link_type == 'content' %}<a class="" target="{{ particle.buttontarget|default('_self')|e }}" href="{{ item_buttonlink|e }}"{{linkscroll}}>{% endif %}{{ item_title|raw }}{% if particle.link_type == 'content' %}</a>{% endif %}</span>
	{% else %}
	{% if particle.link_type == 'content' %}<a class="" target="{{ particle.buttontarget|default('_self')|e }}" href="{{ item_buttonlink|e }}"{{linkscroll}}>{% endif %}{{ item_title|raw }}{% if particle.link_type == 'content' %}</a>{% endif %}
	{% endif %}
	</{{particle.title_element|e}}>
	{% endif %}

	{% if item_details %}
	{{item_details}}
	{% endif %}
				   
	{% if particle.meta_alignment == 'bottom' %}
	{{item_meta}}
	{% endif %}

	{% if particle.ic_alignment == 'between' %}
	{{ item_media }}
	{% endif %}

	{% if item_subtitle %}
	<div class="tm-content jl-panel{{content_text_transform}}{% if particle.content_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.content_margin_top|e }}-top{% endif %}{% if particle.content_style != 'default' %} jl-text-{{ particle.content_style|e }}{% endif %}{% if particle.content_text_color != 'default' %} jl-text-{{ particle.content_text_color|e }}{% endif %} jl-link-reset">
	{{ item_subtitle|raw }}
	</div>
	{% endif %}

	{% if particle.meta_alignment == 'content' %}
	{{item_meta}}
	{% endif %}

	{% if particle.link_type == 'button' and article.text|length > 1  %}
	{% if particle.buttontext != '' %}
	<div class="{% if particle.link_margin_top == 'default' %}jl-margin-top{% else %}jl-margin-{{ particle.link_margin_top|e }}-top{% endif %}">
	<a target="{{ particle.buttontarget|default('_self')|e }}" href="{{ item_buttonlink|e }}" class="{{button_cls}}{{button_size}}"{{linkscroll}}>{{particle.buttontext|raw}}</a>
	</div>
	{% endif %}
	{% endif %}

	{% if particle.ic_alignment == 'bottom' %}
	{{ item_media }}
	{% endif %}

{# left/right icon/image #}
{% else %}

	<div class="jl-child-width-expand{% if particle.ic_grid_gutter != 'default' %} jl-grid-{{ particle.ic_grid_gutter|e }}{% endif %}{% if particle.ic_vertical_alignment == '1' %} jl-flex-middle{% endif %}" jl-grid>

		<div class="jl-width-{{ particle.ic_grid_width }}{% if particle.ic_grid_breakpoint != 'none' %}@{{ particle.ic_grid_breakpoint|e }}{% endif %}{% if particle.ic_alignment == 'right' %} jl-flex-last{% if particle.ic_grid_breakpoint != 'none' %}@{{ particle.ic_grid_breakpoint|e }}{% endif %}{% endif %}">
		{{ item_media }}
		</div>

		<div class="jl-margin-remove-first-child">

			{% if particle.meta_alignment == 'top' %}
			{{item_meta}}
			{% endif %}

			{% if item_title %}
			<{{particle.title_element|e}} class="tm-title jl-margin-remove-bottom{{title_text_transform}}{% if particle.title_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.title_margin_top|e }}-top{% endif %}{% if particle.title_color != 'default' %} jl-text-{{particle.title_color|e}}{% endif %}{% if particle.title_style != 'default' %} jl-{{particle.title_style|e}}{% endif %}{% if particle.title_decoration != 'none' %} jl-heading-{{particle.title_decoration|e}}{% endif %}">
			{% if particle.title_decoration == 'line' %} <span>{% if particle.link_type == 'content' %}<a class="" target="{{ particle.buttontarget|default('_self')|e }}" href="{{ item_buttonlink|e }}"{{linkscroll}}>{% endif %}{{ item_title|raw }}{% if particle.link_type == 'content' %}</a>{% endif %}</span>
			{% else %}
			{% if particle.link_type == 'content' %}<a class="" target="{{ particle.buttontarget|default('_self')|e }}" href="{{ item_buttonlink|e }}"{{linkscroll}}>{% endif %}{{ item_title|raw }}{% if particle.link_type == 'content' %}</a>{% endif %}
			{% endif %}
			</{{particle.title_element|e}}>
			{% endif %}

			{% if item_details %}
			{{item_details}}
			{% endif %}  

			{% if particle.meta_alignment == 'bottom' %}
			{{item_meta}}
			{% endif %}

			{% if item_subtitle %}
			<div class="tm-content jl-panel{% if particle.content_margin_top == 'default' %} jl-margin-top{% else %} jl-margin-{{ particle.content_margin_top|e }}-top{% endif %}{% if particle.content_style != 'default' %} jl-text-{{ particle.content_style|e }}{% endif %}{% if particle.content_text_color != 'default' %} jl-text-{{ particle.content_text_color|e }}{% endif %} jl-link-reset">
			{{ item_subtitle|raw }}
			</div>
			{% endif %}

			{% if particle.meta_alignment == 'content' %}
			{{item_meta}}
			{% endif %}

			{% if particle.link_type == 'button' and article.text|length > 1  %}
			{% if particle.buttontext != '' %}
			<div class="{% if particle.link_margin_top == 'default' %}jl-margin-top{% else %}jl-margin-{{ particle.link_margin_top|e }}-top{% endif %}">
			<a target="{{ particle.buttontarget|default('_self')|e }}" href="{{ item_buttonlink|e }}" class="{{button_cls}}{{button_size}}"{{linkscroll}}>{{particle.buttontext|raw}}</a>
			</div>
			{% endif %}
			{% endif %}

		</div>
	</div>

{% endif %}
</div>

{#-->card-end#}
{% if particle.link_type == 'element' %}
</a>
{% else %}
</div>
{% endif %}
{#-->/card-end#}

{#-->slider or grid-end#}
{% if particle.grid_type == 'slider' %}
</li>
{% else %}
</div>
{% endif %}
{#-->/slider or grid-end#}

{% endfor %}
{% endset %}

{% block particle %}
{% if particle.enabled %}
{{parallaxbackground}}
{{particle_title_style}}

{#slider&grid#}
{% if particle.grid_type == 'slider' %}
	<div id="{{ id }}" class="tm-content-{{id}}{{content_maxwidth}}{% if particle.css.class %} {{ particle.css.class }}{% endif %}{{particle_alignment}}{% if particle.margin == 'inherit' %}{% elseif particle.margin == 'default' %} jl-margin{% else %} jl-margin-{{particle.margin|e}}{% endif %}{% if particle.visibility != 'inherit' %} jl-visible@{{particle.visibility|e}}{% endif %}" jl-slider="{{slider_animation_set}}{{slider_animation_center}}{{slider_animation_finite}}{{slider_animation_autoplay}}{{slider_animation_interval}}" {{image_lightbox}} {{animation}} {{- attr_extra|raw}}>

	<div class="jl-position-relative">

	{# Load Outside container #}
	{% if particle.slidenav_position == 'outside' %}
	<div class="jl-slider-container">
	{% endif %}
	{# End outside #}

	<ul class="jl-slider-items jl-grid jl-grid-match{% if particle.grid_divider == '1' %} jl-grid-divider{% endif %}{% if particle.grid_gutter != 'default' %} jl-grid-{{ particle.grid_gutter|e }}{% endif %}"{{slider_viewport}}>
	{{itemcontent}}
	</ul>

	{% if particle.slidenav_position == 'outside' %}
	</div>
	{% endif %}

	{# Slidenav #}
	{% if particle.slidenav_position == 'none' %}
	{% else %}
	{% if particle.slidenav_position == 'default' %}
	<div class="{% if particle.slidenav_breakpoint != 'always' %}jl-visible@{{particle.slidenav_breakpoint|e}}{% endif %}">
	<a class="tm-slidenav{% if particle.slidenav_margin != 'none' %} jl-position-{{ particle.slidenav_margin|e }}{% endif %} jl-position-center-left" href="#" jl-slidenav-previous jl-slider-item="previous"></a>
	<a class="tm-slidenav{% if particle.slidenav_margin != 'none' %} jl-position-{{ particle.slidenav_margin|e }}{% endif %} jl-position-center-right" href="#" jl-slidenav-next jl-slider-item="next"></a>
	</div>
	{% elseif particle.slidenav_position == 'outside' %}
	<div class="{% if particle.slidenav_breakpoint != 'always' %}jl-visible@{{particle.slidenav_breakpoint|e}}{% endif %}">
	<a class="tm-slidenav{% if particle.slidenav_margin != 'none' %} jl-position-{{ particle.slidenav_margin|e }}{% endif %} jl-position-center-left" href="#" jl-slidenav-previous jl-slider-item="previous" jl-toggle="cls: jl-position-center-left-out jl-position-center-left; mode: media; media:{% if particle.slidenav_outsite_breakpoint != 'always' %} @{{particle.slidenav_outsite_breakpoint|e}}{% endif %}"></a>
	<a class="tm-slidenav{% if particle.slidenav_margin != 'none' %} jl-position-{{ particle.slidenav_margin|e }}{% endif %} jl-position-center-right" href="#" jl-slidenav-next jl-slider-item="next" jl-toggle="cls: jl-position-center-right-out jl-position-center-right; mode: media; media:{% if particle.slidenav_outsite_breakpoint != 'always' %} @{{particle.slidenav_outsite_breakpoint|e}}{% endif %}"></a>
	</div>
	{% else %}
	<div class="jl-slidenav-container{% if particle.slidenav_margin != 'none' %} jl-position-{{ particle.slidenav_margin|e }}{% endif %} jl-position-{{ particle.slidenav_position|e }}{% if particle.slidenav_breakpoint != 'always' %} jl-visible@{{particle.slidenav_breakpoint|e}}{% endif %}">
	<a class="tm-slidenav" href="#" jl-slidenav-previous jl-slider-item="previous"></a>
	<a class="tm-slidenav" href="#" jl-slidenav-next jl-slider-item="next"></a>
	</div>
	{% endif %}
	{% endif %}
	{# End Slidenav #}

	</div>

	{# Navigation #}
	{% if particle.navigation == 'enabled' %}
	{% if particle.navigation_color == 'default' %}
	{% else %}
	<div class="jl-{{particle.navigation_color|e}}">
	{% endif %}
	<ul class="tm-nav jl-slider-nav jl-dotnav{% if particle.navigation_position %} jl-flex-{{ particle.navigation_position|e }}{% endif %}{% if particle.navigation_margin %} jl-margin-{{ particle.navigation_margin|e }}{% endif %}{% if particle.navigation_breakpoint != 'always' %} jl-visible@{{particle.navigation_breakpoint|e}}{% endif %}" jl-margin>
	{% for item in particle.items %}
	<li jl-slider-item="{{ loop.index0 }}"><a href="#"{% if particle.tooltip %} jl-tooltip="{{ item.memberimgalt|raw }}"{% endif %}></a></li>
	{% endfor %}
	</ul>
	{% if particle.navigation_color == 'default' %}
	{% else %}
	</div>
	{% endif %}
	{% endif %}
	{# End Navigation #}

	</div>

{% else %} {#if grid#}
	<div id="{{ id }}" class="tm-content-{{id}}{{content_maxwidth}}{% if particle.css.class %} {{ particle.css.class }}{% endif %}{% if particle.grid_divider == '1' %} jl-grid-divider{% endif %}{% if particle.grid_gutter != 'default' %} jl-grid-{{ particle.grid_gutter|e }}{% endif %}{% if particle.phone_portrait %} jl-child-width-1-{{ particle.phone_portrait|e }}{% endif %}{% if particle.phone_landscape != 'inherit' %} jl-child-width-1-{{ particle.phone_landscape|e }}@s{% endif %}{% if particle.tablet_landscape != 'inherit' %} jl-child-width-1-{{ particle.tablet_landscape|e }}@m{% endif %}{% if particle.desktop != 'inherit' %} jl-child-width-1-{{ particle.desktop|e }}@l{% endif %}{% if particle.large_desktop != 'inherit' %} jl-child-width-1-{{ particle.large_desktop|e }}@xl{% endif %}{% if particle.align != 'inherit' %} jl-text-{{particle.align|e}}{% if particle.breakpoint != 'always' %}@{{particle.breakpoint|e}}{% endif %}{% endif %}{% if particle.fallback != 'inherit' %} jl-text-{{particle.fallback|e}}{% endif %}{% if particle.margin == 'inherit' %}{% elseif particle.margin == 'default' %} jl-margin{% else %} jl-margin-{{particle.margin|e}}{% endif %}{% if particle.visibility != 'inherit' %} jl-visible@{{particle.visibility|e}}{% endif %} jl-grid-match" {{animation}} {{image_lightbox}} jl-grid="{{grid_masonry}}{{grid_parallax}}" {{- attr_extra|raw}}>
	{{itemcontent}}
	</div>
{% endif %}
{#/slider&grid#}

{{endparallaxbackground}}
{% endif %}
{% endblock %}
