{% extends '@nucleus/partials/particle.html.twig' %}

{% block javascript_footer %}
<script>
jQuery(document).ready(function(){
	var uModal = getCookie('uModal');
	var days = 7;
	var sTime = 3600 * 24 * days;
	if(!uModal){
		document.cookie = "uModal=Yes; max-age="+sTime;
		
		jlUIkit.notification({message: '{% if particle.link %}<a href=\'{{particle.link}}\' target=\'{{ particle.target|default('_self')|e }}\'>{% endif %}{{particle.message|e('js')}}{% if particle.link %}</a>{% endif %}', pos: '{{particle.position}}'{% if particle.timeout != '' %}, timeout: {{particle.timeout}}{% else %}, timeout: 0{% endif %}{% if particle.style != 'default' %},status: '{{particle.style}}{% if particle.style_extended != 'default' %}-{{particle.style_extended}}{% endif %}'{% endif %} })
	}
});

function getCookie(name) {
    var matches = document.cookie.match(new RegExp(
        "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
    ));
    return matches ? decodeURIComponent(matches[1]) : undefined;
}

</script>
{% endblock %}
