{% extends '@nucleus/partials/particle.html.twig' %}

{% block stylesheets %}
<style>
.js-{{id}} {box-sizing: content-box;}
</style>
{% endblock %}

{# set Particle Title Style #}
{% set particle_title_style %}
	<h3 id="{{ id }}" class="g5-particle-title jl-text-center jl-h3">
	+JOOMLA-TAGS+
	</h3>
{% endset %}


{% set article_settings = particle.article %}
{% set filter = article_settings.filter %}
{% set sort = article_settings.sort %}
{% set limit = article_settings.limit %}
{% set display = article_settings.display %}

{# Category Finder #}
{% set category_options = filter.categories ? {id: [filter.categories|split(','), 0]} : {} %}
{% set categories = joomla.finder('category', category_options).published(1).language().limit(0).find() %}

{# Content Finder #}
{% if filter.articles %}
    {% set article_options = filter.articles ? {id: [filter.articles|replace(' ', '')|split(',')]} : {} %}
    {% set article_finder = joomla.finder('content', article_options).published(1).language() %}
{% else %}
    {% set article_finder = joomla.finder('content').category(categories).published(1).language() %}
{% endif %}

{% set featured = filter.featured|default('include') %}
{% if featured == 'exclude' %}
    {% do article_finder.featured(false) %}
{% elseif featured == 'only' %}
    {% do article_finder.featured(true) %}
{% endif %}

{% set articles = article_finder.order(sort.orderby, sort.ordering).limit(limit.total).start(limit.start).find() %}

{#выбираем все joomla теги =>#}
{###}
{% set jtags = gantry.joomla_tags_helper.getTagsByArticleIds(articles|keys) %}
{###}

{#--new-start--#}
{% set tag_filter%}
    <ul class="jl-tab jl-margin">
        <li class="jl-active" jl-filter-control>
			<a href="#" target="_self">+ALL+</a></li>

{###}			
 		{% for tagId,tagTitle in jtags %}
            <li jl-filter-control="[data-tag~='{{ tagId }}']"><a href="#">{{ tagTitle|raw }}</a></li>
        {% endfor %}
{###}
		
    </ul>
{% endset %}
{#--new-end--#}

{% set content %}
{###}
	{% for article in articles %}
		{% set itemTags = gantry.joomla_tags_helper.getTagsByArticleIds([article.id]) %}
            <div data-tag="{% if itemTags %}{{ (itemTags|keys)|join(',') }}{% endif %}">
				<div class="tm-item jl-inline-clip">
					<div class="jl-card jl-card-default jl-card-body jl-card-small jl-margin-remove-first-child">
						<h4>{{article.title}}</h4>
					</div>
				</div>
            </div>
	{% endfor %}
{###}	
{% endset %}

{% block particle %}
{{ particle_title_style }}
    <div id="{{ id }}" class="{{id}}"{{animation}} jl-filter=".js-{{id}}"> 
		{{ tag_filter }}
		<div class="js-{{id}} jl-child-width-1-1 jl-child-width-1-2@m">		
		{{ content }}
		</div>
	</div>	
{% endblock %}