﻿.modal,
.modal *{
	box-sizing: border-box;
}
.modal{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	display: flex;
    justify-content: center;
    align-items: center;
	display: none;
	transition: all 0.3s;
}
.modal__box{
	background: white;
}
.modal__close{
	position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 1px solid #e7e7e7;
    border-radius: 50%;
	z-index: 999;
	transition: all 0.3s;
}
.modal__close:hover{
	border-color: #982c2e;
}
.delete-link:after,
.delete-link:before,
.modal__close:after,
.modal__close:before{
	content: '';
    height: 1px;
    width: 12px;
    background: #e7e7e7;
    display: block;
    position: absolute;
    top: 14px;
    left: 8px;
	transition: all 0.3s;
}
.modal__close:hover:before,
.modal__close:hover:after{
	background: #982c2e;
}
.delete-link:before,
.modal__close:before{
	transform: rotate(45deg);
}
.delete-link:after,
.modal__close:after{
	transform: rotate(-45deg);
}
 
.slick-slide{
	outline: none;
}

.etap__numb{
    color: #cccccc;
    background: #fafafa;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
}
.etap__numb span{
	font-size: 24px;
	color: #595959;
}

.etap-box{
	padding: 0 10px;
}

.type__add{
	position: relative;
	cursor: pointer;
}
.type__add span:first-child{
	color: #ff2339;
	text-decoration: underline;
}
.type__add span:first-child:before{
	content: '';
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url(img/file.png) no-repeat center;
	margin-right: 10px;
	position: relative;
    top: 1px;
}
.type__add span:last-child{
	color: #b2b2b2;
}
				
.type__add input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	margin: 0;
    padding: 0;
	cursor: pointer;
	z-index: 2;
}

.uploadImagesList{
	margin: 0;
	padding: 0;
	list-style: none;
}

.uploadImagesList li.item{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	height: 45px;
    margin: 5px 0;
}

.uploadImagesList img{
	max-width: 100%;
    max-height: 100%;
}
.delete-link{
	width: 30px;
    height: 30px;
	position: relative;
	cursor: pointer;
}

.delete-link:after, .delete-link:before{
	background: #595959;
}

.img-box{
	display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
	border-bottom: 1px solid #dae1e3;
	height: 45px;
}
.img-wrap{
	display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    flex: 0 0 auto;
    margin: 0 15px 0 0;
}
.etap-slider__item{
	display: none;
}
.etap-slider__item.active{
	display: block;
}
.notice{
	color: #e8263a;
}

/* form-ask */
.form-ask__wrapper{
	width: 332px;
}

/* call form */
.time-input input[type=text]{
    padding: 0;
    text-align: center;
    width: 72px;
    flex: 0 0 auto;
    border: none;
    background: none;
    box-shadow: none;
}
.time-input .controls{
    display: flex;
    margin: 3px 9px 0 9px;
    height: 24px;
    flex-direction: column;
    justify-content: space-between;
}
.controls__item{
    width: 12px;
    height: 7px;
    flex: 0 0 auto;
    cursor: pointer;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAHCAYAAAA8sqwkAAAAeUlEQVQoU2NkwAJCQ0OZV69e/RebHCO6oF1QmR/jf8Yl/xn/xxxa17UJXR5FA1TxIqBgx38Ghgqgpjh0TXANMMX/GRiDDq3v2GcXWOHEyPB/HbomsAZ0xTBnYNPEiEsxLk2M9oHld4DOSAM5A1uogF0Acd7sg+s7VQAycE4JpAAEjgAAAABJRU5ErkJggg==) no-repeat 50%;
    position: relative;
}
.controls__item_dec{
    margin-left: -1px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.controls__item::before{
    content: '';
    display: block;
    position: absolute;
    top: -4px;
    right: -4px;
    left: -4px;
    bottom: -4px;
}
.time-input{
	border-bottom: 1px solid #dae1e3;
}
.form-call__wrapper{
	width: 458px;
}

/*--???--*/
.thanks .modal__box{
	padding: 0 40px 40px;
}
