#g-bottom-b {
	padding: 1.5rem 0;
	background: $bottom-b-background;
	color: $bottom-b-text-color;
	
	h1, h2, h3, h4, h5, h6, strong {
		color: $showcase-text-color;
	}
}

@media print {
	#g-bottom-b {
		background: #fff !important;
		color: #000 !important;
	}
}