#g-bottom-g {
	padding: 1.5rem 0;
	background: $bottom-g-background;
	color: $bottom-g-text-color;
}

#g-bottom-g h1, #g-bottom-g h2, 
#g-bottom-g h3, #g-bottom-g h4, 
#g-bottom-g h5, #g-bottom-g h6, 
#g-bottom-g strong {
	color: #fff;
}

@media print {
	#g-bottom-g {
		background: #fff !important;
		color: #000 !important;
	}
}