#g-footer .g-grid:first-child {
	@include  breakpoint(tablet-range) {
		> .g-block:nth-child(2)[class*="size"] {
			flex: 0 40%;
			width: 40%;
		}
		> .g-block:nth-child(3)[class*="size"] {
			flex: 0 28%;
			width: 28%;
		}
		> .g-block:nth-child(4)[class*="size"] {
			flex: 0 32%;
			width: 32%;
		}
	}
}
