//Topbar menu
#g-topbar .jl-subnav > * > :first-child {
	text-transform: none;
	display: flex;
	color: unset;
	}

#g-topbar .jl-tile-primary {
	color: $white;
	.jl-list li::marker {
		color: $white;
	}
}		
	

//Topmenu
#g-header .g-main-nav ul.g-toplevel {
	
		> li {
			font-weight: $font-weight-regular;
			transition: none;
			
			.g-menu-parent-indicator,
			ul.g-dropdown {
			display: none;
			visibility: hidden;
			}
		}
		
		> li:hover {
			background: none !important;
		}

		> li a {
			padding-top: 45px;
			padding-bottom: 0;
		}

		> li a:hover {
			color: $base-text-color;
		}
		
		> li a .g-menu-item-content {
			width: 100px;
			text-align: center;
		}
		
		img, svg {
		display:block;
		text-align: center;
		margin: auto;
		height: 50px;
		width: 50px;
		}
		
		svg:hover {
		fill: $accent-color-1 !important
		}
}



//Breadcrumbs
#g-navigation {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	
	ul.jl-breadcrumb {
	
		li a {
			color: $accent-color-1;
		}
		
		li a:hover { 
			color: $base-text-color;
		}
	}
		
	.jl-flex-first\@s {
	@include breakpoint(mobile-only) {
		order:99
	}
	}
}

//Page menu
#g-main ul.g-toplevel > li {
	@include breakpoint(no-mobile) {
	display: block;
	}
}


