#g-showcase {
	.jl-text-meta {
		color: $white;
	}
	
	.fa {
		font-size: $h3-font-size;
	}
	
	a.jl-button-default {
		border: 1px solid darken($white, 30%);
		&:hover {
			border-color: $white;
		}
	}
}