/***Menu*/
@include breakpoint (no-mobile) {
.icon_menu_vent {  
	&.active a {
		background: url("./../images/icons/menu_vent.svg#active") no-repeat center top;
	}	
	
	a {
		background: url("./../images/icons/menu_vent.svg#normal") no-repeat center top;
		
		&:hover {
			background: url("./../images/icons/menu_vent.svg#hover") no-repeat center top;
		}
	}
}	

.icon_menu_cond {
	&.active a {
		background: url("./../images/icons/menu_cond.svg#active") no-repeat center top;
	}	
	
	a {
		background: url("./../images/icons/menu_cond.svg#normal") no-repeat center top;
		
		&:hover {
			background: url("./../images/icons/menu_cond.svg#hover") no-repeat center top;
		}
	}
}	

.icon_menu_design {
	&.active a {
		background: url("./../images/icons/menu_design.svg#active") no-repeat center top;
	}	
	
	a {
		background: url("./../images/icons/menu_design.svg#normal") no-repeat center top;
	
		&:hover {
			background: url("./../images/icons/menu_design.svg#hover") no-repeat center top;
		}
	}	
}
.icon_menu_project {
	&.active a {
		background: url("./../images/icons/menu_project.svg#active") no-repeat center top;
	}	
	
	a {
		background: url("./../images/icons/menu_project.svg#normal") no-repeat center top;
	
		&:hover {
			background: url("./../images/icons/menu_project.svg#hover") no-repeat center top;
		}
	}	
}

}
/***Service&Solutions*/
[class*="icon_service"] .tm-icon,
[class*="icon_sol"] .tm-icon {
	font-size: 3.25rem;
	line-height: 1;
	&:before {
	    content: "_";	
		background-size: 100% 100%;
		background-repeat: no-repeat;
		color: transparent;
		display: block;
		width: 50px;
	}	
}

div.icon_service_calc {
	&:hover {
		background: url("./../images/icons/service_calc.svg#bg") right 5px bottom 5px / auto 45% no-repeat !important;
	}
	span.tm-icon:before {
		background-image: url("./../images/icons/service_calc.svg#icon");
	}	
}

div.icon_service_cert {
	&:hover {
		background: url("./../images/icons/service_cert.svg#bg") right 5px bottom 5px / auto 45% no-repeat !important;
	}
	span.tm-icon:before {
		background-image: url("./../images/icons/service_cert.svg#icon");
	}	
}

div.icon_service_clean {
	&:hover {
		background: url("./../images/icons/service_clean.svg#bg") right 5px bottom 5px / auto 45% no-repeat !important;
	}
	span.tm-icon:before {
		background-image: url("./../images/icons/service_clean.svg#icon");
	}	
}

div.icon_service_montage {
	&:hover {
		background: url("./../images/icons/service_montage.svg#bg") right 5px bottom 5px / auto 45% no-repeat !important;
	}
	span.tm-icon:before {
		background-image: url("./../images/icons/service_montage.svg#icon");
	}	
}

div.icon_service_project {
	&:hover {
		background: url("./../images/icons/service_project.svg#bg") right 5px bottom 5px / auto 45% no-repeat !important;
	}
	span.tm-icon:before {
		background-image: url("./../images/icons/service_project.svg#icon");
	}	
}

div.icon_service_service {
	&:hover {
		background: url("./../images/icons/service_service.svg#bg") right 5px bottom 5px / auto 45% no-repeat !important;
	}
	span.tm-icon:before {
		background-image: url("./../images/icons/service_service.svg#icon");
	}	
}

div.icon_service_search {
	&:hover {
		background: url("./../images/icons/service_search.svg#bg") right 5px bottom 5px / auto 45% no-repeat !important;
	}
	span.tm-icon:before {
		background-image: url("./../images/icons/service_search.svg#icon");
	}	
}

div.icon_service_inst {
	&:hover {
		background: url("./../images/icons/service_inst.svg#bg") right 5px bottom 5px / auto 45% no-repeat !important;
	}
	span.tm-icon:before {
		background-image: url("./../images/icons/service_inst.svg#icon");
	}	
}

div.icon_sol_apart {
	&:hover {
		background: url("./../images/icons/sol_apart.svg#bg") right 5px bottom 5px / auto 45% no-repeat !important;
	}
	span.tm-icon:before {
		background-image: url("./../images/icons/sol_apart.svg#icon");
	}	
}

div.icon_sol_cafe {
	&:hover {
		background: url("./../images/icons/sol_cafe.svg#bg") right 5px bottom 5px / auto 45% no-repeat !important;
	}
	span.tm-icon:before {
		background-image: url("./../images/icons/sol_cafe.svg#icon");
	}	
}

div.icon_sol_car-wash {
	&:hover {
		background: url("./../images/icons/sol_car-wash.svg#bg") right 5px bottom 5px / auto 45% no-repeat !important;
	}
	span.tm-icon:before {
		background-image: url("./../images/icons/sol_car-wash.svg#icon");
	}	
}

div.icon_sol_house {
	&:hover {
		background: url("./../images/icons/sol_house.svg#bg") right 5px bottom 5px / auto 45% no-repeat !important;
	}
	span.tm-icon:before {
		background-image: url("./../images/icons/sol_house.svg#icon");
	}	
}

div.icon_sol_industry {
	&:hover {
		background: url("./../images/icons/sol_industry.svg#bg") right 5px bottom 5px / auto 45% no-repeat !important;
	}
	span.tm-icon:before {
		background-image: url("./../images/icons/sol_industry.svg#icon");
	}	
}

div.icon_sol_med {
	&:hover {
		background: url("./../images/icons/sol_med.svg#bg") right 5px bottom 5px / auto 45% no-repeat !important;
	}
	span.tm-icon:before {
		background-image: url("./../images/icons/sol_med.svg#icon");
	}	
}

div.icon_sol_office {
	&:hover {
		background: url("./../images/icons/sol_office.svg#bg") right 5px bottom 5px / auto 45% no-repeat !important;
	}
	span.tm-icon:before {
		background-image: url("./../images/icons/sol_office.svg#icon");
	}	
}

div.icon_sol_relax {
	&:hover {
		background: url("./../images/icons/sol_relax.svg#bg") right 5px bottom 5px / auto 45% no-repeat !important;
	}
	span.tm-icon:before {
		background-image: url("./../images/icons/sol_relax.svg#icon");
	}	
}


div.icon_sol_swimming-pool {
	&:hover {
		background: url("./../images/icons/sol_swimming-pool.svg#bg") right 5px bottom 5px / auto 45% no-repeat !important;
	}
	span.tm-icon:before {
		background-image: url("./../images/icons/sol_swimming-pool.svg#icon");
	}	
}





