#g-top-b {
	padding: 1.5rem 0;
	background: $top-b-background;
	color: $top-b-text-color;
	
	[class*="size-"] {
	@include breakpoint (no-desktop) {	
    -webkit-flex-grow: 0;
    -moz-flex-grow: 0;
    flex-grow: 0;
    -ms-flex-positive: 0;
    -webkit-flex-basis: 100%;
    -moz-flex-basis: 100%;
    flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    max-width: 100%;
	}
  }
}

@media print {
	#g-top-b {
		background: #fff !important;
		color: #000 !important;
	}
}