#g-topbar {
  color: $topbar-text-color;
  background-color: $topbar-background;
  .g-grid {
    position: relative;
    z-index: 1;
 
  	> .g-block[class*="size"] {
	@include  breakpoint(tablet-range) {
		flex: 0 50%;
		width: 0 50%;
		}	
	}
  }
}

@media print {
  #g-topbar {
    background: #fff !important;
    color: #000 !important;
  }
}
