@import "dependencies";
@import "jlparticles";
@import "topbar";
@import "top-a";
@import "top-b";
@import "bottom-a";
@import "bottom-b";
@import "bottom-c";
@import "bottom-d";
@import "bottom-e";
@import "bottom-f";
@import "bottom-g";
@import "copyright";
@import "svg-icons";
@import "configuration/typography";

@import "nav";
@import "showcase";
@import "footer";
@import "header";
@import "typography";

@include font-face ("roboto", 'gantry-theme://fonts/roboto/roboto_regular/Roboto-Regular-webfont', 400);
@include font-face ("roboto", 'gantry-theme://fonts/roboto/roboto_medium/Roboto-Medium-webfont', 500);
@include font-face ("roboto", 'gantry-theme://fonts/roboto/roboto_bold/Roboto-Bold-webfont', 700);

@include font-face ("open-sans", 'gantry-theme://fonts/open-sans/open-sans_light/OpenSans-Light', 300);
@include font-face ("open-sans", 'gantry-theme://fonts/open-sans/open-sans_regular/OpenSans-Regular', 400);
@include font-face ("open-sans", 'gantry-theme://fonts/open-sans/open-sans_semibold/OpenSans-SemiBold', 600);
@include font-face ("open-sans", 'gantry-theme://fonts/open-sans/open-sans_bold/OpenSans-Bold', 700);


//CUSTOM-begin
/*form contact*/
.mt-327 {
	@include breakpoint (no-mobile) {
		margin-top: -327px;
		margin-bottom: 125px;
	}
	
}	
//CUSTOM-end


//JLUIKIT-FORMS
form {
	[class*="jl-background"] {
		margin-left: -40px;
		margin-right: -40px;
		padding: 20px 40px;
	}
	
	label {
		display: unset;
		margin-bottom: unset;
	}	
	
	input[type] {
		margin-bottom: unset;
		width: 100%;
	}	
		
	
	input[type="checkbox"], 
	input[type="radio"] { 
		display: inline-block;
		width: 16px;
		margin: 0 0.375rem 0 0;
	}

	.jl-form-danger, .jl-form-danger:focus {
		border-color: #f0506e !important;
	}
	
	.jl-checkbox:checked, 
	.jl-checkbox:indeterminate, 
	.jl-radio:checked,
	.jl-checkbox:checked:focus, 
	.jl-checkbox:indeterminate:focus, 
	.jl-radio:checked:focus {
		background-color: $accent-color-1;
	}

	[class*="jl-"]:focus {
		border-color: $accent-color-1;
	}
	
	.jl-form-label {
		margin-bottom: 10px;
	}
}
//JLUIKIT-FORMS/


//JLUIKIT

/*--jl-list--*/	
.jl-list > li:nth-child(n+2), 
.jl-list > li > ul {
	margin-top: 0;
}


.jl-list-square {	
	list-style-type: square;
	padding-left: 0.75em;
	}

.jl-list-square > li {
	padding-left: 0;
	padding-right: 40px;
	}

.jl-list-square > li::before {
	all: unset;
	}	

	
.jl-text-square {
	display: list-item;
	margin-left: 0.75rem;
	padding-left: 0;
	list-style-type: square;
	&::marker {
		color: $accent-color-1;
		/*font-size: 0.75rem;*/
	}
}
h2.jl-text-square {
		margin-left: 1.25rem;
	}

	
/*--/jl-list--*/

/*--jl-table--*/
.jl-table,
.jl-overflow-auto .jl-table {
	margin-bottom: 1rem;
}

.jl-table th {
	background: $off-white;
	color: $base-text-color;
	vertical-align: middle;
}
/*--/jl-table--*/

.jl-h3 { 
	line-height: 1.5; }

.jl-icon {
	line-height: inherit;
	}


.jl-border-rounded {
	border: 1px solid $base-border-color;
}

.jl-small {
	padding: 10px;
}

.jl-alert {
	margin-bottom: unset;
	background: unset;
	padding: 0 30px 0 0;
}

.jl-alert-close {
	top: 0;
}

.jl-notification {
	width: 100%;
	left: 0;
	padding: 0 10px;
}

.jl-notification-message {
	padding-right: 30px;
	border: 1px solid $base-border-color;
}

.jl-notification-close {
	top: 10px;
	display: unset;
}

.jl-link-reset {
	color: $base-text-color
}

.jl-text-meta {
	line-height: 1.5;
}

.jl-text-bold {
	font-weight: $font-weight-bold;
}	

.jl-tile-muted {
	background: #f0f0f0;
	font-weight: $font-weight-regular;
}

.jl-button-primary,
.jl-button-default {
	padding: 10px 20px;
	font-size: 1rem;
	font-weight: $font-weight-regular;
}
//JLUIKIT/



/////PARTICLES

//JL-LOGO-begin
.jl-logo {
	white-space: nowrap;
	text-align: center;

	> * {
		display: inline-block;
		vertical-align: middle;
		}	
	.jl-logo-text {
		font-size: 0.875rem;
		font-weight: $font-weight-medium;
		padding: 15px 20px;
		border-left: 1px solid $base-border-color;
		margin-left: 20px;
		text-align: left;
		text-transform: uppercase;
		white-space: normal;
		width: 135px;
		}
}
//JL-LOGO-end


//JL-CARD-begin

.jl-card-default {
	border: 1px solid $base-border-color;
	border-radius: 5px;
}

.jl-card-hover {
	border: 1px solid $base-border-color;
	border-radius: 5px;
	&:hover { 
	background: none !important;
	border: 1px solid transparent;
	}
}

.jl-card-keyservice {
	@media only all and (max-width: 20.9375rem)  {
		.jl-card {
			margin-top: 70px;
			.jl-card-media {
				margin-top: -70px;
			}	
		}
	}
	@media only all and (min-width: 21rem)  {
		.jl-card {
			margin-top: 40px;
			margin-left: 20px;

			.jl-card-media {
				margin-top: -70px;
				margin-left: -50px;
			}
			.jl-card-body {
				margin-top: -70px;
			
				.tm-title {
					margin-top: -70px !important;
					margin-left: 90px;
					min-height: 80px;
				}
			}	
		}		
	}
}

.jl-card-review img {
	box-shadow: 0 5px 15px rgba(0,0,0,.08)
}	


.jl-slideshow .blockquote {
	margin-top: 0;
}	
//JL-CARD-end


//JL-SLIDER-begin
/*.jl-slider-container {
	overflow: visible;
	
	.jl-position-relative {
		overflow: hidden;
	}
}*/	
//JL-SLIDER-end	


//JL SIMPLE-COUNTER-begin
.jl-simple-counter .jl-heading-small {
	@include breakpoint(mobile-only) {
		font-size: 1.9rem;
	}
}	

/*.jl-simple-counter.jl-grid-divider {
	> * {
		@include breakpoint(mobile-only) {
		padding-left: 30px;
		}	
	}
	> :not(.jl-first-column)::before {
	left: 0
	}
	
}*/
//JL SIMPLE-COUNTER-end


//JLCARD-begin
.jlcard .tm-image {
	height: 120%;
	@include breakpoint (no-desktop){
		height: 300px;
	}	
	@include breakpoint (mobile-only) {
		height: 200px;
	}
}

.jlcard-project img {
	border: 10px solid $white;
	@include breakpoint (mobile-only) {
		height: 150px;
	}
}

//JLCARD-end


//JLSOHWCASE-JOOMLA-begin

//JLSOHWCASE-JOOMLA-end



/////TYPOGRAPHY&TAGS-begin
::selection {  background:$accent-color-2; }

div.tm-title { 
	font-weight: $font-weight-regular; 
	font-family: get-font-family($base-heading-font);
}
	
.jlcard, .item-page { line-height: 2;}

h2 {margin-top: 2rem;}
div > h2:first-child {margin-top: 0; }

p { margin-top: 0;
	margin-bottom: 1rem;
	&:last-child{
		margin-bottom: 0;
	}
}

b, .strong { font-weight: $font-weight-bold; }

em {color: $accent-color-1;}

ul:not([class]),
ul[class*="jl-column-"] { 
	margin: 0 0 1.5rem 0.75rem;
	li { 
		list-style: square;
		margin-bottom: 1rem;
		&::marker {
			color: $accent-color-1;
		}
		ul { margin-top: 1rem;}
	}	
}

ol:not([class]),
ol[class*="jl-column-"]  {
	margin: 0 0 1.5rem 0.75rem;
	padding-left: 0;
	li { 
		margin-bottom: 1rem;
		&::marker {
			color: $accent-color-1;
			font-weight: bolder;
		}
		ul { margin-top: 1rem;}
	}	
}


blockquote {
	font-size: inherit;
	font-style: inherit;
	color: inherit !important;
	border-left: 1px solid $accent-color-1;
	}

/*--отступ после галлереи--*/
.item-page .jl-grid {
	margin-bottom: 1.5rem;
	&.jl-grid-stack {
		margin-bottom: 0;
	}	
}

/*.item-page img[class*=jl-width] {
	
	@include breakpoint (mobile-only) {
		width: auto;
		margin-left: auto;
		margin-right: auto;
	}
}*/	

 
.item-page div > a > img {
	max-height: 300px;
	border: 1px solid #ddd;
	box-shadow: 0 5px 15px rgba(0,0,0,.08);
}	



.item-page p+div.jl-width-1-2\@s.jl-align-right {
	margin-left: 15px;
	padding-left: 15px;
	margin-bottom: 1.5rem;
	@include breakpoint (large-desktop-range) {
		margin-left: 20px;
		padding-left: 20px;
	}
}

.item-page p+div.jl-width-1-2\@s.jl-align-left {
	margin-right: 15px;
	padding-right: 15px;
	margin-bottom: 1.5rem;
	@include breakpoint (large-desktop-range) {
		margin-right: 20px;
		padding-right: 20px;
	}
}

//TYPOGRAPHY&TAGS-end



///// JOOMLA
.view-category #g-showcase,
.view-category #g-main,
.view-article #g-top-a {
		display: none;
	visibility: hidden;
	}


//FOR TRANSFER	
#g-topbar .jl-subnav.jl-list > li:nth-child(n+2) {
	margin-top: 0;
	}
	
#g-showcase a {color: $white;}	

/*--cta-section--*/
#g-bottom-g .g-grid:first-child {
	@include  breakpoint(tablet-range) {
		> .g-block[class*="size"] {
			width: 100%;
			flex: 0 100%;
		}
	}
}

